/*
 *@Description: blog CSS
 *@Author:      xiaoxiehang (2013-05-29)
*/

/*=S font-family */
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
/*=E font-family */

/*=S HTML5 */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
/*=E HTML5 */

/*=S common */
html,body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,label,textarea,p,blockquote,th,td,figure,menu,pre{margin:0;padding:0;}
body{font:400 14px/1.5 'Source Sans Pro','Microsoft JhengHei','Microsoft Yahei','Simsun',Tahoma;color:#333;background:url(images/main.png);-webkit-font-smoothing:antialiased;}

em,i{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-weight:300;}
h1{font-size:1.3em;}
h2{font-size:1.2em;}
h3{font-size:1.1em;}
label,input,select{vertical-align:middle;}
style,code,pre{font:12px/26px 'Courier New';}
a{text-decoration:none;color:#a49369;}
a:hover{color:#aa3f2b;}
img,button{background:none;border:0 none;vertical-align:middle;}
ul,menu{list-style:none;}
ol{margin-left:20px;}

.color1{color:#aa3f2b;}
.color9{color:#999;}
.txt{padding:3px;color:#eee;border:1px solid #999;background:rgba(255, 255, 255, .2);outline:none;}
.txt:hover,.txt:focus{border-color:#fff;}
/*=E common */

.wrap{position:absolute;width:100%;height:100%;}
.header{position:fixed;top:0;bottom:0;padding:20px 45px;width:160px;border-right:1px solid #e3e3d7;background:#ebebeb url(images/header.png);overflow:hidden;}
.header:hover{padding-right:45px;overflow:auto;}
    .logo{position:relative;font-size:32px;font-family: 'Oswald';}
    .logo img,.logo:after{width:150px;height:150px;border-radius:50%;}
    .logo:hover:after{-webkit-animation:logo 1s linear infinite;}
    .logo:after{z-index:-1;content:'';position:absolute;top:0;left:0;box-shadow:1px 2px 5px #ccc;}
    .description{font-size:14px;}
.nav{margin:40px 0 20px;}
    .nav li{line-height:32px;text-align:right;}
    .nav li:first-child,.nav li a{background:url(images/nav-line.png) repeat-x 0 0;}
    .nav li a{display:block;background-position:0 bottom;}
.search{}
    .search-txt{padding:3px 4px;line-height:16px;outline:1px solid rgba(255,255,255,.2);border:1px solid #d1cebf;}
    .search-btn{}
.main,.footer{margin:0 80px 0 300px;padding:18px;}
.main{padding-top:50px;}
    .post{position:relative;margin-bottom:35px;border:1px solid #f0eaca;background:url(images/post.png);box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;}
    .post-hd,.post-bd,.post-ft{position:relative;padding:1px 30px 1px 60px;}
    .post-hd{display:-webkit-flex;padding-bottom:10px;height:60px;-webkit-align-items:center;-webkit-justify-content:space-between;}
    .post-bd{line-height:26px;background:url(images/post-bd.png) repeat 0 -25px;}
    .post-ft .post-nav{display:-webkit-flex;-webkit-justify-content:space-between;}
    .post-meta{}
        .post-meta span{margin-right:10px;}

    .post:before{content:'';position:absolute;top:30px;left:-11px;width:20px;height:20px;border:1px solid #f0eaca;border-top:0;border-right:0;-webkit-transform:rotate(45deg);background:url(images/post.png);}    
    .post:after{content:'';position:absolute;bottom:-16px;left:18px;right:18px;height:9px;background:url(images/post-shadow.png) no-repeat 0 -1px,url(images/post-shadow.png) no-repeat right -1px;}
    .post-hd:before,.post-bd:before,.post-ft:before{content:"";position:absolute;left:0;top:0;height:100%;width:29px;border-right:1px solid #f3dac6;}
    .post-ft:after{content:'';position:absolute;bottom:-9px;left:0;right:0;height:9px;background:url(images/post-ft.png) no-repeat 0 -9px,url(images/post-ft.png) no-repeat right 0,url(images/post-ft.png) repeat-x 0 -18px;}

/*=S page */
.page {}
    .page a, .page span {display:inline-block;text-decoration:none;margin-left:5px;padding:3px 8px;border:1px solid #f0eaca;background:#F7F7F7;border-radius:2px;}
    .page a:hover, .page .current {color:#aa3f2b;background: url(images/post.png);}
/*=E page */

.links-box ul{-webkit-column-count:2;}
.links-box ul:first-child{-webkit-column-count:3;}

/*=S prettyPrint */
.com {color:#93a1a1;}
.lit {color:#195f91;}
.pun, .opn, .clo {color:#93a1a1;}
.fun {color:#dc322f;}
.str, .atv {color:#D14;}
.kwd, .prettyprint .tag {color:#1e347b;}
.typ, .atn, .dec, .var {color:teal;}
.pln {color:#48484c;}

.prettyprint{margin:13px 0;padding:13px;/*border:1px solid #ddd;background:#f7f7f9;*/}
.prettyprint{white-space:pre-wrap;word-wrap:break-word;}
.prettyprint.linenums {/*box-shadow:inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;*/}

ol.linenums{margin: 0 0 0 40px; /* IE indents via margin-left */}
ol.linenums li{color:#bebec5;line-height:26px;text-shadow:0 1px 0 #fff;}

/*=E prettyPrint */
.bs-docs-example:after,.style:after{position:absolute;top:-1px;left:-1px;padding:0 7px;font-size:12px;line-height:24px;color:#9da0a4;border:1px solid #ddd;background:#f5f5f5;}

.bs-docs-example{display:-webkit-flex;position:relative;padding:25px 0 0px;height:258px;border:1px solid #ddd;background:#fff;-webkit-align-items:center;-webkit-justify-content:center;overflow:auto;}
.style{position:relative;padding:25px 0 0px;border:1px solid #ddd;background:#fff;}

.bs-docs-example:after {content:"Example";}
.style:after{content:'高级浏览器可直接编辑 CSS';}

.bs-docs-example + .style{margin-top:0;}


.style style{display:block;padding:0 15px;color:#555;}
.style style:focus{background:#efefef;outline:none;}



.header::-webkit-scrollbar{width:3px;}
.header::-webkit-scrollbar-thumb{background:#f3dac6;}

body::-webkit-scrollbar{width:10px;}
body::-webkit-scrollbar-thumb{background:#f0eaca;}


@-webkit-keyframes logo{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}



@media screen and (max-width:1000px) and (min-width:800px) {
    .main{margin:0 0 0 270px;}
}

@media screen and (max-width:800px) {
    .header{display:-webkit-flex;position:static;width:auto;border-right:0;border-bottom:1px solid #e3e3d7;-webkit-flex-wrap:wrap;-webkit-justify-content:space-between;}
    .nav ul{display:-webkit-flex;-webkit-flex-wrap:wrap;}
    .nav li a{padding:0 10px;background:url(images/nav-line.png) repeat-x 0 0,url(images/nav-line.png) repeat-x 0 bottom;}
    .main{margin:0;}

}