/*
 *@Description: 个人博客 CSS
 *@Author:      xiaoxiehang (2013-05-29)
*/

/*=S icon */
@import url(http://fonts.googleapis.com/css?family=Oswald);
/*=E icon */

/*=S common */
html,body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,label,textarea,p,blockquote,th,td,figure,menu,pre{margin:0;padding:0;}
body{font:400 14px/1.5 'Microsoft JhengHei','Microsoft Yahei','Simsun',Tahoma;color:#eee;background:#2c2c2c url(images/bg_repeat_black1.jpg) repeat;/*-webkit-animation:bg-animate 18s linear infinite;*/}

em,i{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-weight:400;}
h1{font-size:1.8em;}
h2{font-size:1.4em;}
h3{font-size:1.2em;}
label,input,select{vertical-align:middle;}
img,button{background:none;border:0 none;vertical-align:middle;}
ul,menu{list-style:none;}
table{border-spacing:0;border-collapse:collapse;}
.iblock{display:inline-block;*display:inline;zoom:1;vertical-align:middle;}
.clearall{zoom:1;}
.clearall:after{content:".";display:block;clear:both;height:0;visibility:hidden;}
.fl{float:left;}
.fr{float:right;}
.txt{padding:3px;color:#eee;border:1px solid #999;background:rgba(255, 255, 255, .2);outline:none;}
.txt:hover,.txt:focus{border-color:#fff;}
.link{color:#14cccc;}
/*=E common */

/*=S HTML5 */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
/*=E HTML5 */

a{cursor:pointer;text-decoration:none;outline:none;color:#eee;-webkit-transition-duration:0.3s;}
a:hover{color:#14cccc;}
.gray a{color:#666;}
.gray a:hover{color:#eb3755;}



.post-bd a,.post-bd a:hover{color:#14cccc;border-bottom:1px dashed #14cccc;}
.gray .post-bd a,.gray .post-bd a:hover{color:#eb3755;border-bottom-color:#eb3755;}

#wrap{margin:0 auto;width:85%;max-width:1200px;}
#header{position:relative;padding:30px 0;border-bottom:1px solid #171717;}
    hgroup{float:left;}
    #logo{font:60px "Oswald",arial,sans-serif;text-shadow:3px 3px 0 rgba(255,255,255,.08);-webkit-animation:logo 0.3s linear;}
    #describe{margin-top:10px;font-size:14px;}
    #nav{margin-top:24px;}
        #nav li{float:left;}
        #nav a{display:block;padding:12px 20px;font-size:16px;color:#bbb;}
        #nav a:hover{color:#fff;background-color:#14cccc;}

#page{padding:30px 0;border-top:1px solid #333;border-bottom:1px solid #171717;overflow:hidden;}
    #content{width:100%;float:left;margin-right:-300px;}
        #main{margin-right:300px;overflow:hidden;}
        .post{padding:20px 10px;border-top:1px dashed #333;}
            .post:first-of-type{border-top:none;}
            .post-hd{position:relative;line-height:36px;}
                .post-title{padding-bottom:10px;}
                    .post-title a{border-bottom:0;}
                .post-meta{position:absolute;right:0;top:0;color:#666;font-family:Georgia;}
            .post-bd{padding-top:15px;font-size:16px;}
                .post-bd p{padding-bottom:10px;}
                .post-bd pre,.post-bd code{font:13px/20px 'Courier New';}
            .post-ft{line-height:24px;}
                .post-nav{margin-bottom:20px;padding:15px 0;font-size:16px;color:#fff;border-top:1px dashed #333;border-bottom:1px dashed #333;}
                    .post-nav .prev{float:left;}
                    .post-nav .next{float:right;}
    #side{float:right;width:270px;}
        #side section{margin-bottom:10px;padding:10px;border-radius:10px;background-color:rgba(0,0,0,.5);}
        #side h3{padding-bottom:10px;}
        #side ul{padding:0 10px;}
    #menu{float:left;width:230px;padding:10px;border-radius:10px;background-color:rgba(0,0,0,.5);}
        #menu li a{font-size:16px;line-height:35px;}
#footer{padding:15px 0;font-size:14px;line-height:30px;border-top:1px solid #333;overflow:hidden;}

.skin{margin-top:10px;}
.skin a{float:left;margin-right:10px;padding-top:20px;width:20px;height:0;border:2px solid #aaa;overflow:hidden;}
.skin a.gray{background:gray;}
.skin a.black{background:black;}

.table{}
.table th,.table td{padding:5px;}
.table th{vertical-align:top;}
.table input{margin-top:-2px;}


.page-num{padding:20px 0 50px;overflow:hidden;font-size:14px;}
    .page-num a,.page-num span{float:left;margin-right:10px;padding:3px 8px;}
    .page-num a{color:#909aa3;background-color:#000;}
    .page-num a:hover,.page-num .current{color:#fff;background-color:#14cccc;}
    .page-num .prev,.page-num .next{}
.filter{-webkit-filter:blur(2px);-moz-filter:blur(2px);-o-filter:blur(2px);}

/*=S 换肤 */
/*灰色*/
.gray{color:#555;background:#ebebeb url(images/bg_repeat.jpg) repeat;}
.gray #logo{text-shadow:3px 3px 0 rgba(0,0,0,.08);}
.gray #header,.gray #page,.gray .post-nav{border-bottom-color:#ccc;}
.gray #page,.gray #footer{border-top-color:#fff;}

.gray #nav a{color:#888;}
.gray #nav a:hover{color:#fff;background:#eb3755;}

.gray .post,.gray .post-nav{border-top-color:#ccc;}
.gray .post .post-bd a,.gray .post-bd a:hover{color:#eb3755;}
.gray .post-hd .post-title{text-shadow:1px 1px 0 #fff;}
.gray .post-hd .post-meta{color:#aaa;}
.gray #menu{background-color:rgba(0,0,0,.1);}

.gray blockquote,.tips{margin:5px;padding:15px;border:1px dashed #ccc;background:#fff;box-shadow:2px 2px 5px #aaa;}
.gray blockquote h3,.tips h3{padding-bottom:10px;color:#eb3755;}
.tips p{font-size:14px;}
.gray blockquote ol{overflow:hidden;}
.gray blockquote li{float:left;width:40%;margin-left:25px;padding-top:5px;font-size:14px;}
/*=E 换肤 */

/*=S 响应式布局 */
@media screen and (max-width:1200px){
    #wrap{width:100%;}
}
@media screen and (max-width:800px){
    #content,#main{margin-right:0;}
    #page{margin:0;}
    #side,h2{display:none;}
    #nav,hgroup{float:none;text-align:center;}
    #nav li{display:inline-block;float:none;}
    #nav a{font-size:18px;}
}
@media screen and (max-width:500px){
    .post-hd .post-title{margin-bottom:0;}
    .post-hd .post-meta{position:static;}
}
/*=E 响应式布局 */

/*=S 动画 */
@-webkit-keyframes bg-animate{
    0%{background-position:0 0;}
    100%{background-position:300px -300px;}
}
@-webkit-keyframes logo{
    0%{-webkit-transform:scale(2);}
    100%{-webkit-transform:scale(1);}
}
/*=E 动画 */

/*=S prettyPrint */
.com {color:#93a1a1;}
.lit {color:#195f91;}
.pun, .opn, .clo {color:#93a1a1;}
.fun { color:#dc322f;}
.str, .atv {color:#D14;}
.kwd, .prettyprint .tag {color:#1e347b;}
.typ, .atn, .dec, .var {color:teal;}
.pln {color:#48484c;}

.prettyprint{margin-bottom:15px;padding:8px;background-color:#f7f7f9;border:1px solid #e1e1e8;}
.prettyprint.linenums {box-shadow:inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;}

ol.linenums{margin: 0 0 0 42px; /* IE indents via margin-left */}
ol.linenums li{color:#bebec5;line-height:20px;text-shadow:0 1px 0 #fff;}


.bs-docs-example{position:relative;padding:40px 20px 20px;background-color:#fff;border:1px solid #ddd;overflow:hidden;}
.bs-docs-example:after {content:"Example";position:absolute;top:-1px;left:-1px;padding:3px 7px;font-size:12px;font-weight:bold;background-color:#f5f5f5;border:1px solid #ddd;color: #9da0a4;}
.bs-docs-example + .prettyprint{margin-top:-1px;}
/*=E prettyPrint */
