body{color:#555;background:#ebebeb url(images/bg_repeat.jpg) repeat;}
#logo{text-shadow:3px 3px 0 rgba(0,0,0,.08);}
#header,#page,.post-nav{border-bottom-color:#ccc;}
#page,#footer{border-top-color:#fff;}
a, a:visited,#footer{color:#555;}
a:hover{color:#eb3755;}

.post,.post-nav{border-top-color:#ccc;}
.post-hd .post-title,.post .post-bd a, .post-bd a:hover{color:#eb3755;}
.post-hd .post-title h1{text-shadow:1px 1px 0 #fff;}
.post-hd .post-title{text-shadow:1px 1px 0 #fff;}
.post-hd .post-meta{color:#aaa;}
.post .post-bd a, .post-bd a:hover{border-bottom-color:#eb3755;}
.post-bd pre{background:rgba(0,0,0,.1);}


#nav a{color:#888;}
#nav a:hover{background:#eb3755;}
