/*
Author:xiaoxiehang
*/
/*=S common */
html,body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,label,textarea,p,blockquote,th,td,figure{margin:0;padding:0;}
body{background:#2c2c2c url(images/bg_index.jpg) repeat;}
body{font:400 12px/1.5 'Microsoft JhengHei','Microsoft Yahei','Simsun',Tahoma;color:#eee;}
a,a:visited{cursor:pointer;text-decoration:none;outline:none;color:#eee;}
a:hover{color:#14cccc;}
em,i{font-style:normal;}
h1,h2,h3,h4,h5,h6,strong{font-weight:400;font-size:100%;}
label,input,select{vertical-align:middle;}
img,button{background:none;border:0 none;vertical-align:middle;}
ul{list-style:none;}
.iblock{display:inline-block;*display:inline;zoom:1;vertical-align:middle;}
.clearall{zoom:1;}
.clearall:after{content:".";display:block;clear:both;height:0;visibility:hidden;}
.fl{float:left;}
.fr{float:right;}
.txt{padding:3px;color:#eee;border:1px solid #999;background:rgba(255, 255, 255, .2);outline:none;}
.txt:hover,.txt:focus{border-color:#fff;}
.link{border-bottom:1px dashed #eee;}
.link:hover{border-bottom-color:#14cccc;}
/*=E common */

/*=S HTML5 */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
/*=E HTML5 */

#wrap{margin:0 auto;width:85%;max-width:1200px;}
#header{position:relative;padding:30px 0;border-bottom:1px solid #171717;}
	hgroup{float:left;}
	#logo{font-size:40px;text-shadow:0px 2px 0 rgba(255,255,255,.15);}
	#describe{margin-top:10px;font-size:14px;}
	#nav{margin-top:24px;}
		#nav li{float:left;}
		#nav a{display:block;padding:12px 20px;font-size:16px;color:#bbb;}
		#nav a:hover{color:#fff;background-color:#14cccc;}

#page{padding:30px 0;border-top:1px solid #333;border-bottom:1px solid #171717;overflow:hidden;}
	h3{font-size:160%;color:#ddd;}
	#content{width:100%;float:left;margin-right:-300px;}
		#main{margin-right:300px;}
		.post{padding:20px 10px;border-bottom:1px dashed #333;}
		.post:last-child{border-bottom:none;}
			
			.post-hd{position:relative;line-height:36px;}
				.post-hd .post-title{font-size:200%;color:#14cccc;}
				.post-hd .post-meta{position:absolute;right:0;top:0;color:#666;}
				.post-hd a{border-bottom:0;}
			.post-bd{padding:15px 0;font-size:16px;}
				.post-bd h3{margin:20px 0 10px;}
				.post-bd li{padding:0 0 5px 20px;}
				.post-bd p{padding-bottom:10px;}
				.post-bd pre{padding:10px;font:14px 'Microsoft yahei';border-radius:10px;background:rgba(255,255,255,.1);overflow:auto;}
			.post-ft{}
				.post-nav{padding:15px 0;font-size:16px;color:#fff;}
				.post-nav .prev{float:left;}
				.post-nav .next{float:right;}
	#side{float:right;width:270px;}
		#side section{margin-bottom:10px;padding:10px;border-radius:10px;background-color:rgba(0,0,0,.5);}
			#side h3{padding-bottom:10px;}
			#side ul{padding:0 10px;}
#footer{padding:15px 0;color:#ccc;font-size:14px;line-height:30px;border-top:1px solid #333;overflow:hidden;}



.table{}
.table th,.table td{padding:5px;}
.table th{vertical-align:top;}
.table input{margin-top:-2px;}


.page-num{padding:20px 0 50px;overflow:hidden;font-size:14px;}
	.page-num a,.page-num span{float:left;margin-right:10px;padding:3px 8px;}
	.page-num a{color:#909aa3;background-color:#000;}
	.page-num a:hover,.page-num .current{color:#fff;background-color:#14cccc;}
	.page-num .prev,.page-num .next{}
.filter{-webkit-filter:blur(2px);-moz-filter:blur(2px);-o-filter:blur(2px);}


@media screen and (max-width:1200px){
	#wrap{width:100%;}
}

@media screen and (max-width:800px){
	#content,#main{margin-right:0;}
	#page{margin:0;}
	#side,h2{display:none;}
	#nav,hgroup{float:none;text-align:center;}
	#nav li{display:inline-block;float:none;}
	#nav a{font-size:18px;}
}
@media screen and (max-width:500px){
	.post-hd .post-title{margin-bottom:0;}
	.post-hd .post-meta{position:static;}
}