/*
 *@Description: blog CSS
 *@Author:      xiaoxiehang (2013-05-29)
*/

/*=S icon */
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
/*=E icon */

/*=S common */
html,body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,label,textarea,p,blockquote,th,td,figure,menu,pre{margin:0;padding:0;}
body{font:400 14px/1.5 'Microsoft JhengHei','Microsoft Yahei','Simsun',Tahoma;color:#555;background:#ebebeb url(images/bg_repeat.jpg) repeat;/*-webkit-animation:bg-animate 18s linear infinite;*/}

em,i{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-weight:400;}
h1{font-size:1.8em;}
h2{font-size:1.4em;}
h3{font-size:1.2em;}
label,input,select{vertical-align:middle;}
img,button{background:none;border:0 none;vertical-align:middle;}
ul,menu{list-style:none;}
table{border-spacing:0;border-collapse:collapse;}
.iblock{display:inline-block;*display:inline;zoom:1;vertical-align:middle;}
.clearall{zoom:1;}
.clearall:after{content:".";display:block;clear:both;height:0;visibility:hidden;}
.fl{float:left;}
.fr{float:right;}
.txt{padding:3px;color:#eee;border:1px solid #999;background:rgba(255, 255, 255, .2);outline:none;}
.txt:hover,.txt:focus{border-color:#fff;}
/*=E common */

/*=S HTML5 */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
/*=E HTML5 */

a{cursor:pointer;text-decoration:none;outline:none;color:#666;-webkit-transition-duration:0.3s;}
a:hover{color:#eb3755;}
.post-bd a,.post-bd a:hover,.link a{color:#eb3755;border-bottom:1px dashed #eb3755;}

#wrap{margin:0 auto;width:85%;max-width:1200px;}
#header{position:relative;padding:30px 0;border-bottom:1px solid #ccc;}
    hgroup{float:left;}
    #logo{font:60px 'Source Sans Pro',"Oswald",arial,sans-serif;text-shadow:3px 3px 0 rgba(0,0,0,.08);-webkit-animation:logo 0.3s linear;}
    #describe{margin-top:10px;font-size:14px;}
    #nav{margin-top:24px;}
        #nav li{float:left;}
        #nav a{display:block;padding:12px 20px;font-size:16px;color:#888;}
        #nav a:hover{color:#fff;background-color:#eb3755;}

#page{padding-top:20px;border-top:1px solid #fff;border-bottom:1px solid #ccc;overflow:hidden;}
    #content{width:100%;float:left;margin-right:-300px;}
        #main{margin-right:300px;overflow:hidden;}
        .post{padding:20px 10px;border-top:1px dashed #ccc;}
            .post:first-of-type{border-top:none;}
            .post-hd{position:relative;line-height:36px;}
                .post-title{padding-bottom:10px;text-shadow:1px 1px 0 #fff;}
                    .post-title a{border-bottom:0;}
                .post-meta{position:absolute;right:0;top:0;color:#aaa;font-family:Georgia,'Microsoft JhengHei';}
                    .post-meta span{margin:0 5px;}
            .post-bd{padding:30px 0;font-size:16px;}
                .post-bd p{padding-bottom:10px;}
                .post-bd pre,.post-bd code{font:13px/20px 'Courier New';}
            .post-ft{line-height:30px;}
                .post-nav{margin-bottom:20px;padding:15px 0;font-size:16px;color:#fff;border-top:1px dashed #ccc;border-bottom:1px dashed #ccc;display:-webkit-flex;-webkit-justify-content:space-between;}
    #side{float:right;width:270px;}
        #side section{margin-bottom:10px;padding:10px;border-radius:10px;background-color:rgba(0,0,0,.5);}
        #side h3{padding-bottom:10px;}
        #side ul{padding:0 10px;}
    #menu{float:left;width:230px;padding:10px;border-radius:10px;background-color:rgba(0,0,0,.1);}
        #menu li a{font-size:16px;line-height:35px;}
#footer{padding:15px 0;font-size:14px;line-height:30px;border-top:1px solid #fff;overflow:hidden;}

.table{}
.table th,.table td{padding:5px;}
.table th{vertical-align:top;}
.table input{margin-top:-2px;}

.page-num{padding:20px 0 50px;overflow:hidden;font-size:14px;}
    .page-num a,.page-num span{float:left;margin-right:10px;padding:3px 8px;}
    .page-num a{color:#909aa3;background-color:#000;}
    .page-num a:hover,.page-num .current{color:#fff;background-color:#14cccc;}
    .page-num .prev,.page-num .next{}
.filter{-webkit-filter:blur(2px);-moz-filter:blur(2px);-o-filter:blur(2px);}

.tips{margin:20px 0;padding:15px;font-size:14px;line-height:26px;border:1px dashed #ccc;background:#fff;box-shadow:2px 2px 5px #aaa;}
.tips dt{font-size:18px;padding-bottom:5px;color:#eb3755;}
.tips dd span{font-size:14px;color:#eb3755;}

.style{position:relative;padding:40px 0 15px;border:1px solid #ddd;background:#fff;}
.style:after{content:'高级浏览器可直接编辑 CSS';position:absolute;top:-1px;left:-1px;padding:3px 7px;font-size:13px;color: #9da0a4;border:1px solid #ddd;background:#f5f5f5;}

.bs-docs-example + .style{margin-top:-1px;}
.style style{display:block;padding:0 15px;color:#555;font:12px/24px 'Courier New';}
.style style:focus{background:#efefef;outline:none;}


/*=S 响应式布局 */
@media screen and (max-width:1200px){
    #wrap{width:100%;}
}
@media screen and (max-width:800px){
    #content,#main{margin-right:0;}
    #page{margin:0;}
    #side,h2{display:none;}
    #nav,hgroup{float:none;text-align:center;}
    #nav li{display:inline-block;float:none;}
    #nav a{font-size:18px;}
}
@media screen and (max-width:500px){
    .post-hd .post-title{margin-bottom:0;}
    .post-hd .post-meta{position:static;}
}
/*=E 响应式布局 */

/*=S 动画 */
@-webkit-keyframes bg-animate{
    0%{background-position:0 0;}
    100%{background-position:300px -300px;}
}
@-webkit-keyframes logo{
    0%{-webkit-transform:scale(2);}
    100%{-webkit-transform:scale(1);}
}
/*=E 动画 */

/*=S prettyPrint */
.com {color:#93a1a1;}
.lit {color:#195f91;}
.pun, .opn, .clo {color:#93a1a1;}
.fun {color:#dc322f;}
.str, .atv {color:#D14;}
.kwd, .prettyprint .tag {color:#1e347b;}
.typ, .atn, .dec, .var {color:teal;}
.pln {color:#48484c;}

.prettyprint{margin-bottom:15px;padding:8px;border:1px solid #ddd;background:#f7f7f9;overflow:auto;}
.prettyprint.linenums {box-shadow:inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;}

ol.linenums{margin: 0 0 0 40px; /* IE indents via margin-left */}
ol.linenums li{color:#bebec5;line-height:20px;text-shadow:0 1px 0 #fff;}

.bs-docs-example{position:relative;padding:40px 20px 20px;border:1px solid #ddd;background-color:#fff;overflow:hidden;}
.bs-docs-example:after {content:"Example";position:absolute;top:-1px;left:-1px;padding:3px 7px;font-size:12px;font-weight:bold;color: #9da0a4;border:1px solid #ddd;background-color:#f5f5f5;}
.bs-docs-example + .prettyprint , .style + .prettyprint{margin-top:-1px;}
/*=E prettyPrint */