@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
@import url(icon.css);
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
[hidden]{display:none}
html,body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,label,textarea,p,blockquote,th,td,figure,menu,pre{margin:0;padding:0}
body{font:400 14px/1.5 'Consolas','Microsoft JhengHei','Microsoft Yahei','Simsun',Tahoma;color:#333;background:url(images/main.png);-webkit-font-smoothing:antialiased}
em,i{font-style:normal}
h1,h2,h3,h4,h5,h6{font-weight:300}
h1{font-size:1.3em}
h2{font-size:1.2em}
h3{font-size:1.1em}
label,input,select{vertical-align:baseline}
style,code,pre{font:13px/26px 'Consolas','Microsoft JhengHei'}
table{border-spacing:0;border-collapse:collapse}
code{color:#aa3f2b;line-height:25px}
a{text-decoration:none;color:#a49369}
a:hover{color:#aa3f2b}
img,button{background:none;border:0 none;vertical-align:middle}
ul,menu{list-style:none}
ol{margin-left:20px}
.color1{color:#aa3f2b}
.color9{color:#999}
.txt{padding:3px;color:#eee;border:1px solid #999;background:rgba(255,255,255,0.2);outline:none}
.txt:hover,.txt:focus{border-color:#fff}
.table{width:100%;border:1px solid #eee;background:#fff}
.table th,.table td{padding:0 10px;font-size:12px;line-height:24px}
.table th{text-align:left;background:#eee}
.table tr:nth-child(even) td{background:#f9f9f9}
