@charset "utf-8";
/*!
 *@Description: 图书馆
 *@Author:      xiaoxiehang (2014-11-06 09:50)
 *@Update:      xiaoxiehang (2014-11-06 17:50)
*/

%fl{float:left;}
%fr{float:right;}
%iblock{display:inline-block;*display:inline;*zoom:1;}

%tc{text-align:center;}
%txt{height:16px;line-height:16px;border:1px solid #ccc;}

%icon-before{content:'';display:inline-block;background-image:url(../images/icon.png);background-repeat:no-repeat;background-size:250px auto;}
%icon-mr{margin-right:5px;}

$color1:#ff8201;