@font-face {font-family: "iconfont";
  src: url('../font/icon/iconfont.eot'); /* IE9*/
  src: url('../font/icon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/icon/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../font/icon/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../font/icon/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:24px;line-height:24px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


.icon-edit{@extend .iconfont;&:after{content:"\e627";}}
.icon-winxin{@extend .iconfont;&:after{content:"\e628";}}
.icon-lock{@extend .iconfont;&:after{content:"\e625";}}
.icon-xing{@extend .iconfont;font-size:20px;line-height:20px;&:after{content:"\e626";}}
.icon-friend{@extend .iconfont;font-size:18px;line-height:20px;&:after{content:"\e624";}}
.icon-error{@extend .iconfont;&:after{content:"\e61d";}}
.icon-ck{@extend .iconfont;&:after{content:"\e61c";}}
.z-true{@extend .iconfont;&:after{content:"\e619";}}
.icon-site{@extend .iconfont;&:after{content:"\e61b";}}
.icon-vocation{@extend .iconfont;&:after{content:"\e60e";}}
.icon-user{@extend .iconfont;&:after{content:"\e612";}}
.icon-sign{@extend .iconfont;&:after{content:"\e611";}}
.icon-add{@extend .iconfont;&:before{content:"\e614";}}
.icon-top{@extend .iconfont;&:after{content:"\e618";}}
.icon-boy{@extend .iconfont;&:after{content:"\e60f";}}
.icon-search-1{@extend .iconfont;&:after{content:"\e616";}}
.icon-girl{@extend .iconfont;&:after{content:"\e610";}}
.icon-refresh{@extend .iconfont;&:after{content:"\e608";}}
.icon-return{@extend .iconfont;&:after{content:"\e609";}}
.icon-search{@extend .iconfont;&:after{content:"\e606";}}
.icon-company{@extend .iconfont;&:after{content:"\e601";}}

input[class*="icon-"]{-webkit-appearance:none;border:0;background-color:transparent;
    &:checked{color:$color1;}
}