@font-face {font-family: "iconfont";
  src: url('../font/icon/iconfont.eot'); /* IE9*/
  src: url('../font/icon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/icon/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../font/icon/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../font/icon/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:24px;line-height:24px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-school{@extend .iconfont;&:before{content:"\e601";}}
.icon-vocation{@extend .iconfont;&:before{content:"\e60e";}}
.icon-boy{@extend .iconfont;&:before{content:"\e60f";}}
.icon-girl{@extend .iconfont;&:before{content:"\e610";}}
.icon-sign{@extend .iconfont;&:before{content:"\e611";}}
.icon-user{@extend .iconfont;&:before{content:"\e612";}}
.icon-search{@extend .iconfont;&:before{content:"\e606";}}
.icon-add{@extend .iconfont;&:before{content:"\e614";}}
.icon-refresh{@extend .iconfont;&:before{content:"\e608";}}
.icon-return{@extend .iconfont;&:before{content:"\e609";}}
.icon-search-1{@extend .iconfont;&:before{content:"\e616";}}
.icon-arraw{@extend .iconfont;&:before{content:"\e617";}}
.icon-top{@extend .iconfont;&:before{content:"\e618";}}
.icon-ck{@extend .iconfont;&:before{content:"\e61c";}}
.icon-cktrue{@extend .iconfont;&:before{content:"\e619";}}
.icon-error{@extend .iconfont;&:before{content:"\e61d";}}
.icon-icon17{@extend .iconfont;&:before{content:"\e61a";}}
.icon-site{@extend .iconfont;&:before{content:"\e61b";}}