@charset "utf-8";
/*!
 *@Description: 图书馆
 *@Author:      xiaoxiehang (2014-11-06 09:50)
 *@Update:      xiaoxiehang (2014-11-06 17:50)
*/
body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th , img, div ,input, blockquote, article, aside, footer, header, hgroup, main, nav, section, menu{margin: 0;padding: 0;}
html{height:100%;font-size:10px;overflow:hidden;-webkit-user-select:none;}
body {min-width:320px;font:1.2rem tahoma,arial;color:#333;background:#fff;}
ul,ol,li{list-style-type:none;}
img{vertical-align:middle;border:0;}
em,i{font-style:normal;}
a{text-decoration:none;cursor:pointer;color:#333;-webkit-tap-highlight-color:rgba(255,255,255,0);
    &:focus,&:active{outline:none;}
}
input,textarea,select{font-size:100%;outline:#fff;}
table{width:100%;border-spacing:0;border-collapse:collapse;
    th,td{@extend %tc;font-size:1.2rem;line-height:2.6rem;border-bottom:1px solid #e5e5e5;}
    th{font-weight:400;color:#9d9d9d;}
}
$color1:#ff8201;

.show{display:block;}
.hide{display:none;}
.fl{float:left;}
.fr{float:right;}

%color9{color:#999;}
%colorbg{background-color:#f5f5f5;}

%iblock{display:inline-block;*display:inline;*zoom:1;}

%tc{text-align:center;}
%txt{height:16px;line-height:16px;border:1px solid #ccc;}

%icon-before{content:'';display:inline-block;background-image:url(../images/icon.png);background-repeat:no-repeat;background-size:250px auto;}
%icon-mr{margin-right:5px;}



.u-sel{line-height:22px;
    input{font-size:36px;color:#aaa;vertical-align:bottom;border:0;background-color:transparent;}
    input:checked{@extend .z-true;font-size:inherit;color:$color1;}
}
.u-txt{padding:4px;height:28px;border:0;background-color:#fff;box-sizing:border-box;border-radius:5px;}
.u-btn,.u-btn:active{@extend %tc;display:block;margin:0 8px 5px;font-size:1.4rem;line-height:44px;color:#fff;background-color:#ff8201;border-radius:5px;}

/*伪元素*/
%fake{content:'';position:absolute;overflow:hidden;}
/*标题箭头*/
%lastArrow{@extend %fake;top:50%;right:5px;margin-top:-5px;width:8px;height:8px;border:solid #4f4f4f;border-width:1px 1px 0 0;-webkit-transform:rotate(45deg);}