@charset "utf-8";
/*!
 *@Description: 图书馆
 *@Author:      xiaoxiehang (2014-11-06 09:50)
 *@Update:      xiaoxiehang (2014-11-06 17:50)
*/
body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th , img, div ,input, blockquote, article, aside, footer, header, hgroup, main, nav, section, menu{margin: 0;padding: 0;}
html{font-size:10px;}
body {font:1.2rem 'microsoft yahei';color:#333;background:#fff;}
ul,ol,li{list-style-type:none;}
img{vertical-align:middle;border:0;}
em,i{font-style:normal;}
a{text-decoration:none;cursor:pointer;color:#333;
    &:focus,&:active{outline:none;}
}
input,textarea,select{font-size:100%;outline:#fff;}
table{border-spacing:0;border-collapse:collapse;}

.show{display:block;}
.hide{display:none;}
.fl{@extend %fl;}
.fr{@extend %fr;}

a{-webkit-tap-highlight-color:rgba(255,255,255,0);}

%fl{float:left;}
%fr{float:right;}
%iblock{display:inline-block;*display:inline;*zoom:1;}

%tc{text-align:center;}
%txt{height:16px;line-height:16px;border:1px solid #ccc;}

%icon-before{content:'';display:inline-block;background-image:url(../images/icon.png);background-repeat:no-repeat;background-size:250px auto;}
%icon-mr{margin-right:5px;}

$color1:#ff8201;