/*!
 *@Description: 图书馆
 *@Author:      xiaoxiehang (2014-11-06 09:50)
 *@Update:      xiaoxiehang (2014-11-06 17:50)
*/
.fl, .m-nav, .m-nav li, .m-login-tit, .m-login-txt, .m-login-btn, .m-form-bd select, .m-form-tit, .m-form-txt, .m-form-btn, .m-form-btn-gray {
  float: left; }

.fr, .m-user {
  float: right; }

.m-page em, .m-page a {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.m-login-txt, .m-form-bd select, .m-form-txt {
  height: 16px;
  line-height: 16px;
  border: 1px solid #ccc; }

body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th, img, div, input, blockquote, article, aside, footer, header, hgroup, main, nav, section, menu {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }

body {
  font: 1.2rem 'microsoft yahei';
  color: #333;
  background: #fff; }

ul, ol, li {
  list-style-type: none; }

img {
  vertical-align: middle;
  border: 0; }

em, i {
  font-style: normal; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #333; }
  a:focus, a:active {
    outline: none; }

input, textarea, select {
  font-size: 100%;
  outline: #fff; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

.show {
  display: block; }

.hide {
  display: none; }

a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.layout {
  margin: 0 auto;
  width: 960px; }

.u-tc {
  text-align: center; }

.u-pipe {
  padding: 0 10px;
  font-family: arial; }

.g-hd {
  margin-bottom: 20px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  color: #fff;
  background-color: #242b31; }

.m-nav a {
  display: block;
  padding: 0 15px;
  color: #fff;
  font-size: 14px; }
.m-nav .crt a {
  color: #fff;
  background-color: #37bde0; }

.m-user a {
  margin-left: 20px;
  color: #37bde0; }

.g-login {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../../bg/bg.jpg) no-repeat;
  background-size: cover; }

.m-login-btn, .m-form-btn, .m-form-btn-gray {
  cursor: pointer;
  color: #fff;
  border: 0;
  background-color: #37bde0; }

.m-login {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -99px;
  margin-left: -235px;
  width: 470px; }
  .m-login-hd {
    margin-bottom: 40px;
    line-height: 60px;
    text-align: center;
    font-size: 32px;
    letter-spacing: 20px;
    font-weight: 400;
    color: #fff; }
  .m-login-bd {
    padding: 30px;
    line-height: 38px;
    overflow: hidden; }
  .m-login-tit {
    color: #dedede;
    font-size: 16px; }
  .m-login-txt {
    margin: 0 10px;
    padding: 10px;
    width: 240px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2); }
  .m-login-btn {
    padding: 0 24px;
    height: 38px; }

.m-tips {
  line-height: 32px;
  border: 1px solid #dfaa5f;
  background-color: #fff9d2; }
  .m-tips span {
    margin-left: 20px; }
  .m-tips strong {
    margin: 0 5px;
    color: #ff5050; }

.m-form-hd {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 22px; }
.m-form-bd li {
  padding: 10px 0;
  line-height: 30px;
  overflow: hidden; }
.m-form-bd select {
  margin-right: 10px;
  width: 120px;
  height: 30px;
  background-color: #fff; }
  .m-form-bd select:focus {
    outline: 0; }
.m-form-tit {
  width: 40px; }
.m-form-txt {
  padding: 6px;
  width: 260px; }
.m-form-btn, .m-form-btn-gray {
  margin-right: 5px;
  padding: 0 15px;
  height: 30px; }
.m-form-btn-gray {
  background-color: #aaa; }

.m-datalist {
  margin-bottom: 20px;
  width: 100%; }
  .m-datalist th, .m-datalist td {
    padding: 10px 15px;
    border: 1px solid #ddd; }
  .m-datalist th {
    font-size: 14px;
    font-weight: 400;
    border-color: #CFEBF2;
    background-color: #CFEBF2; }
  .m-datalist td {
    font-size: 12px; }
  .m-datalist a {
    color: #f50; }

.m-page {
  text-align: right; }
  .m-page em, .m-page a {
    padding: 0 10px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 12px;
    color: #adadad;
    border: 1px solid #ddd; }
  .m-page a:hover {
    color: #f50;
    border-color: #f50; }
  .m-page em {
    color: #fff;
    border-color: #f50;
    background-color: #f50; }

.m-showtip {
  z-index: 1;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -100px;
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px; }

/*# sourceMappingURL=admin.css.map */