/*!
 *@Description: 图书馆
 *@Author:      xiaoxiehang (2014-11-06 09:50)
 *@Update:      xiaoxiehang (2014-11-06 17:50)
*/
body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th, img, div, input, blockquote, article, aside, footer, header, hgroup, main, nav, section, menu {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }

body {
  font: 1.2rem 'microsoft yahei';
  color: #333;
  background: #fff; }

ul, ol, li {
  list-style-type: none; }

img {
  vertical-align: middle;
  border: 0; }

em, i {
  font-style: normal; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #333; }
  a:focus, a:active {
    outline: none; }

input, textarea, select {
  font-size: 100%;
  outline: #fff; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

.show {
  display: block; }

.hide {
  display: none; }

a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.fl, .g-ft a:first-child, .m-form select, .g-hd h1, .m-navlist li, .m-booklist-bd li {
  float: left; }

.fr, .g-ft a:last-child {
  float: right; }

.g-hd, .g-ft, .m-booklist-bd em, .m-pickup-postage, .u-btn {
  text-align: center; }

@font-face {
  font-family: "iconfont";
  src: url('../font/icon/iconfont.eot');
  /* IE9*/
  src: url('../font/icon/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/icon/iconfont.woff') format('woff'), url('../font/icon/iconfont.ttf') format('truetype'), url('../font/icon/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  line-height: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-icon1:before {
  content: "\e601"; }

.icon-icon2:before {
  content: "\e60e"; }

.icon-userboy:before {
  content: "\e60f"; }

.icon-icon4:before {
  content: "\e610"; }

.icon-icon5:before {
  content: "\e611"; }

.icon-user:before {
  content: "\e612"; }

.icon-search:before {
  content: "\e606"; }

.icon-add:before {
  content: "\e614"; }

.icon-icon9:before {
  content: "\e608"; }

.icon-return:before {
  content: "\e609"; }

.icon-search-1:before {
  content: "\e616"; }

.icon-arraw:before {
  content: "\e617"; }

.icon-icon13:before {
  content: "\e618"; }

.icon-icon14:before {
  content: "\e61c"; }

.icon-icon15:before {
  content: "\e619"; }

.icon-icon16:before {
  content: "\e61d"; }

.icon-icon17:before {
  content: "\e61a"; }

.icon-icon18:before {
  content: "\e61b"; }

/*
 * module : 框架、头部搜索框、导航、图书列表、表单、提示信息
*/
/*=S 框架 */
.g-hd, .g-ft {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%; }

.g-hd {
  position: relative;
  height: 44px;
  border-bottom: 1px solid #c7c7c7;
  background-color: #f8f8f8;
  box-shadow: 0 0 2px #aaa; }
  .g-hd h1 {
    width: 100%;
    font-size: 2rem;
    color: #fff; }

.g-nav {
  z-index: 1;
  position: relative;
  padding-right: 30px;
  border-top: 1px solid #f0f0f0;
  background-color: #f8f8f8; }
  .g-nav:after {
    content: '';
    position: absolute;
    top: 8px;
    right: 10px;
    width: 8px;
    height: 8px;
    border: solid #cbcbcb;
    border-width: 2px 2px 0 0;
    -webkit-transform: rotate(135deg); }

.g-bd {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 45px;
  left: 0;
  width: 100%;
  overflow: auto; }

.g-ft {
  bottom: 0;
  padding: 5px 15px;
  height: 45px;
  background-color: #000;
  box-sizing: border-box; }
  .g-ft a {
    vertical-align: top;
    line-height: 35px;
    font-size: 3rem;
    color: #fff; }
    .g-ft a:nth-child(3) {
      margin: 0 18%; }

.g-hd + .g-bd {
  top: 44px; }

.g-hd + .g-nav {
  margin-top: -1px;
  border-bottom: 1px solid #c7c7c7;
  box-shadow: 0 1px 1px #ccc; }

.g-nav + .g-bd {
  top: 76px; }

/*=E 框架 */
/*
 * 头部搜索框
*/
.m-search {
  display: -webkit-flex;
  z-index: 1;
  position: relative;
  padding: 0 46px 0 65px;
  height: 44px;
  line-height: 44px; }
  .m-search-type {
    position: absolute;
    top: 0;
    left: 10px;
    height: 44px; }
    .m-search-type i {
      display: inline-block;
      font-size: 1.4rem;
      -webkit-transform: rotate(90deg); }
    .m-search-type dd {
      position: absolute;
      top: 44px;
      left: -8px;
      padding-bottom: 1px;
      width: 65px;
      font-size: 1.2rem;
      line-height: 28px;
      text-align: center;
      background-color: #3e3e3e; }
      .m-search-type dd a {
        display: block;
        color: #fff; }
      .m-search-type dd .crt {
        color: #ff8000;
        background-color: #696969; }
      .m-search-type dd:before {
        content: '';
        position: absolute;
        top: -8px;
        left: 28px;
        border: 4px solid;
        border-color: transparent transparent #3e3e3e transparent; }
  .m-search-txt {
    margin: auto 0;
    padding: 5px;
    width: 100%;
    height: 28px;
    border: 0;
    background-color: #ddd;
    box-sizing: border-box;
    border-radius: 5px; }
  .m-search-btn {
    margin-right: -56px;
    padding: 0 8px;
    color: #ff8201; }
    .m-search-btn i {
      vertical-align: top;
      font-size: 3rem;
      line-height: 40px; }

/*
 * 导航
*/
.m-navlist {
  overflow: hidden; }
  .m-navlist li {
    margin: 0 10px;
    padding: 0 2px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box; }
    .m-navlist li a {
      display: block;
      color: #b5b5b5; }
  .m-navlist .crt {
    border-bottom: 2px solid #414141; }
    .m-navlist .crt a {
      color: #3d3d3d; }

/*
 * 图书列表
*/
.m-booklist {
  margin: 0 13px; }
  .m-booklist-hd {
    position: relative;
    font: 400 1.2rem/2.5rem 'arial'; }
    .m-booklist-hd a {
      display: block;
      color: #3f3f3f; }
    .m-booklist-hd:after {
      content: '';
      position: absolute;
      top: 10px;
      right: 5px;
      width: 8px;
      height: 8px;
      border: solid #4f4f4f;
      border-width: 1px 1px 0 0;
      -webkit-transform: rotate(45deg); }
  .m-booklist-bd {
    overflow: hidden; }
    .m-booklist-bd li {
      position: relative;
      margin: 0 4.25% 15px 0;
      width: 30.5%;
      background-color: red; }
      .m-booklist-bd li:nth-child(3n+3) {
        margin-right: 0; }
    .m-booklist-bd img {
      width: 100%; }
    .m-booklist-bd em {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2rem;
      line-height: 2rem;
      overflow: hidden; }

.m-booknull {
  border-bottom: 1px solid #e5e5e5;
  background-color: #f8f8f8; }

/*
 * 轮播
*/
.m-slide {
  background-color: red; }

.m-pickup {
  height: 100%;
  background-color: #f0f0f0; }
  .m-pickup-point {
    padding: 30px 0 20px;
    text-indent: 18px;
    color: #050505; }
  .m-pickup-postage {
    padding: 16px 0;
    line-height: 22px; }
    .m-pickup-postage label {
      cursor: pointer;
      margin: 0 10px; }

.u-txt {
  padding: 4px;
  height: 28px;
  border: 0;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 5px; }

.u-btn {
  display: block;
  margin: 0 8px 5px;
  font-size: 1.4rem;
  line-height: 44px;
  color: #fff;
  background-color: #ff8201;
  border-radius: 5px; }

/*
 * 表单
*/
.m-form {
  padding: 16px 0;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc; }
  .m-form li {
    padding: 4px 10px;
    overflow: hidden; }
  .m-form .m-form-sel {
    position: relative; }
    .m-form .m-form-sel:nth-child(1) select {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .m-form .m-form-sel:nth-child(2) select {
      border-left: 1px solid #dcdcdc;
      border-right: 1px solid #dcdcdc; }
    .m-form .m-form-sel:nth-child(3) select {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
    .m-form .m-form-sel:after {
      content: '';
      position: absolute;
      top: 8px;
      right: 5px;
      width: 6px;
      height: 6px;
      border: solid #cbcbcb;
      border-width: 2px 2px 0 0;
      -webkit-transform: rotate(135deg); }
  .m-form select {
    width: 33.3%;
    box-sizing: border-box;
    border-radius: 0;
    -webkit-appearance: button; }
  .m-form input[type=text] {
    width: 100%; }
  .m-form-gps {
    margin-bottom: 10px;
    text-indent: 8px;
    line-height: 36px;
    background-color: #fff; }

/*
 * 添加图书
*/
.m-addbook-form {
  position: relative;
  padding: 15px 12px; }
  .m-addbook-form input[type=text] {
    margin-top: 8px;
    width: 100%;
    height: 26px;
    border: none;
    border-bottom: 1px solid #e5e5e5; }
.m-addbook textarea {
  display: block;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  resize: none; }
.m-addbook li {
  margin-left: 100px; }
  .m-addbook li:nth-child(2) {
    margin-top: 20px; }
  .m-addbook li:first-child, .m-addbook li:last-child {
    margin-left: 0; }
.m-addbook-img {
  position: absolute;
  left: 12px;
  top: 15px;
  width: 85px;
  height: 125px;
  background-color: #eee; }
  .m-addbook-img input, .m-addbook-img img {
    position: absolute;
    width: 100%;
    height: 100%; }
  .m-addbook-img input {
    opacity: 0; }
.m-addbook-txtcount {
  display: block;
  padding-top: 30px;
  text-align: right;
  color: #acacac; }
  .m-addbook-txtcount em {
    color: #666; }

/*
 * 提示信息
*/
.m-showtip {
  z-index: 1;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -100px;
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  -webkit-transition: all 1s; }
  .m-showtip-show {
    opacity: 1; }

/*# sourceMappingURL=common.css.map */