@import '_reset';//基础样式
@import '_icon';//图标样式

/*
 * module : 框架、头部搜索框、导航、图书列表、表单、提示信息
*/


/*=S 框架 */
/*
    层级：
    10   搜索类型(.m-search)、工具条(.g-ft)
        
    9    全部分类(.m-menuall)、弹窗
*/

$hdHeight : 48px;
$navHeight : 40px;
.g-hd,.g-ft{}
.g-hd{@extend %tc;height:$hdHeight;border-bottom:1px solid #c7c7c7;background-color:#f8f8f8;box-shadow:0 0 2px #aaa;
    h1{@extend .fl;width:100%;font-size:2rem;color:#fff;}
}
.g-nav{z-index:1;position:relative;padding-right:30px;height:$navHeight;line-height:$navHeight;border-top:1px solid #f0f0f0;background-color:#f8f8f8;
    .m-nav-arrow{content:'';position:absolute;top:50%;right:10px;margin-top:-7px;width:8px;height:8px;border:solid #cbcbcb;border-width:2px 2px 0 0;-webkit-transform:rotate(135deg);-webkit-transition:-webkit-transform .2s;}
    &.crt{
        .m-navlist{display:none;}
        &:before{content:"收起分类";display:block;padding-left:12px;color:#999;}
        .m-nav-arrow{margin-top:-2px;-webkit-transform:rotate(-45deg);}
    }
}
.g-bd{position:absolute;top:0;left:0;bottom:45px;width:100%;min-width:320px;background-color:#fff;overflow-x:hidden;overflow-y:auto;}
.g-ft{@extend %tc;position:absolute;bottom:0;left:0;width:100%;padding:5px 15px;height:45px;background-color:#000;box-sizing:border-box;
    a{vertical-align:top;line-height:35px;font-size:3rem;color:#fff;
        &:first-child{@extend .fl;}
        &:last-child{@extend .fr;}
        &:nth-child(3){margin:0 18%;}
    }
}
.g-hd ~ .g-bd{top:$hdHeight;}
.g-hd + .g-nav{margin-top:-1px;border-bottom:1px solid #c7c7c7;box-shadow:0 1px 1px #ccc;}
.g-nav ~ .g-bd{z-index:-1;top:$hdHeight + $navHeight + 2;}
/*=E 框架 */

.m-tab-bd>div:target,.g-bd:target,.my-friend:target{display:block;}
/*
 * 头部搜索框
*/
.m-search{z-index:10;position:relative;padding:0 46px 0 65px;height:$hdHeight;line-height:$hdHeight;
    &-type{position:absolute;top:0;left:0;padding:0 20px 0 8px;height:$hdHeight;
        dt:after{@extend %lastArrow;width:6px;height:6px;border-width:2px 2px 0 0;-webkit-transform:rotate(135deg);-webkit-transition:all .2s;}
        dd{@extend %tc;display:none;position:absolute;top:$hdHeight;left:1px;width:65px;font-size:1.4rem;line-height:2.6rem;background-color:#3e3e3e;
            a{display:block;color:#fff;}
            .crt{color:#ff8000;background-color:#696969;}
            &:before{content:'';position:absolute;top:-8px;left:28px;border:4px solid;border-color:transparent transparent #3e3e3e;}
        }
        &.show{
            dt:after{margin-top:-2px;-webkit-transform:rotate(-45deg);}
            dd{display:block;;}
        }
    }
    &-txt{margin:10px 0;padding:5px;width:100%;height:28px;border:0;background-color:#ddd;box-sizing:border-box;border-radius:5px;}
    &-btn{@extend .icon-search-1;position:absolute;top:0;right:0;padding:0 8px;vertical-align:top;font-size:3rem;line-height:$hdHeight;color:$color1;}
}

/*
 * 导航
*/
.m-navlist{overflow:hidden;
    li{@extend .fl;position:relative;
        a{display:block;padding:0 12px;color:#b5b5b5;}
    }
    .crt{
        a{color:#3d3d3d;}
        &:after{content:'';position:absolute;left:10px;right:10px;bottom:0;height:2px;background-color:#414141;overflow:hidden;}
    }
}

@import '_booklist';//图书列表
@import '_desire';//许愿树

%wishing-tree{display:inline-block;background:url(../images/wishing-tree.png) no-repeat 0 0;background-size:146px auto;}
.m-booknull{@extend %tc;padding:15px 0 15px;border-bottom:1px solid #e5e5e5;background-color:#f8f8f8;
    .tree{display:inline-block;margin:0 auto;width:100px;height:105px;background:url(../images/wishing_gray.png) no-repeat 0 0;
background-size:cover;}
    a{@extend %wishing-tree;margin:0 0 5px 15px;padding-top:9px;width:86px;height:0;background-position:0 -95px;overflow:hidden;}
}
.m-wishing{@extend %wishing-tree;padding-top:21px;width:100%;height:0;background-position:0 -104px;overflow:hidden;}

.z-lockbook img{-webkit-filter:grayscale(1);opacity:.7;}


/*
 * 轮播
*/
.m-slide{display:none;position:relative;overflow:hidden;
    li{position:absolute;width:100%;}
    .dot{position:absolute;right:10px;bottom:10px;font-size:0;
        span{display:inline-block;width:8px;height:8px;margin-left:5px;background-color:#c5c5c5;border-radius:50%;}
        .crt{background-color:#040404;}
    }
}

.m-pickup{height:100%;background-color:#f0f0f0;
    &-point{padding:30px 0 20px;text-indent:18px;color:#050505;}
    &-postage{@extend %tc;padding:16px 0;
        .u-sel{margin:0 10px;input:checked{color:#8ac841;font-size:36px;}}
    }
    .m-form{border-bottom:0;}
}

/*
 * 表单
*/
.m-form{padding:16px 0;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;
    li{padding:4px 10px;overflow:hidden;}
        .m-form-sel{position:relative;
            &:nth-child(1) select{border-top-left-radius:5px;border-bottom-left-radius:5px;}
            &:nth-child(2) select{border-left:1px solid #dcdcdc;border-right:1px solid #dcdcdc;}
            &:nth-child(3) select{border-top-right-radius:5px;border-bottom-right-radius:5px;}
            &:after{content:'';position:absolute;top:8px;right:5px;width:6px;height:6px;border:solid #cbcbcb;border-width:2px 2px 0 0;-webkit-transform:rotate(135deg);}
        }
        select{@extend .fl;width:33.3%;box-sizing:border-box;border-radius:0;-webkit-appearance:button;}
        input[type=text]{width:100%;}
        input.yzm{@extend .fl;width:65%;}
        .get-yzm{@extend .fr;@extend %tc;width:calc(35% - 5px);line-height:28px;color:#fff;background-color:#333;}
        .get-yzm.disable{color:#999;background-color:#ccc;}
}

/*
 * 添加图书
*/
$addbookHeight:26px;
.m-addbook{}
    .m-addbook-form{position:relative;padding:15px 12px;
        input[type=text]{margin-top:8px;width:100%;height:$addbookHeight;border:none;border-bottom:1px solid #e5e5e5;}
    }
    .m-addbook li{overflow:hidden;
        &:nth-child(2){margin-top:20px;}
    }
    //选择封面
    .m-addbook-img{@extend .fl;@extend %tc;position:relative;margin-right:15px;width:85px;height:125px;background-color:#eee;}
        .m-addbook-img input{position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;}
        .m-addbook-img img{max-width:100%;max-height:100%;vertical-align:middle;}
        .m-addbook-img:before{content:'';display:inline-block;width:0;height:100%;font-size:0;line-height:0;vertical-align:middle;overflow:hidden;}
    //选择分类
    .m-addbook-menu{padding-top:15px;height:30px;line-height:30px;}
            .m-addbook-menu span{@extend .fl;margin-right:20px;padding:0 10px;line-height:28px;color:$color1;border:1px solid $color1;background-color:#f8f8f8;box-sizing:border-box;}
            .m-addbook-selmenu{@extend .fl;line-height:30px;color:#999;overflow:hidden;}
    //选择点数
    .m-addbook-selpoint{padding-top:15px;line-height:30px;}
    //字数统计
//    .m-addbook-txtcount{display:block;padding-top:30px;text-align:right;color:#acacac;}
//        .m-addbook-txtcount em{color:#666;}
    .m-addbook-text{padding-top:15px;}
        .m-addbook-text textarea{width:100%;height:$addbookHeight * 4;line-height:$addbookHeight;padding:0;font-size:1.2rem;font-family:arial;border:0;background:url(../images/textarea.png) repeat;resize:none;}
        

.u-sel-circle{@extend %tc;display:inline-block;z-index:1;margin-right:5px;position:relative;width:28px;height:28px;line-height:28px;color:#b9b9b9;background-color:#e7e7e7;border:0;border-radius:50%;-webkit-appearance:none;-webkit-transition:.2s all;
    &:before{content:attr(value);}
    &:checked{color:#fff;background-color:$color1;}
}
/*
 * 提示信息
*/
.m-showtip{@extend %tc;z-index:9;opacity:1;position:absolute;top:50%;left:50%;margin:-30px 0 0 -100px;width:200px;height:60px;font-size:14px;line-height:60px;color:#fff;background-color:rgba(0,0,0,.7);-webkit-transition:all 1s;
    &-show{opacity:1;}
}

/*
 * 个人主页
*/
.m-user{@extend %colorbg;position:relative;padding:15px 35px;overflow:hidden;
    &-base{@extend .fl;@extend %tc;width:74px;}
        &-face{@extend %tc;position:relative;display:block;width:70px;height:70px;border:2px solid #fff;background-color:#eee;overflow:hidden;border-radius:50%;
            input[type="file"]{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;}
            img{max-width:100%;max-height:100%;}
        }
        &-name{display:block;padding:16px 0;font-weight:400;font-size:1.4rem;}
        &-girl{background-color:#ffc9e0;}
        &-boy{background-color:#95D7F9;}
        &-age{display:inline-block;margin:8px 5px;padding:0 8px;border-radius:3px;color:#fff;}
    &-attr{margin-left:100px;white-space:nowrap;
        i{color:#ddd;font-size:2rem;line-height:22px;vertical-align:-2px;}
        em{display:inline-block;}
    }
    &-edit{position:absolute;top:0;right:0;width:40px;height:40px;text-align:right;color:#b8b8b8;
        &:before{content:'';position:absolute;top:-29px;right:-30px;width:60px;height:60px;background-color:#ddd;-webkit-transform:rotate(45deg);}
        i{position:relative;font-size:2.2rem;}
    }
    &-age i{color:#fff;vertical-align:-1px;}
}

.m-user-friend,.m-user-follow{display:block;height:22px;line-height:20px;background-color:#fff;border-radius:5px;box-shadow:0 0 3px #ddd;}
    .m-user-friend i{@extend %color9;}
    .m-user-follow.crt{color:#fff;background-color:$color1;box-shadow:0 0 3px #ddd;}


/*
 * 切换
*/
.m-tab{
    &-hd{@extend %colorbg;padding:0 15px 10px;
        ul{@extend %tc;border:1px solid #ddd;overflow:hidden;border-radius:5px;}
        li{@extend .fl;width:50%;line-height:28px;}
            a{@extend %color9;display:block;}
        .crt{background-color:#ddd;
            a{color:#000;}
        }
    }
    &-bd{border-top:1px solid #e5e5e5;}
}

/*
 * 地址
*/
.m-site{overflow:hidden;
    $bd:1px solid #ddd;
    &-default,&-list{line-height:20px;
        span{display:block;}
            span:nth-of-type(2){-webkit-transform:scale(.96);-webkit-transform-origin:top left;}
            i{color:$color1;}
    }
    &-default{position:relative;margin-bottom:10px;padding:20px 0;background-color:#fff;border-top:$bd;border-bottom:$bd;
        i{@extend .fl;line-height:40px;font-size:40px;color:$color1;}
        &:after{@extend %lastArrow;}
    }
    &-list{margin-bottom:20px;
        li{position:relative;padding:8px 36px 8px 16px;border-bottom:$bd;}
        .icon-ck{position:absolute;right:5px;top:50%;margin-top:-13px;
            &:after{content:'\e61c';}
        }
    }
    &-edit{position:absolute;top:0;left:0;right:34px;height:100%;background-color:#fff;opacity:0;}
    &-btn{@extend .fr;margin-right:8px;padding:0 16px;line-height:28px;color:$color1;border:1px solid #ddd;background-color:#f3f3f3;}
}
/*
 * 我的消息、我的朋友
*/
.my-news,.my-friend{
    li{position:relative;padding:7px 0 7px 62px;min-height:36px;border-bottom:1px solid #e5e5e5;}
        &-face{@extend %tc;position:absolute;top:10px;left:16px;width:32px;height:32px;border:2px solid #e8e8e8;background-color:#eee;overflow:hidden;border-radius:5px;
            img{max-width:100%;max-height:100%;}
        }
        &-info,&-time{display:block;color:#7f7f7f;-webkit-transform:scale(.8);-webkit-transform-origin:left center;}
        strong{display:block;font-weight:400;}
        em{color:#000;}
        
        &-btn{@extend %tc;position:absolute;top:50%;right:10px;margin-top:-14px;height:28px;line-height:28px;overflow:hidden;border-radius:5px;
            a{display:inline-block;width:50px;color:#fff;}
        }
}
.my-friend{z-index:2;
    &-tit{font-size:1.4rem;line-height:30px;}
    li{line-height:18px;}
        &-face{top:7px;}
        &-info{-webkit-transform:scale(1);}
        li strong{font-size:1.4rem;}
        &-count{@extend %color9;text-align:center;line-height:30px;}
}
.m-null{@extend %tc;padding-top:30px;color:#999;}

/*
 * 编辑用户信息
*/
.m-edit-user{
    h2{padding-left:5px;font-size:1.2rem;font-weight:400;line-height:2rem;color:$color1;}
    ul{@extend %colorbg;margin-bottom:20px;padding:0 6px;}
        li{padding-top:5px;line-height:30px;border-bottom:1px solid #ddd;overflow:hidden;}
            input[type="text"]{@extend .fr;border:0;height:30px;text-align:right;color:#666;background:transparent;}
            select{@extend .fr;opacity:0;padding:0 15px;height:30px;border:0;background-color:transparent;-webkit-appearance:none;
                &:after{content:'';}
            }
            i{@extend .fr;margin:14px 0 0 -10px;width:0;height:0;border:5px solid;border-color:#ccc transparent transparent;overflow:hidden;}
    ul:first-of-type{li:first-child{padding:10px 0;line-height:74px;img{vertical-align:top;}}}
    ul:last-child{li:first-child{border-top:1px solid #ddd;}}
}

/*
 * 图书详情
*/
.m-book{
    &-base{@extend %color9;position:relative;margin-bottom:10px;padding:10px 10px 0;height:130px;line-height:18px;overflow:hidden;
        p{&:last-of-type{margin-top:5px;}}
    }
        &-lock{position:absolute;top:5px;right:15px;text-align:right;font-size:30px;color:#dcdcdc;}
        &-name{font-size:1.4rem;color:#000;}
        &-img{@extend .fl;position:relative;padding:0 6px 10px 0;}
        &-code{position:absolute;left:-5px;bottom:5px;}
        &-detail-more{position:absolute;right:10px;bottom:0;padding-left:1.5rem;color:#bbb;background-color:#fff;}
    &-report{text-align:right;padding-right:10px;line-height:24px;a{color:#0727b0;}}
}

/*
 * 图书轨迹
*/
.m-track{margin-bottom:20px;padding-left:52px;
    dt{@extend %tc;$width:45px;z-index:1;position:relative;margin-left:-$width/2;width:$width;line-height:24px;
        span{display:block;height:45px;overflow:hidden;border-radius:50%;}
        &:after{@extend %fake;left:18px;bottom:-8px;width:8px;height:8px;border:1px solid #e5e5e5;background-color:#fff;border-radius:50%;}
    }
    dd{position:relative;padding:10px 15px;line-height:36px;border-left:1px solid #e5e5e5;
        &:after{@extend %fake;left:-3px;top:50%;margin-top:-2.5px;width:5px;height:5px;background-color:#e5e5e5;border-radius:50%;}
    }
        &-face{position:absolute;left:-48px;border:2px solid #f8f8f8;overflow:hidden;border-radius:5px;img{display:block;}}
        &-cont{display:block;padding:0 10px;background-color:#f8f8f8;border-radius:10px;word-wrap:break-word;
            &:after{@extend %fake;left:10px;top:23px;width:10px;height:10px;background-color:#f8f8f8;-webkit-transform:rotate(45deg);}
        }
    dd:nth-of-type(1){
        &:after{background-color:$color1;}
        .m-track-cont{background:#fff;
            &:after{content:none;}
        }
        .m-track-edit,.m-track-confirm{position:absolute;top:15px;right:10px;font-size:20px;color:#999;}
        .m-track-confirm{font-size:26px;}
        input[type="text"]{width:92%;line-height:32px;border:none;border-bottom:1px solid #e5e5e5;}
    }
}

/*
 * 我的点数
*/
.my-point{
    &-user{@extend %colorbg;position:relative;padding:.8rem 15px;line-height:1.6rem;
        .face{@extend .fl;margin-right:10px;width:32px;height:32px;border:3px solid #e8e6e7;border-radius:5px;overflow:hidden;}
        .name{display:block;font-weight:400;}
        span{@extend %color9;display:block;-webkit-transform:scale(.9);-webkit-transform-origin:center left;}
        em{color:$color1;font-size:1.4rem;}
    }
    &-earn{position:absolute;top:50%;right:15px;margin-top:-0.8rem;padding:0 14px 0 8px;color:#fff;background-color:$color1;border-radius:.8rem;
        &:after{@extend %lastArrow;margin-top:-3px;width:6px;height:6px;border-color:#fff;}
    }
}
/*
 * 全部分类
*/
.g-nav ~ .m-menuall{top:$hdHeight + $navHeight;}
.m-menuall{@extend %tc;z-index:9;position:absolute;top:0;left:0;bottom:45px;width:100%;background-color:#fff;
    $lh:28px;
    .menu{@extend .fl;@extend %colorbg;width:85px;height:100%;border-right:1px solid #dcdcdc;
        li{width:100%;line-height:$lh+10;border-bottom:1px solid #dcdcdc;-webkit-transition:color .4s;}
        .crt{border-right:1px solid #fff;background-color:#fff;}
    }
    .cont{
        li{@extend .fl;margin:10px 0 0 8px;width:65px;line-height:$lh;border:1px solid #f8f8f8;background-color:#f8f8f8;}
        .crt{border-color:$color1;}
    }
    a{display:block;}
    .crt a{color:$color1;}
}

.win{z-index:1;position:absolute;top:0;bottom:45px;left:0;right:0;
    &:before{content:'';display:inline-block;width:0;height:100%;font-size:0;line-height:0;vertical-align:middle;overflow:hidden;}
    &-box{z-index:2;position:absolute;top:50%;width:100%;max-height: 100%;background-color:#fff;-webkit-animation:scale .4s forwards;}
        &-hd{height:40px;text-align:center;line-height:40px;font-size:14px;color:#fff;background-color:$color1;}
        &-bd{padding:20px 0;vertical-align:middle;}
        &-ft{line-height:26px;border-top:1px solid #ddd;overflow:hidden;}
    &-mask{z-index:1;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.3);}
}

@-webkit-keyframes scale{
    0%{
        -webkit-transform:scale(.1);
    }
    100%{
        -webkit-transform:scale(1);
    }
}

#win-code{@extend %tc;line-height:40px;}
#win-imgbig{@extend %tc;}
#win-imgbig > img{position:relative;z-index:3;max-width:100%;max-height:100%;}
#win-lock{
    .win-bd{@extend %tc;padding:40px 0;
        .sel-date-size{display:inline-block;position:relative;
            &:before,&:after{content:'';position:absolute;left:0;top:12px;height:2px;overflow:hidden;background-color:#e7e7e7;}
            &:before{width:100%;}
            &:after{background-color:$color1;-webkit-transition:.5s all;}
            
            &[data-size="2"]{&:after{width:25%;}}
            &[data-size="3"]{&:after{width:50%;}}
            &[data-size="4"]{&:after{width:75%;}}
            &[data-size="5"]{&:after{width:100%;}}
        }
        input{@extend %tc;display:inline-block;z-index:1;margin-right:15px;position:relative;width:28px;height:28px;line-height:28px;color:#fff;background-color:#e7e7e7;border:0;border-radius:50%;-webkit-appearance:none;-webkit-transition:.2s all;
            &:before{content:attr(value);}
            &:last-child{margin-right:0;}
            &.crt{background-color:$color1;}
        }
        
    }
    .win-ft{padding:15px 45px;
        em{color:$color1;}
        a{@extend .fr;padding:0 20px;color:#fff;background-color:$color1;border-radius:3px;}
    }
}


.wishing-gray{background:#f5f5f5 url(../images/wishing_gray.png) no-repeat 0 5px;background-size:85px auto;
    &:after{@extend %tc;content:'心愿书籍';position:absolute;left:0;width:100%;bottom:15px;color:#999;}
}



.m-login,.m-reg{
    &-hd{@extend %tc;padding:4.5rem 0 1.6rem;
        h2{font-size:1.6rem;;font-weight:400;}
    }
    &-bd{
        .reg-link{float:right;}
    }
        ul{margin-bottom:3rem;}
        li{position:relative;margin:0 10px 7px;
            &:after{position:absolute;top:6px;left:5px;color:#999;font-size:2rem;}
        }
    
        li:last-child{padding-top:10px;font-size:1.4rem;
            a:last-child{color:$color1;}
            em{padding:0 5px;text-decoration:underline;}
        }
        input[type="text"]{padding:3px 3px 3px 28px;width:100%;height:36px;font-size:1.4rem;border:1px solid #e6e6e6;background-color:#f7f7f7;box-sizing:border-box;}
}
.m-reg{
    li:first-child{input{width:65%;}}
    &-yzm{@extend %tc;float:right;width:calc(35% - 5px);line-height:36px;font-size:1.4rem;color:#fff;background-color:#333;}
}

.m-loading{padding:20px;text-align:center;}

.m-ftbar{position:absolute;left:50%;bottom:55px;margin-left:-60px;width:120px;text-indent:10px;font-size:1.4rem;line-height:36px;background-color:#3e3e3e;opacity:0;-webkit-transform: translate3d(0,-20px,0);-webkit-animation:ftbar .5s forwards;}
    .m-ftbar a{display:block;color:#fff;}
    .m-ftbar:after{@extend %fake;bottom:-8px;left:56px;border:4px solid;border-color:#3e3e3e transparent transparent;}

@-webkit-keyframes ftbar{
    100%{opacity:1;-webkit-transform: translate3d(0,0,0);}
}

.m-tips{padding:10px;
    a{display:block;color:$color1;}
}

.m-earn-points{@extend %tc;
    p{min-height:100px;}
    p:last-child{min-height:91px;}
    img{max-width:100%;}
}