@import '_style';


@font-face {font-family: "iconfont";
  src: url('../font/icon/iconfont.eot'); /* IE9*/
  src: url('../font/icon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/icon/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../font/icon/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../font/icon/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:24px;line-height:24px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon1:before { content: "\e601"; }
.icon-icon2:before { content: "\e60e"; }
.icon-icon3:before { content: "\e60f"; }
.icon-icon4:before { content: "\e610"; }
.icon-icon5:before { content: "\e611"; }
.icon-icon6:before { content: "\e612"; }
.icon-icon7:before { content: "\e606"; }
.icon-icon8:before { content: "\e614"; }
.icon-icon9:before { content: "\e608"; }
.icon-icon10:before { content: "\e609"; }
.icon-icon11:before { content: "\e616"; }
.icon-icon12:before { content: "\e617"; }
.icon-icon13:before { content: "\e618"; }
.icon-icon14:before { content: "\e61c"; }
.icon-icon15:before { content: "\e619"; }
.icon-icon16:before { content: "\e61d"; }
.icon-icon17:before { content: "\e61a"; }
.icon-icon18:before { content: "\e61b"; }



/*=S 框架 */
.g-hd,.g-ft{z-index:1;position:absolute;left:0;width:100%;}

.g-hd{@extend %tc;position:relative;border-bottom:1px solid #c7c7c7;background-color:#f8f8f8;overflow:hidden;box-shadow:0 0 2px #aaa;
    h1{@extend %fl;width:100%;font-size:2rem;color:#fff;}
}
.g-nav{z-index:1;position:relative;padding-right:30px;border-top:1px solid #f0f0f0;background-color:#f8f8f8;
    &:after{content:'';position:absolute;top:8px;right:10px;width:8px;height:8px;border:solid #cbcbcb;border-width:2px 2px 0 0;-webkit-transform:rotate(135deg);}
}
.g-bd{position:absolute;top:0;right:0;bottom:45px;left:0;width:100%;overflow:auto;}
.g-ft{@extend %tc;bottom:0;padding:5px 15px;height:45px;background-color:#000;box-sizing:border-box;
    a{vertical-align:top;line-height:35px;font-size:30px;color:#fff;
        &:first-child{@extend .fl;}
        &:last-child{@extend .fr;}
    }
}

.g-hd + .g-bd{top:44px;}
.g-hd + .g-nav{margin-top:-1px;border-bottom:1px solid #c7c7c7;box-shadow:0 1px 1px #ccc;}
.g-nav + .g-bd{top:76px;}

/*=E 框架 */
.m-search{$height:44px;display:-webkit-flex;height:$height;line-height:$height;
    &-type{height:$height;overflow:hidden;}
    &-txt{margin:auto;padding:5px;width:210px;height:28px;border:0;background-color:#ddd;box-sizing:border-box;border-radius:5px;}
    &-btn{i{line-height:24px;vertical-align:top;}}
}
.m-navlist{overflow:hidden;
    li{@extend %fl;margin:0 10px;padding:0 2px;height:30px;line-height:30px;box-sizing:border-box;a{display:block;color:#b5b5b5;}}
    .crt{border-bottom:2px solid #414141;a{color:#3d3d3d;}}
}

.m-booklist{margin:0 13px;
    &-hd{position:relative;font:400 1.2rem/2.5rem 'arial';
        a{display:block;color:#3f3f3f;}
        &:after{content:'';position:absolute;top:10px;right:5px;width:8px;height:8px;border:solid #4f4f4f;border-width:1px 1px 0 0;-webkit-transform:rotate(45deg);}
    }
    &-bd{overflow:hidden;
        li{@extend %fl;$mr:8.5%/2;position:relative;margin:0 $mr 15px 0;width:30.5%;background-color:red;
            &:nth-child(3n+3){margin-right:0;}
        }
        img{width:100%;}
        em{@extend %tc;position:absolute;left:0;bottom:0;width:100%;height:2rem;line-height:2rem;overflow:hidden;}
    }
}

.m-slide{background-color:red;}

.m-pickup{height:100%;background-color:#f0f0f0;
    &-point{padding:30px 0 20px;text-indent:18px;color:#050505;}
    &-postage{@extend %tc;padding:16px 0;line-height:22px;label{cursor:pointer;margin:0 10px;}}
}
    
.u-txt{padding:4px;height:28px;border:0;background-color:#fff;box-sizing:border-box;border-radius:5px;}
.u-btn{@extend %tc;display:block;margin:0 8px 5px;font-size:1.4rem;line-height:44px;color:#fff;background-color:#ff8201;border-radius:5px;}
.m-form{padding:16px 0;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;
    li{padding:4px 10px;overflow:hidden;}
        .m-form-sel{position:relative;
            &:nth-child(1) select{border-top-left-radius:5px;border-bottom-left-radius:5px;}
            &:nth-child(2) select{border-left:1px solid #dcdcdc;border-right:1px solid #dcdcdc;}
            &:nth-child(3) select{border-top-right-radius:5px;border-bottom-right-radius:5px;}

            &:after{content:'';position:absolute;top:8px;right:5px;width:6px;height:6px;border:solid #cbcbcb;border-width:2px 2px 0 0;-webkit-transform:rotate(135deg);}
        }
        select{@extend .fl;width:33.3%;box-sizing:border-box;border-radius:0;-webkit-appearance:button;}
        input[type=text]{width:100%;}
    &-gps{margin-bottom:10px;text-indent:8px;line-height:36px;background-color:#fff;}
}
.m-addbook{
    &-form{position:relative;padding:15px 12px;
        input[type=text]{margin-top:8px;width:100%;height:26px;border:none;border-bottom:1px solid #e5e5e5;}
    }
        li{margin-left:100px;
            &:nth-child(2){margin-top:20px;}
            &:first-child,&:last-child{margin-left:0;}
        }
        &-img{position:absolute;left:12px;top:15px;width:85px;height:125px;background-color:#eee;
            input,img{position:absolute;width:100%;height:100%;}
            input{opacity:0;}
        }
}

//提示信息
.m-showtip{z-index:1;opacity:1;position:absolute;top:50%;left:50%;margin:-30px 0 0 -100px;width:200px;height:60px;text-align:center;line-height:60px;color:#fff;background-color:rgba(0,0,0,.6);border-radius:5px;-webkit-transition:all 1s;}
.m-showtip-show{opacity:1;}