@import '_reset';//基础样式
@import '_icon';//图标样式

/*
 * module : 框架、头部搜索框、导航、图书列表、表单、提示信息
*/

/*=S 框架 */
.g-hd,.g-ft{z-index:1;position:absolute;left:0;width:100%;}
.g-hd{@extend %tc;position:relative;height:44px;border-bottom:1px solid #c7c7c7;background-color:#f8f8f8;box-shadow:0 0 2px #aaa;
    h1{@extend .fl;width:100%;font-size:2rem;color:#fff;}
}
.g-nav{z-index:1;position:relative;padding-right:30px;border-top:1px solid #f0f0f0;background-color:#f8f8f8;
    &:after{content:'';position:absolute;top:8px;right:10px;width:8px;height:8px;border:solid #cbcbcb;border-width:2px 2px 0 0;-webkit-transform:rotate(135deg);}
}
.g-bd{position:absolute;top:0;right:0;bottom:45px;left:0;width:100%;overflow-x:hidden;overflow-y:auto;}
.g-ft{@extend %tc;bottom:0;padding:5px 15px;height:45px;background-color:#000;box-sizing:border-box;
    a{vertical-align:top;line-height:35px;font-size:3rem;color:#fff;
        &:first-child{@extend .fl;}
        &:last-child{@extend .fr;}
        &:nth-child(3){margin:0 18%;}
    }
}
.g-hd + .g-bd{top:44px;}
.g-hd + .g-nav{margin-top:-1px;border-bottom:1px solid #c7c7c7;box-shadow:0 1px 1px #ccc;}
.g-nav + .g-bd{top:76px;}
/*=E 框架 */

/*
 * 头部搜索框
*/
.m-search{$height:44px;z-index:1;position:relative;padding:0 46px 0 65px;height:$height;line-height:$height;
    &-type{position:absolute;top:0;left:0;padding:0 5px 0 10px;height:$height;
        i{display:inline-block;font-size:1.4rem;-webkit-transform:rotate(90deg);}
        dd{@extend %tc;display:none;position:absolute;top:$height;left:-8px;padding-bottom:1px;width:65px;font-size:1.2rem;line-height:28px;background-color:#3e3e3e;
            a{display:block;color:#fff;}
            .crt{color:#ff8000;background-color:#696969;}
            &:before{content:'';position:absolute;top:-8px;left:28px;border:4px solid;border-color:transparent transparent #3e3e3e transparent;}
        }
    }
    &-txt{margin:auto 0;padding:5px;width:100%;height:28px;border:0;background-color:#ddd;box-sizing:border-box;border-radius:5px;}
    &-btn{position:absolute;top:0;right:0;padding:0 8px;i{vertical-align:top;font-size:3rem;line-height:40px;color:$color1;}}
}

/*
 * 导航
*/
.m-navlist{overflow:hidden;
    li{@extend .fl;margin:0 10px;padding:0 2px;height:30px;line-height:30px;box-sizing:border-box;a{display:block;color:#b5b5b5;}}
    .crt{border-bottom:2px solid #414141;a{color:#3d3d3d;}}
}

/*
 * 图书列表
*/
%lastArrow{content:'';position:absolute;top:50%;right:5px;margin-top:-6px;width:8px;height:8px;border:solid #4f4f4f;border-width:1px 1px 0 0;-webkit-transform:rotate(45deg);}
.m-booklist{margin:0 13px;
    &-hd{position:relative;font:400 1.2rem/2.5rem 'arial';
        a{display:block;color:#3f3f3f;}
        &:after{@extend %lastArrow;}
    }
    &-bd{overflow:hidden;
        li{@extend .fl;$mr:8.5%/2;position:relative;margin:0 $mr 15px 0;width:30.5%;background-color:red;
            &:nth-child(3n+3){margin-right:0;}
        }
        img{width:100%;}
        em{@extend %tc;position:absolute;left:0;bottom:0;width:100%;height:2rem;line-height:2rem;color:#fff;background:rgba(0,0,0,.5);overflow:hidden;}
    }
}
.m-booknull{border-bottom:1px solid #e5e5e5;background-color:#f8f8f8;}

/*
 * 轮播
*/
.m-slide{background-color:red;}

.m-pickup{height:100%;background-color:#f0f0f0;
    &-point{padding:30px 0 20px;text-indent:18px;color:#050505;}
    &-postage{@extend %tc;padding:16px 0;line-height:22px;
        label{cursor:pointer;margin:0 10px;}
        input{-webkit-appearance:none;}
    }
}
    
.u-txt{padding:4px;height:28px;border:0;background-color:#fff;box-sizing:border-box;border-radius:5px;}
.u-btn{@extend %tc;display:block;margin:0 8px 5px;font-size:1.4rem;line-height:44px;color:#fff;background-color:#ff8201;border-radius:5px;}

/*
 * 表单
*/
.m-form{padding:16px 0;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;
    li{padding:4px 10px;overflow:hidden;}
        .m-form-sel{position:relative;
            &:nth-child(1) select{border-top-left-radius:5px;border-bottom-left-radius:5px;}
            &:nth-child(2) select{border-left:1px solid #dcdcdc;border-right:1px solid #dcdcdc;}
            &:nth-child(3) select{border-top-right-radius:5px;border-bottom-right-radius:5px;}
            &:after{content:'';position:absolute;top:8px;right:5px;width:6px;height:6px;border:solid #cbcbcb;border-width:2px 2px 0 0;-webkit-transform:rotate(135deg);}
        }
        select{@extend .fl;width:33.3%;box-sizing:border-box;border-radius:0;-webkit-appearance:button;}
        input[type=text]{width:100%;}
    &-gps{margin-bottom:10px;text-indent:8px;line-height:36px;background-color:#fff;}
}

/*
 * 添加图书
*/
.m-addbook{
    &-form{position:relative;padding:15px 12px;
        input[type=text]{margin-top:8px;width:100%;height:26px;border:none;border-bottom:1px solid #e5e5e5;}
    }
        textarea{display:block;padding:0;width:100%;box-sizing:border-box;resize:none;}
        li{margin-left:100px;
            &:nth-child(2){margin-top:20px;}
            &:first-child,&:last-child{margin-left:0;}
        }
        &-img{position:absolute;left:12px;top:15px;width:85px;height:125px;background-color:#eee;
            input,img{position:absolute;width:100%;height:100%;}
            input{opacity:0;}
        }
        &-txtcount{display:block;padding-top:30px;text-align:right;color:#acacac;em{color:#666;}}
}

/*
 * 提示信息
*/
.m-showtip{@extend %tc;z-index:1;opacity:1;position:absolute;top:50%;left:50%;margin:-30px 0 0 -100px;width:200px;height:60px;line-height:60px;color:#fff;background-color:rgba(0,0,0,.6);border-radius:5px;-webkit-transition:all 1s;
    &-show{opacity:1;}
}

/*
 * 个人主页
*/
.m-user{position:relative;padding:15px 35px;background-color:#f5f5f5;overflow:hidden;
    &-base{@extend .fl;@extend %tc;width:74px;}
        &-face{position:relative;display:block;width:70px;height:70px;border:2px solid #fff;overflow:hidden;border-radius:50%;
            input[type="file"]{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;}
        }
        &-name{display:block;padding:16px 0;font-weight:400;font-size:1.4rem;}
        &-friend{display:block;height:22px;line-height:20px;background-color:#fff;border-radius:5px;box-shadow:0 0 3px #ddd;}
        &-girl{display:inline-block;background-color:#ffc9e0;}
        &-age{margin:8px 5px;padding:0 8px;border-radius:3px;color:#fff;}
    &-attr{margin-left:100px;
        i{color:#ddd;font-size:2rem;line-height:22px;}
        em{display:inline-block;-webkit-transform:scale(.85);-webkit-transform-origin:left top;}
    }
    &-edit{position:absolute;top:0;right:0;width:40px;height:40px;text-align:right;
        &:after{content:'';position:absolute;top:-29px;right:-30px;width:60px;height:60px;background-color:#ddd;-webkit-transform:rotate(45deg);}
        i{z-index:1;position:relative;}
    }
    &-age i{color:#fff;}
}
/*
 * 切换
*/
.m-tab{
    &-hd{padding:0 15px 10px;background-color:#f5f5f5;
        ul{@extend %tc;border:1px solid #ddd;overflow:hidden;border-radius:5px;}
        li{@extend .fl;width:50%;line-height:28px;}
            a{display:block;color:#999;}
        .crt{background-color:#ddd;
            a{color:#000;}
        }
    }
    &-bd{border-top:1px solid #e5e5e5;}
}

/*
 * 地址
*/
.m-site{position:relative;line-height:20px;overflow:hidden;
    &-default{margin-bottom:10px;padding:20px 0;background-color:#fff;$bd:1px solid #ddd;border-top:$bd;border-bottom:$bd;
        i{@extend .fl;line-height:40px;font-size:40px;color:$color1;}
        p:nth-child(2){font-size:1.4rem;}
        &:after{@extend %lastArrow;}
    }
    &-btn{@extend .fr;margin-right:8px;padding:0 16px;line-height:28px;border:1px solid #ddd;background-color:#f3f3f3;}
}
/*
 * 我的消息
*/
.my-news{
    li{position:relative;padding:7px 0 7px 62px;min-height:36px;border-bottom:1px solid #e5e5e5;}
        &-face{position:absolute;left:16px;width:32px;height:32px;border:2px solid #e8e8e8;overflow:hidden;border-radius:5px;}
        &-info,&-time{display:block;color:#7f7f7f;-webkit-transform:scale(.8);-webkit-transform-origin:left center;}
        strong{display:block;font-weight:400;}
        em{color:#000;}
        
        &-btn{@extend %tc;position:absolute;top:50%;right:10px;margin-top:-14px;height:28px;line-height:28px;overflow:hidden;border-radius:5px;
            a{display:inline-block;width:50px;color:#fff;}
            a:first-child{background-color:$color1;}
            a:last-child{background-color:#c8c8c8;}
        }
}

/*
 * 编辑用户信息
*/
.m-edit-user{
    ul{padding:0 6px;background-color:#f5f5f5;}
        li{padding-top:5px;line-height:30px;border-bottom:1px solid #ddd;overflow:hidden;}
            span{}
            input[type="text"]{@extend .fr;border:0;height:30px;text-align:right;color:#666;background-color:transparent;}
    ul:first-child{li:first-child{padding:10px 0;line-height:74px;img{vertical-align:top;}}}
    ul:last-child{margin-top:20px;li:first-child{border-top:1px solid #ddd;}}
}