@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-2438:before {
	content: "\e000";
}
.flaticon-affirmative1:before {
	content: "\e001";
}
.flaticon-arrow457:before {
	content: "\e002";
}
.flaticon-book122:before {
	content: "\e003";
}
.flaticon-client:before {
	content: "\e004";
}
.flaticon-eye36:before {
	content: "\e005";
}
.flaticon-four3:before {
	content: "\e006";
}
.flaticon-google22:before {
	content: "\e007";
}
.flaticon-home78:before {
	content: "\e008";
}
.flaticon-microphone24:before {
	content: "\e009";
}
.flaticon-movie13:before {
	content: "\e00a";
}
.flaticon-needle1:before {
	content: "\e00b";
}
.flaticon-phone322:before {
	content: "\e00c";
}
.flaticon-phone66:before {
	content: "\e00d";
}
.flaticon-photography3:before {
	content: "\e00e";
}
.flaticon-screwdriver3:before {
	content: "\e00f";
}
.flaticon-software1:before {
	content: "\e010";
}
.flaticon-telephone67:before {
	content: "\e011";
}
.flaticon-telephone74:before {
	content: "\e012";
}
.flaticon-three1:before {
	content: "\e013";
}
.flaticon-usher4:before {
	content: "\e014";
}
.flaticon-zoom45:before {
	content: "\e015";
}
