@charset "UTF-8";
body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th, img, div, input {
  margin: 0;
  padding: 0; }

html {
  overflow: auto; }

body {
  font: 12px 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
  color: #333;
  background: #f3f3f3; }

ul, ol, li {
  list-style-type: none; }

img {
  vertical-align: middle;
  border: 0; }

em, i {
  font-style: normal; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #333; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

.icon-word, .u-guide-btn, .m-nav, .m-search-txt, .m-search-btn, .m-pages a, .m-massage-list li em {
  display: inline-block;
  *dispaly: inline;
  *zoom: 1; }

.clearfix, .g-main, .m-imglist, .m-mall-3, .m-mall-2, .m-mall-4, .m-tab-hd, .m-tab-panel, .m-login-main {
  *zoom: 1; }
  .clearfix:after, .g-main:after, .m-imglist:after, .m-mall-3:after, .m-mall-2:after, .m-mall-4:after, .m-tab-hd:after, .m-tab-panel:after, .m-login-main:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden; }

.layout, .g-index, .g-footer, .m-box {
  margin-left: auto;
  margin-right: auto;
  width: 1000px; }

.show {
  display: block; }

.hide {
  display: none; }

.fl, .g-guide, .g-menu, .m-nav li, .m-imglist li, .m-mall-3 li, .m-mall-2 li, .m-mall-2 li:first-child, .m-mall-4 li, .m-tab-hd li, .m-project-desc, .m-project-desc li strong, .m-massage-list li a, .m-login-box label input, .m-login-btn {
  float: left; }

.fr, .m-massage, .m-massage-btn, .m-massage-list li.me a, .m-login-box {
  float: right; }

.mt10 {
  margin-top: 10px; }

.mb10 {
  margin-bottom: 10px; }

.tc, .g-footer, .g-menu h2, .m-nav, .m-search, .m-imglist li, .m-mall-3 li, .m-mall-2 li, .m-mall-2 li:first-child, .m-mall-4 li {
  text-align: center; }

.u-pipe {
  padding: 0 10px;
  font-family: sans-serif;
  color: #999; }

.color1 {
  color: #f60; }

.color9 {
  color: #999; }

.pipe {
  padding: 0 10px;
  font-family: simsun; }

.m-guide-text, .m-guide-logo, .m-index-text, .m-index-text-small {
  text-indent: -9999px; }

/*
 * 背景图片
*/
.icon-word, .m-menu li a, .m-massage-list li i {
  vertical-align: middle;
  background-image: url(../images/icon.png);
  background-repeat: no-repeat; }

.icon-word {
  margin: -3px 5px 0 0;
  width: 17px;
  height: 17px;
  background-position: 0 -74px; }

.g-guide {
  margin: 0;
  width: 100%;
  min-width: 1000px;
  height: 765px; }

.g-index {
  height: 765px; }

.g-footer {
  line-height: 65px;
  border-top: 1px solid #e0e0e0; }

.g-main {
  padding: 40px 0; }

.g-menu {
  width: 200px;
  margin-right: 48px; }
  .g-menu h2 {
    height: 96px;
    line-height: 96px;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    background: #34a150; }

.g-content {
  overflow: hidden;
  line-height: 30px; }
  .g-content dt {
    font-size: 14px; }

.g-mall {
  margin-top: 40px; }

.m-guide-text {
  margin: 110px auto 57px;
  width: 898px;
  height: 141px;
  background: url(../images/guide-text.png) no-repeat; }

.m-guide-logo {
  display: block;
  margin: 0 auto 53px;
  width: 458px;
  height: 226px;
  background: url(../images/guide-logo.png) no-repeat; }

.u-guide-btn {
  margin: 0 5px;
  width: 307px;
  height: 79px;
  font: 24px/75px 'microsoft yahei';
  color: #fff;
  background: url(../images/guide-btn.png) no-repeat; }

.m-index-text {
  margin: 170px auto 50px;
  width: 353px;
  height: 58px;
  background: url(../images/index-text.png) no-repeat; }

.m-index-text-small {
  margin: 60px auto 0;
  width: 745px;
  height: 56px;
  background: url(../images/index-text-small.png) no-repeat; }

.m-nav {
  margin-top: 40px;
  padding: 0 28px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000) \9;
  background: rgba(0, 0, 0, 0.3); }
  .m-nav li {
    width: 118px; }
  .m-nav a {
    display: block;
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px 1px #999; }
    .m-nav a:hover {
      background: #000; }
  .m-nav .crt a {
    background: #000; }

.m-index-nav {
  margin: 40px 28px 0;
  padding: 0; }

.m-box {
  clear: both;
  margin-bottom: 58px; }
  .m-box-hd {
    padding-top: 15px;
    font-size: 20px;
    line-height: 60px;
    color: #083105;
    letter-spacing: 3px; }

.m-search-txt {
  margin-right: 10px;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #c1e9cb;
  background: rgba(255, 255, 255, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ddffffff,endColorstr=#ddffffff) \9;
  box-shadow: 0 0 5px #fff; }
  .m-search-txt input {
    width: 640px;
    height: 30px;
    font: 16px/30px 'microsoft yahei';
    border: 0;
    background: transparent;
    outline: none; }
.m-search-btn {
  width: 105px;
  height: 43px;
  line-height: 42px;
  font-size: 16px;
  color: #fff;
  background: url(../images/index-loop-btn.png) no-repeat;
  *margin-top: -51px; }

.m-imglist span, .m-mall-3 span, .m-mall-2 span, .m-mall-4 span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 24px;
  line-height: 24px;
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#aa000000,endColorstr=#aa000000) \9;
  background: rgba(0, 0, 0, 0.6); }

.m-menu {
  padding: 20px 20px 40px;
  line-height: 40px;
  border: 1px solid #eaeaea;
  background: #fff; }
  .m-menu li {
    font-size: 14px;
    border-bottom: 1px solid #eaeaea;
    border-top: 0; }
    .m-menu li a {
      display: block;
      padding-left: 25px;
      color: #666;
      background-position: 0 -20px; }
    .m-menu li.crt a {
      background-position: 0 12px; }

.m-imglist li {
  position: relative;
  margin-left: 20px; }
  .m-imglist li:first-child {
    margin-left: 0; }
  .m-imglist li img {
    border: 1px solid #fff;
    box-shadow: 0 0 2px #aaa; }
  .m-imglist li img {
    display: block;
    width: 229px;
    height: 169px; }
.m-imglist img {
  padding: 2px;
  width: 225px;
  height: 165px;
  background: #fff; }
.m-imglist span {
  left: 3px;
  right: 3px;
  bottom: 3px; }

.m-mall-3 li {
  position: relative;
  margin-left: 32px; }
  .m-mall-3 li:first-child {
    margin-left: 0; }
  .m-mall-3 li img {
    border: 1px solid #fff;
    box-shadow: 0 0 2px #aaa; }
  .m-mall-3 li img {
    display: block;
    width: 310px;
    height: 230px; }
.m-mall-3 span {
  left: 1px;
  right: 1px;
  bottom: 1px; }

.m-mall-2 {
  margin-bottom: 20px;
  font-size: 18px; }
  .m-mall-2 li {
    position: relative;
    margin-left: 16px; }
    .m-mall-2 li:first-child {
      margin-left: 0; }
    .m-mall-2 li img {
      border: 1px solid #fff;
      box-shadow: 0 0 2px #aaa; }
    .m-mall-2 li img {
      display: block;
      width: 610px;
      height: 278px; }
  .m-mall-2 li:first-child {
    position: relative; }
    .m-mall-2 li:first-child:first-child {
      margin-left: 0; }
    .m-mall-2 li:first-child img {
      border: 1px solid #fff;
      box-shadow: 0 0 2px #aaa; }
    .m-mall-2 li:first-child img {
      display: block;
      width: 370px;
      height: 278px; }
  .m-mall-2 em {
    position: absolute;
    bottom: 55px;
    left: 10px;
    color: #fff; }
  .m-mall-2 strong {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 126px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border-radius: 3px;
    background: #278f41; }

.m-mall-4 li {
  position: relative;
  margin-left: 30px; }
  .m-mall-4 li:first-child {
    margin-left: 0; }
  .m-mall-4 li img {
    border: 1px solid #fff;
    box-shadow: 0 0 2px #aaa; }
  .m-mall-4 li img {
    display: block;
    width: 225px;
    height: 165px; }
.m-mall-4 em {
  position: absolute;
  bottom: 55px;
  left: 10px;
  color: #fff; }
.m-mall-4 strong {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 126px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  border-radius: 3px;
  background: #278f41; }
.m-mall-4 em {
  font-size: 14px; }

.m-case {
  margin-left: -30px; }
  .m-case li:nth-child(1) {
    margin-left: 30px; }
  .m-case li {
    margin-bottom: 15px; }

.m-crumbs {
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-size: 14px;
  border-bottom: 1px solid #c8bebe;
  box-shadow: 0 1px 0 #fff; }

.m-detail {
  font-size: 14px;
  line-height: 24px; }

.m-project-list {
  margin: 40px 0 100px; }
  .m-project-list h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400; }
    .m-project-list h2 em, .m-project-list h2 i {
      font-size: 16px; }
  .m-project-list table {
    width: 100%;
    margin-bottom: 30px; }
  .m-project-list th, .m-project-list td {
    line-height: 24px; }
  .m-project-list th {
    padding: 5px 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    background: #34a150; }
  .m-project-list td {
    padding: 12px 20px;
    border-bottom: 1px solid #ddd;
    text-align: center; }
  .m-project-list tr th:first-child, .m-project-list tr td:first-child {
    text-align: left; }
  .m-project-list tr:hover td {
    background: #fff; }

.m-pages {
  text-align: right;
  line-height: 18px; }
  .m-pages a {
    padding: 5px 10px;
    color: #666;
    border: 1px solid #ddd; }
    .m-pages a:hover {
      color: #333;
      border-color: #999; }
    .m-pages a.crt {
      color: #fff;
      background: #333; }

.m-tab-hd li {
  cursor: pointer;
  margin-right: 5px;
  padding: 0 20px;
  line-height: 32px;
  font-size: 14px;
  color: #314c61;
  border: 1px solid #dfdfdf;
  border-bottom-color: #ccc;
  background: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
.m-tab-hd .crt {
  position: relative;
  border-color: #ccc;
  border-bottom-color: #fff; }
.m-tab-bd {
  padding: 20px;
  margin-top: -1px;
  border: 1px solid #ccc;
  background: #fff; }
.m-tab tr th:nth-child(2), .m-tab tr td:nth-child(2) {
  text-align: left; }
.m-tab tfoot td {
  border-bottom: 0; }
.m-tab label {
  cursor: pointer;
  font-weight: 700; }
  .m-tab label input {
    float: left;
    margin: 5px 5px 0 0; }

.m-massage {
  width: 460px; }
  .m-massage-hd {
    padding-left: 10px;
    color: #fff;
    line-height: 35px;
    background-color: #34a150; }
  .m-massage-bd {
    padding: 20px;
    border: 1px solid #d2d2d2; }
    .m-massage-bd textarea {
      margin-left: -5px;
      padding: 4px;
      width: 100%;
      line-height: 24px;
      border: 1px solid #cdcdcd; }
  .m-massage-btn {
    padding: 0 15px;
    line-height: 20px;
    color: #fff;
    border: 1px solid #919191;
    background: #9f9f9f;
    border-radius: 3px; }
    .m-massage-btn:hover {
      border-color: #ffaf88;
      background: #ff5400; }
  .m-massage-write {
    padding-bottom: 10px;
    border-bottom: 1px dotted #ddd; }

.m-project-desc {
  padding: 20px;
  width: 420px;
  min-height: 440px;
  border: 1px solid #f9e1b7;
  background-color: #ffffe0; }
  .m-project-desc li {
    padding: 5px;
    line-height: 30px; }
    .m-project-desc li strong {
      margin-right: 15px; }
    .m-project-desc li span {
      display: block;
      overflow: hidden; }

.m-massage-list {
  margin-bottom: 20px; }
  .m-massage-list li {
    margin-top: 10px;
    line-height: 22px; }
    .m-massage-list li a {
      padding: 22px 10px 0 0;
      color: #3185c7; }
    .m-massage-list li span {
      display: block; }
    .m-massage-list li em {
      position: relative;
      padding: 4px 15px;
      max-width: 75%;
      color: #666;
      border-radius: 5px;
      border: 1px solid #d0d6dc;
      background-color: #e2e6ed;
      box-shadow: 0 1px 0 #e2e6ed; }
    .m-massage-list li i {
      position: absolute;
      left: -6px;
      top: 0;
      width: 6px;
      height: 10px;
      background-position: 0 -62px; }
  .m-massage-list li.me {
    text-align: right; }
    .m-massage-list li.me a {
      padding: 20px 0 0 10px; }
    .m-massage-list li.me em {
      text-align: left;
      color: #333;
      border-color: #c2d6e7;
      background-color: #cfeaf6;
      box-shadow: 0 1px 0 #cfeaf6; }
    .m-massage-list li.me i {
      left: auto;
      right: -6px;
      background-position: -7px -62px; }

.g-login {
  margin: 0 auto;
  width: 930px; }

.m-login-logo {
  margin: 22px 0; }

.m-login-box {
  margin-right: 30px;
  width: 300px;
  height: 268px;
  padding: 30px;
  border: 1px solid #ddd;
  background-color: #fff; }
  .m-login-box h2 {
    margin-bottom: 15px;
    font-weight: 400; }
  .m-login-box li {
    padding: 12px 0; }
  .m-login-box .m-login-txt {
    padding: 4px;
    width: 290px;
    line-height: 26px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px #ddd;
    border-radius: 5px;
    outline: #fff; }
  .m-login-box label {
    cursor: pointer; }
    .m-login-box label input {
      margin: 3px 5px 0 0; }

.m-login-oper {
  line-height: 36px; }

.m-login-btn {
  margin-right: 10px;
  width: 145px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  background: #34a150;
  border-radius: 5px; }

.g-login .g-footer {
  margin-top: 50px;
  width: 100%; }
