<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>读书计划详情</title>
    <link rel="stylesheet" href="../assets/scss/main.css">
</head>
<body>
<div class="g-page">
    <section class="m-blan-detail">
        <!--基本信息-->
        <div class="m-blan-base">
            <h1 class="m-blan-name">读书计划名称读书计划名称读书计划名称读书计划名称</h1>
            <p>
                <a href="#">
                    <span class="m-blan-uface u-face"><img src="http://xiaojjblog.qiniudn.com/face.jpg" alt="" width="20" height="20"></span>
                    <strong>小黑黑</strong><span class="gray-color">杭州</span>
                </a>
            </p>
        </div>

        <p class="m-blan-count">共 22 本</p>

        <!--最新-->
        <article class="m-look-item m-look-item-other">
            <header class="m-look-hd"><time>刚刚</time> 列入 <em>每月读书</em></header>
            <p>最喜欢的最喜欢的最喜欢的书否读书馆</p>
            <blockquote class="m-look-quote m-book-item">
                <a href="#"><img class="m-book-img" src="../assets/image/placeholder.gif" alt=""></a>
                <h2 class="m-book-title">岛屿来信</h2>
                <p>陶立夏</p>
                <p>中信出版社</p>
            </blockquote>
        </article>
        <article class="m-look-item m-look-item-other">
            <header class="m-look-hd"><time>刚刚</time> 列入 <em>每月读书</em></header>
            <p>最喜欢的最喜欢的最喜欢的书否读书馆</p>
            <blockquote class="m-look-quote m-book-item">
                <a href="#"><img class="m-book-img" src="../assets/image/placeholder.gif" alt=""></a>
                <h2 class="m-book-title">岛屿来信</h2>
                <p>陶立夏</p>
                <p>中信出版社</p>
            </blockquote>
        </article>

    </section>
</div>
</body>
</html>
