<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>图书详情</title>
    <link rel="stylesheet" href="../assets/scss/main.css">
</head>
<body>
<div class="g-page">
    <section class="m-book-detail">
        <figure class="m-book-base">
            <a href="weixin://viewimage/http://www.zhuantech.net/book/images/book/20150">
                <img class="m-book-img" src="http://www.zhuantech.net/book/images/book/20150421/20150421100139_776.jpg" alt="">
            </a>
            <figcaption class="m-book-txt">
                <h2 class="m-book-title">岛屿来信</h2>
                <p>陶立夏</p>
                <p>中信出版社</p>
            </figcaption>
        </figure>
        <div class="m-book-action">
            <p>
                <span>借阅了24次 &nbsp; 12人加入读书计划</span>
                <span>需<em class="m-book-point">60</em>点数</span>
            </p>
            <p>
                <span>
                    <a class="m-book-icon i-" href="javascript:;" title="举报"></a>
                    <a class="m-book-icon i-share" href="javascript:;" title="分享"></a>
                    <a class="m-book-icon i-" href="javascript:;" title="收藏"></a>
                </span>
                <a href="javascript:;" class="u-borrow-btn">借 阅</a>
            </p>
        </div>
        <div class="m-book-cont">
            <div class="m-book-intro">
                <h3>内容简介</h3>
                <p class="m-book-desc">最喜欢的最喜欢的最喜欢的书否读书馆，最喜欢的最喜欢的最喜欢的书否读书馆，最喜欢的最喜欢的最喜欢的书否读书馆，最喜欢的最喜欢的最喜欢的书否读书馆喜欢的书否读书馆</p>
            </div>
            <div class="m-book-tag">
                <h3>书籍标签</h3>
                <ul class="m-tag-list">
                    <li><a href="#">标签A</a></li>
                    <li><a href="#">标签B</a></li>
                    <li><a href="#">标签标签C</a></li>
                    <li><a href="#">标签标签标签D</a></li>
                    <li><a href="#">XIAOJJ</a></li>
                </ul>
            </div>
            <div class="m-book-user">
                <a class="m-book-user-face" href="#"><img src="http://xiaojjblog.qiniudn.com/face.jpg" width="50" height="50" alt=""></a>
                <a class="m-book-user-name" href="#"><strong>小黑黑</strong></a>
                <p>最喜欢的最喜欢的最喜欢的书否读书馆，最喜欢的最喜欢的最喜欢的书否读书馆，最喜欢的最喜欢的最喜欢的书否读书馆,最喜欢的最喜欢的最喜欢的书否读<time>2015-04-27</time></p>
            </div>
        </div>
    </section>
    <aside>
        <!--推荐-->
        <section class="m-index-book">
            <h2>推荐</h2>
            <ul class="m-booklist">
                <li class="z-shufou"><a href="#"><img src="../assets/image/placeholder.gif" alt="岛屿来信"><span>岛屿来信</span></a></li>
                <li class="z-shufou"><a href="#"><img src="../assets/image/placeholder.gif" alt="岛屿来信"><span>岛屿来信</span></a></li>
                <li class="z-shufou"><a href="#"><img src="../assets/image/placeholder.gif" alt="岛屿来信"><span>岛屿来信</span></a></li>
            </ul>
        </section>
    </aside>
</div>

<script src="../assets/js/libs/sea.js"></script>
<script src="../assets/js/libs/sea-config.js"></script>
<script>
    seajs.use('../assets/js/pages/bookDetails.js');
</script>
</body>
</html>
