<!DOCTYPE html>
<html lang="zh" style="background-color: #fff;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>用户信息</title>
    <link rel="stylesheet" href="../assets/scss/main.css">
</head>
<body>
<div class="g-page">
    <section class="m-other">

        <!--基本信息-->
        <div class="m-other-base">
            <div class="m-other-info">
                <a class="m-other-face" href="weixin://viewimage/http://xiaojjblog.qiniudn.com/face.jpg"><img src="http://xiaojjblog.qiniudn.com/face.jpg" alt=""></a>
                <strong class="m-other-name">小黑黑</strong>
                <address class="m-other-city">杭州 西湖区</address>
            </div>
            <div class="m-other-action">
                <a class="btn-default" href="#">留言</a>
                <a class="btn-default btn-default-crt" href="#">关注此人</a>
            </div>
        </div>

        <div class="m-other-cont">
            <nav class="m-other-hd"><a href="javascript:;">读书计划</a><a href="javascript:;">书架</a></nav>
            <div class="m-other-blan">1111
                <div class="m-blan"></div>
            </div>
            <div class="m-other-book">222</div>
        </div>
    </section>
</div>



<script src="../assets/js/libs/sea.js"></script>
<script src="../assets/js/libs/sea-config.js"></script>
<script>
    seajs.use('../assets/js/pages/index.js');
</script>
</body>
</html>
