<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>用户信息</title>
    <link rel="stylesheet" href="../assets/scss/main.css">
</head>
<body>
<div class="g-page">
    <section class="m-user-other">

        <!--基本信息-->
        <div class="m-user-base">
            <div class="m-user-info">
                <a class="m-user-face u-face" href="weixin://viewimage/http://xiaojjblog.qiniudn.com/face.jpg"><img src="http://xiaojjblog.qiniudn.com/face.jpg" alt=""></a>
                <strong class="m-user-name">小黑黑</strong>
                <address class="m-user-city">杭州 西湖区</address>
            </div>
            <div class="m-user-action">
                <a class="btn-default" href="#">留言</a>
                <a class="btn-default btn-default-crt" href="#">关注</a>
            </div>
        </div>

        <div class="m-user-cont">
            <nav class="m-user-hd"><a class="crt" href="#blan">书单 3</a><a href="#book">书架 5</a><a href="#friend">好友 12</a></nav>

            <!--读书计划-->
            <div class="m-user-blan">
                <!--列表-->
                <div class="m-blan-list">
                    <div class="m-blan">
                        <a href="blanDetail.html">
                            <div class="m-blan-img">
                                <span><img src="http://www.zhuantech.net/book/images/book/20150421/20150421100139_776.jpg" alt=""></span>
                                <span><img src="http://www.zhuantech.net/book/images/book/20150421/20150421100139_776.jpg" alt=""></span>
                                <span><img src="http://www.zhuantech.net/book/images/book/20150421/20150421100139_776.jpg" alt=""></span>
                                <span><img src="http://www.zhuantech.net/book/images/book/20150421/20150421100139_776.jpg" alt=""></span>
                            </div>
                            <strong class="m-blan-name">读书计划读书计划读书计划</strong>
                            <span class="m-blan-count">22本</span>
                        </a>
                        <a class="btn-default" href="#">关注</a>
                    </div>
                    <div class="m-blan">
                        <a href="blanDetail.html">
                            <div class="m-blan-img">
                                <span><img src="http://www.zhuantech.net/book/images/book/20150421/20150421100139_776.jpg" alt=""></span>
                                <span><img src="http://www.zhuantech.net/book/images/book/20150421/20150421100139_776.jpg" alt=""></span>
                                <span><img src="http://www.zhuantech.net/book/images/book/20150421/20150421100139_776.jpg" alt=""></span>
                                <span><img src="http://www.zhuantech.net/book/images/book/20150421/20150421100139_776.jpg" alt=""></span>
                            </div>
                            <strong class="m-blan-name">读书计划读书计划读书计划</strong>
                            <span class="m-blan-count">22本</span>
                        </a>
                        <a class="btn-default" href="#">关注</a>
                    </div>
                    <div class="m-blan">
                        <a href="blanDetail.html">
                            <div class="m-blan-img">
                                <span><img src="http://www.zhuantech.net/book/images/book/20150421/20150421100139_776.jpg" alt=""></span>
                                <span><img src="http://www.zhuantech.net/book/images/book/20150421/20150421100139_776.jpg" alt=""></span>
                                <span><img src="http://www.zhuantech.net/book/images/book/20150421/20150421100139_776.jpg" alt=""></span>
                                <span><img src="http://www.zhuantech.net/book/images/book/20150421/20150421100139_776.jpg" alt=""></span>
                            </div>
                            <strong class="m-blan-name">读书计划读书计划读书计划</strong>
                            <span class="m-blan-count">22本</span>
                        </a>
                        <a class="btn-default" href="#">关注</a>
                    </div>
                </div>

                <!--最新-->
                <article class="m-look-item m-look-item-user">
                    <header class="m-look-hd"><time>刚刚</time> 列入 <em>每月读书</em></header>
                    <p class="m-look-txt">最喜欢的最喜欢的最喜欢的书否读书馆</p>
                    <blockquote class="m-look-quote m-book-item">
                        <a href="#"><img class="m-book-img" src="../assets/image/placeholder.gif" alt=""></a>
                        <h2 class="m-book-title">岛屿来信</h2>
                        <p>陶立夏</p>
                        <p>中信出版社</p>
                    </blockquote>
                </article>
                <article class="m-look-item m-look-item-user">
                    <header class="m-look-hd"><time>刚刚</time> 列入 <em>每月读书</em></header>
                    <p class="m-look-txt">最喜欢的最喜欢的最喜欢的书否读书馆</p>
                    <blockquote class="m-look-quote m-book-item">
                        <a href="#"><img class="m-book-img" src="../assets/image/placeholder.gif" alt=""></a>
                        <h2 class="m-book-title">岛屿来信</h2>
                        <p>陶立夏</p>
                        <p>中信出版社</p>
                    </blockquote>
                </article>
            </div>

            <!--书架-->
            <div class="hide m-user-book">
                <ul class="m-booklist">
                    <li class="z-shufou"><a href="bookDetail.html"><img src="../assets/image/placeholder.gif" alt="岛屿来信"><span>岛屿来信</span></a></li>
                    <li class="z-shufou"><a href="bookDetail.html"><img src="../assets/image/placeholder.gif" alt="岛屿来信"><span>岛屿来信</span></a></li>
                    <li class="z-shufou"><a href="bookDetail.html"><img src="../assets/image/placeholder.gif" alt="岛屿来信"><span>岛屿来信</span></a></li>
                </ul>
            </div>
            
            <!--好友-->
            <div class="hide m-user-friend">
                <ul>
                    <li>
                        <a href="#"><span class="u-face face" href="#"><img src="#" alt=""></span><strong>小黑黑</strong></a>
                        <a href="#"><i class="i-follow"></i>关注</a>
                    </li>
                    <li>
                        <a href="#"><span class="u-face face" href="#"><img src="#" alt=""></span><strong>小黑黑</strong></a>
                        <a href="#"><i class="i-follow"></i>关注</a>
                    </li>
                    <li>
                        <a href="#"><span class="u-face face" href="#"><img src="#" alt=""></span><strong>小黑黑</strong></a>
                        <a href="#"><i class="i-follow"></i>关注</a>
                    </li>
                    <li>
                        <a href="#"><span class="u-face face" href="#"><img src="#" alt=""></span><strong>小黑黑</strong></a>
                        <a href="#"><i class="i-follow"></i>关注</a>
                    </li>
                    <li>
                        <a href="#"><span class="u-face face" href="#"><img src="#" alt=""></span><strong>小黑黑</strong></a>
                        <a href="#"><i class="i-follow"></i>关注</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
<script src="../assets/js/libs/sea.js"></script>
<script src="../assets/js/libs/sea-config.js"></script>
<script>
    seajs.use('../assets/js/pages/user.js');
</script>
</body>
</html>
