/*=S reset */
body,div,p,ul,ol,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,input,textarea,select,blockquote,form,fieldset,table,td,img{margin:0;padding:0;}
body{font:12px 'simsun';color:#3c3c3c;background:#f5f5f5;}
ul,ol,li{list-style-type:none;}
table{border-spacing:0;border-collapse:collapse;}
select,input,img{vertical-align:middle;}
img{border:0;}
h1,h2,h3{font-weight:400;}
a,a:hover{cursor:pointer;text-decoration:none;color:#3c3c3c;}
em{font-style:normal;}
/*=E reset */

/*=S lay */
.show{display:block}
.hide{display:none;}
.iblock {display:inline-block;*display:inline;zoom:1;vertical-align:middle;}
.clear{clear:both;}
.clearfix,.header{*zoom:1;}
.clearfix:after,.header:after{content:".";display:block;clear:both;height:0;visibility:hidden;}
.fl{float:left;}
.fr{float:right;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mb10{margin-bottom:10px;}
.mr10{margin-right:10px;}
/*=E lay */
.txt{padding:2px;line-height:20px;border:1px solid #cdcdcd;outline:none;}
input.txt{height:20px;}
.pipe{padding:0 8px;font:normal 12px verdana;}
/*=S FONT */

.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.link3 a{color:#333;}
.color1{color:#962020;}
.color2{color:#2fa2d9;}
.color3{color:#989898;}
.fz12{font-size:12px;}
.fz14{font-size:14px;}
.fz16{font-size:16px;}
.fz18{font-size:18px;}
/*=E FONT */
.icon{display:inline-block;width:105px;height:62px;vertical-align:middle;background:url(images/wap_icon.png) no-repeat;}
.icon-gray{background-position:0 -62px;}
.icon-mailbox{width:46px;height:34px;background-position:0 -124px;}/*信箱*/
.icon-listen{width:36px;height:33px;background-position:-37px -186px;}/*收听*/
.selected .icon-listen{width:36px;height:33px;background-position:0 -186px;}/*收听*/
.icon-set{width:37px;height:9px;background-position:0 -248px;}/*信箱*/
.icon-mark1,.icon-mark2,.icon-mark3{width:28px;height:25px;background-position:0 -930px;}/*信箱*/
.icon-mark2{background-position:0 -955px;}
.icon-mark3{background-position:0 -981px;}
.icon-view{width:22px;height:14px;background-position:-87px -930px;}/*查看*/
.icon-cz{width:34px;height:34px;background-position:0 -1012px;}

.btn{display:block;width:68px;height:68px;line-height:62px;text-align:center;border:1px solid #9eca41;}

.wap{min-width:480px;overflow:auto;}
.wap-hd{height:88px;text-align:center;border-bottom:1px solid;background:#dedede;}
    .wap-hd h1{font:32px/88px 'microsoft yahei';}
    .wap-hd .icon{margin-right:15px;}


.friend-list{}
    .friend-list-hd{padding:19px 0;text-align:center;border-bottom:1px solid;box-shadow:0 1px 1px #fff;}
        .friend-list-hd ul{margin:0 80px;border:1px solid;border-radius:10px;box-shadow:inset 0 -1px 1px #ccc;background:#fff;overflow:hidden;}
        .friend-w3 li{width:33.3%;}
        .friend-w3 li:last-child{width:33.4%;}
        .friend-w4 li{width:25%;}
        .friend-list-hd li{position:relative;float:left;font-size:20px;line-height:22px;}
        .friend-list-hd li:after{content:'';position:absolute;top:0;right:-1px;height:100%;border-right:1px solid;}
        .friend-list-hd li a{display:block;padding:10px 0;height:45px;}
        .friend-list-hd li.selected a{color:#fff;background-color:#90bf25;}
    .friend-list-bd{}
        .friend-list-bd h3{padding-left:10px;height:42px;line-height:42px;font-size:28px;color:#fff;background:#c9c9c9;}
        .friend-list-bd li{position:relative;margin:0 30px;border-bottom:1px solid;box-shadow:0 1px 1px #fff;}
        .friend-list-bd li img{float:left;margin-right:15px;width:68px;height:68px;border:1px solid;}

    .friend-list-bd li:last-child{border:0;box-shadow:none;}
    
    .friend-circle{padding-bottom:88px;}
        .friend-circle li a{display:block;padding:8px 0 9px;line-height:70px;overflow:hidden;}
        .friend-circle li span{float:left;font-size:26px;}
        .friend-circle li:after{content:'';position:absolute;right:25px;top:35px;width:15px;height:15px;border:solid #8a8a8a;border-width:7px 7px 0 0;-webkit-transform:rotate(45deg);}

    .friend-listen{background:#fff;}
        .friend-listen li{padding:8px 70px 9px 0;overflow:hidden;}
        .friend-listen li div{padding-top:3px;}
        .friend-listen .icon-view{margin:0 15px;}

.cz-box{display:none;position:fixed;bottom:0;left:0;padding:0 8px;width:100%;background:rgba(0,0,0,.4);}
.cz-box li{margin:16px 84px;height:84px;font-size:28px;line-height:84px;text-align:center;border:2px solid #aee238;border-radius:10px;}
.cz-box li a{display:block;color:#fff;}

.wap-ft{position:fixed;bottom:0;left:0;width:100%;height:82px;border-top:6px solid #90bf25;background:#dedede;}
    .wap-ft li{float:left;width:25%;height:73px;font-size:18px;line-height:33px;text-align:center;border-top:9px solid #dedede;}
    .wap-ft li span{display:block;height:40px;}
    .wap-ft li.selected{border-top-color:#90bf25;}

.wap-hd,
.friend-list-hd,
.friend-list-hd ul,
.friend-list-hd li:after,
.friend-list-bd li,
.friend-list-bd li img{border-color:#969696}


