@charset "utf-8";
/*!
 *@Description: mingchegou
 *@Author:      xiaoxiehang (2014-10-12 09:50)
 *@Update:      xiaoxiehang (2014-10-12 17:50)
*/

$colorBase:#3cc;
$color0:#000;
$colorc:#e0e0e0;
$color6:#666;
$color9:#999;

%fl{float:left;}
%fr{float:right;}
%iblock{display:inline-block;}