/*!
 *@Description: mingchegou
 *@Author:      xiaoxiehang (2014-10-12 09:50)
 *@Update:      xiaoxiehang (2014-10-12 17:50)
*/
.m-series-tab li, .m-car-name img, .m-car-price li, .m-car-link a, .m-car-char-tips span {
  float: left; }

.g-page-hd .g-back {
  display: inline-block; }

body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th, img, div, input, blockquote, article, aside, footer, header, hgroup, main, nav, section, menu {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }

body {
  font-size: 1.2rem;
  color: #333;
  background: #f8f8f8; }

h1, h2, h3, h4, h5 {
  font-weight: 400; }

ul, ol, li {
  list-style-type: none; }

img {
  vertical-align: middle;
  border: 0; }

em, i {
  font-style: normal; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #333; }
  a:focus, a:active {
    outline: none; }

input, textarea {
  font-size: 100%;
  outline: #fff; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

.show {
  display: block; }

.hide {
  display: none; }

a {
  -webkit-tap-highlight-color: transparent; }

.g-page-hd {
  position: relative;
  height: 44px;
  line-height: 44px;
  color: #fff;
  background-color: #004475;
  overflow: hidden; }
  .g-page-hd a {
    color: #fff; }
  .g-page-hd h1 {
    text-align: center;
    font-size: 1.8rem; }
  .g-page-hd .g-back {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 15px;
    height: 15px;
    text-indent: -20px;
    border: solid #fff;
    border-width: 2px 0 0 2px;
    overflow: hidden;
    -webkit-transform: rotate(-45deg); }
.g-page-bd {
  position: absolute;
  top: 44px;
  bottom: 0;
  left: 0;
  width: 100%; }

.g-login-btn, .g-cancel-btn {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 1.4rem; }

/*
 * 品牌选择+车系选择
*/
.m-brand-list li, .m-series-list li {
  padding: 5px 15px;
  line-height: 40px;
  font-size: 1.4rem;
  border-bottom: 1px solid #d1d9dc; }
.m-brand-list img, .m-series-list img {
  margin-right: 10px; }

.m-brand-first-letter {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  line-height: 36px;
  background-color: #edf2f5; }
  .m-brand-first-letter li {
    margin: 2px;
    text-align: center;
    display: block; }
  .m-brand-first-letter a {
    color: #999;
    font-size: 1.4rem; }
  .m-brand-first-letter .crt {
    background-color: #d1d9db; }

.m-series-tab {
  margin: 10px 10px 0;
  text-align: center;
  border: 1px solid #125d94;
  border-radius: 5px;
  overflow: hidden; }
  .m-series-tab li {
    width: 50%;
    line-height: 28px;
    font-size: 1.4rem; }
  .m-series-tab a {
    color: #004475; }
  .m-series-tab .crt {
    background-color: #125d94; }
    .m-series-tab .crt a {
      color: #fff; }

/*
 * 车型详情
*/
.m-car-name {
  border-bottom: 1px solid #ddd; }
  .m-car-name a {
    display: block;
    position: relative;
    padding: 14px;
    overflow: hidden; }
    .m-car-name a:after {
      content: '';
      position: absolute;
      z-index: 1;
      right: 15px;
      top: 40px;
      width: 15px;
      height: 15px;
      border: solid #999;
      border-width: 1px 1px 0 0;
      -webkit-transform: rotate(45deg); }
  .m-car-name img {
    margin-right: 10px; }
  .m-car-name strong {
    display: block;
    font-size: 1.6rem;
    line-height: 40px; }
  .m-car-name span {
    font-size: 1.4rem;
    color: #666;
    line-height: 30px; }
.m-car-price {
  padding: 10px 0;
  overflow: hidden; }
  .m-car-price li {
    width: 33.3%;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.5; }
    .m-car-price li:nth-child(1) {
      color: #666; }
    .m-car-price li:nth-child(2) {
      color: #e9574a; }
    .m-car-price li:nth-child(3) {
      color: #0f5f94; }
  .m-car-price span {
    display: block;
    font-size: 1.2rem; }
.m-car-service {
  text-align: center;
  font-size: 12px;
  line-height: 26px;
  background-color: #125d94; }
  .m-car-service a {
    margin: 0 15px;
    color: #fff; }
.m-car-link {
  line-height: 40px;
  border-bottom: 1px solid #d1d9dc;
  background-color: #edf2f5;
  overflow: hidden; }
  .m-car-link a {
    width: 50%;
    text-align: center;
    color: #666;
    font-size: 1.4rem;
    box-sizing: border-box; }
    .m-car-link a:nth-child(1) {
      border-right: 1px solid #d1d9dc; }
.m-car-char-tips {
  border-top: 1px solid #d1d9dc;
  overflow: hidden; }
  .m-car-char-tips span {
    position: relative;
    padding-left: 35px;
    width: 33.33%;
    line-height: 38px;
    font-size: 1.2rem;
    box-sizing: border-box; }
    .m-car-char-tips span:after {
      content: '';
      position: absolute;
      left: 15px;
      top: 12px;
      width: 8px;
      height: 8px;
      border: 3px solid;
      border-radius: 50%; }
    .m-car-char-tips span:nth-child(1) {
      color: #999; }
      .m-car-char-tips span:nth-child(1):after {
        border-color: #999; }
    .m-car-char-tips span:nth-child(2) {
      color: #83b6f5; }
      .m-car-char-tips span:nth-child(2):after {
        border-color: #83b6f5; }
    .m-car-char-tips span:nth-child(3) {
      color: #f57c74; }
      .m-car-char-tips span:nth-child(3):after {
        border-color: #f57c74; }
.m-car-btn {
  border-top: 1px solid #d1d9dc; }
  .m-car-btn a {
    display: block;
    margin: 12px;
    text-align: center;
    font-size: 1.6rem;
    line-height: 42px;
    color: #fff;
    border-radius: 5px;
    background-color: #ea564a; }

/*# sourceMappingURL=common.css.map */