@import '_base';

body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th , img, div ,input, blockquote, article, aside, footer, header, hgroup, main, nav, section, menu{margin: 0;padding: 0;}
html{font-size:10px;}
body{font-size:1.2rem;color:#333;background:#f8f8f8;}
h1,h2,h3,h4,h5{font-weight:400;}
ul,ol,li{list-style-type:none;}
img{vertical-align:middle;border:0;}
em,i{font-style:normal;}
a{text-decoration:none;cursor:pointer;color:#666;
    &:focus,&:active{outline:none;}
}
input,textarea{font-size:100%;outline:#fff;}
table{border-spacing:0;border-collapse:collapse;}
.show{display:block;}
.hide{display:none;}
a{-webkit-tap-highlight-color:transparent;}



.g-page{position:absolute;top:0;bottom:0;left:0;width:100%;
    &-hd{position:relative;height:44px;line-height:44px;color:#fff;background-color:#004475;
        a{color:#fff;}
        h1{text-align:center;font-size:1.8rem;}
        .g-back{@extend %iblock;position:absolute;top:12px;left:12px;width:15px;height:15px;text-indent:-20px;border:solid #fff;border-width:2px 0 0 2px;overflow:hidden;-webkit-transform:rotate(-45deg);}
    }
    &-bd{position:absolute;top:44px;bottom:0;left:0;width:100%;overflow:auto;}
}

.g-logo{}
.g-login-btn,.g-cancel-btn{position:absolute;top:0;right:12px;font-size:1.4rem;}

.g-nav-page{margin-left:-85%;width:85%;background-color:#004475;}
.g-user{padding:12px;background-color:#2976ae;overflow:hidden;
    &-img{@extend %fl;margin-right:12px;width:70px;height:70px;border:2px solid #115d91;border-radius:50%;overflow:hidden;}
    &-name{display:block;font-size:1.8rem;color:#fff;line-height:4rem;}
    &-id{font-size:1.2rem;color:#72a6e0;}
}
.g-nav{text-indent:12px;line-height:40px;font-size:1.6rem;
    a{display:block;position:relative;color:#fff;border-bottom:1px solid #1a6396;}
    &-remind:after{content:'';position:absolute;top:15px;right:10;width:10px;height:10px;background-color:#ea564a;border-radius:50%;}
}
.g-city{@extend %fr;position:relative;margin:8px -3px 0 0;height:28px;
    dt{padding:0 12px;line-height:28px;background-color:#ea564a;border-radius:5px;
        a{@extend %iblock;min-width:60px;}
        &:after{content:'';position:absolute;top:11px;right:12px;border:5px dotted;border-color:#fff transparent transparent;width:0;height:0;overflow:hidden;}
    }
}

/*
 * 品牌选择+车系选择
*/
.m-brand,.m-series{
    &-list{
        a{display:block;padding:5px 15px;line-height:40px;font-size:1.4rem;border-bottom:1px solid #d1d9dc;}
        img{margin-right:10px;}
    }

}
//品牌
.m-brand{
    &-first-letter{position:absolute;top:0;right:0;width:50px;line-height:36px;background-color:#edf2f5;
        li{margin:2px;text-align:center;display:block;}
        a{color:$color9;font-size:1.4rem;}
        .crt{background-color:#d1d9db;}
    }
}
//车系
.m-series{
    &-tab{$color:#125d94;
        margin:10px 10px 0;text-align:center;border:1px solid $color;border-radius:5px;overflow:hidden;
        a{@extend %fl;width:50%;line-height:28px;color:#004475;font-size:1.4rem;}
        .crt{background-color:$color;color:#fff;}
    }
}

/*
 * 车型详情
*/
.m-car{
    &-name{border-bottom:1px solid #ddd;
        a{display:block;position:relative;padding:14px;overflow:hidden;
            &:after{content:'';position:absolute;z-index:1;right:15px;top:40px;width:15px;height:15px;border:solid $color9;border-width:1px 1px 0 0;-webkit-transform:rotate(45deg);}
        }
        img{@extend %fl;margin-right:10px;}
        strong{display:block;font-size:1.6rem;line-height:40px;}
        span{font-size:1.4rem;color:$color6;line-height:30px;}
    }
    &-price{padding:10px 0;overflow:hidden;
        li{@extend %fl;width:33.3%;text-align:center;font-size:1.8rem;line-height:1.5;
            &:nth-child(1){color:$color6;}
            &:nth-child(2){color:#e9574a;}
            &:nth-child(3){color:#0f5f94;}
        }
        span{display:block;font-size:1.2rem;}
    }
    &-service{text-align:center;font-size:12px;line-height:26px;background-color:#125d94;
        a{margin:0 15px;color:#fff;}
    }
    &-link{line-height:40px;border-bottom:1px solid #d1d9dc;background-color:#edf2f5;overflow:hidden;
        a{@extend %fl;width:50%;text-align:center;color:$color6;font-size:1.4rem;box-sizing:border-box;
            &:nth-child(1){border-right:1px solid #d1d9dc;}
        }
    }
    &-char{
        &-tips{border-top:1px solid #d1d9dc;overflow:hidden;
            span{@extend %fl;position:relative;padding-left:35px;width:33.33%;line-height:38px;font-size:1.2rem;box-sizing:border-box;
                &:after{content:'';position:absolute;left:15px;top:12px;width:8px;height:8px;border:3px solid;border-radius:50%;}
                &:nth-child(1){$color:$color9;color:$color;&:after{border-color:$color;}}
                &:nth-child(2){$color:#83b6f5;color:$color;&:after{border-color:$color;}}
                &:nth-child(3){$color:#f57c74;color:$color;&:after{border-color:$color;}}
            }
        }
    }
    &-btn{border-top:1px solid #d1d9dc;
        a{display:block;margin:12px;text-align:center;font-size:1.6rem;line-height:42px;color:#fff;border-radius:5px;background-color:#ea564a;}
    }
}


/*
 * 填写订单
*/
.m-order{
    &-hd{padding-left:12px;font-size:1.2rem;line-height:32px;color:$color6;border-bottom:1px solid #d1d9dc;background-color:#edf2f5;}
    &-bd{line-height:40px;font-size:1.4rem;}
        %textIndent{text-indent:40px;}
        &-color li,&-add,&-radio a{border-bottom:1px solid #d1d9dc;}
        &-color{
            a{@extend %textIndent;display:block;position:relative;font-size:1.6rem;
                &:after{content:'';position:absolute;z-index:1;right:15px;top:50%;margin-top:-8px;width:15px;height:15px;border:solid $color9;border-width:1px 1px 0 0;-webkit-transform:rotate(45deg);}
            }
        }
        &-add{text-align:center;padding:12px 0;
            a{@extend %iblock;padding:0 12px;line-height:32px;border:1px solid #cdcdcd;}
            .crt{color:#fff;border-color:#3379ad;background-color:#3289d9;}
        }
        &-radio{overflow:hidden;
            a{@extend %fl;width:50%;font-size:1.4rem;color:$color6;}
            a:nth-child(2n+1){@extend %textIndent;}
            a:before{@extend %iblock;content:'';margin:-1px 10px 0 0;width:20px;height:20px;vertical-align:middle;border:1px solid #d1d9dc;border-radius:50%;box-sizing:border-box;}
            .crt:before{border-width:0;background-color:#3289d9;}
        }
        &-contact{@extend %textIndent;
            span{display:block;}
            
            a{display:block;position:relative;
                &:after{content:'';position:absolute;z-index:1;right:15px;top:50%;margin-top:-8px;width:15px;height:15px;border:solid $color9;border-width:1px 1px 0 0;-webkit-transform:rotate(45deg);}
            }
        }
}