@charset "utf-8";
/*!
 *@Description: 图书馆
 *@version:     2.0
 *@Author:      xiaoxiehang (2015-04-15 17:09)
 *@Update:      xiaoxiehang (2015-04-25 17:50)
*/


$defaultColor: #3b3b3b;
$crtColor: #fe5627;
$grayColor: #999;

body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, form, table, td, th, img, div ,input, menu, blockquote, figure{margin: 0; padding: 0;}
html{height: 100%; font-size: 10px; background-color: #f2f2f2; -webkit-user-select: none;}
body {min-width: 320px; font: 12px tahoma, arial; color: #3b3b3b;}
ul,ol,li{list-style-type: none;}
img{vertical-align: middle;border: 0;}
em,i{font-style: normal;}
a{text-decoration: none; color: $defaultColor; -webkit-tap-highlight-color: rgba(255,255,255,0);
    &:focus,&:active{outline: none;}
}
input,textarea,select{font-size: 100%; outline: #fff; border-radius: 0;}
table{width: 100%; border-spacing: 0; border-collapse: collapse;
    th,td{font-size: 1.2rem; line-height: 2.6rem; border-bottom: 1px solid #e5e5e5;}
    th{font-weight: 400; color: #9d9d9d;}
}


.show{display: block;}
.hide{display: none;}
.fl{float: left;}

//默认字体颜色
.default-color{color: $defaultColor;}
//选中的字体颜色
.crt-color{color: $crtColor;}

//文本框
%txt{height: 16px; line-height: 16px; border: 1px solid #ccc;}


//文字居中
.tc{text-align: center;}

%fake-element{content: ''; display: inline-block;}

//全屏模块
%full-size{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
%arrow{width: 8px; height: 8px; border: solid $grayColor; border-width: 1px 1px 0 0;}

//模块通用
%m-base-mod{margin-bottom: 5px;box-shadow: 0 0 2px #ddd; background-color: #fff;}

//水平、垂直居中
%all-center{display: -webkit-flex; -webkit-align-items: center; -webkit-justify-content: center;}


