@charset "utf-8";
/*!
 *@Description: 图书馆
 *@version:     2.0
 *@Author:      xiaoxiehang (2015-04-15 17:09)
 *@Update:      xiaoxiehang (2015-04-29 17:50)
*/

$defaultColor: #3b3b3b;
$crtColor: #fe5627;
$grayColor: #999;
$bgColor: #f2f2f2;

body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, form, table, td, th, img, div ,input, menu, blockquote, figure{margin: 0; padding: 0;}
html{height: 100%; font-size: 10px; background-color: $bgColor; -webkit-user-select: none;}
body {min-width: 320px; font: 12px tahoma, arial; color: #3b3b3b;}
ul,ol,li{list-style-type: none;}
img{vertical-align: middle;border: 0;}
strong{font-weight: 400;}
em,i,address{font-style: normal;}
a{text-decoration: none; color: $defaultColor; -webkit-tap-highlight-color: rgba(255,255,255,0);
    &:focus,&:active{outline: none;}
}
input,textarea,select{font-size: 100%; outline: #fff; border-radius: 0;}
table{width: 100%; border-spacing: 0; border-collapse: collapse;
    th,td{font-size: 1.2rem; line-height: 2.6rem; border-bottom: 1px solid #e5e5e5;}
    th{font-weight: 400; color: #9d9d9d;}
}

.show{display: block;}
.hide{display: none;}
.fl{float: left;}

//默认字体颜色
.default-color{color: $defaultColor;}
//选中的字体颜色
.crt-color{color: $crtColor;}
//灰色
.gray-color{color: $grayColor;}

//文本框
%txt{height: 16px; line-height: 16px; border: 1px solid #ccc;}

//文字居中
.tc{text-align: center;}

%flexBox{display: -webkit-box; display: -webkit-flex;}
%flex-1{-webkit-flex: 1; -webkit-box-flex: 1;}

//伪元素
%fake-element{content: ''; display: inline-block;}

//全屏模块
%full-size{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

//箭头
%arrow{position: absolute; padding: 4px; width: 0; height: 0; border: solid $grayColor; border-width: 1px 1px 0 0; overflow: hidden;}
%arrow-bottom{-webkit-transform: rotate(135deg);}

//模块通用
%m-base-mod{margin-bottom: 5px;box-shadow: 0 0 2px #ddd; background-color: #fff;}

//水平、垂直居中
%all-center{@extend %flexBox; -webkit-align-items: center; -webkit-justify-content: center;}

//圆形
%round{overflow: hidden; border-radius: 50%; background-color: #eee;}

.btn-default{
    $btnColor: #ff775d;
    display: inline-block; width: 8rem; height: 2.2rem; line-height: 2.2rem; text-align: center; color: $btnColor; border: 1px solid $btnColor; border-radius: 3px;
    &-crt{color: #fff; background-color: $btnColor;}

    & + &-crt{margin-top: 5px;}
}

//头像
.u-face{@extend %all-center; @extend %round;
    img{max-width: 100%; vertical-align: top; line-height: 0;}
}

%apart{@extend %flexBox; overflow: hidden;
    & > a{@extend %flex-1; text-align: center; line-height: 30px;}
    & > a:after{@extend %line; margin-top: 8px; background-color: #eee;}
}

//分割线
%line{@extend %fake-element; float: right; margin: 10px -1px 0 0; height: 14px; width: 1px; background-color: #ccc; overflow: hidden;}
