body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th, img, div, input, blockquote {
  margin: 0;
  padding: 0; }

html {
  overflow: auto; }

body {
  font: 12px/20px 'Calibri',Verdana,Arial,Helvetica,sans-serif;
  color: #333;
  background: #fff; }

ul, ol, li {
  list-style-type: none; }

img {
  vertical-align: middle;
  border: 0; }

em, i {
  font-style: normal; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #333; }
  a:hover {
    text-decoration: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

.m-logo, .m-nav li, .m-banner, .m-side, .m-mod, .m-mod h3, .m-fb-bd img, .m-fb dd, .m-faq h3 em, .g-about-hd, .g-about-bd dl, .m-about-box, .m-tabs-hd li, .m-enquiry-form label, .m-faq-title li, .m-service-mod, .m-fb-btn {
  float: left; }

.m-nav, .m-learn, .m-mod h3 i, .g-about-bd {
  float: right; }

.layout, .g-main {
  margin-left: auto;
  margin-right: auto;
  width: 940px; }

.m-mod h3 i, .m-faq h3 i, .m-faq .u-faq-btn, .u-learn-btn, .u-more-btn, .g-about-bd dd .u-submit-btn, .m-service-switch a {
  display: inline-block;
  *dispaly: inline;
  *zoom: 1; }

.clearfix, .g-main, .m-faq-title {
  *zoom: 1; }
  .clearfix:after, .g-main:after, .m-faq-title:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden; }

.g-header {
  background-color: #e5f2f9; }

.g-topic {
  margin-bottom: 28px;
  padding-bottom: 15px;
  background-color: #e5f2f9; }

.g-main {
  margin-bottom: 45px; }

.g-about {
  padding: 50px 0 20px;
  background-color: #172534;
  overflow: hidden; }

.g-footer {
  background-color: #000; }

.m-logo {
  margin: 30px 0; }
  .m-logo a {
    display: block;
    width: 227px;
    height: 60px;
    text-indent: -999px;
    background: url(../images/logo.png) no-repeat; }

.m-nav li {
  position: relative;
  margin-left: 20px;
  padding: 30px 0;
  font-size: 16px;
  line-height: 60px; }
  .m-nav li a {
    color: #999; }
  .m-nav li ul {
    display: none;
    position: absolute;
    top: 110px;
    left: -15px;
    width: 150px;
    *background-color: #fff; }
    .m-nav li ul li {
      width: 100%;
      margin-left: 0;
      padding: 0;
      background: rgba(0, 0, 0, 0.5);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#66000000',endColorstr='#66000000'); }
    .m-nav li ul li:hover {
      background: rgba(59, 198, 222, 0.5);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#663bc6de',endColorstr='#663bc6de');
      *background-color: #3bc6de; }
    .m-nav li ul a {
      display: block;
      padding: 10px;
      font-size: 12px;
      line-height: 20px;
      *color: #fff; }
      .m-nav li ul a:hover {
        color: #fff; }
    .m-nav li ul strong, .m-nav li ul span {
      display: block; }
    .m-nav li ul strong {
      margin-bottom: 5px; }
.m-nav .active > a {
  color: #e41a2d; }
.m-nav .m-index ul {
  left: -55px; }

.m-banner {
  margin-right: 15px;
  width: 630px;
  height: 485px; }

.m-learn {
  width: 295px;
  height: 485px;
  color: #fff;
  background-color: #4254a1; }
  .m-learn strong {
    display: block;
    margin: 160px 0 0 20px;
    font-size: 32px;
    line-height: 36px; }

.m-side {
  width: 210px; }

.m-cont {
  overflow: hidden; }

.m-mod {
  margin-left: 35px;
  width: 208px;
  overflow: hidden; }
  .m-mod .m-hd {
    overflow: hidden; }
  .m-mod img {
    margin-bottom: 20px; }
  .m-mod h3 {
    margin-bottom: 10px;
    padding-left: 5px;
    min-width: 120px;
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    background-color: #e41a2d; }
    .m-mod h3 a {
      color: #fff; }
    .m-mod h3 i {
      *margin-top: -22px;
      width: 0;
      height: 0;
      border-width: 11px 8px;
      vertical-align: bottom;
      border-style: solid;
      border-color: #e41a2d white white #e41a2d;
      overflow: hidden; }
  .m-mod .m-bd {
    margin-bottom: 24px;
    color: #999; }
    .m-mod .m-bd strong {
      color: #666;
      font-size: 14px; }

.m-mod-1 {
  margin-bottom: 20px;
  height: 230px; }

.m-mod-2 h3 {
  background-color: #3d52b4; }
  .m-mod-2 h3 i {
    border-color: #3d52b4 white white #3d52b4; }
.m-mod-2 .m-bd-about {
  margin-top: 5px; }
  .m-mod-2 .m-bd-about li {
    height: 30px;
    line-height: 30px;
    overflow: hidden; }
    .m-mod-2 .m-bd-about li a {
      color: #999; }
      .m-mod-2 .m-bd-about li a span {
        margin-right: 3px;
        color: #e41a2d; }
.m-mod-2 .m-bd-faq {
  line-height: 22px; }
  .m-mod-2 .m-bd-faq .a {
    margin-top: 4px;
    color: #e41a2d;
    font-size: 14px; }

.m-fb {
  margin-bottom: 20px;
  border: 1px solid #eee; }
  .m-fb-hd {
    padding-left: 10px;
    line-height: 30px;
    font-size: 14px;
    border-bottom: 1px solid #d3d9e5;
    background-color: #f0f2f6; }
  .m-fb-bd {
    padding: 15px;
    overflow: hidden; }
    .m-fb-bd img {
      margin-right: 5px; }
    .m-fb-bd strong {
      font-size: 18px;
      color: #3d52b4; }
  .m-fb dl {
    padding: 5px;
    border-top: 1px solid #eee; }
  .m-fb dt {
    line-height: 24px;
    font-size: 16px; }
  .m-fb dd {
    margin: 0 0 10px 3px;
    padding-top: 10px;
    width: 46px;
    text-align: center;
    overflow: hidden; }
    .m-fb dd a {
      color: #999; }

.m-faq {
  padding: 15px;
  border: 1px solid #eee; }
  .m-faq img {
    display: block;
    margin-bottom: 15px; }
  .m-faq h3 {
    font-size: 16px;
    line-height: 24px; }
    .m-faq h3 em {
      padding-left: 5px;
      background: #e41a2d;
      overflow: hidden; }
    .m-faq h3 i {
      width: 0;
      height: 0;
      border-width: 12px 8px;
      vertical-align: bottom;
      border-style: solid;
      border-color: #e41a2d white white #e41a2d;
      overflow: hidden; }
  .m-faq .u-faq-btn {
    margin-top: 35px;
    padding: 0 5px;
    line-height: 24px;
    color: #fff;
    background-color: #3bc6de; }

.u-learn-btn {
  margin: 20px 0 0 20px;
  padding: 0 5px;
  height: 52px;
  line-height: 52px;
  font-size: 22px;
  color: #fff;
  background-color: #3d7780; }

.u-more-btn {
  padding: 0 18px;
  height: 24px;
  line-height: 24px;
  color: #fff;
  background-color: #414553; }

.g-footer {
  line-height: 36px;
  text-align: center;
  color: #999; }

.g-about-hd {
  margin-right: -85px;
  width: 170px;
  border-right: 2px solid #1e2a38; }
  .g-about-hd h2 a {
    display: block;
    width: 120px;
    height: 110px;
    background: url(../images/about-logo.png); }

.g-about-bd {
  overflow: hidden; }
  .g-about-bd dl {
    padding-left: 85px;
    max-width: 224px; }
  .g-about-bd dt {
    padding-bottom: 10px;
    font-size: 14px;
    color: #fff; }
  .g-about-bd dd {
    line-height: 24px; }
    .g-about-bd dd, .g-about-bd dd a {
      color: #858a94; }
    .g-about-bd dd input {
      display: block;
      margin-top: 15px;
      padding: 2px;
      width: 220px;
      height: 20px;
      border: 0;
      border-bottom: 1px solid #333;
      background-color: #000;
      outline: none;
      color: #fff; }
    .g-about-bd dd .u-submit-btn {
      margin-top: 15px;
      padding: 0 15px;
      line-height: 24px;
      background-color: #000; }

.m-quote {
  margin-bottom: 20px;
  font-size: 24px;
  font-family: Georgia;
  color: #999;
  line-height: 50px; }

.m-about {
  margin-left: -35px; }

.m-about-box {
  margin-left: 35px;
  width: 290px;
  *margin-left: 0;
  *margin-right: 23px; }
  .m-about-box h3 {
    line-height: 2;
    font-size: 24px;
    font-weight: 400; }
  .m-about-box p {
    margin-bottom: 22px;
    line-height: 24px;
    font-size: 14px; }

.m-tabs-hd {
  line-height: 40px;
  font-size: 24px;
  border-bottom: 2px solid #e41a2d;
  overflow: hidden; }
  .m-tabs-hd li {
    padding: 0 10px;
    color: #fff;
    background-color: #e41a2d; }
.m-tabs-bd {
  padding: 30px 0; }
  .m-tabs-bd p {
    line-height: 36px; }
  .m-tabs-bd p strong {
    font-size: 24px;
    line-height: 2;
    font-weight: 400; }

.g-main .m-phone {
  padding: 15px 0 15px 30px;
  line-height: 24px;
  font-size: 24px;
  color: #3d52b4;
  background: url(../images/phone.png) no-repeat 0 15px; }

.m-enquiry-form label {
  margin-right: 30px; }
.m-enquiry-form span {
  display: block;
  line-height: 30px;
  font-size: 16px; }
.m-enquiry-form input, .m-enquiry-form textarea {
  padding: 5px;
  border: 1px solid #e8e8e8;
  background-color: #f8f8f8;
  outline: none; }
.m-enquiry-form input {
  width: 210px;
  height: 30px; }
.m-enquiry-form textarea {
  width: 714px; }
.m-enquiry-form .m-enquiry-btn {
  display: block;
  width: 90px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  background-color: #3bc6de;
  border-radius: 3px; }

.m-faq-title {
  padding-bottom: 10px; }
  .m-faq-title li {
    width: 250px;
    font: 14px/36px 'Century Gothic'; }
    .m-faq-title li a {
      color: #666; }

.m-faq-list {
  font: 14px/26px 'Century Gothic';
  color: #666; }
  .m-faq-list h4 {
    padding-top: 35px;
    font-size: 16px;
    color: #3d52b4;
    border-top: 1px dotted #ddd; }
  .m-faq-list .m-faq-a {
    padding-top: 15px;
    font-weight: 700; }
  .m-faq-list .m-faq-q {
    padding-bottom: 15px; }

.m-service {
  font-size: 14px;
  color: #999;
  line-height: 24px; }
  .m-service .m-phone {
    color: #e41a2d;
    border-bottom: 1px dotted #ddd; }

.m-service-switch {
  margin-bottom: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-bottom: 1px dotted #ddd; }
  .m-service-switch a {
    margin: 0 5px;
    padding: 0 12px;
    font-size: 16px;
    color: #fff;
    line-height: 36px;
    background-color: #c4c2c2; }
  .m-service-switch .active {
    background-color: #3bc6de; }

.m-service-mod {
  margin: 30px 35px 0 0;
  width: 200px;
  overflow: hidden; }
  .m-service-mod h4 {
    line-height: 46px;
    color: #333; }

.m-service-bd p, .m-service-bd a {
  color: #999; }
  .m-service-bd p span, .m-service-bd a span {
    margin-right: 5px;
    color: #e41a2d; }
.m-service-bd li {
  height: 32px;
  line-height: 32px;
  overflow: hidden; }

.m-fb-follow {
  display: block;
  padding-top: 6px;
  font-size: 14px; }

.m-fb-btn {
  margin-right: 5px;
  width: 51px;
  height: 20px;
  background: url(../images/fb.png); }
