/*=S HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/*=E HTML5 */
/*=S RESET */
html, body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, menu, fieldset, legend, input, label, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  overflow: hidden; }

body, textarea {
  font: 400 12px/1.5 Open sans, Microsoft JhengHei, Microsoft YaHei, sans-serif;
  color: #333; }

a, a:visited {
  text-decoration: none;
  color: #fff;
  cursor: pointer; }

em, i {
  font-style: normal; }

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 700;
  font-size: 100%; }

label, input, select {
  vertical-align: middle; }

img, button {
  background: none;
  border: 0 none;
  vertical-align: middle; }

ol, ul, menu {
  list-style: none; }

table, th, td, fieldset, legend {
  font-weight: 400;
  border: 0 none;
  border-collapse: collapse; }

pre {
  white-space: pre-wrap; }

/*=E RESET */
/*=S LAY */
.m-menu {
  zoom: 1; }
  .m-menu:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden; }

.g-wrap {
  display: flex;
  width: 100%;
  height: 100%; }

.g-page {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  -webkit-transform: rotateY(180deg);
  -webkit-transition: .8s;
  -webkit-transition-timing-function: ease-in-out;
  opacity: 0; }

.g-page-show {
  -webkit-transform: translateZ(0) rotateY(0) rotateX(0) !important;
  opacity: 1; }

.m-bg {
  display: flex;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden; }
  .m-bg img {
    margin: auto;
    width: 100%;
    height: 100%;
    -webkit-animation: fade 2s; }

.m-menu {
  margin: auto;
  width: 1020px;
  -webkit-perspective: 500; }
  .m-menu li {
    display: flex;
    cursor: pointer;
    margin: 10px;
    width: 150px;
    height: 150px;
    font-size: 18px;
    text-align: right;
    color: #fff;
    opacity: 0;
    -webkit-transform: translateZ(-100px) rotateY(10deg);
    -webkit-transition-duration: 1s; }
    .m-menu li.w2 {
      width: 320px; }
    .m-menu li.h2 {
      height: 320px; }
    .m-menu li:nth-child(1) {
      -webkit-transition-delay: 0.1s; }
    .m-menu li:nth-child(2) {
      -webkit-transition-delay: 0.2s; }
    .m-menu li:nth-child(3) {
      -webkit-transition-delay: 0.3s; }
    .m-menu li:nth-child(4) {
      -webkit-transition-delay: 0.4s; }
    .m-menu li:nth-child(5) {
      -webkit-transition-delay: 0.5s; }
    .m-menu li:nth-child(6) {
      -webkit-transition-delay: 0.6s; }
    .m-menu li:nth-child(7) {
      -webkit-transition-delay: 0.7s; }
    .m-menu li:nth-child(8) {
      -webkit-transition-delay: 0.8s; }
    .m-menu li:nth-child(9) {
      -webkit-transition-delay: 0.9s; }
    .m-menu li:hover {
      -webkit-transition-delay: 0;
      -webkit-transition-duration: .5s; }
    .m-menu li em {
      position: absolute;
      top: 10px;
      right: 10px; }
  .m-menu-show li {
    opacity: .9;
    -webkit-transform: translateZ(0); }

.m-post-title {
  padding: 20px 0;
  width: 800px;
  font-size: 36px;
  font-weight: 400;
  color: #fff;
  -webkit-animation: postTitle 1s forwards 800ms;
  opacity: 0; }

.m-post-list {
  width: 800px; }
  .m-post-list li {
    opacity: 0;
    font-size: 16px;
    line-height: 38px; }
  .m-post-list li:nth-child(1) {
    -webkit-animation: postList 1s forwards 1100ms; }
  .m-post-list li:nth-child(2) {
    -webkit-animation: postList 1s forwards 1200ms; }
  .m-post-list li:nth-child(3) {
    -webkit-animation: postList 1s forwards 1300ms; }
  .m-post-list li:nth-child(4) {
    -webkit-animation: postList 1s forwards 1400ms; }
  .m-post-list li:nth-child(5) {
    -webkit-animation: postList 1s forwards 1500ms; }
  .m-post-list li:nth-child(6) {
    -webkit-animation: postList 1s forwards 1600ms; }
  .m-post-list li:nth-child(7) {
    -webkit-animation: postList 1s forwards 1700ms; }
  .m-post-list li:nth-child(8) {
    -webkit-animation: postList 1s forwards 1800ms; }
  .m-post-list li:nth-child(9) {
    -webkit-animation: postList 1s forwards 1900ms; }
  .m-post-list li:nth-child(10) {
    -webkit-animation: postList 1s forwards 2000ms; }

/*=E LAY */
.m-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -70px;
  margin-top: -30px;
  text-align: center;
  font-size: 2em;
  color: #fff;
  z-index: 999; }

.m-point-list {
  width: 40px;
  height: 40px;
  margin: 0 auto 20px;
  -webkit-transform: rotate(-120deg); }

.m-point {
  position: absolute;
  visibility: visible;
  visibility: hidden;
  width: 40px;
  height: 40px;
  -webkit-animation-duration: 3.3s;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.6, 0.9, 0.35);
  -webkit-animation-iteration-count: infinite; }
  .m-point i {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #fff; }

.m-load-text {
  -webkit-animation: loading 2s infinite;
  -moz-animation: loading 2s infinite;
  -ms-animation: loading 2s infinite;
  animation: loading 2s infinite; }

@-webkit-keyframes postTitle {
  0% {
    margin-top: -50px;
    opacity: 0; }

  100% {
    margin-top: 0;
    opacity: 1; } }
@-webkit-keyframes postList {
  0% {
    margin-left: -30px;
    opacity: 0; }

  100% {
    margin-left: 0;
    opacity: 1; } }
@-webkit-keyframes menuLi {
  70% {
    width: 100%;
    height: 100%;
    opacity: .7; }

  100% {
    width: 100%;
    height: 100%;
    border-width: 2px;
    opacity: 1; } }
@-webkit-keyframes fade {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-webkit-keyframes loading {
  0%,100% {
    opacity: 0; }

  50% {
    opacity: 1; } }
@-webkit-keyframes load1 {
  0% {
    -webkit-transform: rotate(-10deg);
    visibility: visible; }

  35% {
    -webkit-transform: rotate(360deg); }

  73%,100% {
    -webkit-transform: rotate(700deg);
    visibility: hidden; } }
@-webkit-keyframes load2 {
  4% {
    visibility: hidden; }

  5% {
    -webkit-transform: rotate(-10deg);
    visibility: visible; }

  40% {
    -webkit-transform: rotate(360deg); }

  78%,100% {
    -webkit-transform: rotate(700deg);
    visibility: hidden; } }
@-webkit-keyframes load3 {
  9% {
    visibility: hidden; }

  10% {
    -webkit-transform: rotate(-10deg);
    visibility: visible; }

  45% {
    -webkit-transform: rotate(360deg); }

  83%,100% {
    -webkit-transform: rotate(700deg);
    visibility: hidden; } }
@-webkit-keyframes load4 {
  14% {
    visibility: hidden; }

  15% {
    -webkit-transform: rotate(-10deg);
    visibility: visible; }

  50% {
    -webkit-transform: rotate(360deg); }

  88%,100% {
    -webkit-transform: rotate(700deg);
    visibility: hidden; } }
@-webkit-keyframes load5 {
  19% {
    visibility: hidden; }

  20% {
    -webkit-transform: rotate(-10deg);
    visibility: visible; }

  55% {
    -webkit-transform: rotate(360deg); }

  93%,100% {
    -webkit-transform: rotate(700deg);
    visibility: hidden; } }
