.post{}
.post-hd{padding:50px 0;height:50px;font-size:16px;line-height:50px;}
		.post-hd h1{font-size:50px;opacity:1;
			/*-webkit-animation-property:font-size;指定转换的css 属性名称*/
			-webkit-animation-name:zoomIn;/*动画名称*/
			-webkit-animation-duration:800ms;/*动画持续时间*/
			-webkit-animation-timing-function:ease;/*动画过渡效果*/
			/*-webkit-animation-iteration-count:infinite;动画次数，默认为1*/
			/*-webkit-animation-delay:500ms  动画延迟时间*/
			
			text-shadow:#FEFCC9 0px 0px 20px, #FEEC85 10px -10px 30px, #FFAE34 -20px -20px 40px, #EC760C 20px -40px 50px, #CD4606 -20px -60px 60px, #973716 0px -80px 70px, #451B0E 10px -90px 80px;
		}

		.post-hd a:hover{color:rgba(255,255,255,.8);}
		
		.post-hd h1 a{color:rgba(255,255,255,.2);}
		.post-hd h1 a:hover{color:rgba(255,255,255,.3);}

.post-bd{}
	.post-list{clear:both;-webkit-perspective:500;}
		.post-list li{margin-left:-50px;padding:5px 0;width:100%;height:50px;line-height:50px;border-bottom:1px dashed #fff;overflow:hidden;opacity:0;-webkit-transition:text-indent 0.1s ease-in;}
			.post-list span{width:35px;}
			.post-list a,.post-list span{float:left;color:#fff;font-size:18px;}
				.post-list a:hover{text-shadow:0 0 5px #fff;}
			.post-list .post-item-time{float:right;font-size:16px;color:#ddd;}
		.post-list li:hover{text-indent:20px;}

.page-num{padding:20px 0;overflow:hidden;}
	.page-num span,.page-num a{margin-right:10px;padding:6px 11px;font-size:16px;color:#fff;text-align:center;background:rgba(255,255,255,.1);}
	.page-num span,.page-num a:hover{background:rgba(255,255,255,.3);}
	
::selection{background:rgba(0, 0, 0,.2);}


.post-content{z-index:4;position:absolute;left:0;top:0;width:100%;height:100%;background-color:#fff;
	-webkit-animation: postContent 400ms ease;
    -webkit-transform-origin: 50% 100%;
}


@-webkit-keyframes zoomIn{
    0%{opacity:0;-webkit-transform:scale(2);}
    100%{opacity:1;-webkit-transform:scale(1);}
}
@-webkit-keyframes postContent {
    0% { opacity: 0; -webkit-transform: perspective(400px) rotateX(90deg); }
    100% { opacity: 1; -webkit-transform: perspective(400px) rotateX(0deg); }
}






