html{overflow:hidden;}
#main,
#bg,
#loading,
#load .dot{position:absolute;}

#main,#bg{left:0;top:0;width:100%;height:100%;}
#main{z-index:1;display:-webkit-flex;}

#loading{top:50%;left:50%;width:200px;margin-left:-70px;margin-top:-30px; text-align:center;font-size:2em;color:#fff;z-index:999}
	#loading .load{-webkit-animation:loading 2s infinite;-moz-animation:loading 2s infinite;-ms-animation:loading 2s infinite;animation:loading 2s infinite}
#load{width:40px;height:40px;margin:0 auto 20px;-webkit-transform:rotate(-120deg);-moz-transform:rotate(-120deg);-ms-transform:rotate(-120deg);transform:rotate(-120deg)}
	#load .dot{visibility:visible;visibility:hidden;width:40px;height:40px;-webkit-animation-duration:3.3s;-webkit-animation-timing-function:cubic-bezier(.25,.6,.9,.35); -webkit-animation-iteration-count:infinite;-moz-animation-duration:3.3s; -moz-animation-timing-function:cubic-bezier(.25,.6,.9,.35);-moz-animation-iteration-count:infinite; -ms-animation-duration:3.3s;-ms-animation-timing-function:cubic-bezier(.25,.6,.9,.35);-ms-animation-iteration-count:infinite;animation-duration:3.3s; animation-timing-function:cubic-bezier(.25,.6,.9,.35); animation-iteration-count:infinite}
	#load .dot p{display:block;width:8px;height:8px;border-radius:8px;background:#fff}

#menu{z-index:2;margin:auto;width:1020px;-webkit-perspective:500;}
	#menu li{float:left;margin:10px;padding:10px;width:130px;height:130px;font-size:18px;text-align:right;color:#fff;background:rgba(255,255,255,.5);-moz-transition:all .6s ease-out 0s;-webkit-transition:all .6s ease-out 0s;opacity:0;-webkit-transform:translateZ(-100px) rotateY(10deg); -moz-transform:translateZ(-100px) rotateY(10deg);}
	#menu li.show{-webkit-transform:translateZ(0); -moz-transform:translateZ(0);opacity:1}
	#menu li:hover{cursor:pointer;box-shadow:0 0 10px #777;}
	#menu .width-2{width:300px;}
	#menu .height-2{height:300px;}
	
	
.page{z-index:3;display:none; -webkit-transform:rotateY(180deg); -webkit-transition:.8s;overflow-x:hidden;overflow-y:auto;}

.page::-webkit-scrollbar{width:10px;}
.page::-webkit-scrollbar-thumb{background:#fff;}

.w_show{-webkit-transform:translateZ(0) rotateY(0) rotateX(0) !important;	opacity: 1 !important;}

#close-page,#close-page:hover{z-index:99;position:fixed;top:-40px;right:20px;width:40px;height:40px;text-align:center;font:22px/40px 'Microsoft JhengHei';color:#fff;background:rgba(0,0,0,.5);border-radius:20px;text-decoration:none;}

#design{}

.design-main,.design-fixed,.links-main,.post{display:none;}


@-webkit-keyframes loading{
	0%,100%{opacity:0}
	50%{opacity:1}
}
@-webkit-keyframes load1{
	0%{-webkit-transform:rotate(-10deg); visibility:visible}
	35%{-webkit-transform:rotate(360deg)}
	73%,100%{-webkit-transform:rotate(700deg); visibility:hidden}
}
@-webkit-keyframes load2{
	4%{visibility:hidden}
	5%{-webkit-transform:rotate(-10deg); visibility:visible}
	40%{-webkit-transform:rotate(360deg)}
	78%,100%{-webkit-transform:rotate(700deg); visibility:hidden}
}
@-webkit-keyframes load3{
	9%{visibility:hidden}10%{-webkit-transform:rotate(-10deg); visibility:visible}
	45%{-webkit-transform:rotate(360deg)}
	83%,100%{-webkit-transform:rotate(700deg); visibility:hidden}
}
@-webkit-keyframes load4{
	14%{visibility:hidden}15%{-webkit-transform:rotate(-10deg); visibility:visible}
	50%{-webkit-transform:rotate(360deg)}
	88%,100%{-webkit-transform:rotate(700deg); visibility:hidden}
}
@-webkit-keyframes load5{
	19%{visibility:hidden}
	20%{-webkit-transform:rotate(-10deg); visibility:visible}
	55%{-webkit-transform:rotate(360deg)}
	93%,100%{-webkit-transform:rotate(700deg); visibility:hidden}
}
