@charset "utf-8";
/*!
 *@Description: 3人行
 *@Author:      xiaoxiehang (2014-08-10 09:50)
 *@Update:      xiaoxiehang (2014-08-10 17:50)
*/

$colorBase:#3cc;
$color0:#000;
$colorc:#ccc;
$color6:#666;
$color9:#999;

body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th , img, div ,input, blockquote, article, aside, footer, header, hgroup, main, nav, section, menu{margin: 0;padding: 0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
html{font-size:62.5%;}
body {font:1.4rem/1.6 'microsoft yahei';color:#333;}
ul,ol,li{list-style-type:none;}
img{vertical-align:middle;border:0;}
em,i{font-style:normal;}
a{color:#333;
    &,&:focus,&:visited,&:active,&:hover,&:link{outline:none;text-decoration:none;}
}
input,textarea,select{font-size:100%;border:1px solid;outline:#fff;}
.fl{float:left;}
.fr{float:right;}
.clearfix{&:after{content:'';display:block;clear:both;height:0;overflow:hidden;}}