@charset "utf-8";
/*!
 *@Description: 3人行
 *@Author:      xiaoxiehang (2014-08-10 09:50)
 *@Update:      xiaoxiehang (2014-08-10 17:50)
*/

$colorBase:#3cc;
$color0:#000;
$colorc:#ccc;
$color6:#666;
$color9:#999;

body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th , img, div ,input, blockquote, article, aside, footer, header, hgroup, main, nav, section, menu{margin: 0;padding: 0;}
html{font-size:62.5%;}
body {font:1.4rem/1.6 'microsoft yahei';color:#333;}
ul,ol,li{list-style-type:none;}
img{vertical-align:middle;border:0;}
em,i{font-style:normal;}
a{text-decoration:none;cursor:pointer;color:#333;
    &:focus,&:active{outline:none;}
}
input,textarea{font-size:100%;border:1px solid;outline:#fff;}
.fl{float:left;}
.fr{float:right;}

.h-main:before,.h-main:after,.h-logo strong,.h-logo-icon:before,.h-search input,.h-desc li span,.h-desc li i,.m-search input,.search-info:before,.search-info i{background:url(../images/bg_item.png) no-repeat;background-size:438px auto;}
.home{background-color:#8be4e0;}
.h-main{position:absolute;top:0;left:0;width:100%;height:100%;min-height:400px;color:#fff;
    &:before,&:after{content:'';position:absolute;left:0;}
    &:before{top:0;left:-132px;margin-left:50%;width:264px;height:113px;background-position:-161px 0;}
    &:after{bottom:0;width:100%;height:60px;background-position:center -120px;}
}
    .h-logo{margin:75px 0 36px;
        &-icon{
            &,&:before{display:block;width:90px;height:90px;border-radius:50%;}
            margin:0 auto 10px;padding:4px;background:rgba(0,0,0,.1);
            &:before{content:'';background-color:#fc0;background-position:-70px -4px;}
        }
        strong{display:block;margin:0 auto;width:78px;height:26px;text-indent:-100px;background-position:0 -91px;overflow:hidden;}
    }
    .h-search{$baseH:32px;position:relative;margin:0 20px 40px;line-height:$baseH;
        input{margin-right:8px;padding:10px 10px 10px 30px;width:85%;height:$baseH;border-style:none;background-color:#fff;border-radius:$baseH/2;box-sizing:border-box;background-position:-411px 10px;
        }
        a{color:#fff;}
        &:before{content:'';position:absolute;top:9px;left:10px;width:13px;height:13px;background-position:-88px -97px;}
    }
    .h-desc{$descSize:71px;margin:0 30px;text-align:center;overflow:hidden;
        li{position:relative;width:$descSize;height:$descSize;line-height:70px;font-size:1.2rem;
            span,i{position:absolute;top:0;left:0;width:100%;height:100%;}
            &:nth-child(1){margin:0 auto;font-size:1.6rem;
                span{-webkit-animation:rotate1 1s linear infinite;}
                i{-webkit-animation:rotate2 1s linear infinite;}
            }
            &:nth-child(2){@extend .fl;margin-top:-$descSize;
                span{-webkit-animation:rotate3 1s linear infinite;}
                i{-webkit-animation:rotate4 1s linear infinite;}
            }
            &:nth-child(3){@extend .fr;margin-top:-$descSize;
                span{-webkit-animation:rotate5 1s linear infinite;}
                i{-webkit-animation:rotate6 1s linear infinite;}
            }
        }
    }













@-webkit-keyframes rotate1{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes rotate2{
    0%{-webkit-transform:scale(.75) rotate(0deg);}
    100%{-webkit-transform:scale(.75) rotate(-360deg);}
}
@-webkit-keyframes rotate3{
    0%{-webkit-transform:scale(.9) rotate(-180deg);}
    100%{-webkit-transform:scale(.9) rotate(360deg);}
}
@-webkit-keyframes rotate4{
    0%{-webkit-transform:scale(.7) rotate(180deg);}
    100%{-webkit-transform:scale(.7) rotate(-360deg);}
}
@-webkit-keyframes rotate5{
    0%{-webkit-transform:scale(.9) rotate(0deg);}
    100%{-webkit-transform:scale(.9) rotate(-360deg);}
}
@-webkit-keyframes rotate6{
    0%{-webkit-transform:scale(.45) rotate(-180deg);}
    100%{-webkit-transform:scale(.45) rotate(360deg);}
}










.m-search{$baseH:32px;padding:6px 0;white-space:nowrap;background-color:#8be4e0;overflow:hidden;
    label{float:left;position:relative;padding:0 10px;width:100%;box-sizing:border-box;-webkit-transition:width .5s;}
    input{padding:10px 10px 10px 30px;width:100%;height:$baseH;text-align:center;color:#666;border-style:none;background-color:#fff;border-radius:$baseH/2;box-sizing:border-box;background-position:-411px 10px;}
    a{color:#fff;font-size:1.2rem;line-height:$baseH;}
}
.search-list{margin:0 14px;font-size:1.2rem;color:#666;}
    .search-count{line-height:35px;em{padding:0 5px;color:#f38f6b;}}
    .search-item{margin-bottom:10px;}
        .search-info{z-index:1;position:relative;margin-bottom:2px;padding:5px 10px 5px 110px;line-height:24px;border:1px dashed #ccc;border-radius:8px;
            img{left:15px;top:18px;position:absolute;border-radius:50%;}
            .name,.sex{margin-right:10px;}
            .name{font-weight:400;}
            &:before{content:'';position:absolute;right:-8px;top:0;width:7px;height:98px;background-position:-425px -23px;}
            i{position:absolute;bottom:-10px;width:6px;height:16px;background-position:-426px -140px;}
            i:nth-of-type(1){left:64px;}
            i:nth-of-type(2){right:64px;}
        }
        .search-cont{height:0;border:1px dashed #ccc;border-radius:8px;-webkit-transform:perspective(500px) rotateX(-90deg);-webkit-transform-origin:center top;-webkit-transition:-webkit-transform .5s;
            ul{padding:14px;}
            li{line-height:26px;
                strong,span,i{@extend .fl;}
                span,i{height:6px;overflow:hidden;border-radius:2px;}
                span{margin:10px 8px;width:100px;background-color:#e5e5e5;}
                i{display:block;border:1px solid;box-sizing:border-box;}
                &:nth-of-type(1) i{border-color:#e47b56;background-color:#f38f6b;}
                &:nth-of-type(2) i{border-color:#dfc433;background-color:#f3de6b;}
            }
            &:before,&:after{content:'';position:absolute;top:0;width:6px;height:6px;background-color:#666;border-radius:3px;}
            &:before{left:64px;}
            &:after{right:64px;}
        }
    .search-item-show{
        .search-cont{-webkit-transform:perspective(500px) rotateX(0deg);}
    }


.my-info{background-color:#f0f8f8;
    &-hd{padding:20px 24px;height:72px;border-bottom:1px dashed #ccc;
        h2{position:relative;padding:10px;width:50px;height:50px;border:1px solid;border-radius:50%;
            &:before,&:after{content:'';position:absolute;}
            &:after{left:-6px;bottom:-27px;margin-left:50%;width:8px;height:8px;border:2px solid;overflow:hidden;border-radius:50%;}
            &:before{display:none;left:-5px;bottom:-14px;margin-left:50%;width:0;height:0;border-style:dashed;border-width:7px 5px;border-color:transparent;}
        }
        em{display:block;padding:6px 12px;width:50px;height:50px;text-align:center;color:#fff;border-radius:50%;font-size:1.2rem;box-sizing:border-box;}
        h2:nth-of-type(1){$color:#fc6773;@extend .fl;border-color:$color;
            em{background:$color}
            &:before{border-top-color:$color;}
            &:after{border-color:$color;}
            &.show:after{background-color:$color;}
        }
        h2:nth-of-type(2){$color:#80c269;margin:0 auto;border-color:$color;
            em{background:$color}
            &:before{border-top-color:$color;}
            &:after{border-color:$color;}
            &.show:after{background-color:$color;}
        }
        h2:nth-of-type(3){$color:#47c1f8;@extend .fr;margin-top:-72px;border-color:$color;
            em{background:$color}
            &:before{border-top-color:$color;}
            &:after{border-color:$color;}
            &.show:after{background-color:$color;}
        }
            h2.show:before{display:block;}
    }
    &-bd{}
    ul{margin-bottom:8px;}
        li{padding:0 30px 8px;font-size:1.2rem;line-height:36px;
            label,input{display:block;padding:0 10px;width:100%;height:38px;border:1px solid #bdbdbd;background-color:#fff;border-radius:5px;box-sizing:border-box;}
            label{position:relative;color:#666;overflow:hidden;
                &:after{content:'';position:absolute;right:5px;top:15px;width:0;height:0;border:4px solid transparent;border-top-color:#aaa;}
            }
            select{opacity:0;position:absolute;top:0;left:0;width:100%;height:100%;border:0;}
        }
        .my-info-site{overflow:hidden;
            label{@extend .fl;width:33%;}
            label:nth-of-type(2){margin:0 1px;}
        }
    &-btn{display:block;margin:0 auto;width:108px;height:40px;text-align:center;line-height:40px;font-size:1.8rem;color:#fff;background-color:#fc0;border-radius:5px;}
    &-add{@extend .fr;margin:33px 30px 10px 0;width:28px;height:28px;text-align:center;line-height:24px;font-size:3.2rem;color:#fff;background-color:#fc0;border-radius:2px;overflow:hidden;}
    &-step1{padding-top:27px;}
    &-step2{display:none;}
    &-step3{display:none;}
}
    

//
//
///*=S 按钮 */
//.u-base-btn{display:inline-block;padding:0 20px;height:32px;line-height:32px;text-align:center;color:#fff;background-color:$colorBase;border-radius:3px;
//    &:visited{color:#fff;}
//}
//.u-write-btn,.u-schedule-btn,.u-orders-btn{display:block;margin:0 auto;width:62.5%;letter-spacing:3px;}
//
//.u-return-btn{position:absolute;padding-left:15px;left:0;top:0;width:30px;height:44px;overflow:hidden;
//    &:before{content:'';display:block;margin-top:13px;width:16px;height:16px;text-indent:-999px;border:solid #fff;border-width:2px 0 0 2px;overflow:hidden;
//    -webkit-transform:rotate(-45deg);
//       -moz-transform:rotate(-45deg);
//        -ms-transform:rotate(-45deg);
//         -o-transform:rotate(-45deg);
//            transform:rotate(-45deg);
//    }
//}
///*=E 按钮 */
//
///*=S 框架 */
//.g-hd,.g-ft{z-index:1;position:absolute;left:0;width:100%;}
//.g-hd{position:relative;padding:0 15px;text-align:center;height:44px;line-height:44px;background-color:$colorBase;box-sizing:border-box;overflow:hidden;
//    h1{@extend .fl;width:100%;font-size:20px;color:#fff;}
//}
//.g-bd{position:absolute;top:44px;bottom:0;width:100%;overflow:scroll;}
//    .g-bd-isft{bottom:43px;}
//    .g-bd-first{padding:10px 0;}
//.g-ft{bottom:0;padding:5px 0;text-align:center;border-top:1px solid $colorc;background-color:#fff;}
