@import 'base';

.h-main:before,.h-main:after,.h-logo strong,.h-logo-icon:before,.h-search input,.h-desc li span,.h-desc li i,.search-box input,.search-info i,.my-info-face:after,.m-skill-del{background:url(../images/bg_item.png) no-repeat;background-size:438px auto;}
.home{background-color:#8be4e0;}
.h-main{position:absolute;top:0;left:0;width:100%;height:100%;min-height:400px;color:#fff;
    &:before,&:after{content:'';position:absolute;left:0;}
    &:before{top:0;left:-132px;margin-left:50%;width:264px;height:113px;background-position:-161px 0;}
    &:after{bottom:0;width:100%;height:60px;background-position:center -120px;}
}
    .h-logo{margin:75px 0 36px;
        &-icon{
            &,&:before{display:block;width:90px;height:90px;border-radius:50%;}
            margin:0 auto 10px;padding:4px;background:rgba(0,0,0,.1);
            &:before{content:'';background-color:#fc0;background-position:-70px -4px;}
        }
        strong{display:block;margin:0 auto;width:78px;height:26px;text-indent:-100px;background-position:0 -91px;overflow:hidden;}
    }
    .h-search{$baseH:32px;position:relative;margin:0 20px 40px;line-height:$baseH;
        input{margin-right:8px;padding:10px 10px 10px 30px;width:85%;height:$baseH;border-style:none;background-color:#fff;border-radius:$baseH/2;box-sizing:border-box;background-position:-411px 11px;
        }
        a{color:#fff;}
        &:before{content:'';position:absolute;top:9px;left:10px;width:13px;height:13px;background-position:-88px -97px;}
    }
    .h-desc{$descSize:71px;margin:0 30px;text-align:center;overflow:hidden;
        li{position:relative;width:$descSize;height:$descSize;line-height:70px;font-size:1.2rem;
            span,i{position:absolute;top:0;left:0;width:100%;height:100%;}
            &:nth-child(1){margin:0 auto;font-size:1.6rem;
                span{-webkit-animation:rotate1 1s linear infinite;}
                i{-webkit-animation:rotate2 1s linear infinite;}
            }
            &:nth-child(2){@extend .fl;margin-top:-$descSize;
                span{-webkit-animation:rotate3 1s linear infinite;}
                i{-webkit-animation:rotate4 1s linear infinite;}
            }
            &:nth-child(3){@extend .fr;margin-top:-$descSize;
                span{-webkit-animation:rotate5 1s linear infinite;}
                i{-webkit-animation:rotate6 1s linear infinite;}
            }
        }
    }
 

@-webkit-keyframes rotate1{
    0%{-webkit-transform:rotate(-90deg);}
    100%{-webkit-transform:rotate(270deg);}
}
@-webkit-keyframes rotate2{
    0%{-webkit-transform:scale(.75) rotate(90deg);}
    100%{-webkit-transform:scale(.75) rotate(-270deg);}
}
@-webkit-keyframes rotate3{
    0%{-webkit-transform:scale(.9) rotate(-180deg);}
    100%{-webkit-transform:scale(.9) rotate(180deg);}
}
@-webkit-keyframes rotate4{
    0%{-webkit-transform:scale(.7) rotate(180deg);}
    100%{-webkit-transform:scale(.7) rotate(-180deg);}
}
@-webkit-keyframes rotate5{
    0%{-webkit-transform:scale(.9) rotate(0deg);}
    100%{-webkit-transform:scale(.9) rotate(-360deg);}
}
@-webkit-keyframes rotate6{
    0%{-webkit-transform:scale(.45) rotate(-180deg);}
    100%{-webkit-transform:scale(.45) rotate(360deg);}
}

.search-hd{height:44px;line-height:44px;text-align:center;color:#fff;background-color:#8be4e0;h1{font-size:2rem;font-weight:400;}}
.search-box{$baseH:32px;padding:6px 0;white-space:nowrap;overflow:hidden;
    label{float:left;position:relative;padding:0 10px;width:100%;box-sizing:border-box;-webkit-transition:width .5s;}
    input{padding:10px 30px;width:100%;height:$baseH;text-align:center;color:#666;border:1px solid #dcdcdc;background-color:#fff;border-radius:$baseH/2;box-sizing:border-box;background-position:-411px 10px;}
    a{color:#333;font-size:1.2rem;line-height:$baseH;}
}
.search-list{margin:0 14px;font-size:1.2rem;color:#666;}
    .search-count{line-height:35px;em{padding:0 5px;color:#f38f6b;}}
    .search-item{margin-bottom:10px;position:relative;
        
            &:before,&:after{content:'';position:absolute;right:-3px;top:6px;width:7px;height:90px;border-left:0;border-bottom:0;background-color:#fff;}
            &:before{z-index:1;-webkit-transform:rotate(3deg);}
            &:after{right:-5px;top:9px;-webkit-transform:rotate(6deg);}
    }
        .search-info,.search-item:before,.search-item:after,.search-cont{border:1px dashed #ccc;}
        .search-info{z-index:1;position:relative;margin-bottom:2px;padding:5px 10px 5px 110px;line-height:24px;background-color:#fff;
            img{left:15px;top:18px;position:absolute;border-radius:50%;}
            .name,.sex{margin-right:10px;}
            .name{font-weight:400;}
            
            i{position:absolute;bottom:-10px;width:6px;height:16px;background-position:-432px -20px;}
            i:nth-of-type(1){left:64px;}
            i:nth-of-type(2){right:64px;}
        }
        .search-cont{height:0;-webkit-transform:perspective(500px) rotateX(-90deg);-webkit-transform-origin:center top;-webkit-transition:-webkit-transform .5s;
            ul{padding:14px;}
            li{line-height:26px;
                strong,span,i{@extend .fl;}
                span,i{height:6px;overflow:hidden;border-radius:2px;}
                span{margin:10px 8px;width:100px;background-color:#e5e5e5;}
                i{display:block;}
                .i-color1{background-color:#47c1f8;}
                .i-color2{background-color:#80c269;}
                .i-color3{background-color:#f3de6b;}
                .i-color4{background-color:#f38f6b;}
            }
            &:before,&:after{content:'';position:absolute;top:0;width:6px;height:6px;background-color:#666;border-radius:3px;}
            &:before{left:64px;}&:after{right:64px;}
        }
    .search-item-show{
        .search-cont{-webkit-transform:perspective(500px) rotateX(0deg);}
    }

.my-info{background-color:#f0f8f8;
    &-nav{padding:20px 24px;height:72px;border-bottom:1px dashed #ccc;
        a{display:block;position:relative;padding:10px;width:50px;height:50px;border:1px solid;border-radius:50%;
            &:before,&:after{content:'';position:absolute;}
            &:after{left:-6px;bottom:-27px;margin-left:50%;width:8px;height:8px;border:2px solid;background-color:#fff;overflow:hidden;border-radius:50%;}
            &:before{display:none;left:-5px;bottom:-14px;margin-left:50%;width:0;height:0;border-style:solid;border-width:7px 5px;border-color:transparent;}
        }
        em{display:block;padding:6px 12px;width:50px;height:50px;text-align:center;color:#fff;border-radius:50%;font-size:1.2rem;box-sizing:border-box;}
        a:nth-of-type(1){$color:#fc6773;@extend .fl;border-color:$color;
            em{background:$color}&:before{border-top-color:$color;}&:after{border-color:$color;}&.show:after{background-color:$color;}
        }
        a:nth-of-type(2){$color:#80c269;margin:0 auto;border-color:$color;
            em{background:$color}&:before{border-top-color:$color;}&:after{border-color:$color;}&.show:after{background-color:$color;}
        }
        a:nth-of-type(3){$color:#47c1f8;@extend .fr;margin-top:-72px;border-color:$color;
            em{background:$color}&:before{border-top-color:$color;}&:after{border-color:$color;}&.show:after{background-color:$color;}
        }
        a.show:before{display:block;}
    }
    &-bd{
        ::-webkit-input-placeholder{color:#bbb;}
        //ul{position:relative;padding:0 30px 8px;}
        select,input{display:block;padding:0 10px;width:100%;height:38px;border-color:#ebebeb;background-color:#fff;border-radius:5px;box-sizing:border-box;}
        label{display:block;position:relative;
            &:after{content:'';position:absolute;right:5px;top:16px;width:0;height:0;border:5px solid transparent;border-top-color:#ccc;}
        }
        select{-webkit-appearance:button;}
        
    }
    .my-info-face{position:relative;margin:0 auto;width:72px;height:70px;overflow:hidden;
        img{border-radius:5px;border:1px solid #d2d2d2;}
        &:after{content:'';position:absolute;right:3px;bottom:9px;width:15px;height:12px;background-position:-78px -90px;}
        input{z-index:1;position:absolute;top:0;left:0;height:72px;opacity:0;}
    }
    .my-info-site{overflow:hidden;
        label{@extend .fl;width:33%;
            &:nth-of-type(2){margin:0 0.5%;}
        }
    }
    
    &-btn{display:block;margin:0 auto;width:108px;height:40px;text-align:center;line-height:40px;font-size:1.8rem;color:#fff;background-color:#fc0;border-radius:5px;}
    
    &-add,&-del{@extend .fr;width:28px;height:28px;text-align:center;line-height:28px;font-size:3.2rem;color:#fff;border-radius:2px;overflow:hidden;}
    &-add{margin:33px 30px 10px 0;background-color:#fc0;}
    &-del{display:none;margin:33px 30px 10px -20px;background-color:#fc6773;}
    
    &-step1{display:none;padding-top:10px;
        ul{padding:0 30px 8px;font-size:1.2rem;}
        li{padding-bottom:8px;line-height:36px;}
    }
    &-step2{display:none;}
    &-step3{display:none;}
    
    &-remove{
        ul{padding-left:10px;padding-right:50px;}
        .del-btn{right:5px;}
        &.my-info-step3{.del-btn{right:-45px;}}
    }
}

.m-skill{padding:5px 0;line-height:29px;border:1px solid #dcdcdc;
    &:after{content:'';z-index:-1;position:absolute;left:0;bottom:-3px;width:95%;height:10px;background:#e4e4e4;-webkit-transform:rotate(3deg);}
    &-list{@extend .clearfix;padding-top:40px;
        li{@extend .fl;position:relative;margin:0 0 35px 5px;width:100px;height:70px;text-align:center;font-size:1.4rem;color:#666;background-color:#fff;box-sizing:border-box;}
        .m-skill-edit{position:relative;margin:-20px 0 35px 0;padding:10px 68px 10px 12px;width:100%;height:auto;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;background-color:#eee;
            label{margin-top:5px;}
            a{position:absolute;top:50%;right:12px;margin-top:-22px;width:50px;line-height:44px;color:#fff;border-radius:5px;background:#fc0;}
            i{position:absolute;top:-7px;width:10px;height:10px;border:solid #e5e5e5;border-width:1px 0 0 1px;background-color:#eee;-webkit-transform:rotate(45deg);-webkit-transition:left .5s;}
        }
    }
    &-del{position:absolute;left:0;top:-25px;padding-top:34px;width:34px;height:0;background-position:-97px -89px;overflow:hidden;}
    &-name{display:block;padding:0 3px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
    &-add{border:2px dashed #ebebeb;border-radius:5px;
        &:after,&:before{content:'';position:absolute;left:50%;top:50%;width:34px;height:2px;background-color:#d8d9db;}
        &:before{margin:-1px 0 0 -17px;}
        &:after{margin:-1px 0 0 -17px;-webkit-transform:rotate(90deg);}
    }
    @at-root .my-info-step3 &-list li{line-height:58px; &.m-skill-edit a{margin-top:-19px;line-height:38px;}}
}

:target {display:block;}

.m-showtip{opacity:1;position:absolute;top:50%;left:50%;margin:-30px 0 0 -75px;width:150px;height:60px;text-align:center;line-height:60px;font-size:16px;color:#fff;background-color:rgba(0,0,0,.5);border-radius:5px;-webkit-transition:all 1s;}
.m-showtip-show{opacity:1;}