/*=S HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display:block;}
audio, canvas, video {display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]) {display:none;}
[hidden] {display:none;}
/*=E HTML5 */

/*=S reset */
html,body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,menu,fieldset,legend,input,label,textarea,p,blockquote,th,td {margin:0;padding:0;}
body {background-color:#000;background-size:cover;}
body,textarea {font:400 12px/1.5 Open sans, Microsoft JhengHei, Microsoft YaHei, sans-serif;color:#333;}
a,a:visited {text-decoration:none;color:#fff;cursor:pointer;}
em,i {font-style:normal;}
h1,h2,h3,h4,h5,h6,strong {font-weight:700;font-size:100%;}
label, input, select {vertical-align:middle;}
img, button {background:none;border:0 none;vertical-align:middle;}
ol,ul,menu{list-style:none;}
table,th,td,fieldset,legend {font-weight:400;border:0 none;border-collapse:collapse}
pre {white-space:pre-wrap;}
/*=E reset */

/*=S 布局 */
%iblock {display:inline-block;*display:inline;zoom:1;vertical-align:middle;}
%clearfix {zoom:1;
    &:after {content:"";display:block;clear:both;height:0;overflow:hidden;}
}
.g-wrap{display:flex;align-items:center;position:absolute;top:0;right:0;bottom:0;left:0;justify-content:center;align-items:center;}

.m-menu{
    @extend %clearfix;
    width:1020px;-webkit-perspective:500;

    $size:130px;
    $margin:10px;
    $padding:10px;
    li{cursor:pointer;margin:$margin;padding:$padding;width:$size;height:$size;font-size:18px;text-align:right;color:#fff;background:rgba(0,0,0,.5);opacity:0;
        -webkit-transform:translateZ(-100px) rotateY(10deg); -webkit-transition-duration:1s;
        &.w2{width:($size+$margin+$padding)*2;}
        &.h2{height:($size+$margin+$padding)*2;}
        $i:10;
        @for $i from 1 to $i{
            &:nth-child(#{$i}){-webkit-transition-delay:#{$i/10}s;}
        }
        
    }
    &-show{
        li{opacity:1;-webkit-transform:translateZ(0);}
    }
}
/*=E 布局 */

.m-loading{position:absolute;top:50%;left:50%;width:200px;margin-left:-70px;margin-top:-30px; text-align:center;font-size:2em;color:#fff;z-index:999;}
.m-point-lsit{width:40px;height:40px;margin:0 auto 20px;-webkit-transform:rotate(-120deg);}
.m-point{position:absolute;visibility:visible;visibility:hidden;width:40px;height:40px;
    -webkit-animation-duration:3.3s;
    -webkit-animation-timing-function:cubic-bezier(.25,.6,.9,.35);
    -webkit-animation-iteration-count:infinite;
    i{display:block;width:8px;height:8px;border-radius:8px;background:#fff}
}
.loadText{-webkit-animation:loading 2s infinite;-moz-animation:loading 2s infinite;-ms-animation:loading 2s infinite;animation:loading 2s infinite}

@-webkit-keyframes loading{
    0%,100%{opacity:0}
    50%{opacity:1}
}
@-webkit-keyframes load1{
    0%{-webkit-transform:rotate(-10deg); visibility:visible}
    35%{-webkit-transform:rotate(360deg)}
    73%,100%{-webkit-transform:rotate(700deg); visibility:hidden}
}
@-webkit-keyframes load2{
    4%{visibility:hidden}
    5%{-webkit-transform:rotate(-10deg); visibility:visible}
    40%{-webkit-transform:rotate(360deg)}
    78%,100%{-webkit-transform:rotate(700deg); visibility:hidden}
}
@-webkit-keyframes load3{
    9%{visibility:hidden}
    10%{-webkit-transform:rotate(-10deg); visibility:visible}
    45%{-webkit-transform:rotate(360deg)}
    83%,100%{-webkit-transform:rotate(700deg); visibility:hidden}
}
@-webkit-keyframes load4{
    14%{visibility:hidden}15%{-webkit-transform:rotate(-10deg); visibility:visible}
    50%{-webkit-transform:rotate(360deg)}
    88%,100%{-webkit-transform:rotate(700deg); visibility:hidden}
}
@-webkit-keyframes load5{
    19%{visibility:hidden}
    20%{-webkit-transform:rotate(-10deg); visibility:visible}
    55%{-webkit-transform:rotate(360deg)}
    93%,100%{-webkit-transform:rotate(700deg); visibility:hidden}
}