.icon{display:inline-block;vertical-align: middle;background:url(../images/icon.png) no-repeat 0 0;*dispaly:inline;*zoom:1;}
.icon-log-pass{ width: 27px; height: 23px; } 
.icon-home,.icon-thome,.icon-tmonitor,.icon-tserver,.icon-tapp{vertical-align: -1px;}
.icon-service,.icon-user,.icon-monitor,.icon-tuser{vertical-align: -4px;}
.icon-refresh,.icon-return,.icon-add,.icon-storage-1,.icon-storage-2,.icon-storage-3,.icon-create{margin:-3px 5px 0 0;}
[class*="icon-"]{@extend .icon;
    -webkit-transition:background 0.2s;
       -moz-transition:background 0.2s;
        -ms-transition:background 0.2s;
         -o-transition:background 0.2s;
            transition:background 0.2s;
}
.icon-remind-num{position:absolute;top:1px;right:-15px;text-align:center;line-height:23px;color:#fff;overflow:hidden;}

.icon-cdetail,.icon-cedit,.icon-cupload{margin:0 15px;}

.icon-wfold,.icon-wunfold{position:absolute;right:0;top:13px;}

.icon-home{*vertical-align:2px;}
.icon-tapp{*vertical-align:5px;}
.icon-service{*vertical-align:1px;}
.icon-monitor,.icon-user{*vertical-align:0;}
.icon-menu{*margin-top:30px;}
.icon-set,.icon-exit{*margin-top:28px;}
.icon-edit{*margin-top:13px;}

.icon-thome,.icon-tuser{*vertical-align:4px;}
.icon-tserver{*vertical-align:4px;}
.icon-tmonitor{*vertical-align:4px;}

.icon-create{*vertical-align:1px;}

.m-basis-app dl{*margin-left:-1px;}


.m-main h2{font-size:18px;}

.f-tabs-hd{li.crt{*height:48px;border-bottom-color:#fff;}}

.m-menu li li a i{*margin-top:18px;}
.f-tableselect-hd i{*margin-top:-14px;}

.f-dropdown{*float:left;*display:inline;*width:150px;*zoom:1;}


.icon-del{width:16px;height:16px;background-image:url(../images/icon-del.png);}

.icon-add{ background-position: 0 0; width: 14px; height: 14px; } 
.crt .icon-add,a:hover .icon-add{ background-position: 0 -15px; width: 14px; height: 14px; } 
.icon-arrow-d1{ background-position: 0 -30px; width: 14px; height: 8px; } 
.icon-arrow-d2{ background-position: 0 -39px; width: 14px; height: 8px; } 
.icon-arrow-r1{ background-position: 0 -48px; width: 8px; height: 14px; } 
.icon-arrow-s-down{ background-position: 0 -63px; width: 10px; height: 6px; } 
.icon-arrow-s-up{ background-position: 0 -70px; width: 10px; height: 6px; } 
.crt .icon-cdetail,tr:hover .icon-cdetail{ background-position: 0 -77px; width: 16px; height: 16px; } 
.icon-cdetail{ background-position: 0 -94px; width: 16px; height: 16px; } 

.crt .icon-cedit,tr:hover .icon-cedit{ background-position: 0 -111px; width: 16px; height: 16px; } 
.icon-cedit{ background-position: 0 -128px; width: 16px; height: 16px; } 

.icon-close{ background-position: 0 -145px; width: 16px; height: 16px; } 
.icon-cpu{ background-position: 0 -162px; width: 48px; height: 48px; } 
.icon-create{ background-position: 0 -211px; width: 16px; height: 16px; } 

.crt .icon-cupload,tr:hover .icon-cupload{ background-position: 0 -228px; width: 16px; height: 16px; } 
.icon-cupload{ background-position: 0 -245px; width: 16px; height: 16px; } 


.icon-disk{ background-position: 0 -262px; width: 48px; height: 48px; } 
.icon-edit{ background-position: 0 -311px; width: 25px; height: 24px; } 
.icon-exit{ background-position:-4px -1456px; width: 23px; height: 18px; } 
.icon-home{ background-position: 0 -363px; width: 20px; height: 16px; } 
.crt .icon-home,a:hover .icon-home{ background-position: 0 -380px; width: 20px; height: 16px; } 
.icon-log-name{ background-position: 0 -397px; width: 27px; height: 23px; } 
.icon-log-pass{ background-position: 0 -421px; width: 19px; height: 23px; } 
.icon-menu{ background-position: -7px -1395px; width: 20px; height: 19px; } 
.icon-monitor{ background-position: 0 -465px; width: 20px; height: 20px; } 
.crt .icon-monitor,a:hover .icon-monitor{ background-position: 0 -486px; width: 20px; height: 20px; } 
.icon-net{ background-position: 0 -507px; width: 48px; height: 48px; } 
a:hover .icon-refresh{ background-position: 0 -556px; width: 40px; height: 40px; } 
.icon-refresh{ background-position: 0 -597px; width: 40px; height: 40px; } 
.icon-remind-num{ background-position: 0 -638px; width: 21px; height: 22px; } 
.icon-remind{ background-position: -7px -1424px; width: 17px; height: 20px;} 
.icon-resource{ background-position: 0 -688px; width: 20px; height: 23px; } 
.crt .icon-resource,a:hover .icon-resource{ background-position: 0 -712px; width: 20px; height: 23px; } 
a:hover .icon-return{ background-position: 0 -736px; width: 40px; height: 40px; } 
.icon-return{ background-position: 0 -777px; width: 40px; height: 40px; } 
.icon-search{ background-position: 0 -818px; width: 22px; height: 21px; } 
.icon-service{ background-position: 0 -840px; width: 22px; height: 21px; } 
.crt .icon-service,a:hover .icon-service{ background-position: 0 -862px; width: 22px; height: 21px; } 
.icon-set{ background-position: 0 -1360px; width: 16px; height: 16px; }  
.icon-storage-1{ background-position: 0 -943px; width: 12px; height: 16px; } 
.icon-storage-2{ background-position: 0 -910px; width: 16px; height: 16px; } 
.icon-storage-3{ background-position: 0 -927px; width: 17px; height: 15px; }
.icon-tserver{ background-position: 0 -960px; width: 12px; height: 16px; } 
.icon-tapp{ background-position: 0 -977px; width: 16px; height: 15px; } 
.icon-thome{ background-position: 0 -993px; width: 20px; height: 16px; } 
.icon-tlog{ background-position: 0 -1010px; width: 16px; height: 16px; } 
.icon-tmanage{ background-position: 0 -1027px; width: 16px; height: 16px; } 
.icon-tmonitor{ background-position: 0 -1044px; width: 16px; height: 16px; } 
.icon-tsource{ background-position: 0 -1061px; width: 16px; height: 16px; } 
.icon-tuser{ background-position: 0 -1078px; width: 20px; height: 21px; } 
.icon-user{ background-position: 0 -1100px; width: 20px; height: 21px; } 
.crt .icon-user,a:hover .icon-user{ background-position: 0 -1122px; width: 20px; height: 21px; } 
.icon-wfold{ background-position: 0 -1144px; width: 21px; height: 20px; } 
.icon-wunfold{ background-position: 0 -1165px; width: 21px; height: 20px; } 

.crt .icon-zclose,tr:hover .icon-zclose{ background-position: 0 -1186px; width: 20px; height: 20px; } 
.icon-zclose{ background-position: 0 -1207px; width: 20px; height: 20px; } 
.crt .icon-zdel,tr:hover .icon-zdel{ background-position: 0 -1228px; width: 20px; height: 20px; } 
.icon-zdel{ background-position: 0 -1249px; width: 20px; height: 20px; } 
.crt .icon-zproper,tr:hover .icon-zproper{ background-position: 0 -1270px; width: 20px; height: 20px; } 
.icon-zproper{ background-position: 0 -1291px; width: 20px; height: 20px; } 
.crt .icon-zwarn,tr:hover .icon-zwarn{ background-position: 0 -1312px; width: 20px; height: 20px; } 
.icon-zwarn{ background-position: 0 -1333px; width: 20px; height: 20px; }


.icon-nc{margin-left:7px;margin-top:-2px;background-position: 0 -1487px;width: 12px;height: 16px;}
.crt .icon-nc,a:hover .icon-nc{ background-position: 0 -1504px;} 

.icon-base{margin-left:3px;margin-top:-2px;background-position: 0 -1531px;width: 16px;height: 16px;}
.crt .icon-base,a:hover .icon-base{ background-position: 0 -1548px;} 