@charset "utf-8";
/*!
 *@Description: LinkCloud
 *@Author:      xiaoxiehang (2014-06-15 09:50)
 *@Update:      xiaoxiehang (2014-06-20 15:50)
 *@blog:        http://xiaoxiehang.github.com
*/

$colorRed:#e41a2d;
$colorBlue:#449bd5;
$colorBlueLight:#5fafe4;
$colorOrange:#ef8748;
$colorBorder:#e3e3e3;
$colorBg:#eee;
$border:1px solid $colorBorder;

body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th , img, div ,input, blockquote{margin: 0;padding: 0;}
.frame{overflow:hidden;}
body {font:12px/20px 'microsoft yahei';color:#333;background:#fff;}
ul,ol,li{list-style-type:none;}
img{vertical-align:middle;border:0;}
em,i{font-style:normal;}
a{text-decoration:none;cursor:pointer;color:#333; &:hover{text-decoration:none;}}
input{outline:#fff;}
table{border-spacing:0;border-collapse:collapse;}

.layout{margin-left:auto;margin-right:auto;max-width:1000px;}
.show{display:block;}
.hide{display:none;}
.clearfix{*zoom:1; &:after{content:'';display:block;clear:both;height:0;overflow:hidden;}}
.txt{float:left;margin-right:10px;padding:4px;height:24px;line-height:24px;border:$border;}
textarea.txt{height:auto;}

%fl{float:left;}
%fr{float:right;}
%iblock{display:inline-block;*dispaly:inline;*zoom:1;}

/*=S 框架 */
.g-header{height:80px;background-color:$colorBlueLight;}
.g-side{position:absolute;top:80px;bottom:0;left:0;padding:30px 0;width:270px;background-color:#0f1922;overflow:auto;}
.g-content{position:absolute;top:80px;bottom:0;left:270px;right:0;}
/*=E 框架 */

/*=S 头部 */
.m-logo{@extend %fl;background-color:$colorBlue;
    a{display:block;width:270px;height:80px;text-indent:-999px;background: url(../images/logo.png) no-repeat center center;}
}
.m-menu-btn{@extend %fl;width:65px;height:80px;line-height:80px;text-align:center;border-right:1px solid #4090d3;box-shadow:inset -1px 0px 0px #78c1f2;&:hover{opacity:.8;}}
.m-nav{@extend %fr;
    li{@extend %fl;position:relative;margin-right:28px;line-height:80px;}
}
/*=E 头部 */

/*=S 侧边栏 */
.m-users{margin-bottom:30px;padding-bottom:26px;text-align:center;background:url(../images/user-line.png) no-repeat 0 bottom;
    &-img{@extend %transition;margin-bottom:20px;padding:5px;border:5px solid #3b3b43;border-radius:65px;background-color:#fff;}
    &-img:hover{opacity: .9;}
    &-name{display:block;text-align:center;font-size:14px;color:#fff;}
}
.m-menu{
    li{font-size:16px;border-bottom:1px solid #2d3439;
        a{@extend %transition;display: block;padding-left:34px;line-height:60px;color:#95a0aa;}
        &.crt a,a:hover{color:#fff;background-color:$colorBlue;}
        i{margin-right:10px;}
        em{margin-left:5px;font:italic 12px Calibri;}
        li{border-bottom:0;
            a{padding-left:68px;font-size:12px;line-height:40px;border-left:5px solid #0f1922;
                i{@extend %fl;margin-top:16px;width:6px;height:6px;border:1px solid #98a4ac;overflow:hidden;border-radius:4px;}
            }
            &.crt a,a:hover{border-left-color:$colorBlue;background-color:#273039;
                i{border-color:$colorBlue;}
            }
        }
    }
    .crt{li a{color:#95a0aa;background-color:transparent;}}
}
/*=E 侧边栏 */

.m-iframe{position:absolute;width:100%;height:100%;}
.m-crumb{@extend %fr;margin-top:-44px;&,a{color:#999;}strong{font-weight:400;}}
.m-main{min-width:810px;background-color:$colorBg;
    &-hd{padding:30px;}
        h2{padding-bottom:24px;font-weight:400;border-bottom:$border;i{margin-right:5px;}}
    &-bd{padding:0 30px 30px;}
}
.m-main-white{background-color:#fff;
    .m-main-hd{background-color:$colorBg;}
}

%box{border:$border;background-color:#f7f7f7;overflow:hidden;border-radius:3px;}

.m-monitor-bd,.m-basis-count{@extend %box;text-align:center;
    li{@extend %fl;margin-left:-1px;padding:20px 0 25px;text-align:center;border-left:$border;
        span,strong{display:block;line-height:1;}
        span{font-size:16px;color:#888;}
        strong{padding:10px 0;font:400 50px Calibri;}
    }
}

/*=S 首页 */
.m-monitor{@extend .clearfix;
    //&-mod{@extend %fl;margin:0 60px 60px 0;}
    &-mod{@extend %fl;margin:0 5% 60px 0;width:45%;}
    &-hd{margin-bottom:15px;font-size:20px;line-height:30px;i{color:$colorOrange}}
    &-bd{li{width:50%;}}
}
/*=E 首页 */

/*=S 基础应用 */
.m-basis-list{margin-left:-30px;}
.m-basis{@extend %fl;margin:0 0 30px 30px;width:585px;/*width:620px;*/box-shadow:0 0 3px #ddd;
    &-hd{position:relative;line-height:50px;background-color:$colorBlueLight;overflow:hidden;border-top-left-radius:3px;border-top-right-radius:3px;
        h3{text-indent:20px;font-size:18px;font-weight:400;color:#fff;}
        a{position:absolute;top:0;right:12px;}
    }
    &-info{padding:28px 0;text-align:center;font-size:14px;line-height:40px;border-left:$border;border-right:$border;background-color:#ecf1f5;
        span{@extend %iblock;width:110px;text-align:left;}
        em{color:#fb6e52;}
    }
    &-app{@extend .clearfix;padding-bottom:40px;border:$border;background-color:#fff;
        dl{@extend %fl;margin-top:40px;width:50%;}
        dt,dd{margin:0 26px;}
        dt{text-indent:10px;font-size:16px;line-height:42px;color:$colorBlue;border-left:4px solid $colorBlueLight;background:$colorBg;}
        dd{margin-top:10px;line-height:38px;color:#506470;border-bottom:1px dotted $colorBorder;span{color:#999;}}
    }
    &-count{border-top:none;
        li{width:33.3%;}
    }
}
/*=E 基础应用 */

/*=S 基础资源 */
/*=E 基础资源 */

/*=S 账户权限 */
.m-user{
    //账户基本信息
    &-name,&-time{line-height:35px;}
    &-name{@extend %fl;margin-right:10px;font-size:20px;}
    &-time{@extend %fr;color:#666;}
    &-cont{@extend %box;margin-top:10px;
        li{@extend %fl;margin-left:-1px;width:33.33%;height:175px;line-height:175px;text-align:center;font-size:20px;border-left:$border;
            em{color:#fb6e52;}
        }
    }

    //角色权限
    &-pur{margin:0 -30px -30px;border-top:$border;}
        &-operate{padding:10px 0;border-top:1px solid #fff;border-bottom:1px solid #fff;background-color:#e6f2fb;
            a{@extend %iblock,%transition;margin:0 26px;padding:0 18px;height:40px;line-height:40px;font-size:16px;border:$border;background-color:#fff;border-radius:20px;
                &.crt,&:hover{color:#fff;background:#fb6e52;}
            }
        }
    &-all{border-top:$border;overflow:hidden;}
        &-tree{@extend %fl;padding-top:10px;width:175px;line-height:34px;border-right:$border;background-coLor:#f7f7f7;box-shadow:inset -1px 1px 1px #fff;
            h4{text-indent:24px;font-size:16px;font-weight:400; i.u-arrow{vertical-align:1px;}}
            li{text-indent:48px;
                &.crt a,a:hover{color:#fff;background:$colorBlueLight;}
            }
            a{display:block;}
        }
        &-list{margin-left:352px;padding:10px;background-coLor:#fff;overflow-x:auto;}
        
        &-tree,&-list{margin-bottom:-9999px;padding-bottom:9999px;}
}
/*=E 账户权限 */
.m-table{min-width:100%;
    th,td{text-align:center;line-height:22px;white-space: nowrap;}
    th{padding:10px 15px;font-weight:400;color:#fff;background-color:$colorBlueLight;}
        & &-f{padding:0;}
    td{padding:20px 15px;}
    tr:nth-child(even) td{background:$colorBg;}
    .m-table-edit{visibility:hidden;}
    tr.crt,tbody tr:hover{ .m-table-edit{visibility:visible;} td{background-color:#d0e9fa;}}
}

/*=S VM 管理*/
.m-vmtabs{border:$border;
    &-hd{@extend .clearfix;margin-bottom:10px;padding:0 10px;line-height:42px;font-size:14px;background:$colorBg;
        li{@extend %fl;a{padding:0 20px;color:#666;}.u-pipe{color:#bbb;}}
        .crt a{color:$colorBlue;}
    }
    &-tool{padding:20px;}
}
.m-vmdetail{padding:20px;line-height:30px;a{color:$colorBlue;}}
/*=S VM 管理*/

/*=S NC监控 */
.storage-share{overflow:hidden;
    li{@extend %fl;position:relative;margin:0 4% 4% 0;width:30%;max-width:270px;
        a{@extend %box,%transition;display:block;padding:24px 0;height:70px;line-height:70px;text-indent:115px;font-size:16px;white-space:nowrap;
            &:hover{background-color:#f1f1f1;}
        }
        i{color:$colorOrange;}
        span{position:absolute;top:24px;left:28px;padding:11px;height:48px;line-height:1;text-align:center;text-indent:0;}
    }
    &-net span{background-color:#ff6c60;}
    &-disk span{background-color:#66cdcc;}
    &-cpu span{background-color:#73bf67;}
}
.m-chart{margin-left:-70px;overflow:hidden;}
/*=E NC监控 */
/*=S 分页 */
.m-pages{text-align:right;
    a,span,em{@extend %iblock;margin:0 2px;width:35px;height:35px;line-height:35px;text-align:center;}
    a{border:$border;}
    span,em{padding:1px;}
    em{color:#fff;background:#fb6e52;}
}
/*=E 分页 */
.m-data-list{overflow-x:auto;}

/*=S 登录页面 */
.log{
    &-hd,&-bd,&-ft{position:absolute;}
    &-hd,&-ft{z-index:1;left:0;width:100%;height:80px;}
    &-hd{border-bottom:$border;background-color:#fff;}
    &-bd{top:50%;left:50%;margin:-180px 0 0 -226px;padding:25px 65px 40px;width:320px;border:$border;
        h2{margin-bottom:10px;
            em{display:block;font:16px 'Century Gothic';color:#666;}
            strong{display:block;font-size:32px;font-weight:400;line-height:42px;color:$colorBlue;}
        }
        li{overflow:hidden;}
        .log-txt{display:block;position:relative;padding:10px 0;
            span{position:absolute;top:21px;left:10px;}
            input{padding:4px 4px 4px 44px;width:270px;height:36px;line-height:36px;color:#888;font-size:14px;border:$border;}
        }
        .log-chk{@extend %fl;cursor:pointer;input{@extend %fl;margin:3px 5px 0 0;*margin-top:0;}}
        .log-tips{@extend %fr;color:$colorRed;}
        .log-btn{display:block;margin-top:10px;height:56px;text-align:center;font-size:20px;line-height:56px;color:#fff;background:url(../images/log-btn.png) no-repeat 0 0;}
    }
    &-ft{bottom:0;text-align:center;line-height:80px;color:#fff;background-color:#353644;}

    &-logo{@extend %fl;margin-top:28px;width:157px;height:24px;background:url(../images/log-logo.png) no-repeat 0 0;}
    &-nav{@extend %fr;margin:32px 0;line-height:16px;overflow:hidden;
        li{@extend %fl;margin:0 15px 0 -1px;padding-left:15px;border-left:$border;}
    }
}
/*=E 登录页面 */

.g-side::-webkit-scrollbar {width:3px;}
.g-side::-webkit-scrollbar-thumb {background:$colorBlue;}

.u-tag-sel{margin-right:5px;}
.u-pipe{padding:0 10px;font-family:sans-serif;}
.u-arrow{@extend %iblock;width:0;height:0;border:5px solid transparent;overflow:hidden;
    @each $f in top,right,bottom,left{
        &-#{$f}{border-#{$f}-color:#333;}
    }
}
.u-select-btn{@extend %iblock,%transition;margin-right:5px;padding:0 15px;height:25px;line-height:25px;border:$border;border-radius:3px;
    &.crt,&:hover{color:#fb6e52;border-color:#fb6e52;}
}
.u-orange-btn,.u-operate-btn{@extend %iblock,%transition;margin-right:5px;padding:0 22px;line-height:35px;font-size:14px;color:#fff;border-radius:3px;}
.u-orange-btn{background-color:#fb6e52; &:hover{background-color:#fab2a4;}}
.u-operate-btn{background-color:#b6c2c9; &:hover{background-color:#C3CED5;}}
.u-orange-btn-s,.u-operate-btn-s{padding:0 12px;height:24px;line-height:25px;font-size:12px;overflow:hidden;}
.u-radius-btn{@extend %iblock,%transition;padding:0 20px;height:32px;line-height:30px;font-size:14px;color:#9097a1;border:$border;border-radius:16px;
    &:hover{background-color:#fb6e52;&,i{color:#fff;}}
    i{color:$colorOrange}
}

.f-tool{@extend .clearfix;margin-bottom:20px;
    label span{@extend %fl;line-height:34px;}
    &-btn{@extend %fl;margin:5px 10px 0 0;}
}

/*=S 切换 */
.f-tabs{
    &-hd,&-bd{padding:0 30px;}
    &-hd{@extend .clearfix;height:50px;border-bottom:2px solid $colorBlue;background-color:$colorBg;
        li{@extend %fl;position:relative; margin:0 10px -2px 0;padding:1px 21px;line-height:47px;font-size:16px;color:#666;border:$border;border-bottom:0;background-color:#e6f2fb;cursor:pointer;}
        .crt{padding:0 20px;height:50px;font-size:18px;border-width:2px;border-color:$colorBlue;background-color:#fff;}
        .u-orange-btn{margin-top:7px;}
    }
    &-bd{padding-top:32px;}
}
/*=E 切换 */

/*=S 弹框 */
.win{z-index:99;position:fixed;_position:absolute;border-radius:3px;background:#fff;
    &-hd{position:relative;height:48px;line-height:48px;border-top:3px solid $colorBlue;background:#000;
        h3{text-indent:16px;font-weight:400;font-size:16px;color:#fff;}
        .win-close{cursor:pointer;position:absolute;right:20px;top:16px;overflow:hidden;}
    }
    &-bd{padding:30px 60px 0;}
    &-ft{padding:10px 0 30px;text-align:center; & a{margin:0 5px;} }
    
    &-box{
        &-tit{margin-bottom:28px;font-size:16px;line-height:46px;color:#fb6e52;border-bottom:1px dashed #cccccc;}
        &-switch{position:relative;cursor:pointer;}
        p{line-height:34px;}
    }
    &-form{padding-right:40px;
        li{@extend .clearfix;margin-bottom:15px;line-height:34px;}
        label span{float:left;width:140px;text-align:right;color:#666;}
        .pipe{float:left;margin-right:10px;}
        em{float:left;width:50px;text-align:center;}
        .txt{width:260px;}
        .f-select{width:270px;}
        .txtip{width:40px;}
    }
}
.win-mask{z-index:98;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.6);*background-color:#000;filter: alpha(opacity=60);}
/*=E 弹框 */

/*=S 下拉 */
.f-select,.f-dropdown{
    &.crt{z-index:2;}
    &-bd{display:none;position:absolute;top:36px;min-width:100%;
        ul{border:$border;background-color:#fff;box-shadow:0 0 3px #ddd;}
        li{cursor:pointer;padding:0 15px;line-height:24px;}
    }
}
.f-select{@extend %fl;z-index:1;position:relative;margin-right:10px;min-width:165px;height:34px;
    &-hd{position:relative;cursor:pointer;padding:0 24px 0 10px;line-height:32px;font-size:14px;border:$border;
        a{display:block;}
    }
        &-arrow{position:absolute;top:13px;right:5px;}
    &-bd{
        li{margin-bottom:0;}
        .crt,li:hover{background-color:#e6f2fb;}
    }
}
.f-dropdown{@extend %iblock;position:relative;
    &-bd{top:40px;
        ul{padding:8px 0;}
        .crt,li:hover{background-color:#b6c2c9;}
    }
    .u-operate-btn{margin-right:0;}
    .u-arrow-top{margin-left:5px;vertical-align:-3px;border-top-color:#fff;}
}
.f-tableselect{position:relative;min-width:85px;text-align:left;
    &-hd{cursor:pointer;padding:1px;width:100%;line-height:26px;text-indent:5px;
        a{color:#fff;}i{@extend %fr;margin:10px 5px 0 0;}
    }
    &-bd{display:none;position:absolute;left:0;top:27px;min-width:100%;line-height:24px;color:#666;border:1px solid #a2d8eb;background-color:#fff;
        li{cursor:pointer;text-indent:5px;}
        label{display:block;}
        .crt,li:hover{background-color:#d0e9fa;}
    }
    &-btn{padding:5px 0;text-align:center;background-color:#e6f2fb;
        a{@extend %iblock;margin:0 2px;padding:0 5px;line-height:18px;color:#fff;background-color:#b6c2c9;}
        & &-1{background-color:#fb6e52;}
    }
    &-hd:hover{padding:0;border:1px solid #a2d8eb;}
}
.crt{
    .f-tableselect-hd{padding:0;border:1px solid #a2d8eb;}
    .f-dropdown-hd .u-operate-btn{background-color:#31383e;}
    .f-select-bd,.f-dropdown-bd,.f-tableselect-bd{display:block;}
}
/*=E 下拉 */

/*=S 搜索 */
.f-search{@extend %fl;position:relative;margin-right:10px;height:34px;
    input{padding:4px 26px 4px 4px;width:250px;height:24px;line-height:24px;border:$border;box-shadow:inset 0 1px 1px #f1f1f1;}
    &-btn{position:absolute;top:6px;right:6px;}
}
/*=E 搜索 */

/*=S 图表*/
.f-chart{@extend %fl;margin:0 0 20px 70px;width:600px;height:270px;overflow:hidden;
    &-hd{line-height:40px;overflow:hidden;
        h4{@extend %fl;font-size:16px;font-weight:400;}
        a{@extend %fr;color:#999;font-size:14px;i{color:$colorOrange;}}
    }
    &-bd{margin-left:-40px;width:700px;height:250px;background-color:#ebf6fc;}
}
/*=E 图表*/

/*=S  */
.f-editbox{position:absolute;border:$border;
    &-bd{@extend .clearfix;padding:20px 25px;background-color:#fff;}
    &-ft{padding-top:7px;text-align:center;background-color:#e6f2fb;}
    label{@extend %fl;line-height:34px;}
}
/*=E  */

/*=S NC服务器详情 */
    .m-nc-detail{@extend .clearfix;position:relative;margin:-20px -15px;padding:20px 0;border:1px solid #fee9c3;background-color:#ffffe2;
        dl{@extend %fl;margin-left:-2px;width:33%;height:88px;text-align:left;border-left:$border;}
        dt,dd{margin-left:128px;}
        dt{font-size:14px;color:#fb6e52;}
        
        .m-nc-arrow{position:absolute;top:-20px;right:128px;width:0;height:0;border:10px solid;border-color:transparent transparent #fee9c3 transparent;overflow:hidden;}
    }

/*=S NC服务器详情 */

.m-department-list{margin-bottom:10px;line-height:24px;
    .u-arrow{vertical-align: -3px;}
    dd label{margin-right:15px;}
    input{@extend .u-tag-sel;}
    li{padding-left:24px; span{@extend %iblock;width:85px;text-align:right;}}
}
.m-filter-box{margin-left:140px;padding:10px;wdth:330px;border:$border;
    label span{width:auto;}
    .f-select{min-width:120px;width:120px;}.txt{width:115px;}
    table{margin-bottom:10px;width:100%;}
    td,th{text-align:center;border:$border;}
    .m-filter-btns{text-align:center;}
    p{clear:both;}
}

.w-sel-box{@extend %fl;
    a{@extend %iblock;margin:0 5px 5px 0;padding:1px;width:58px;text-align:center;line-height:30px;border:$border;}
    .crt{padding:0;border-width:2px;border-color:$colorRed;}
}

.w-tabs{margin-left:140px;
    &-hd{overflow:hidden;
        li{@extend %fl;cursor:pointer;position:relative;margin-right:15px;width:85px;height:28px;line-height:28px;text-align:center;border:$border;
            .u-arrow{display:none;position:absolute;bottom:-10px;left:37px;}
        }
        .crt{color:#fff;background-color:$colorBlue;.u-arrow{display:block;border-top-color:$colorBlue;}}
    }
    &-bd{padding:10px;line-height:24px;border:$border;label{margin:0 15px 10px 0;}}
}

$kernel : -webkit-,-moz-,-ms-,-o-,'';
$i : 5;
%transition{
    @for $i from 1 to $i+1{
        #{nth($kernel,$i)}transition:all ease 0.2s;
    }
}
a:hover{
    .icon-remind{
        @for $i from 1 to $i+1{
            #{nth($kernel,$i)}animation:swing 1s ease 2;
        }
    }
    .icon-set{
        @for $i from 1 to $i+1{
            #{nth($kernel,$i)}animation:rotate 1s ease both;
        }
    }
}

/*消息图标*/
@-webkit-keyframes swing {
    20%, 40%, 60%, 80%, 100% { -webkit-transform-origin:top center;}
    20% { -webkit-transform: rotate(15deg); }
    40% { -webkit-transform: rotate(-10deg); }
    60% { -webkit-transform: rotate(5deg); }
    80% { -webkit-transform: rotate(-5deg); }
    100% { -webkit-transform: rotate(0deg); }
}
/*设置图标*/
@-webkit-keyframes rotate{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}