@charset "utf-8";
/*！
    xiaoxiehang 2014-06-16
*/

$colorRed:#e41a2d;
$colorBlue:#449bd5;
$colorBlueLight:#5fafe4;
$colorOrange:#ef8748;
$colorBorder:#e3e3e3;
$colorBg:#eee;

body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th , img, div ,input, blockquote{margin: 0;padding: 0;}
html{overflow:auto;}
body {font:12px/20px 'microsoft yahei';color:#333;background:#fff;}
ul,ol,li{list-style-type:none;}
img{vertical-align:middle;border:0;}
em,i{font-style:normal;}
a{text-decoration:none;cursor:pointer;color:#333;
    &:hover{text-decoration:none;}
}
input{outline:#fff;}
table{border-spacing:0;border-collapse:collapse;}
.layout{margin-left:auto;margin-right:auto;max-width:1000px;}
.show{display:block;}
.hide{display:none;}
%fl{float:left;}
%fr{float:right;}
%iblock{display:inline-block;*dispaly:inline;*zoom:1;}
.clearfix{*zoom:1;
    &:after{content:'';display:block;clear:both;height:0;overflow:hidden;}
}

/*=S 框架 */
.g-header{height:80px;background-color:$colorBlueLight;}
.g-side{position:absolute;top:80px;bottom:0;left:0;padding:30px 0;width:270px;background-color:#0f1922;overflow:auto;}
.g-content{position:absolute;top:80px;bottom:0;left:270px;right:0;}
/*=E 框架 */

/*=S 头部 */
.m-logo{@extend %fl;background-color:$colorBlue;
    a{display:block;width:270px;height:80px;text-indent:-999px;background: url(../images/logo.png) no-repeat center center;}
}
.m-menu-btn{@extend %fl;width:65px;height:80px;line-height:80px;text-align:center;border-right:1px solid #4090d3;box-shadow:inset -1px 0px 0px #78c1f2;&:hover{opacity:.8;}}
.m-nav{@extend %fr;
    li{@extend %fl;position:relative;margin-right:28px;line-height:80px;}
}
/*=E 头部 */

/*=S 侧边栏 */

.m-users{margin-bottom:30px;padding-bottom:26px;text-align:center;background:url(../images/user-line.png) no-repeat 0 bottom;
    &-img{@extend %transition;margin-bottom:20px;padding:5px;border:5px solid #3b3b43;border-radius:65px;background-color:#fff;}
    &-img:hover{opacity: .9;}
    &-name{display:block;text-align:center;font-size:14px;color:#fff;}
}
.m-menu{
    li{font-size:16px;border-bottom:1px solid #2d3439;
        a{@extend %transition;display: block;padding-left:34px;line-height:60px;color:#95a0aa;}
        &.crt a,a:hover{color:#fff;background-color:$colorBlue;}
        i{margin-right:10px;}
        em{margin-left:5px;font:italic 12px Calibri;}
        li{border-bottom:0;
            a{padding-left:68px;font-size:12px;line-height:40px;border-left:5px solid #0f1922;
                i{@extend %fl;margin-top:16px;width:6px;height:6px;border:1px solid #98a4ac;overflow:hidden;border-radius:4px;}
            }
            &.crt a,a:hover{border-left-color:$colorBlue;background-color:#273039;
                i{border-color:$colorBlue;}
            }
        }
    }
    .crt{li a{color:#95a0aa;background-color:transparent;}}
}
/*=E 侧边栏 */

.m-iframe{position:absolute;width:100%;height:100%;}
.m-crumb{@extend %fr;margin-top:-44px;&,a{color:#999;}strong{font-weight:400;}}
.m-main{min-width:810px;background-color:$colorBg;
    &-hd{padding:30px;}
        h2{padding-bottom:24px;font-weight:400;border-bottom:1px solid $colorBorder;i{margin-right:5px;}}
    &-bd{padding:0 30px 30px;}
}
.m-main-white{background-color:#fff;
    .m-main-hd{background-color:$colorBg;}
}

%box{border:1px solid $colorBorder;background-color:#f7f7f7;overflow:hidden;border-radius:3px;}
/*=S 首页 */
.m-monitor{@extend .clearfix;
    //&-mod{@extend %fl;margin:0 60px 60px 0;}
    &-mod{@extend %fl;margin:0 5% 60px 0;width:45%;}
    &-hd{margin-bottom:15px;font-size:20px;line-height:30px;i{color:$colorOrange}}
    &-bd{@extend %box;text-align:center;
        li{@extend %fl;margin-left:-1px;padding:20px 0 25px;width:50%;text-align:center;border-left:1px solid $colorBorder;
            span,strong{display:block;line-height:1;}
            span{font-size:16px;color:#888;}
            strong{padding:10px 0;font:400 50px Calibri;}
        }
    }
    &-detail{@extend %iblock,%transition;padding:0 20px;height:32px;line-height:30px;font-size:14px;color:#9097a1;border:1px solid $colorBorder;border-radius:16px;
        &:hover{background-color:#f1f1f1;}
        i{color:$colorOrange}
    }
}
/*=E 首页 */

/*=S 账户基本信息 */
.m-user{
    &-name,&-time{line-height:35px;}
    &-name{@extend %fl;margin-right:10px;font-size:20px;}
    &-time{@extend %fr;color:#666;}
    &-cont{@extend %box;margin-top:10px;
        li{@extend %fl;margin-left:-1px;width:33.33%;height:175px;line-height:175px;text-align:center;font-size:20px;border-left:1px solid $colorBorder;
            em{color:#fb6e52;}
        }
    }
}
/*=E 账户基本信息 */

/*=S NC监控 */
.storage-share{overflow:hidden;
    li{@extend %fl;position:relative;margin:0 4% 4% 0;width:30%;max-width:270px;
        a{@extend %box,%transition;display:block;padding:24px 0;height:70px;line-height:70px;text-indent:115px;font-size:16px;white-space:nowrap;
            &:hover{background-color:#f1f1f1;}
        }
        i{color:$colorOrange;}
        span{position:absolute;top:24px;left:28px;padding:11px;height:48px;line-height:1;text-align:center;text-indent:0;}
    }
    &-net span{background-color:#ff6c60;}
    &-disk span{background-color:#66cdcc;}
    &-cpu span{background-color:#73bf67;}
}
/*=E NC监控 */

/*=S 登录页面 */
.log{
    &-hd,&-bd,&-ft{position:absolute;}
    &-hd,&-ft{z-index:1;left:0;width:100%;height:80px;}
    &-hd{border-bottom:1px solid $colorBorder;background-color:#fff;}
    &-bd{top:50%;left:50%;margin:-180px 0 0 -226px;padding:25px 65px 40px;width:320px;border:1px solid $colorBorder;
        h2{margin-bottom:10px;
            em{display:block;font:16px 'Century Gothic';color:#666;}
            strong{display:block;font-size:32px;font-weight:400;line-height:42px;color:$colorBlue;}
        }
        li{overflow:hidden;}
        .log-txt{display:block;position:relative;padding:10px 0;
            span{position:absolute;top:21px;left:10px;}
            input{padding:4px 4px 4px 44px;width:270px;height:36px;line-height:36px;color:#888;font-size:14px;border:1px solid $colorBorder;}
        }
        .log-chk{@extend %fl;cursor:pointer;input{@extend %fl;margin:3px 5px 0 0;*margin-top:0;}}
        .log-tips{@extend %fr;color:$colorRed;}
        .log-btn{display:block;margin-top:10px;height:56px;text-align:center;font-size:20px;line-height:56px;color:#fff;background:url(../images/log-btn.png) no-repeat 0 0;}
    }
    &-ft{bottom:0;text-align:center;line-height:80px;color:#fff;background-color:#353644;}

    &-logo{@extend %fl;margin-top:28px;width:157px;height:24px;background:url(../images/log-logo.png) no-repeat 0 0;}
    &-nav{@extend %fr;margin:32px 0;line-height:16px;overflow:hidden;
        li{@extend %fl;margin:0 15px 0 -1px;padding-left:15px;border-left:1px solid $colorBorder;}
    }
}
/*=E 登录页面 */

.g-side::-webkit-scrollbar {width:3px;}
.g-side::-webkit-scrollbar-thumb {background:$colorBlue;}

.u-pipe{padding:0 10px;font-family:sans-serif;}
.u-orange-btn{@extend %iblock,%transition;padding:0 24px;line-height:35px;font-size:14px;color:#fff;background-color:#fb6e52;border-radius:3px;
    &:hover{background-color:#fab2a4;}
}
.f-tool{@extend .clearfix;}
/*=S 切换 */
.f-tabs{
    &-hd,&-bd{padding:0 30px;}
    &-hd{@extend .clearfix;height:50px;border-bottom:2px solid $colorBlue;background-color:$colorBg;
        li{@extend %fl;position:relative; margin:0 10px -2px 0;padding:1px 21px;line-height:47px;font-size:16px;color:#666;border:1px solid $colorBorder;border-bottom:0;background-color:#e6f2fb;cursor:pointer;}
        .crt{padding:0 20px;height:50px;font-size:18px;border-width:2px;border-color:$colorBlue;background-color:#fff;}
    }
    &-bd{padding-top:48px;}
}
/*=E 切换 */

/*=S 下拉 */
.f-select{@extend %fl;z-index:1;position:relative;margin-right:10px;min-width:165px;height:34px;
    &-hd{position:relative;cursor:pointer;padding:0 24px 0 10px;line-height:32px;font-size:14px;border:1px solid $colorBorder;a{display:block;}}
        &-arrow{position:absolute;top:13px;right:5px;}
    &-bd{display:none;position:absolute;top:33px;left:0;right:0;border:1px solid $colorBorder;background-color:#fff;}
}

.f-search{@extend %fl;position:relative;height:34px;
    input{padding:4px 26px 4px 4px;width:250px;height:24px;line-height:24px;border:1px solid $colorBorder;box-shadow:inset 0 1px 1px #f1f1f1;}
    &-btn{position:absolute;top:6px;right:6px;}
}
/*=E 下拉 */

$kernel : -webkit-,-moz-,-ms-,-o-,'';
$i : 5;
%transition{
    @for $i from 1 to $i+1{
        #{nth($kernel,$i)}transition:all ease 0.2s;
    }
}
a:hover{
    .icon-remind{
        @for $i from 1 to $i+1{
            #{nth($kernel,$i)}animation:swing 1s ease 2;
        }
    }
    .icon-set{
        @for $i from 1 to $i+1{
            -webkit-animation:rotate 1s ease both;
        }
    }
}

/*消息图标*/
@-webkit-keyframes swing {
    20%, 40%, 60%, 80%, 100% { -webkit-transform-origin:top center;}
    20% { -webkit-transform: rotate(15deg); }
    40% { -webkit-transform: rotate(-10deg); }
    60% { -webkit-transform: rotate(5deg); }
    80% { -webkit-transform: rotate(-5deg); }
    100% { -webkit-transform: rotate(0deg); }
}
/*设置图标*/
@-webkit-keyframes rotate{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}