body {background:#edf0f2 url(images/bk.png) top repeat-x !important;}
.logo,.icon,.main-top,.main-bottom,.main-left,.main-right,.menu-hd,.main-hd-show,.menu-list li,.main-hd li a,.box-switch li .selected{background-image:url(images/bg-item.png);}

.icon-punch,.icon-setting,.icon-user,.icon-quit{width:25px;}
.icon-refresh,.icon-set{width:16px;height:16px; margin:-2px 0 0 0;}
.icon-home{left:16px;top:8px;}

.header{padding:5px 22px 0 0;color:#fff;height:72px;}
    .logo{padding-top:48px;width:315px;background-position:5px 5px;}
    .description{margin:0 0 0 124px;line-height:19px;}
    .header a{color:#0e2746;}
    .site-nav{padding-top:5px;overflow:hidden;}
    .site-nav li span{margin-left:30px;}

.main-top,.main-bottom{display:none;}
.main{padding-top:0;left:5px;right:5px;top:77px;bottom:0;border:0;}
    .main-menu{width:182px;}
        .menu-hd{margin:0;}
            .menu-hd a{color:#667280;font-weight:700;}
            .menu-hd a:hover{text-decoration:none;}
        .menu-bd{border-left:1px solid;border-right:1px solid;border-bottom:0;background:#dae5f2;}
            .menu-bd li{padding:0;border:0;}
                .menu-bd li a{margin:1px;line-height:30px;color:#405098;}
                    .menu-bd li a:hover{text-decoration:none;font-weight:700;background:#fafafa;}
                    .menu-bd li a i{margin-left:-23px;}
            .menu-bd .tree li{border-bottom:0;}
        .menu-hd,.menu-list li{width:162px;height:26px;line-height:26px;background-position:0 -200px;}
        .icon-menu-list,.icon-menu-item{height:30px;}
    .main-cont{top:0;right:1px;bottom:8px;left:184px;padding-top:25px;border:1px solid;}
        .main-hd{margin:-26px 0 0 0;padding:0;}
            .main-hd-show{height:26px;background-position:0 -230px;background-repeat:repeat-x;}
                .main-hd-show li{margin:0;width:125px;height:26px;}
                    .main-hd-show li.selected{width:128px;}
                    .main-hd-show li a{height:26px;color:#3d444d;line-height:28px;background-position:-164px -81px;}
                    .main-hd-show li a:hover{line-height:30px;background-position:-288px -81px}
                    .main-hd-show li .selected, .main-hd li .selected:hover{line-height:30px;background-position:-2px -134px;}
            .main-hd-hide{display:none;position:absolute;right:-1px;top:30px;width:200px;background:#fff;border:1px solid;overflow:auto;}
                .main-hd-hide li{position:relative;}
                .main-hd-hide li a{display:block;margin-top:-1px;padding:0 20px 0 10px;line-height:30px;white-space:nowrap;text-overflow:ellipsis;border-top:1px dashed #ccc;background:none;overflow:hidden;}
        .main-cont iframe {top:25px;}

/*颜色*/
.menu-bd,.main-cont{border-color:#b8cde5;}

.menu-bd li,
.iframe{background:#fff !important;}

/* iframe内的样式 */
.box-hd h2 i{background:#d1281b;}
.box-switch li a{height:24px;line-height:24px;}
.box-switch li a.selected{color:#fff;background:#337dac;}
.box-switch li a:hover,.box-switch li a.selected:hover{color:#fff;text-decoration:none;background:#225580;}
