.icon{display:inline-block;vertical-align: middle;background:url(../images/icon.png) no-repeat 0 0;*dispaly:inline;*zoom:1;}
[class*="icon-"]{@extend .icon;
    -webkit-transition:background 0.2s;
       -moz-transition:background 0.2s;
        -ms-transition:background 0.2s;
         -o-transition:background 0.2s;
            transition:background 0.2s;
}