@import 'base/_base'; //基础

@import
    'layout/_header', //头部
    'layout/_nav', //导航
    'layout/_content', //主体
    'layout/_footer'; //底部

@import
    'components/_booklist', //图书列表
    'components/_search', //搜索
    'components/_taglist', //热门标签
    'components/_look', //看看
    'components/_blan'; //读书计划

@import
    'pages/_index', //首页
    'pages/_user', //用户
    'pages/_bookDetail', //详情
    'pages/_manage'; //管理

@import
    'components/_select'; //下拉列表