article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
[hidden]{display:none}
html,body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,label,textarea,p,blockquote,th,td,menu{margin:0;padding:0}
body{background-color:#f2f2f2}
body,textarea{font:400 12px/1.5 'Calibri',arial,Tahoma,sans-serif;color:#262626}
a,a:visited{cursor:pointer;text-decoration:none;color:#262626}
em,i{font-style:normal}
h1,h2,h3,h4,h5,h6,strong{font-weight:700;font-size:100%}
label,input,select{vertical-align:middle}
img,button{background:none;border:0 none;vertical-align:middle}
ol,ul,nav,menu{list-style:none}
table,th,td,fieldset,legend{font-weight:400;border:0 none;border-collapse:collapse}
pre{white-space:pre-wrap}
.show{display:block}
.hide{display:none}
.iblock{display:inline-block;*display:inline;zoom:1;vertical-align:middle}
.clearfix{zoom:1}
.clearfix:after{content:".";display:block;clear:both;height:0;visibility:hidden}
.fl{float:left}
.fr{float:right}
.pipe{padding:0 12px;font-family:'simsun';color:#999}
.tl{text-align:left}
.tr{text-align:right}
.tc{text-align:center}
.color1{color:#00b0f0}
.fz16{font-size:16px}
.icon{display:inline-block;*display:inline;zoom:1;vertical-align:middle;background:url(../images/icon.png) no-repeat top left}
.icon-mobile,.icon-keep,.icon-dress,.icon-cart,.icon-group{margin-top:-2px;margin-right:5px}
.icon-mobile{background-position:0 -157px;width:10px;height:14px}
.icon-keep{background-position:0 -143px;width:14px;height:13px}
.icon-dress{background-position:0 -110px;width:16px;height:10px}
.icon-cart{background-position:0 -81px;width:16px;height:14px}
.icon-cart-num{margin-left:5px;padding-right:2px;width:18px;height:20px;line-height:20px;text-align:center;color:#fff;background-position:0 -60px}
.icon-group{background-position:0 -121px;width:32px;height:21px}
.icon-close{background-position:0 -96px;width:13px;height:13px}
.layout{margin:0 auto;width:1100px}
.top-ad{position:relative;width:100%;height:70px;background:#00b0f0}
.top-ad-close{position:absolute;top:22px;right:22px;width:25px;height:25px;background:url(../images/close.png)}
.top-ad-close:hover{-webkit-animation:rotate .4s linear 1}
.site{height:60px;border-bottom:1px solid #d9d9d9}
.site-link{float:left;margin:20px 0;line-height:20px}
.language{float:right;margin-top:15px}.language a{margin-left:5px;width:30px;height:30px;line-height:30px;text-align:center;color:#fff;background-position:0 -289px}
.language a.selected{background-position:0 -258px}
.search{float:right;margin:35px 0;padding:2px;height:24px;background:#00b0f0}
.search-txt{float:left;padding:3px;width:200px;height:18px;line-height:18px;border:none;outline:none}
.search-btn{float:left;margin-top:3px;width:35px;height:16px;text-indent:-100px;background-position:10px -186px;overflow:hidden}
.nav{clear:both;border-bottom:3px solid #00b0f0}
.nav ul{margin:0 auto;width:1100px;padding-left:1px;height:54px;font-size:18px}
.nav-item{position:relative;float:left;margin-left:-1px;width:274px;height:53px;line-height:53px;text-align:center;border:1px solid #d9d9d9;border-bottom:none}.nav-item a{z-index:1;position:absolute;top:0;left:0;width:100%;height:100%}.nav-item a .arrow{display:inline-block;*display:inline;zoom:1;vertical-align:middle;margin-left:10px;width:0;height:0;vertical-align:-6px;*vertical-align:7px;border:6px solid;border-color:#00b0f0 transparent transparent transparent}
.nav-item a:hover{top:-11px;left:-10px;padding:5px 10px;border:1px solid #d9d9d9;border-bottom:none;background:#f2f2f2;border-top-left-radius:10px;border-top-right-radius:10px}
.nav-item:hover{z-index:1}
.nav li.selected{color:#fff;border:1px solid #00b0f0;background:#00b0f0}
.nav-item:nth-child(1){border-top-left-radius:10px}
.nav-item:nth-child(4){border-top-right-radius:10px}
.slide{padding:25px 0;background:#d9d9d9;overflow:hidden}
.slide-hd{float:right}.slide-hd li{cursor:pointer;margin-bottom:10px;padding:10px;width:200px;height:40px;line-height:20px;background:#fff}
.slide-hd li.selected{position:relative;color:#fff;background:#595959}.slide-hd li.selected i{position:absolute;left:-14px;top:23px;width:0;height:0;border:7px solid;border-color:transparent #595959 transparent transparent;overflow:hidden}
.slide-bd{position:relative;float:left;margin-right:30px;width:850px;height:340px}.slide-bd ul{overflow:hidden}
.slide-bd li,.slide-bd img{width:100%;height:100%}
.good-deals{position:absolute;top:27px;left:-40px;width:119px;height:59px;background-position:0 0}
.buy-now{position:absolute;bottom:30px;left:70px;width:132px;height:49px;text-indent:-200px;background:url(../images/buy-now.png);overflow:hidden}
.pro-list{margin:0 auto;width:1100px;overflow:hidden}.pro-list ul{margin-left:-25px;zoom:1;overflow:hidden}
.pro-item{float:left;margin:25px 0 0 25px;padding:1px 14px;width:320px;border:1px solid #d9d9d9;background:#fff}
.pro-item:hover,.pro-list .selected{padding:0 13px;border:2px solid #00b0f0}
.pro-img{display:block;position:relative;margin-bottom:18px;width:320px;height:300px}.pro-img img{width:320px;height:300px}
.pro-img .pro-mask{display:none;position:absolute;left:0;top:0;width:320px;height:300px;background:url(../images/pro-mask.png) no-repeat}
.pro-img:hover .pro-mask{display:block}
.pro-info{font:13px/40px 'Calibri'}
.pro-name{height:62px;line-height:30px}
.pro-price{font-size:20px}
.pro-sale{font-size:18px;color:#fd0100}
.pro-line{height:0;border:1px solid #bfbfbf;overflow:hidden}
.footer{margin-top:40px;height:245px;border-top:1px solid #d0d0d0;background:#d9d9d9}.footer ul{margin:95px 145px 50px;overflow:hidden}
.footer li{float:left;width:270px;text-align:center;color:#7f7f7f}.footer li a{display:block;font-size:26px;color:#7f7f7f}
.footer-link a{margin-right:50px;font-size:16px;color:#7f7f7f}
.fixed-side{z-index:1;position:absolute;right:10px;top:710px;width:120px}
.fixed-pro li{position:relative;margin-bottom:15px}.fixed-pro li img{padding:1px;width:116px;height:156px;border:1px solid #d9d9d9;border-radius:10px;background:#fff}
.fixed-pro-sale{position:absolute;top:-10px;right:-10px;padding:12px 0;width:54px;height:30px;text-align:center;line-height:15px;color:#fff;background-position:0 -203px}
.fixed-list dl{border:1px solid #d9d9d9;font-size:14px;background:#fff}
.fixed-list dt{padding:0 10px;height:40px;line-height:40px;color:#fff;background:#17385e;overflow:hidden}.fixed-list dt a{float:left;color:#fff}
.fixed-list dt .line2{padding:2px 0;line-height:18px}
.fixed-list dt .arrow{float:left;margin:16px 0 0 5px;border:4px solid;border-color:transparent transparent transparent #fff}
.fixed-list dt .arrow-down{margin-top:18px;border-color:#fff transparent transparent transparent}
.fixed-list dd{display:none;padding:0 14px}
.fixed-list li{position:relative;margin-top:15px;width:90px;height:60px}.fixed-list li div{position:absolute;border:1px solid #d9d9d9;background:#fff}
.fixed-list li img{padding:1px;width:86px;height:56px}
.fixed-list li span{display:none}
.fixed-list li.selected div{left:-149px;padding-left:148px;border-color:#262626}
.fixed-list li.selected img{border-left:1px solid #d9d9d9}
.fixed-list li.selected span{display:block;position:absolute;top:0;left:0;padding:8px;width:130px;height:40px;line-height:20px;border:1px solid #fff;background:#f2f2f2}
.fixed-list-page{margin:12px 0;font-size:13px}.fixed-list-page .prev,.fixed-list-page .next{vertical-align:-2px;width:13px;height:13px}
.fixed-list-page .prev{background-position:0 -172px}
.fixed-list-page .next{background-position:-13px -172px}
@-webkit-keyframes rotate{0%{-webkit-transform:rotate(0deg)} 100%{-webkit-transform:rotate(360deg)}}
