/*
 * 书目
*/
.m-index-book{
    @extend %m-base-mod; padding: 10px 15px;
    h2{margin-bottom: 20px; font-size: 14px; font-weight: 400; color: #b2b2b2;}
}

    //活动列表
    .m-activity-list{@extend .m-tag-list;
        a{background-color: #ffeeea;}
    }

#iscroll{position: absolute; top: 6.8rem; bottom: 0; width: 100%;}