.m-index-sort{display: -webkit-flex; padding: 10px 0 10px 15px; height: 16px; font-size: 14px; background-color: #3e3e3e;}
    .m-index-sort a{
        @extend .tc; width: 40%; line-height: 18px; color: #898989;

        &:nth-child(2){border: solid #191919; border-width: 0 1px;}
        &:nth-child(3){width: 20%;}
    }
    .m-index-sort a.crt{color: $crtColor;}


/*
 * 书目
*/
.m-index-book{
    @extend %m-base-mod; padding: 10px 15px;
    h2{margin-bottom: 20px; font-size: 14px; font-weight: 400; color: #b2b2b2;}
}



    //活动列表
    .m-activity-list{@extend .m-tag-list;
        a{background-color: #ffeeea;}
    }


/*
 * 看看
*/
.m-look{display: none;
    &-item{@extend %m-base-mod; position: relative; padding: 12px 12px 0; line-height: 20px;background-color: #fff;}

    &-hd{margin-bottom: 10px; color: #999;
        p:nth-of-type(1){font-size: 14px;}
    }
        &-uface{@extend .fl; @extend %round; @extend %all-center; margin-right: 10px; width: 40px; height: 40px;
            img{max-width: 100%; max-height: 100%;}
        }

    &-bd{}
        &-quote{margin: 5px 0 0 -12px; padding: 0 12px; width: 100%; background-color: #f5f5f5;}

    &-reply{display: block; text-align: right; line-height: 26px;}

    &-action{@extend %arrow; @extend %arrow-bottom; top: 15px; right: 15px; padding: 5px;}
}

