.m-lend-action,
.m-borrow-action{@extend .tc; @extend %flexBox; margin: 8px 15%; line-height: 24px; border: 1px solid $crtColor; border-radius: 5px;
    a{@extend .crt-color; -webkit-flex: 1;}
    .crt{color: #fff; background-color: #fc745a;}
}

.m-prompt{@extend .gray-color; display: block; margin-top: -5px; padding: 5px; text-align: right;}

.m-rbook-box{@extend %m-base-mod; padding: 10px 10px 0;}
    .m-rbook-hd{display: -webkit-flex; -webkit-justify-content: space-between; -webkit-align-items: center; margin-bottom: 10px;}
    .m-rbook-bd{margin: 0 -5px;}
    .m-rbook-ft{@extend %apart; margin-top: 5px; border-top: 1px solid #eee;}

.m-rbook-history{padding-left: 10px; background-color: #fff;
    dt{@extend .gray-color;line-height: 30px;}
    dd{padding-left: 5px; border-left: 1px solid #eee;}
}