@import '_default';

.c-yellow{color:#ffd34c !important;}
.c-green{color:#008000;}
.c-red{color:#870000;}

.g-site{@extend %fix;min-width:1180px;line-height:30px;color:#b77f7f;border-bottom:1px solid #a02b0f;background-color:#6f0000;
    a{color:#b77f7f;}
    .l-login{margin-left:10px;}
    .l-reg{margin-left:10px;}
    .l-buy{margin-left:10px;}
}
.g-hd{@extend %fix;min-width:1180px;height:147px;background-color:#880100;}
    .m-logo{@extend %fl;margin:16px 0;a{display:block;padding-top:115px;width:174px;height:0;background:url(../images/mall/logo.jpg) no-repeat;overflow:hidden;}}
    .m-search{@extend %fr;margin-top:36px;
        &-box{border-radius:19px;overflow:hidden;}
        &-txt{@extend %fl;padding:10px 4px 10px 14px;width:410px;height:18px;border:0;background-color:#fff;}
        &-btn{@extend %fl;padding:7px 0;width:52px;height:24px;text-align:center;background-color:#da2224;}
        &-key{padding-left:20px;line-height:36px;color:#fff;a{margin-right:10px;color:#fff;}}
    }

.g-nav{z-index:1;position:relative;margin-bottom:16px;min-width:1180px;line-height:32px;background-color:#6f0000;}
    .m-menu{z-index:2;position:absolute;left:0;top:0;width:220px;
        &-hd{display:block;cursor:pointer;text-indent:35px;color:#ccc;font-size:14px;background-color:#4f1606;}
        menu{display:none;height:320px;background-color:#fff;border:1px solid #ddd;box-shadow:1px 1px 3px #ddd;}
            li{position:relative;padding-left:24px;line-height:40px;border-bottom:1px solid #f3f3f3;
                strong{margin-right:15px;font:14px 'microsoft yahei';color:#880100;}
                a{color:#999;}
                .icon-point{display:inline-block;margin-right:8px;width:3px;height:3px;vertical-align:3px;background-color:#ecb100;overflow:hidden;}
                .icon-menu-arr{position:absolute;top:16px;right:25px;}
            }
    }
    nav{margin-left:220px;height:32px;a{@extend %fl;margin-left:55px;padding:0 10px;font-size:14px;color:#fff;}}
.g-nav-index{margin:0;
    menu{display:block;border:0;box-shadow:none;}
}
.g-bd-index{background-color:#fdf5da;}
.g-bd{padding-bottom:40px;min-width:1180px;}
    .m-slide{position:relative;min-width:1180px;height:320px;overflow:hidden;
        .layout{padding-left:220px;width:960px;}
        li{height:320px;overflow:hidden;background-repeat:no-repeat;background-position:center top;}
        a{display:block;width:100%;height:100%;}
        & .m-slide-page{position:absolute;bottom:0;width:100%;padding:10px 0;text-align: center;overflow:hidden;}
        & .m-slide-page i{display:inline-block;cursor:pointer;margin:0 5px;padding-top:12px;width:12px;height:0;background:#fff;overflow:hidden;border-radius:50%;}
        & .m-slide-page i.selected{background-color:#880100;}
    }
    .m-indexbox{@extend %fix;
        &-hd{@extend %fix;padding-top:15px;line-height:42px;
            h3{@extend %fl;font:20px/42px 'microsoft yahei';color:#4f1606;}
            a{color: #4f1606;}
            i{color: #ccc;}
        }
        &-bd{
            ul{@extend %fl;margin-left:224px;border-top:3px solid #724330;overflow:hidden;}
            li{@extend %fl;width:190px;height:210px;line-height:22px;border:1px solid #cecece;border-bottom:0;border-right:0;background-color:#fff;
                strong,strong span,img{display:block;}
                strong,em{padding-left:10px;}
                img{width:190px;height:164px;}
                del{color:#b8b8b8;}
            }
            .m-indexbox-w2{position:relative;width:381px;
                img{width:100%;height:100%;}
                strong{position:absolute;top:54px;font-size:18px;color:#880100;small{display:block;font-size:14px;color:#666;}}
                span{position:absolute;top:105px;}
            }
        }
        &-bigimg{position:relative;margin-right:-225px;width:225px;}
        &-name{color:#8d8d8d;}
        &-price{color:#a45858;}
    }


.g-ft{padding-top:24px;min-width:1180px;border-top:3px solid #480000;background-color:#6f0000;
    dl{@extend %fl;width:20%;line-height:18px;}
    dt{margin-bottom:15px;font-size:16px;color:#dbcbcb;}
    a{color:#b18d8d;}
}
    .m-ft-links{margin-top:24px;color:#b18d8d;line-height:32px;border-top:1px solid #7e1a1a;}


.g-hd-reg{height:120px;
    .m-logo a{@extend %fl;padding-top:88px;}
    .m-logo strong{@extend %fl;font:24px/88px 'microsoft yahei';color:#fff;}
}
.g-bd-reg{padding:0 0 70px;}
.g-ft-reg{padding:22px 0;text-align:center;line-height:24px;color:#666;border-top:1px solid #ddd;background-color:#fff;
    a{color:#666;}
}
.g-hd-reg .layout,.g-bd-reg,.g-ft-reg{@extend %fix;margin:0 auto;min-width:990px;width:990px;}

.g-side{@extend %fl;width:222px;}
    .m-side{
        &-box{margin-bottom:20px;}
        &-hd{text-indent:16px;font-size:14px;line-height:28px;color:#fff;border-left:1px solid #6f0000;border-right:1px solid #6f0000;background-color:#6f0000;}
        &-bd{padding:8px 18px;border:1px solid #ddd;border-top:0;
            li{padding:10px 0;border-bottom:1px solid #ddd;}
            li:last-child{border-bottom:0;}
            img{@extend %fl;margin-right:10px;width:60px;height:60px;}
            span{display:block;color:#666;}
            em{margin-right:3px;font-size:14px;color:#c7262e;}
            del,small{color:#ccc;}
        }
    }
    .m-rank{
        img{width:55px;height:55px;}
        li{line-height:18px;}
        .num{@extend %fl;position:relative;margin:6px 5px 0 0;width:14px;height:18px;text-align:center;line-height:12px;color:#fff;background-color:#a9a9a9;
            i{position:absolute;bottom:0;left:0;width:0;height:0;border:7px solid;border-color:transparent transparent #fff transparent;overflow:hidden;}
        }
        .hot{background-color:#de6161;}
    }
    .m-history{
        img{width:60px;height:60px;}
        li{height:60px;line-height:20px;overflow:hidden;}
    }
    .m-class{line-height:28px;
        li{padding:6px 0;}
        strong{display:block;color:#333;font-size:14px;;}
        a{margin-right:20px;color:#999;}
    }
.g-cont{margin-left:240px;}

    .m-pro{overflow:hidden;}

    .m-img{@extend %fl;margin-right:23px;padding-bottom:30px;width:327px;overflow:hidden;
        img{border:1px solid #ddd;}
        &-big{margin-bottom:15px;
            img{width:325px;height:325px;}
        }
        &-list{@extend %fix;position:relative;padding:0 8px;width:317px;
            li{@extend %fl;margin:0 6px;}
            .crt img{border-color:#870000;}
            img{width:63px;height:63px;}
            &-prev,&-next{position:absolute;top:16px;width:0;height:0;border-width:15px 8px;border-style:solid;overflow:hidden;}
            &-prev{left:-7px;border-color:transparent #bbb transparent transparent;}
            &-next{right:0;border-color:transparent transparent transparent #bbb;}
        }
    }
    
    .m-info{overflow:hidden;
        &-hd{padding-left:20px;line-height:36px;border-bottom:1px dashed #dbdbdb;
            strong{margin-right:5px;font-size:14px;}
            small{font-size:12px;color:#f60;}
        }
        ul{padding:8px 0;color:#7d7d7d;}
        li{overflow:hidden;line-height:24px;}
        &-tit{margin:0 20px;@extend %fl;width:50px;text-align:right;color:#7d7d7d;}
        &-price{color:#d20003;font-size:22px;}
        & &-buy{color:#333;border-top:1px dashed #dbdbdb;background-color:#f9f9f9;}
        .m-huodong{margin:10px 0;line-height:32px;background-color:#f9f9f9;
            em{margin:0 22px;color:#d10101;}
            a{color:#2e83c3;}
        }
        &-share{padding-top:50px;line-height:28px;overflow:hidden;}
            .share{@extend %fl;margin-right:30px;}
            .m-service{@extend %fl;font-size:14px;color:#999;}
        &-num{@extend %fl;margin-bottom:10px;
            input{@extend %fl;padding:3px;width:40px;height:18px;text-align:center;border:1px solid #ddd;}
            a{display:block;position:relative;margin-left:50px;width:15px;height:10px;border:1px solid #ddd;overflow:hidden;
                i{content:'';position:absolute;top:3px;left:3px;width:0;height:0;border:4px solid;border-color:#ccc transparent transparent transparent;overflow:hidden;}
            }
            .add{margin-bottom:2px;
                i{top:-1px;border-color:transparent transparent #ccc transparent;}
            }
        }
    }

    .m-detail{border:1px solid #ddd;
        &-hd{@extend %fix;line-height:40px;border-bottom:1px solid #ddd;
            li{@extend %fl;margin-left:-1px;width:84px;text-align:center;}
                a{display:block;cursor:pointer;}
            .crt{position:relative;border-left:1px solid #ddd;border-right:1px solid #ddd;
                a{margin-top:-1px;font-weight:700;line-height:38px;border-top:3px solid #6f0000;}
                i{position:absolute;left:50%;top:2px;margin-left:-4px;width:0;height:0;border:4px solid;border-color:#6f0000 transparent transparent transparent;overflow:hidden;}
            }
        }
        &-bd{padding-bottom:20px;
            p{padding:0 15px;font-size:14px;line-height:24px;}
        }
            &-title{margin:20px 0;width:85px;text-align:center;line-height:36px;font-size:14px;color:#fff;background-color:#6f0000;border-top-right-radius:5px;border-bottom-right-radius:5px;}
            &-param{padding:15px;color:#848484;
                strong{display:block;margin-bottom:12px;}
                li{@extend %fl;width:25%;line-height:24px;}
            }
    }

.m-crumb{margin-bottom:20px;padding:0 20px;line-height:32px;border:1px solid #ededed;background-color:#f9f9f9;background-image:linear-gradient(to top,#f9f9f9,#fff);
    em{color:#c7262c;}
    .pipe{margin-right:-5px;}
}
.m-imgtxt-hd{margin-bottom:10px;line-height:32px;border-bottom:1px solid #ddd;}
.m-imgtxt-list{overflow:hidden;padding:2px 0 0 2px;
    li{@extend %fl;margin:-2px 0 0 -2px;padding:15px 12px 10px;width:130px;height:200px;border:2px solid #fff;}
        img{margin-bottom:15px;width:130px;height:130px;}
        em{display:block;margin-bottom:8px;font-size:14px;color:#c7262e;}
        span{display:block;line-height:16px;}
    li:hover{position:relative;border-color:#ddd;}
}
.m-pages{margin:20px 0 80px;padding:30px 0 0;line-height:22px;text-align:right;border-top:1px solid #ddd;
    &-list{margin-right:20px;font-size:0;}
    span,strong,a{display:inline-block;margin:0 4px;padding:0 8px;font-size:12px;}
    a{border:1px solid #ddd;background-color:#fff;}
    a:hover{border:1px solid #6f0000;}
    a.disable{background-color:#efefef;border-color:#ddd;}
    strong{color:#fff;border:1px solid #6f0000;background-color:#6f0000;}
    input{margin:0 4px;width:40px;height:22px;text-align:center;border:1px solid #ddd;background-color:#fff;}
    & &-btn{border-color:#333;background-color:#f3f3ee;}
}

.m-side-help{border:1px solid #ddd;
    dl{padding-bottom:10px;}
    dt{margin:-1px 0 10px;height:30px;text-indent:28px;font-size:14px;font-weight:700;line-height:30px;border:solid #d7d7d7;border-width:1px 0;background-color:#f9f9f9;background-image:linear-gradient(to top,#f1f1f1,#fff);}
    dd{text-indent:50px;line-height:24px;}
}
.m-cont-help{padding:15px;
    h3{margin-bottom:30px;font-size:16px;color:#870000;}
    p{line-height:24px;font-size:14px;}
}

.m-step{@extend %fix;margin:50px 0 28px;background:url(../../themes/images/mall/step.png) no-repeat;overflow:hidden;
    li{@extend %fl;position:relative;width:33.33%;line-height:35px;text-indent:24px;font-size:14px;color:#666;overflow:hidden;}
    .crt{color:#fff;}
    &-2{background-position:0 -35px;}
    &-3{background-position:0 -70px;}
}
.m-step-small{background-image:url(../../themes/images/mall/step-small.png);}

.m-car{
    &-hd{margin-bottom:10px;}
        h2{line-height:35px;font-size:18px;i{margin-right:10px;vertical-align:-12px;}}
    &-bd{}
    &-pro{text-align:left;
        em{margin-right:5px;padding:1px;color:#fff;background-color:#f67649;}
    }
    &-null{padding:100px 0;text-align:center;font-size:14px;}
}

.m-table{margin-bottom:15px;width:100%;text-align:center;}
    thead{background-color:#f3f3f3;}
        td,th{border:1px solid #ddd;}
        th{line-height:30px;font-weight:700;}
        td{padding:10px 10px 5px;line-height:20px;img{margin:-5px 10px 0 0;width:50px;height:50px;}a{display: block;color: #0863aa;}}
        td .m-info-num{display:inline-block;float:none;margin:0 auto;}
        td p{@extend %fr;clear:both;text-align:right;
            em{display:inline-block;width:80px;}
        }
    tfoot{
        td{text-align:right;font:14px 'microsoft yahei';color:#880000;background-color:#f7f7f7;}
        em{font-size:22px;}
    }
.m-receinfo{padding:15px;border:3px solid #800;
    &-hd{margin-bottom:15px;font-size:14px;color: #666;}
    &-bd{padding-left:15px;}
        li{padding-bottom:5px;height:28px;line-height:28px;
            a{margin-left:20px;color:#005ea7;}
            span{margin-left:5px;}
        }
        .crt{background-color: #fff4d3;}
}
.m-addcity{margin-top:10px;padding-left:15px;line-height:26px;
    li{
        span{@extend %fl;width:68px;text-align:right;}
        input{@extend %fl;padding:4px;height:16px;border:1px solid #ddd;}
        em{@extend %fl;margin-left:18px;}
    }
    i{color: #f60;}
    & &-btn{display:block;margin:10px 0 0 0;width:110px;text-align:center;line-height:30px;color: #fff;background-color: #e3ab00;border-radius:5px;}
}
.m-orders{margin:0 auto;width:750px;
    strong{color: #c00;}
    p{padding:50px 0;font-size:14px;text-align:center;}
    &-tips{margin-bottom:10px;line-height:24px;background-color: #fff4d3;a{color: #870000;}}
}
.m-payment{line-height:15px;text-align:left;
    img{margin-top:0;width:90px;height:30px;}
    em{line-height:30px;}
    .sel-outer i{display:inline-block;margin-left:5px;width:0;height:0;vertical-align: -3px;border:5px solid;border-color:#aaa transparent transparent transparent;overflow:hidden;}
}

.m-login{
    &-img{@extend %fl;margin:70px 170px 0 55px;}
    &-box{@extend %fl;margin-top:60px;width:340px;
        p{color:#999;text-align:right;}
    }
    &-form{margin-top:10px;padding:5px 28px 0;border:2px solid;border-color:#880100 #e0e0e0 #e0e0e0;
        li{padding:8px 0;}
        .tit{display:block;line-height:20px;color:#999;}
        .txt{padding:4px;width:97%;hieght:20px;border:1px solid #ddd;}
    }
    &-btn{display:block;line-height:30px;font-size:14px;color: #fff;text-align:center;background-color:#880100;}
    &-coop{
        span{display:block;margin-bottom:10px;line-height:24px;;color:#666;border-bottom:1px dotted #ddd;}
    }
}

.m-reg-true{text-align:center;
    p{padding:35px 0;font:24px 'microsoft yahei';color:#880100;}
    a{display:inline-block;width:191px;line-height:34px;color:#fff;background-color:#880100;}
}

.m-reg-form{@extend %fl;line-height:28px;
    li{padding:10px 0;overflow:hidden;}
    .tit{@extend %fl;width:80px;text-align:right;}
    .txt{@extend %fl;margin-right:10px;padding:3px;height:20px;border:1px solid #ddd;}
    .yzm{@extend %fl;padding:0 5px;color:#999;background-color:#eee;}
    img{@extend %fl;margin-right:10px;}
    .btn{display:inline-block;width:100px;text-align:center;font-size:14px;font-weight:700;line-height:30px;color:#fff;background-color:#880100;}
}

.m-reg-desc{@extend %fr;margin-right:50px;padding-top:25px;width:340px;text-align:center;border:2px solid #ddd;line-height:28px;
    em{display:block;margin-bottom:10px;font-size:18px;color:#666;}
    p{margin:0 25px;padding:20px;color: #9f9f9f;line-height:24px;border-top:3px solid #ededed;}
}

.m-netouter{display:none;clear:both;padding-top:15px;width:100%;
    &-hd{text-align:left;font-weight:700;}
    a{@extend %fl;margin:5px 20px 0 0;width:90px;height:30px;}
}