@import '_default';

%bg{background:url(../images/website/bg_item.png) no-repeat 0 0;}

$body_bg:#f7f6f2;
body{background-color:$body_bg;}

.g-hd{position:relative;min-width:1180px;height:120px;background:#890200 url(../images/website/bg_repeat.jpg) repeat-x 0 0;}
.g-bd{}

.icon-sina{@extend %bg;display:inline-block;padding-top:20px;width:24px;height:0;background-position:-190px -24px;overflow:hidden;}
.icon-qq{@extend %bg;display:inline-block;padding-top:20px;width:24px;height:0;background-position:-190px -48px;overflow:hidden;}


.m-title{@extend %fl;height:70px;line-height:70px;
    a{@extend %bg;display:inline-block;margin-top:23pxj;padding-top:24px;width:215px;height:0;overflow:hidden;}
}
.m-desc{@extend %bg;position:absolute;top:0;left:50%;margin-left:-107px;padding-top:416px;width:214px;height:0;background-position:0 -269px;overflow:hidden;}


.m-nav{clear:both;height:50px;
    ul{@extend %fl;li{margin:0 25px;}}
    ul:last-child{@extend %fr;li{margin:0 18px;}}
    li{@extend %fl;}
        a{display:inline-block;line-height:50px;}
        em{display:inline-block;padding-top:24px;height:0;line-height:24px;vertical-align:middle;overflow:hidden;}
        &-1{@extend %bg;width:44px;background-position:0 -24px;}
        a:hover &-1,.crt &-1{background-position:0 -48px;}
        &-2{@extend %bg;width:136px;background-position:0 -72px;}
        a:hover &-2,.crt &-2{background-position:0 -96px;}
        &-3{@extend %bg;width:45px;background-position:-44px -24px;}
        a:hover &-3,.crt &-3{background-position:-44px -48px;}
        &-4{@extend %bg;width:48px;background-position:-89px -24px;}
        a:hover &-4,.crt &-4{background-position:-89px -48px;}
        &-5{@extend %bg;width:46px;background-position:-136px -24px;}
        a:hover &-5,.crt &-5{background-position:-136px -24px;}
        &-6{@extend %bg;width:90px;background-position:-136px -72px;}
        a:hover &-6,.crt &-6{background-position:-136px -96px;}
        &-7{@extend %bg;width:89px;background-position:0 -120px;}
        a:hover &-7,.crt &-7{background-position:0 -144px;}
        &-8{@extend %bg;width:92px;background-position:-89px -120px;}
        a:hover &-8,.crt &-8{background-position:-89px -144px;}
    .crt{position:relative;&:after{content:'';position:absolute;bottom:0;left:50%;margin-left:-5px;width:0;height:0;border:5px solid;border-color:transparent transparent #ffd34d transparent;}}
}
.m-link{float:right;margin-top:30px;line-height:40px;
    a{color:#4e3224;}
    em{margin:0 10px;font:20px 'microsoft yahei';color:#890200;}
}


.m-banner{min-width:1180px;height:241px;border-bottom:4px solid #ccc;background-repeat:no-repeat;background-position:center 0;
    &-index{margin-bottom:40px;height:328px;border:0;}
}

.m-mod{@extend %fl;position:relative;border:1px solid #d8baab;border-radius:5px;}
        %bd{border:solid $body_bg;border-width:0 10px;}
    .m-hd{position:absolute;top:-13px;left:10px;right:10px;line-height:26px;
        h3{@extend %fl;@extend %bd;
            em{display:block;padding:0 10px;height:26px;background-color:#890200;border-radius:5px;}
            span{@extend %bg;display:inline-block;margin-top:5px;padding-top:15px;width:78px;height:0;vertical-align:top;overflow:hidden;}
        }
            
        a{@extend %fr;@extend %bd;color:#9f7c71;background-color:$body_bg;}
    }
    .m-bd{padding:30px 20px 20px;}

/*
 *  最新新闻
*/
.m-news{width:384px;
    .m-hd span{background-position:0 -168px;}
    &-topic{margin-bottom:20px;padding-bottom:20px;font-size:14px;color:#9f7c71;border-bottom:1px dotted #ddc5be;overflow:hidden;
        img{@extend %fl;margin-right:15px;}
        strong{display:block;margin-bottom:5px;height:18px;font-size:16px;color:#890200;overflow:hidden;}
        span{display:block;height:48px;line-height:16px;overflow:hidden;}
    }
    li{@extend %fl;width:100%;height:23px;line-height:22px;overflow:hidden;
        em{@extend %fl;font-size:14px;color:#4e3224;@extend %txt_ellipsis;}
        span{@extend %fr;color:#cfc0ba;}
    }
        
}

/*
 *  保健知识
*/
.m-bj{margin:0 29px;width:384px;
    .m-hd span{background-position:0 -183px;}
    .m-bd{padding-bottom:0;}
    dl{margin-bottom:25px;overflow:hidden;}
        dt{@extend %fl;position:relative;margin-right:25px;width:90px;height:90px;
            em{position:absolute;left:0;bottom:0;width:100%;height:25px;line-height:25px;text-align:center;color:#fff;background:rgba(0,0,0,.4);}
        }
        dd{
            li{@extend %txt_ellipsis;line-height:22px;font-size:14px;}
            a{color:#4e3224;}
            .crt{color:#890200;}
        }
}
/*
 *  热销商品
*/
.m-hot{margin-bottom:30px;width:348px;
    .m-hd span{padding-top:20px;width:100px;background-color:$body_bg;background-position:0 -198px;}
    &-item{overflow:hidden;
        img{@extend %fl;margin-right:15px;}
        a{color:#890200;}
        h4{@extend %txt_ellipsis;font:24px 'microsoft yahei';}
        span{display:block;margin:10px 0;height:80px;font-size:14px;line-height:16px;color:#9f7c71;overflow:hidden;}
        
        &-first{margin-bottom:11px;padding-bottom:11px;border-bottom:1px dotted #ddc5be;}
    }
        &-detail{display:block;text-align:right;}
}
/*
 *  养生讲堂
*/
.m-jt{;width:348px;
    .m-hd span{padding-top:20px;width:102px;background-color:$body_bg;background-position:0 -198px;}
}

.m-shop{position:relative;clear:both;margin:25px 0 30px;width:100%;
    .m-hd{position:absolute;left:0;top:50%;margin-top:-69px;padding:20px 0;width:37px;background-color:#880100;border-top-right-radius:5px;border-bottom-right-radius:5px;overflow:hidden;
        h3{border:0;height:98px;overflow:hidden;}
        span{padding-top:98px;background-position:-183px -120px;}
    }
    ul{padding-left:67px;overflow:hidden;}
        li{@extend %fl;margin:0 35px 0 15px;padding-bottom:10px;width:164px;overflow:hidden;}
            img{width:162px;height:162px;border:1px solid #d8bbab;}
            strong{@extend %txt_ellipsis;display:block;padding:10px 0 5px;font-size:16px;color:#880100;}
            span{@extend %txt_ellipsis;display:block;font-size:12px;color:#9f7c71;}
}

.g-ft{padding-bottom:30px;min-width:1180px;color:#8d837e;border-top:3px solid #000;background-color:#462d20;word-break:break-all;
    a{color:#8d837e;}
    p{text-align:center;line-height:30px;a{margin:0 22px;}}
}

.m-links{margin-bottom:10px;padding:22px 0 15px;line-height:22px;border-bottom:1px solid #4f382b;overflow:hidden;
    a{margin-right:12px;}
    div{margin-left:60px;}
}

.g-menu{position:absolute;top:0;bottom:0;left:0;margin-top:-4px;width:240px;border-top:4px solid #880100;*height:100%;
    dl{padding:0 18px;height:100%;border-left:10px solid #f0eee8;border-right:10px solid #f0eee8;background:url(../images/website/menu.png) no-repeat center bottom;}
        dt{@extend %fl;width:100%;margin:20px 0 15px;text-indent:20px;font:14px/32px 'microsoft yahei';color:#fff;background-color:#880100;border-radius:5px;}
        dd{@extend %txt_ellipsis;clear:both;line-height:40px;font-size:14px;border-bottom:1px dotted #ddc5bd;}
        a{color:#666;}
        i{@extend %bg;display:inline-block;margin:0 10px 0 10px;width:11px;height:20px;vertical-align:middle;background-position:-203px -239px;}
        .crt a{font-weight:700;color:#890200;}
        .crt i{background-position:-203px -219px;}
}
.g-cont{margin-left:240px;padding:15px 28px 60px;background-color:#fbfbf9;
    h3{padding-left:10px;color:#fff;line-height:36px;background-color:#880100;
        i{display:inline-block;margin-right:5px;width:5px;height:5px;vertical-align:1px;border:1px solid #fff;border-radius:5px;}
    }
}
/*
 * 面包屑
*/
.m-crumb{line-height:46px;
    span{color:#999}
    i{padding:5px;}
}
/*
 * 产品
*/
.m-pro{
    h4,p{padding-left:30px;line-height:40px;font-size:14px;}
    h4{margin-top:20px;font-size:16px;color:#880100;}
    p img:nth-child(2){margin:0 50px;}
}
/*
 * 资讯中心
*/
.m-news-box{}

.m-cont-title{position:absolute;top:15px;right:30px;font:28px 'microsoft yahei';color:#f0eee8;}

.m-txt-list{margin:20px 0 28px;padding-right:20px;
    li{font-size:14px;line-height:40px;border-bottom:1px solid #f0eee8;overflow:hidden;
        a{@extend %fl;color:#4e3224;}
        i{margin:0 5px 0 15px;color:#cdbcb5;}
        span{@extend %fr;font-size:12px;color:#999;}
    }
}

.m-ys{
    .m-bj{margin:0;padding:25px 0;width:100%;border-bottom:1px dotted #ddc5be;overflow:hidden;
        dl{@extend %fl;margin:0 0 0 30px;width:45%;}
    }
}

.m-pages{padding:16px 0;line-height:24px;text-align:center;background-color:#f7f6f2;
    &-list{font-size:0;}
    span{display:inline-block;margin:0 10px;}
    a{display:inline-block;margin:0 4px;width:24px;text-align:center;font-size:12px;}
    &-list a:hover,.crt,input,&-btn{width:22px;line-height:22px;border:1px solid #80523c;background-color:#f0eee8;}
    input,& &-btn{margin:0 4px;width:40px;text-align:center;border-color:#e1e1e1;background-color:#eee;}
    input{background-color:#fff;}
}

.m-go-shopping{position:relative;padding:0;height:25px;margin:80px 0 50px;text-align:center;border-top:1px solid #e4c9c7;
    span{display:inline-block;position:absolute;left:50%;top:-25px;margin-left:-103px;border-left:10px solid #fbfbf9;border-right:10px solid #fbfbf9;}
    a{display:inline-block;padding:0 45px;line-height:50px;font-size:16px;color:#fff;background-color:#880100;border-radius:5px;}
}
