body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th , img, div ,input, blockquote{margin: 0;padding: 0;}
html{overflow:auto;}
body {font:12px/20px 'Calibri',Verdana,Arial,Helvetica,sans-serif;color:#333;background:#fff;}
ul,ol,li{list-style-type:none;}
img{vertical-align:middle;border:0;}
em,i{font-style:normal;}
a{text-decoration:none;cursor:pointer;color:#333;
    &:hover{text-decoration:none;}
}
table{border-spacing:0;border-collapse:collapse;}
%fl{float:left;}
%fr{float:right;}
.layout{margin-left:auto;margin-right:auto;width:940px;}
%iblock{display:inline-block;*dispaly:inline;*zoom:1;}
.clearfix{*zoom:1;
    &:after{content:'';display:block;clear:both;height:0;overflow:hidden;}
}

$colorRed:#e41a2d;
$colorBlue:#3d52b4;

.g-header{border-top:8px solid #122c8c;}
//导航
.g-nav{margin-bottom:10px;height:42px;border-top:1px solid #c6c6c6;border-bottom:1px solid #c6c6c6;background:url(../images/nav.png) repeat-x 0 0 ;
    ul{@extend .clearfix;width:100%;}
    li{@extend %fl;z-index:1;position:relative;margin-left:-1px;width:20%;text-align:center;font-size:13px;line-height:14px;
        a{display:block;padding:7px 0;color:#999;}
        em,small{display:block;border-left:1px solid #c6c6c6;}
        em{color:#333;font-family:'ＭＳ Ｐゴシック';}
        small{color:#122c8c;font:13px Arial;}
        a:hover{
            em{color:#122c8c;}
        }
        
        ul{display:none;position:absolute;left:0;*background:#fff;}
        li{width:100%;margin-left:0;padding:0;background:rgba(18,44,140,.9);filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#66122c8c',endColorstr='#66122c8c');-webkit-transition-duration:.5s;
            //&:hover{background:rgba(59,198,222,.5);}
            &:hover{background:rgba(18,44,140,.8);
                filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#663bc6de',endColorstr='#663bc6de');*background-color:#3bc6de;}
            a{display:block;padding:10px;font-size:14px;line-height:20px;*color:#fff;
                &:hover{color:#fff;}
            }
            strong,span{display:block;text-align:left;}
            strong{margin-bottom:5px;}
        }
    }
    .crt{
        a{padding-bottom:5px;border-bottom:2px solid #122c8c;}
        li a{border-bottom:0;}
    }
    .m-index{ul{left:-55px;}}
}
.g-topic{margin-bottom:28px;padding-bottom:15px;}
.g-main{@extend .layout,.clearfix;margin-bottom:45px;}
.g-about{padding:50px 0 20px;background-color:#172534;overflow:hidden;}

.g-footer{color:#666;border-top:2px solid #122c8c;overflow:hidden;
    &-links{padding:15px 0 30px;overflow:hidden;
        a,i{@extend %fl;line-height:40px;}
        a{color:#333;}
        i{margin:0 30px;}
        em,small{display:block;line-height:20px;}
    }
    ul{@extend %fl;}
    li{line-height:26px;}
    &-logo{@extend %fr;
        p{text-align:right;letter-spacing:1px;}
        a{display:block;margin-bottom:10px;width:348px;height:76px;text-indent:-999px;background:url(../images/logo.png) no-repeat;}
    }
}

.g-links{padding:10px 5px 20px;background:#f2f2f2;overflow:hidden;
    dl{@extend %fl;margin-right:30px;width:210px;}
    .g-links-last{margin-right:0;}
    dt{margin-bottom:10px;line-height:28px;text-align:center;color:#fff;background-color:#1a1a1a;}
    dd{line-height:26px;}
}


//LOGO
.m-logo{@extend %fl;margin:12px 0;
    a{display:block;width:348px;height:76px;text-indent:-999px;background:url(../images/logo.png) no-repeat;}
}
.m-sites{padding-top:5px;text-align:right;
    a{margin-left:20px;font-family:Arial;}
    i{@extend %iblock;width:0;height:0;border:3px solid;border-color:transparent transparent transparent #122c8c;overflow:hidden;}
}
.m-lang{padding-top:22px;text-align:right;a{margin-left:5px;}}

//banner
.m-banner{margin:0 auto 30px;width:940px;height:380px;}

.m-side{@extend %fl;width:290px;}
.m-cont{padding-left:30px;overflow:hidden;
    img{-webkit-transition:.5s;-moz-transition:.5s;-ms-transition:.5s;-o-transition:.5s;}
    a:hover img{opacity:.6;}
}

.m-mod{@extend %fl;width:208px;overflow:hidden;
    .m-hd{overflow:hidden;}
    img{margin-bottom:20px;}
    h3{@extend %fl;margin-bottom:10px;padding-left:5px;min-width:120px;height:22px;line-height:22px;font-size:16px;background-color:$colorRed;
        a{color:#fff;}
        i{@extend %iblock,%fr;*margin-top:-22px;width:0;height:0;border-width:11px 8px;vertical-align:bottom;border-style:solid;border-color:$colorRed #fff #fff $colorRed;overflow:hidden;}
    }
    .m-bd{margin-bottom:24px;color:#999;strong{color:#666;font-size:14px;}}
}
.m-mod-1{margin-bottom:20px;height:230px;}
.m-mod-2{
    h3{background-color:$colorBlue;
        i{border-color:$colorBlue #fff #fff $colorBlue;}
    }
    .m-bd-about{margin-top:5px;
        li{height:30px;line-height:30px;overflow:hidden;
            a{color:#999;
                span{margin-right:3px;color:$colorRed;}
            }
        }
    }
    .m-bd-faq{line-height:22px;
        .a{margin-top:4px;color:$colorRed;font-size:14px;}
    }
}

.m-cont-img{overflow:hidden;
    ul{margin-left:-20px;overflow:hidden;}
    li{@extend %fl;margin:20px 0 0 20px;padding:4px;border:1px solid #e4e4e4;}
}

.m-fb{border:1px solid #eee;border-top-color:#122c8c;
    &-hd{padding-left:10px;line-height:30px;font-size:14px;border-bottom:1px solid #d3d9e5;background-color:#f0f2f6;}
    &-bd{padding:15px;overflow:hidden;
        img{@extend %fl;margin-right:5px;}
        strong{font-size:18px;color:$colorBlue;}
    }
    dl{padding:5px 19px;border-top:1px solid #eee;}
    dt{line-height:24px;font-size:16px;}
    dd{@extend %fl;margin:0 2px 10px;padding-top:10px;width:46px;text-align:center;overflow:hidden;
        a{color:#999;}
    }
}
.m-faq{margin-top:15px;padding:20px;border:1px solid #eee;
    img{display:block;}
    h3{margin-top:15px;font-size:16px;line-height:24px;
        em{@extend %fl;padding-left:5px;background:$colorRed;overflow:hidden;}
        i{@extend %iblock;width:0;height:0;border-width:12px 8px;vertical-align:bottom;border-style:solid;border-color:$colorRed #fff #fff $colorRed;overflow:hidden;}
    }
    .u-faq-btn{@extend %iblock;margin-top:13px;padding:0 5px;line-height:24px;color:#fff;background-color:#3bc6de;}
}

.our-service{margin-bottom:20px;height:30px;line-height:30px;text-align:center;font-size:18px;border-top:1px solid #c6c6c6;border-bottom:1px solid #c6c6c6;}





.u-learn-btn{@extend %iblock;margin:20px 0 0 20px;padding:0 5px;height:52px;line-height:52px;font-size:22px;color:#fff;background-color:#3d7780;}
.u-more-btn{@extend %iblock;padding:0 18px;height:24px;line-height:24px;color:#fff;background-color:#414553;}


.g-about-hd{@extend %fl;margin-right:-85px;width:170px;border-right:2px solid #1e2a38;
    h2 a{display:block;width:120px;height:110px;background:url(../images/about-logo.png)}
}
.g-about-bd{@extend %fr;overflow:hidden;
    dl{@extend %fl;padding-left:85px;max-width:224px;}
    dt{padding-bottom:10px;font-size:14px;color:#fff;}
    dd{line-height:24px;
        &,a{color:#858a94;}
        input{display:block;margin-top:15px;padding:2px;width:220px;height:20px;border:0;border-bottom:1px solid #333;background-color:#000;outline:none;color:#fff;}
        .u-submit-btn{@extend %iblock;margin-top:15px;padding:0 15px;line-height:24px;background-color:#000;}
    }
}

.m-quote{margin-bottom:20px;font-size:24px;font-family:Georgia;color:#999;line-height:50px;}

.m-about{margin-left:-35px;}
.m-about-box{@extend %fl;margin-left:35px;width:290px;*margin-left:0;*margin-right:23px;
    h3{line-height:2;font-size:24px;font-weight:400;}
    p{margin-bottom:22px;line-height:24px;font-size:14px;}
}


.m-tabs{
    &-hd{line-height:40px;font-size:24px;border-bottom:2px solid $colorRed;overflow:hidden;
        li{@extend %fl;padding:0 10px;color:#fff;background-color:$colorRed;}
    }
    &-bd{
        padding:30px 0;
        p{line-height:36px;}
        p strong{font-size:24px;line-height:2;font-weight:400;}
    }
}
.g-main .m-phone{padding:15px 0 15px 30px;line-height:24px;font-size:24px;color:$colorBlue;background:url(../images/phone.png) no-repeat 0 15px;}

.m-enquiry-form{
    label{@extend %fl;margin-right:30px;}
    span{display:block;line-height:30px;font-size:16px;}
    input,textarea{padding:5px;border:1px solid #e8e8e8;background-color:#f8f8f8;outline:none;}
    input{width:210px;height:30px;}
    textarea{width:714px;}
    .m-enquiry-btn{display:block;width:90px;height:36px;line-height:36px;text-align:center;color:#fff;font-size:20px;background-color:#3bc6de;border-radius:3px;}
}

.m-faq-title{@extend .clearfix;padding-bottom:10px;
    li{@extend %fl;width:250px;font:14px/36px 'Century Gothic';a{color:#666;}}
}
.m-faq-list{font:14px/26px 'Century Gothic';color:#666;
    h4{padding-top:35px;font-size:16px;color:$colorBlue;border-top:1px dotted #ddd;}
    .m-faq-a{padding-top:15px;font-weight:700;}
    .m-faq-q{padding-bottom:15px;}
}

.m-service{font-size:14px;color:#999;line-height:24px;
    .m-phone{color:$colorRed;border-bottom:1px dotted #ddd;}
}

.m-service-switch{margin-bottom:30px;padding-bottom:30px;text-align:center;border-bottom:1px dotted #ddd;
    a{@extend %iblock;margin:0 5px;padding:0 12px;font-size:16px;color:#fff;line-height:36px;background-color:#c4c2c2;}
    .active{background-color:#3bc6de;}
}

.m-service-mod{@extend %fl;margin:30px 35px 0 0;width:200px;overflow:hidden;
    h4{line-height:46px;color:#333;}
}
.m-service-bd{
    p,a{color:#999;span{margin-right:5px;color:$colorRed;}}
    li{height:32px;line-height:32px;overflow:hidden;}
}

.m-fb-follow{display:block;padding-top:6px;font-size:14px;}
.m-fb-btn{@extend %fl;margin-right:5px;width:51px;height:20px;background:url(../images/fb.png)}

.m-gotop{margin-top:40px;text-align:right;}
.u-gotop{@extend %iblock;padding:0 10px 0 20px;color:#fff;line-height:22px;border-top-left-radius:3px;border-top-right-radius:3px;background:#122c8curl(../images/arrow.png) no-repeat 3px -37px;}


.m-slide,.m-slide li,.m-slide li img{width:940px;height:380px;}
.m-slide{position:relative;overflow:hidden;height:420px;}
.m-slide li{float:left;}

.m-slide .slide_next,.m-slide .slide_prev{cursor:pointer;position:absolute;top:150px;width:30px;height:30px;background: url(../images/arrow.png) no-repeat;}
.m-slide .slide_next{right:0;background-position:-30px 0;}
.m-slide .slide_prev{left:0;background-position:0 0;}

.m-slide .slide_page{position:absolute;bottom:0;width:100%;padding:10px 0;text-align: center;overflow: hidden;}
.m-slide .slide_page i{display:inline-block;cursor:pointer;margin:0 5px;width:12px;height:12px;overflow:hidden;border-radius:6px;background:#999;text-indent:-100px;overflow:hidden;}
.m-slide .slide_page i.selected{width:6px;height:6px;border:3px solid #999;background-color:#fff;}