/*!
 *@Description:HJ
 *@Author:xiaoxiehang (2014-07-11 23:00)
 *@Update:xiaoxiehang (2014-07-11 23:00)
 *@blog:http://www.xiaojj.me
*/body,ul,ol,li,p,dl,dd,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,th,img,div,input,blockquote {
	margin:0;
	padding:0
}
.frame {
	overflow:hidden
}
body {
	padding:43px 0 60px;
	font:12px/20px 'microsoft yahei';
	color:#333;
	background:#fff
}
ul,ol,li {
	list-style-type:none
}
img {
	vertical-align:middle;
	border:0
}
em,i {
	font-style:normal
}
a {
	text-decoration:none;
	cursor:pointer;
	color:#000000
}
a:hover {
	text-decoration:none
}
input {
	outline:#fff
}
table {
	border-spacing:0;
	border-collapse:collapse
}
.layout {
	margin-left:auto;
	margin-right:auto;
	width:1000px
}
.show {
	display:block
}
.hide {
	display:none
}
.clearfix,.g-main,.m-searchs-result,.m-post-share {
	*zoom:1
}
.clearfix:after,.g-main:after,.m-searchs-result:after,.m-post-share:after {
	content:'';
	display:block;
	clear:both;
	height:0;
	overflow:hidden
}
.txt {
	float:left;
	margin-right:10px;
	padding:4px;
	height:24px;
	line-height:24px;
	border:1px solid #eee
}
textarea.txt {
	height:auto
}
small {
	font-family:'Arial';
	color:#999
}
.g-sites-logo,.g-nav li,.g-nav ul,.g-content,.g-footer p,.m-news-img,.m-tab-hd li,.m-searchs-hd img,.m-post-more li,.share-btn,.m-marktime-scale li,.m-post-prev img,.m-post-next img {
	float:left
}
.g-nav p,.g-side,.g-footer span,.m-news-site span,.m-news-view,.m-news-praise,.m-post-praise {
	float:right
}
.g-nav dt i,.m-search,.m-pages a,.m-pages em,[class*='icon-'] {
	display:inline-block;
	*dispaly:inline;
	*zoom:1
}
.u-pipe {
	padding:0 10px;
	color:#999
}
.u-breaking {
	color:#66bc4e
}
.u-column {
	color:#5856d6
}
.u-startups {
	color:#ff6e27
}
.u-news {
	color:#3c8fe6
}
.u-news4{
    color:#8B2323
}
.u-news5{
    color:#CD0000
}
.u-news6{
    color:#6495ED
}
.u-news7{
    color:#1E90FF
}
.u-news8{
    color:#71C671
}
.u-news9{
    color:#B03060
}
.u-news10{
    color:#CD1076
}
.u-news11{
    color:#6E8B3D
}
.u-news12{
    color:#6CA6CD
}
.u-news13{
    color:#4A708B
}
.u-news14{
    color:#388E8E
}
.u-news15{
    color:#CD1076
}
.u-key {
	color:#f00
}

.g-sites {
	z-index:999;
	position:absolute;
	top:0;
	left:0;
    min-width:1000px;
	width:100%;
	height:38px;
	line-height:38px;
	text-align:right;
	border-top:5px solid #c09022;
	background-color:#316fc9
}
.g-sites-logo a {display:block;
    width:174px;height:38px;text-align:left;text-indent:-200px;
	color:#fff;
	font:700 18px 'Constantia';background: url(/front/img/logo.png) no-repeat -237px -47px;
}
.g-header {
    min-width:1000px;
	height:130px;
	background-color:#225eb5
}
.g-nav {
	margin-bottom:30px;
    min-width:1000px;
	height:40px;
	line-height:40px;
	background-color:#164487;
	color:#fff
}
.g-nav li {
	z-index:2;
	position:relative
}
.g-nav li a {
	display:block;
	padding:0 20px;
	color:#fff;
	font-size:16px
}
.g-nav li a:hover {
	background-color:#66bc4e
}
.g-nav .nav-crt {
	background-color:#66bc4e
}
.g-nav .nav-crt dd {
	display:block
}
.g-nav dt {
	height:40px
}
.g-nav dt i {
	margin-left:5px;
	width:0;
	height:0;
	vertical-align:-3px;
	border:5px solid;
	border-color:#fff transparent transparent transparent;
	overflow:hidden
}
.g-nav dd {
	display:none;
	position:absolute;
	left:0;
	top:40px;
	border:1px solid #ddd;
	background-color:#fff
}
.g-nav dd ul {
	width:190px;
	padding:10px 0
}
.g-nav dd li {
	width:100%;
	line-height:30px
}
.g-nav dd li a {
	font-size:14px
}
.g-nav dd li a:hover em,.g-nav dd li a:hover i,.g-nav dd li a:hover small {
	color:#fff
}
.g-nav p {
	color:#84afec
}
.g-nav p a {
	color:#84afec
}
.g-nav-ft {
	margin-bottom:0
}
.g-nav-ft li a {
	font-size:14px
}
.g-main {
	margin-bottom:30px
}
.g-content {
	margin-right:30px;
	width:670px
}
.g-side {
	width:290px
}
.g-footer {
	min-width:1000px;
	line-height:50px;
	color:#fff;
	border-bottom:5px solid #c09022;
	background-color:#225eb5;
	overflow:hidden
}
.g-footer a {
	margin-left:10px;
	color:#fff
}
.m-logo a {
	float:left;
	margin-top:16px;
	width:200px;
	height:92px;
	text-indent:-150px;
	background:url(/front/img/logo.png) no-repeat left -47px;
	overflow:hidden
}
.m-desc{float:right;margin-top:42px;width:453px;height:47px;background:url(/front/img/logo.png) no-repeat left top;}
.m-search {
	position:relative;
	height:26px;
	line-height:1
}
.m-search-txt {
	padding:4px 26px 4px 4px;
	width:150px;
	height:18px;
	line-height:18px;
	border:0
}
.m-search-btn {
	position:absolute;
	right:0;
	top:0;
	height:26px
}

.m-crumbs {
	line-height:40px;
	border-bottom:1px dashed #ddd;
	font-size:16px
}
.m-crumbs a {
	color:#666
}
.m-crumbs em {
	color:#225eb5
}
.m-news {
	padding:20px 0;
	border-bottom:1px dashed #ddd;
	overflow:hidden
}
.m-news-tit {
	line-height:40px;
	border-bottom:1px dashed #ddd
}
.m-news-tit h2 {
	font-weight:400
}
.m-news-more {
	display:block;
	margin-top:20px;
	line-height:30px;
	text-align:center;
	color:#fff;
	background-color:#66bc4e
}
.m-news-site {
	line-height:34px;
	overflow:hidden
}
.m-news-site span {
	margin-top:-34px;
	color:#999
}
.m-news-cate {
	font-size:14px
}
.m-news-cate strong {
	font-weight:400
}
.m-news-img {
	margin-right:10px;
	padding:1px;
	border:1px solid #eae7e7
}
.m-news-hd {
	font-size:16px;
	font-weight:400;
	line-height:36px;
}
.m-news-bd p {
	line-height:24px;
	color:#3B3B3B
}
.m-news-view,.m-news-praise {
	color:#51aded
}
.m-news-praise{margin-right:15px;}
.m-tab-hd {
	height:34px;
	line-height:34px;
	background-color:#b7d7ee
}
.m-tab-hd li {
	position:relative
}
.m-tab-hd li a {
	display:block;
	padding:0 16px;
	color:#648ca9
}
.m-tab-hd li i {
	display:none
}
.m-tab-hd .crt {
	background-color:#176aa8
}
.m-tab-hd .crt a {
	color:#fff
}
.m-tab-hd .crt i {
	display:block;
	position:absolute;
	top:34px;
	left:-5px;
	margin-left:50%;
	width:0;
	height:0;
	border:5px solid;
	border-color:#176aa8 transparent transparent transparent;
	overflow:hidden
}
.m-post-list {
	margin-bottom:20px
}
.m-post-list li {
	height:40px;
	line-height:40px;
	border-bottom:1px dashed #ddd;
	overflow:hidden
}
.m-post-list a {
	display:block;
	color:#000000
}
.m-code h3 {
	line-height:30px;
	font-size:12px;
	font-weight:400;
	color:#000000
}
.m-pages {
	margin-top:20px;
	font-size:0;
	text-align:right
}
.m-pages a,.m-pages em {
	margin:0 3px;
	width:28px;
	height:28px;
	font:12px/28px arial;
	text-align:center;
	color:#fff
}
.m-pages a {
	background-color:#3b5e96
}
.m-pages em {
	background-color:#225eb5
}
.m-rt {
	border:1px solid #ddd;
	box-shadow:0 0 2px #ddd
}
.m-rt-hd {
	position:relative;
	line-height:46px;
	background-color:#f0f0f0
}
.m-rt-livein,.m-rt-voice {
	position:absolute;
	top:0
}
.m-rt-livein {
	left:22px;
	color:#225eb5
}
.m-rt-voice {
	right:22px
}
.m-rt-date {
	width:100%;
	text-align:center
}
.m-rt-bd {
	padding:25px
}
.m-rt-newlist {
	margin-left:10px
}
.m-rt-news {
	cursor:pointer;
	position:relative;
	padding:0 0 30px 10px;
	border-left:2px solid #d3ddde;
        font:15px/20px 'microsoft yahei'
}
.m-rt-time {
	color:#666;
	margin-bottom:10px
}
.m-rt p {
	color:#333;
	line-height:20px;
	height:40px;
	overflow:hidden
}
.m-rt-point {
	position:absolute;
	left:-11px;
	top:0;
	width:14px;
	height:14px;
	border:3px solid #fff;
	background-color:#d3ddde;
	border-radius:10px
}
.m-rt-news-crt .m-rt-point {
	background-color:#d1e8bd
}
.m-rt-news-crt .m-rt-point:after {
	position:absolute;
	top:3px;
	left:3px;
	content:'';
	width:8px;
	height:8px;
	background-color:#68b325;
	border-radius:4px
}
.m-rt-news-crt p {
	height:auto
}
.m-rt-news-crt .m-rt-time,.m-rt-news-crt p {
	color:#68b325
}
.m-rt-news-last {
	border-left-color:#fff
}
.m-rt-icon {
	position:absolute;
	right:0;
	top:0
}
.m-fixed {
	position:absolute;
	top:242px;
	left:0;
	padding:0 10px;
	width:115px;
	border:1px solid #e5e1e1;
	background:url("/front/img/m-fixed.jpg") repeat;
	overflow:hidden
}
.m-fixed li {
	height:42px;
	line-height:42px
}
.m-fixed a {
	display:block;
	border-bottom:1px solid #e4e4e4;
	box-shadow:0 1px 1px #fff
}
.m-fixed a:hover {
	color:#fff;
	margin-left:-10px;
	padding:0 10px;
	width:115px;
	background-color:#0d65a6
}
.m-fixed .crt {
	background-color:#0d65a6
}
.m-searchs-tit {
	margin-bottom:10px;
	line-height:50px;
	font-size:18px;
	border-bottom:1px dashed #ddd
}
.m-searchs-result {
	padding:30px 0;
	border-bottom:1px dashed #ddd
}
.m-searchs-hd {
	padding-bottom:5px
}
.m-searchs-hd strong {
	font-size:16px;
	font-weight:400
}
.m-searchs-hd img {
	margin-right:15px
}
.m-searchs-bd {
	margin-left:115px
}
.m-searchs-bd p {
	line-height:24px;
	color:#666
}
.m-searchs-bd a {
	color:#2d6ed8
}
.m-post-hd {
	padding:10px 0;
	line-height:34px;
	text-align:center;
	border-bottom:1px dashed #ddd
}
.m-post-hd h2 {
	font-size:26px;
	font-weight:400;
	line-height:50px
}
.m-post-outer {
	color:#777
}
.m-post-outer a {
	margin-left:10px;
	color:#51aded
}
.m-post-tag a {
	padding:3px 10px;
	color:#777;
	border-radius:11px;
	background-color:#ececec
}
.m-post-tag .crt {
	color:#fff;
	background-color:#68b325
}
.m-post-bd {
	padding-top:20px;
        font:16px/20px 'microsoft yahei';
        color:#030303
}
.m-post-bd p {
	padding:10px 0;
	line-height:26px
}
.m-post-bd img {
	display:block;
	margin:0 auto
}
.m-post-crumb {
	margin-bottom:20px;
	text-align:right
}
.m-post-crumb a {
	color:#225eb5
}
.m-post-share {
	margin-bottom:15px
}
.share-btn a {
	margin:0 6px 0 0 !important
}
.m-post-praise {
	padding:0 10px;
	height:28px;
	line-height:28px;
	color:#fff;
	background-color:#68b325;
	border-radius:3px
}
.m-post-praise em {
	margin-right:5px;
	padding:0 5px;
	color:#666;
	background-color:#fff
}
.m-post-more {
	overflow:hidden
}
.m-post-more h3 {
	margin-bottom:20px;
	line-height:36px;
	font-size:16px;
	font-weight:400;
	color:#225eb5;
	border-bottom:1px dashed #ddd
}
.m-post-more ul {
	margin-left:-40px
}
.m-post-more li {
	margin-left:40px;
	width:220px
}
.m-post-more li span {
	display:block;
	text-align:center;
	height:34px;
	line-height:34px;
	color:#333;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden
}
.m-marktime {
	margin-bottom:20px
}
.m-marktime-hd {
	padding-left:10px;
	line-height:32px;
	font-size:14px;
	color:#fff;
	background-color:#176aa8
}
.m-marktime-bd {
	position:relative
}
.m-marktime-scale {
	height:29px;
	background:#b7d7ee url(../images/scale.png) no-repeat 0 0
}
.m-marktime-scale li {
	font:11px arial
}
.m-marktime-add {
	z-index:2;
	position:relative;
	padding-bottom:15px;
	height:140px;
	border:1px solid #ccc;
	border-top:0;
	overflow:hidden
}
.m-marktime-add li {
	position:absolute;
	height:20px;
	text-align:center;
	background-color:#d5d9e2
}
.m-marktime-add-1 {
	top:15px;
	left:0;
	width:108px;
}
.m-marktime-add-2 {
	top:50px;
	left:36px;
	width:108px;
}
.m-marktime-add-3 {
	top:85px;
	left:120px;
    width: 108px;
}
.m-marktime-add-4 {
	top:120px;
	left:180px;
    width: 108px;
}
.m-marktime-add .crt {
	color:#fff;
	background-color:#68b325
}
.m-marktime-line {
	position:absolute;
	top:0;
	width:1px;
	bottom:0;
	background-color:#68b325;
	overflow:hidden
}
.m-fixed-ft {
	z-index:2;
	position:fixed;
	bottom:0;
	width:100%;
	height:60px;
	background-color:#fff;
	border-top:1px solid #A1B1C2;
	border-bottom:1px solid #A1B1C2;
	overflow:hidden
}
.m-fixed-ft .layout {
	overflow:hidden
}
.m-fixed-ft iframe {
	margin:-1px;
	width:1002px
}
.m-gotop {
	position:fixed;
	right:0;
	bottom:-51px;
	width:60px;
	height:51px;
	background:url(/front/img/gotop.jpg) no-repeat 0 0;
	opacity:0;
	-webkit-transition:bottom .3s,opacity .3s
}
.m-gotop-show {
	opacity:1;
	bottom:120px
}
.m-post-prev,.m-post-next {
	display:none;
	z-index:2;
	position:fixed;
	bottom:180px;
	padding-bottom:10px;
	width:200px;
	border:1px solid #d8e1eb;
	background-color:#fff;
	overflow:hidden;
	-webkit-transition:p_page 1s linear
}
.m-post-prev a,.m-post-next a {
	display:block
}
.m-post-prev span,.m-post-next span {
	display:block;
	margin-bottom:10px;
	text-indent:10px;
	line-height:24px;
	background-color:#f4f8fb
}
.m-post-prev img,.m-post-next img {
	margin:5px 10px 0
}
.m-post-prev {
	left:0
}
.m-post-next {
	right:0
}
@-webkit-keyframes p_page {
	0% {
	margin-bottom:30px;
	opacity:0
}
100% {
	margin-bottom:0;
	opacity:1
}
}.zclip {
	margin-top:-16px
}
.copytips {
	position:absolute;
	padding:10px;
	width:130px;
	text-align:center;
	border:1px solid #ddd;
	background-color:#fff;
	border-radius:5px
}
.copytips i {
	position:absolute;
	left:70px;
	top:-14px;
	width:0;
	height:0;
	border:7px solid;
	border-color:transparent transparent #ddd
}
[class*='icon-'] {
	vertical-align:middle;
	background-image:url(../images/icons.png);
	background-repeat:no-repeat
}
.icon-sina,.icon-rss,.icon-refresh {
	margin-left:5px
}
.icon-voice {
	margin-right:5px
}
.icon-view {
	vertical-align:0
}
.m-fixed .icon-all,.m-fixed .icon-heavy,.m-fixed .icon-market,.m-fixed .icon-remind,.m-fixed .icon-rumors,.m-fixed .icon-data {
	margin:0 5px 0 10px;
	width:24px
}
.icon-all {
	background-position:3px -15px;
	width:17px;
	height:14px
}
.m-fixed a:hover .icon-all {
	background-position:3px 0
}
.icon-data {
	background-position:3px -46px;
	width:17px;
	height:15px
}
.m-fixed a:hover .icon-data {
	background-position:3px -30px
}
.icon-heavy {
	background-position:3px -91px;
	width:19px;
	height:15px
}
.m-fixed a:hover .icon-heavy {
	background-position:3px -75px
}
.icon-market {
	background-position:3px -123px;
	width:18px;
	height:15px
}
.m-fixed a:hover .icon-market {
	background-position:3px -107px
}
.icon-remind {
	background-position:3px -200px;
	width:17px;
	height:15px
}
.m-fixed a:hover .icon-remind {
	background-position:3px -184px
}
.icon-rumors {
	background-position:0 -248px;
	width:20px;
	height:14px
}
.m-fixed a:hover .icon-rumors {
	background-position:0 -233px
}
.icon-post {
	background-position:0 -155px;
	width:12px;
	height:15px
}
.icon-email {
	background-position:0 -62px;
	width:14px;
	height:12px
}
.icon-refresh {
	background-position:0 -171px;
	width:12px;
	height:12px
}
.icon-rss {
	background-position:0 -216px;
	width:16px;
	height:16px
}
.icon-sina {
	background-position:0 -263px;
	width:19px;
	height:15px
}
.icon-view {
	background-position:0 -279px;
	width:16px;
	height:10px
}
.icon-praise{
	background-position:0 -337px;
	width:16px;
	height:17px
}
.icon-praise-true{
	background-position:0 -319px;
}
.icon-voice {
	background-position:0 -290px;
	width:13px;
	height:13px
}
.icon-search {
	margin:5px;
	background-position:0 -303px;
	width:16px;
	height:16px
}

.m-slider,.m-slider li,.m-slider li img{width:670px;height:320px;}
.m-slider{position:relative;margin:0 auto 20px;overflow:hidden;}
.m-slider li{position:relative;float:left;}
.m-slider li span{position:absolute;left:0;bottom:0px;width:100%;text-indent:10px;font-size:20px;color:#fff;line-height:80px;background:rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000)\9;}
.m-slider .slider-next,.m-slider .slider-prev{cursor:pointer;position:absolute;top:104px;width:21px;height:50px;background: url(/front/img/arrow.png) no-repeat;}
.m-slider .slider-next{right:0;background-position:-20px 8px;}
.m-slider .slider-prev{left:0;background-position:0 8px;}
.m-slider .slider-next:hover{background-position:-63px 8px;}
.m-slider .slider-prev:hover{background-position:-42px 8px;}
.m-slider .slider-page{position:absolute;bottom:0;width:100%;padding:10px 0;text-align:right;overflow: hidden;}
.m-slider .slider-page i{display:inline-block;cursor:pointer;margin:0 5px;padding-top:11px;width:11px;height:0;overflow:hidden;border-radius:5px;background:#fff;box-shadow:inset 1px 1px 2px rgba(0, 0, 0, .4)}
.m-slider .slider-page i.selected{background-color:#00adef;}



.win{z-index:99;position:fixed;width:500px;border:1px solid #eee;_position:absolute;}
    .win-hd{position:relative;padding:10px;background:#eee;background:-webkit-gradient(linear, left top, left bottom,color-stop(0,#fff),color-stop(1, #ccc));}
        .win-hd h3{font-weight:400;font-size:16px;text-shadow:1px 1px 1px #fff;}
        .win-close{cursor:pointer;position:absolute;right:10px;top:10px;padding:0 8px;text-decoration:none;font:16px 'microsoft yahei';color:#333;}
    .win-bd{padding:10px;background:#fff;}
        .win-btn{padding-top:10px;}
        .win-btn a{margin-right:10px;}
    .win-mask{z-index:98;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.6);}
