/*
 *@Description: BLOG CSS
 *@Author:      xiaoxiehang (2013-09-04)
 *@Update:      xiaoxiehang (2014-03-27)
*/

$bgUrl:'http://xiaojjblog.qiniudn.com/';

/*=S HTML5 */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
/*=E HTML5 */

/*=S reset */
html,body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,label,textarea,p,blockquote,th,td,figure,menu,pre{margin:0;padding:0;}
body{font:400 14px/1.5 'Consolas','Microsoft Yahei','Simsun',Tahoma;color:#333;background:url(#{$bgUrl}main.png);-webkit-font-smoothing:antialiased;}

em,i{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-weight:300;}
h1{font-size:1.5em;}
h2{font-size:1.3em;}
h3{font-size:1.2em;}
label,input,select{vertical-align:baseline;}
style,code,pre{font:13px/22px 'Consolas','Microsoft Yahei';}
table{border-spacing:0;border-collapse:collapse;}
a{text-decoration:none;color:#a49369;}
a:hover{color:#aa3f2b;}
img,button{background:none;border:0 none;vertical-align:middle;}
ul,menu{list-style:none;}
ol{margin-left:30px;}
/*=E reset */
/*=S font color*/
.color1{color:#aa3f2b;}
.color9{color:#999;}
.txt{padding:3px;color:#eee;border:1px solid #999;background:rgba(255, 255, 255, .2);outline:none;
    &:hover,&:focus{border-color:#fff;}
}
/*=E font color*/
/*
 * 布局
*/
.g-wrap{margin:0 80px 0 320px;}
.g-hd{position:fixed;top:0;left:0;bottom:0;padding:20px 45px;width:160px;border-right:1px solid #e3e3d7;background:#ebebeb url(#{$bgUrl}header.png);overflow:hidden;}
.g-bd,.g-ft{padding:18px;}
.g-bd{min-height:75%;}
/*
 * 模块
*/
//logo
.m-logo{position:relative;
    @mixin char($duration,$delay){
        -webkit-animation:char $duration $delay infinite alternate;
           -moz-animation:char $duration $delay infinite alternate;
            -ms-animation:char $duration $delay infinite alternate;
             -o-animation:char $duration $delay infinite alternate;
                animation:char $duration $delay infinite alternate;
    }
    strong{font:400 32px 'Oswald';color:#AA3F2B;
        @at-root{
            i:nth-child(1){@include char(3s,0.7s);}
            i:nth-child(2){@include char(1s,0.9s);}
            i:nth-child(3){@include char(3s,0.7s);}
            i:nth-child(4){@include char(2s,0.6s);}
            i:nth-child(5){@include char(4s,0.8s);}
            i:nth-child(6){@include char(3s,0.5s);}
            i:nth-child(7){@include char(4s,0.9s);}
            i:nth-child(8){@include char(3s,0.8s);}
            i:nth-child(9){@include char(2s,0.4s);}
            i:nth-child(10){@include char(4s,0.7s);}
            i:nth-child(11){@include char(1s,0.5s);}
        }
    }
    img,&:after{width:150px;height:150px;border-radius:50%;}
    &:after{z-index:-1;content:'';position:absolute;top:0;left:0;box-shadow:1px 2px 5px #ccc;}
    &:hover:after{-webkit-animation:logo linear 1s infinite;}
}
.m-desc{font-size:14px;}
//导航
.m-nav{margin:40px 0 20px;width:150px;height:150px;border-radius:50%;
    li{line-height:32px;text-align:right;
        a{display:block;background:url(#{$bgUrl}nav-line.png) repeat-x 0 bottom;}
    }
}
//搜索
.m-search{
    &-txt{padding:3px 4px;line-height:16px;outline:1px solid rgba(255,255,255,.2);border:1px solid #d1cebf;}
    &-btn{}
    &-list{}
}
//分页
.m-pages{
    a,span{display:inline-block;margin-left:5px;padding:3px 8px;border:1px solid #f0eaca;background:#f7f7f7;border-radius:2px;}
    a:hover,a.crt{color:#aa3f2b;background: url(#{$bgUrl}post.png);}
}
//文章
.m-post{position:relative;margin-bottom:50px;line-height:26px;
    &-hd{
        h1{line-height:60px;white-space:nowrap;text-overflow:ellipsis;font-family:'Century Gothic','Microsoft Yahei';overflow:hidden;}
    }
    &-bd{color:#888;padding:10px 0;overflow:hidden;
        h2,h2 a{color:#aa3f2b;}
        p code{padding:0 2px 1px;color:#aa3f2b;border:1px solid #ddd;background:#fff;}
        blockquote{margin-bottom:20px;padding:10px;border:1px dashed #ccc;}
    }
    &-ft{margin-top:-1px;}
    &-nav{display:flex;justify-content:space-between;}
    &-meta{padding-bottom:10px;
        span{margin-right:10px;color:#999;}
    }
}


.m-post-list{margin-top:50px;
    .m-post{
        border:1px solid #f0eaca;background:url(#{$bgUrl}post.png);box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
        &-hd,&-bd,&-ft{position:relative;padding-right:30px;padding-left:60px;}
        &-hd{background:url(#{$bgUrl}post-bd.png) repeat-x 0 bottom;}
        &-meta{padding-bottom:0;}
    }

    .m-post:before,.m-post:after,
    .m-post-ft:before,.m-post-ft:after{content:'';position:absolute;}

    .m-post:before{top:30px;left:-11px;width:20px;height:20px;border-top:1px solid #f0eaca;border-left:1px solid #f0eaca;background:url(#{$bgUrl}post.png);
        -webkit-transform:rotate(-45deg);
           -moz-transform:rotate(-45deg);
            -ms-transform:rotate(-45deg);
             -o-transform:rotate(-45deg);
                transform:rotate(-45deg);
    }
    .m-post:after{left:0;top:0;height:100%;width:29px;border-right:1px solid #f3dac6;}
    .m-post-ft:before{bottom:-16px;left:18px;right:18px;height:9px;
        background:url(#{$bgUrl}post-shadow.png) no-repeat 0 -1px,
                   url(#{$bgUrl}post-shadow.png) no-repeat right -1px;
    }
    .m-post-ft:after{bottom:-7px;left:0;right:0;height:7px;
        background:url(#{$bgUrl}post-ft.png) no-repeat 0 -9px,
                   url(#{$bgUrl}post-ft.png) no-repeat right 0,
                   url(#{$bgUrl}post-ft.png) repeat-x 0 -18px;
    }
}

//表格
.m-grid{width:100%;border:1px solid #eee;background:#fff;
    th,td{padding:0 10px;font-size:12px;line-height:24px;}
    th{text-align:left;background:#eee;}
    tr:nth-child(even) td{background:#f9f9f9;}
}
//links
@mixin columnCount($num){
    -webkit-column-count:$num;
       -moz-column-count:$num;
        -ms-column-count:$num;
         -o-column-count:$num;
            column-count:$num;
}
.m-links{
    ul{margin-top:10px;line-height:24px;@include columnCount(2);}
    &:first-child{
        ul{@include columnCount(3);}
    }
}
.m-about{}
.m-theme{float:right;}
/**
 * font-family
 * @import url(http://fonts.googleapis.com/css?family=Oswald);
*/
@font-face{
    font-family:'Oswald';
    font-style:normal;
    font-weight:400;
    src:local('Oswald Regular'),
        local('Oswald-Regular'),url(http://themes.googleusercontent.com/static/fonts/oswald/v8/-g5pDUSRgvxvOl5u-a_WHw.woff) format('woff');
}

/*=S ICON */
.icon-sina,.icon-qq,.icon-github{
    &,&:after{display:inline-block;margin-right:10px;width:20px;height:20px;vertical-align:middle;background:url(#{$bgUrl}icon.png) no-repeat;}
    position:relative;
    &:after{content:'';position:absolute;top:0;left:0;}
    &:hover:after{-webkit-animation:icon .4s linear;}

}
$i:0;
@each $icon in sina,qq,github{
    .icon-#{$icon}{
        &,&:after{background-position:$i 0;}
    }
    $i : $i - 20px;
}
/*=E ICON */

/*=S scrollbar */
body::-webkit-scrollbar{width:10px;
    &-thumb{background:#f0eaca;}
}
/*=E scrollbar */

/*=S prettyPrint + example + style */
.com {color:#93a1a1;}
.lit {color:#195f91;}
.pun, .opn, .clo {color:#93a1a1;}
.fun {color:#dc322f;}
.str, .atv {color:#D14;}
.kwd, .prettyprint .tag {color:#1e347b;}
.typ, .atn, .dec, .var {color:teal;}
.pln {color:#48484c;}

.prettyprint{white-space:pre-wrap;word-wrap:break-word;border:1px solid #ddd;background:#fff;
    &.linenums {box-shadow:inset 40px 0 0 #f7f7f9, inset 41px 0 0 #ececf0;}
}
    ol.linenums{margin: 0 0 0 41px;
        li{padding-left:10px;color:#bebec5;line-height:22px;text-shadow:0 1px 0 #fff;}
    }

.bs-docs-example,.style{position:relative;padding:25px 0 0;border:1px solid #ddd;background:#fff;
    &:after{position:absolute;top:-1px;left:-1px;padding:0 7px;font-size:12px;line-height:24px;color:#9da0a4;border:1px solid #ddd;background:#f5f5f5;}
}

.bs-docs-example{display:-webkit-flex;padding-bottom:25px;-webkit-align-items:center;-webkit-justify-content:center;overflow:auto;
    &:after{content:"Example";}
}

.style{padding:25px 15px 0 15px;font-size:13px;color:#555;
    style{display:block;
        &:focus{background:#efefef;outline:none;}
        &:after{content:attr(title);}
    }
}

.bs-docs-example + .prettyprint,.bs-docs-example + .style,.style + .prettyprint{margin-top:-1px;}
/*=S prettyPrint + example + style */

.u-praise{float:right;}


@-webkit-keyframes logo{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@-webkit-keyframes icon{
    0%{-webkit-transform:scale(1);opacity:1;}
    100%{-webkit-transform:scale(1.5);opacity:0;}
}

@-webkit-keyframes char{
    0%{text-shadow:0 0 3px #AA3F2B;color:rgba(255,255,255,0);}
    50%{text-shadow:0 0 6px #AA3F2B;color:rgba(255,255,255,0);}
    100%{text-shadow:0 0 9px #AA3F2B;color:rgba(255,255,255,0);}
}

@media screen and (max-width:1100px) and (min-width:900px) {
    .g-wrap{margin:0 0 0 270px;}
}

@media screen and (max-width:900px) {
    .m-logo img{display:none;}
    .g-wrap{margin:0;}
    .g-hd{display:flex;position:static;padding:10px;width:auto;border-right:0;border-bottom:1px solid #e3e3d7;align-items:center;flex-wrap:wrap;justify-content:space-between;}
    
    .m-logo{margin-right:50px;}
    .m-nav{margin:0;width:auto;height:auto;
        ul{display:-ms-flex;display:flex;flex-wrap:wrap;overflow:hidden;}
        li a{padding:0 10px;background:url(#{$bgUrl}nav-line.png) repeat-x 0 0,url(#{$bgUrl}nav-line.png) repeat-x 0 bottom;}
    }
    .m-post-list{margin-top:0;}
    .m-links{
        ul{margin-top:10px;line-height:24px;column-count:2;}
        &:first-child{
            ul{column-count:3;}
        }
    }
}

@media screen and (max-width:580px) {
    .m-desc,.m-post:before,.m-post:after,.u-praise{display:none;}
    .g-bd,.g-ft{padding:10px;}
    .g-bd{min-height:50%;}
    .m-nav{margin-top:10px;
        li{margin-top:-1px;}
    }
    .m-post{margin-bottom:15px;
        @at-root{
            &-list{
                .m-post-hd, .m-post-bd, .m-post-ft{padding:0 10px;}
            }
            &-hd{
                h1{line-height:45px;}
            }
        }
    }
    
}