body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th , img, div ,input{margin: 0;padding: 0;}
html{overflow:auto;}
body {font:12px 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;color:#333;background:#f3f3f3;}
ul,ol,li{list-style-type:none;}
img{vertical-align:middle;border:0;}
em,i{font-style:normal;}
a{text-decoration:none;cursor:pointer;color:#333;}
table{border-spacing:0;border-collapse:collapse;}

%iblock{display:inline-block;*dispaly:inline;*zoom:1;}
.clearfix{*zoom:1;
    &:after{content:'';display:block;clear:both;height:0;overflow:hidden;}
}
.layout{margin-left:auto;margin-right:auto;width:1000px;}
.fl{float:left;}
.fr{float:right;}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.tc{text-align:center;}
.u-pipe{padding:0 10px;font-family:sans-serif;color:#999;}
.color1{color:#f60;}
.color9{color:#999;}
.pipe{padding:0 10px;font-family:simsun;}
%text-indent{text-indent:-9999px;}
/*
 * 背景图片
*/

.g-guide{@extend .fl;margin:0;width:100%;min-width:1000px;height:765px;background:url(../images/guide.jpg) no-repeat center top;}
.g-index{@extend .layout;height:765px;background:#fff url(../images/index.jpg) no-repeat center bottom;}
.g-footer{@extend .layout,.tc;line-height:65px;border-top:1px solid #e0e0e0;}
.g-main{@extend .clearfix;padding:40px 0;}
.g-menu{@extend .fl;width:200px;margin-right:48px;
	h2{@extend .tc;height:96px;line-height:96px;font-size:24px;font-weight:400;color:#fff;background:#34a150;}
}
.g-content{overflow:hidden;line-height:30px;
	dt{font-size:14px;}
}
.g-mall{margin-top:40px;}

.m-guide-text{@extend %text-indent;margin:110px auto 57px;width:898px;height:141px;background:url(../images/guide-text.png) no-repeat;}
.m-guide-logo{@extend %text-indent;display:block;margin:0 auto 53px;width:458px;height:226px;background:url(../images/guide-logo.png) no-repeat;}
.u-guide-btn{@extend %iblock;margin:0 5px;width:307px;height:79px;font:24px/75px 'microsoft yahei';color:#fff;background:url(../images/guide-btn.png) no-repeat;}

.m-index-text{@extend %text-indent;margin:170px auto 50px;width:353px;height:58px;background:url(../images/index-text.png) no-repeat;}
.m-index-text-small{@extend %text-indent;margin:60px auto 0;width:745px;height:56px;background:url(../images/index-text-small.png) no-repeat;}

.m-nav{@extend %iblock,.tc;
	margin-top:40px;padding:0 28px;height:36px;line-height:36px;font-size:16px;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000)\9;background:rgba(0,0,0,.3);
	li{@extend .fl;width:118px;}
	a{display:block;width:100%;color:#fff;text-shadow:1px 1px 1px #999;
		&:hover{background:#000;}
	}
}
.m-index-nav{margin:40px 28px 0;padding:0;}

.m-box{
    @extend .layout;clear:both;margin-bottom:58px;
    &-hd{padding-top:15px;font-size:20px;line-height:60px;color:#083105;letter-spacing:3px;}
    &-bd{}
}

.m-search{@extend .tc;
	&-txt{@extend %iblock;
		margin-right:10px;padding:5px 15px;border-radius:5px;border:1px solid #c1e9cb;background:rgba(255,255,255,.8);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ddffffff,endColorstr=#ddffffff)\9;box-shadow:0 0 5px #fff;
		input{width:640px;height:30px;font:16px/30px 'microsoft yahei';border:0;background:transparent;outline:none;}
	}
	&-btn{@extend %iblock;
		width:105px;height:43px;line-height:42px;font-size:16px;color:#fff;background:url(../images/index-loop-btn.png) no-repeat;*margin-top:-51px;
	}
}


%imgText{position:absolute;left:0;right:0;bottom:0;height:24px;line-height:24px;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#aa000000,endColorstr=#aa000000)\9;background:rgba(0,0,0,.6);}
@mixin imglist($imgWidth,$imgHeight){
	@extend .fl,.tc;position:relative;
    &:first-child{margin-left:0;}
    img{border:1px solid #fff;box-shadow:0 0 2px #aaa;}
    img{display:block;width:$imgWidth;height:$imgHeight;}
}
@mixin imglistname{
	em{position:absolute;bottom:55px;left:10px;color:#fff;}
	strong{position:absolute;bottom:10px;left:10px;width:126px;height:38px;line-height:38px;font-size:14px;font-weight:400;color:#fff;border-radius:3px;background:#278f41;}
}
.m-menu{padding:20px 20px 40px;line-height:40px;border:1px solid #eaeaea;background:#fff;
	li{font-size:14px;border-bottom:1px solid #eaeaea;border-top:0;
		a{display:block;color:#666;}
	}
}
.m-imglist{
    $imgWidth:225px;$imgHeight:165px;
    @extend .clearfix;
    li{
    	@include imglist($imgWidth+4px,$imgHeight+4px);
    	margin-left:20px;
    }
    img{padding:2px;width:$imgWidth;height:$imgHeight;background:#fff;}
    $pos:3px;
    span{@extend %imgText;left:$pos;right:$pos;bottom:$pos;}
}

.m-mall-3,.m-mall-2,.m-mall-4{
	@extend .clearfix;
	span{@extend %imgText;}
}
.m-mall-3{
	$imgWidth:310px;$imgHeight:230px;
	li{
		@include imglist($imgWidth,$imgHeight);
		margin-left:32px;
	}
    $pos:1px;
    span{@extend %imgText;left:$pos;right:$pos;bottom:$pos;}
}
.m-mall-2{margin-bottom:20px;font-size:18px;
	li{
		@include imglist(610px,278px);
		margin-left:16px;
	}
	li:first-child{
		@include imglist(370px,278px);
	}
	@include imglistname;
}
.m-mall-4{
	$imgWidth:225px;$imgHeight:165px;
	li{
		@include imglist($imgWidth,$imgHeight);
		margin-left:30px;
	}
	@include imglistname;
	em{font-size:14px;}
}
.m-case{margin-left:-30px;
	li:nth-child(1){margin-left:30px;}
}
.m-crumbs{margin-bottom:20px;padding-bottom:5px;font-size:14px;border-bottom:1px solid #c8bebe;box-shadow:0 1px 0 #fff;}
.m-detail{font-size:14px;line-height:24px;}