@charset "UTF-8";
/*!
 *@Description: LinkCloud
 *@Author:      xiaoxiehang (2014-06-15 09:50)
 *@Update:      xiaoxiehang (2014-06-20 15:50)
 *@blog:        http://xiaoxiehang.github.com
*/
body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th, img, div, input, blockquote {
  margin: 0;
  padding: 0; }

.frame {
  overflow: hidden; }

body {
  font: 12px/20px 'microsoft yahei';
  color: #333;
  background: #fff; }

ul, ol, li {
  list-style-type: none; }

img {
  vertical-align: middle;
  border: 0; }

em, i {
  font-style: normal; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #333; }
a:hover {
  text-decoration: none; }

input {
  outline: #fff; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

.layout {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px; }

.show {
  display: block; }

.hide {
  display: none; }

.clearfix, .m-monitor, .m-basis-app, .f-tool, .f-tabs-hd, .f-editbox-bd {
  *zoom: 1; }
.clearfix:after, .m-monitor:after, .m-basis-app:after, .f-tool:after, .f-tabs-hd:after, .f-editbox-bd:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden; }

.m-logo, .m-menu-btn, .m-nav li, .m-menu li li a i, .m-monitor-bd li, .m-basis-count li, .m-monitor-mod, .m-basis, .m-basis-app dl, .m-user-name, .m-user-cont li, .m-user-tree, .storage-share li, .log-bd .log-chk, .log-bd .log-chk input, .log-logo, .log-nav li, .f-tabs-hd li, .f-select, .f-search, .f-chart, .f-chart-hd h4, .f-editbox label {
  float: left; }

.m-nav, .m-crumb, .m-user-time, .log-bd .log-tips, .log-nav, .f-chart-hd a {
  float: right; }

.m-basis-info span, .m-user-operate a, .u-arrow, .u-orange-btn, .u-operate-btn, .u-radius-btn {
  display: inline-block;
  *dispaly: inline;
  *zoom: 1; }

/*=S 框架 */
.g-header {
  height: 80px;
  background-color: #5fafe4; }

.g-side {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  padding: 30px 0;
  width: 270px;
  background-color: #0f1922;
  overflow: auto; }

.g-content {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 270px;
  right: 0; }

/*=E 框架 */
/*=S 头部 */
.m-logo {
  background-color: #449bd5; }
.m-logo a {
  display: block;
  width: 270px;
  height: 80px;
  text-indent: -999px;
  background: url(../images/logo.png) no-repeat center center; }

.m-menu-btn {
  width: 65px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-right: 1px solid #4090d3;
  box-shadow: inset -1px 0px 0px #78c1f2; }
.m-menu-btn:hover {
  opacity: .8; }

.m-nav li {
  position: relative;
  margin-right: 28px;
  line-height: 80px; }

/*=E 头部 */
/*=S 侧边栏 */
.m-users {
  margin-bottom: 30px;
  padding-bottom: 26px;
  text-align: center;
  background: url(../images/user-line.png) no-repeat 0 bottom; }
.m-users-img {
  margin-bottom: 20px;
  padding: 5px;
  border: 5px solid #3b3b43;
  border-radius: 65px;
  background-color: #fff; }
.m-users-img:hover {
  opacity: .9; }
.m-users-name {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #fff; }

.m-menu li {
  font-size: 16px;
  border-bottom: 1px solid #2d3439; }
.m-menu li a {
  display: block;
  padding-left: 34px;
  line-height: 60px;
  color: #95a0aa; }
.m-menu li.crt a, .m-menu li a:hover {
  color: #fff;
  background-color: #449bd5; }
.m-menu li i {
  margin-right: 10px; }
.m-menu li em {
  margin-left: 5px;
  font: italic 12px Calibri; }
.m-menu li li {
  border-bottom: 0; }
.m-menu li li a {
  padding-left: 68px;
  font-size: 12px;
  line-height: 40px;
  border-left: 5px solid #0f1922; }
.m-menu li li a i {
  margin-top: 16px;
  width: 6px;
  height: 6px;
  border: 1px solid #98a4ac;
  overflow: hidden;
  border-radius: 4px; }
.m-menu li li.crt a, .m-menu li li a:hover {
  border-left-color: #449bd5;
  background-color: #273039; }
.m-menu li li.crt a i, .m-menu li li a:hover i {
  border-color: #449bd5; }
.m-menu .crt li a {
  color: #95a0aa;
  background-color: transparent; }

/*=E 侧边栏 */
.m-iframe {
  position: absolute;
  width: 100%;
  height: 100%; }

.m-crumb {
  margin-top: -44px; }
.m-crumb, .m-crumb a {
  color: #999; }
.m-crumb strong {
  font-weight: 400; }

.m-main {
  min-width: 810px;
  background-color: #eeeeee; }
.m-main-hd {
  padding: 30px; }
.m-main h2 {
  padding-bottom: 24px;
  font-weight: 400;
  border-bottom: 1px solid #e3e3e3; }
.m-main h2 i {
  margin-right: 5px; }
.m-main-bd {
  padding: 0 30px 30px; }

.m-main-white {
  background-color: #fff; }
.m-main-white .m-main-hd {
  background-color: #eeeeee; }

.m-monitor-bd, .m-basis-count, .m-user-cont, .storage-share li a {
  border: 1px solid #e3e3e3;
  background-color: #f7f7f7;
  overflow: hidden;
  border-radius: 3px; }

.m-monitor-bd, .m-basis-count {
  text-align: center; }
.m-monitor-bd li, .m-basis-count li {
  margin-left: -1px;
  padding: 20px 0 25px;
  text-align: center;
  border-left: 1px solid #e3e3e3; }
.m-monitor-bd li span, .m-monitor-bd li strong, .m-basis-count li span, .m-basis-count li strong {
  display: block;
  line-height: 1; }
.m-monitor-bd li span, .m-basis-count li span {
  font-size: 16px;
  color: #888; }
.m-monitor-bd li strong, .m-basis-count li strong {
  padding: 10px 0;
  font: 400 50px Calibri; }

/*=S 首页 */
.m-monitor-mod {
  margin: 0 5% 60px 0;
  width: 45%; }
.m-monitor-hd {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 30px; }
.m-monitor-hd i {
  color: #ef8748; }
.m-monitor-bd li {
  width: 50%; }

/*=E 首页 */
/*=S 基础应用 */
.m-basis-list {
  margin-left: -30px; }

.m-basis {
  margin: 0 0 30px 30px;
  width: 585px;
  /*width:620px;*/
  box-shadow: 0 0 3px #ddd; }
.m-basis-hd {
  position: relative;
  line-height: 50px;
  background-color: #5fafe4;
  overflow: hidden;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }
.m-basis-hd h3 {
  text-indent: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #fff; }
.m-basis-hd a {
  position: absolute;
  top: 0;
  right: 12px; }
.m-basis-info {
  padding: 28px 0;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  background-color: #ecf1f5; }
.m-basis-info span {
  width: 110px;
  text-align: left; }
.m-basis-info em {
  color: #fb6e52; }
.m-basis-app {
  padding-bottom: 40px;
  border: 1px solid #e3e3e3;
  background-color: #fff; }
.m-basis-app dl {
  margin-top: 40px;
  width: 50%; }
.m-basis-app dt, .m-basis-app dd {
  margin: 0 26px; }
.m-basis-app dt {
  text-indent: 10px;
  font-size: 16px;
  line-height: 42px;
  color: #449bd5;
  border-left: 4px solid #5fafe4;
  background: #eeeeee; }
.m-basis-app dd {
  margin-top: 10px;
  line-height: 38px;
  color: #506470;
  border-bottom: 1px dotted #e3e3e3; }
.m-basis-app dd span {
  color: #999; }
.m-basis-count {
  border-top: none; }
.m-basis-count li {
  width: 33.3%; }

/*=E 基础应用 */
/*=S 基础资源 */
/*=E 基础资源 */
/*=S 账户权限 */
.m-user-name, .m-user-time {
  line-height: 35px; }
.m-user-name {
  margin-right: 10px;
  font-size: 20px; }
.m-user-time {
  color: #666; }
.m-user-cont {
  margin-top: 10px; }
.m-user-cont li {
  margin-left: -1px;
  width: 33.33%;
  height: 175px;
  line-height: 175px;
  text-align: center;
  font-size: 20px;
  border-left: 1px solid #e3e3e3; }
.m-user-cont li em {
  color: #fb6e52; }
.m-user-pur {
  margin: 0 -30px -30px;
  border-top: 1px solid #e3e3e3; }
.m-user-operate {
  padding: 10px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: #e6f2fb; }
.m-user-operate a {
  margin: 0 26px;
  padding: 0 18px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  border: 1px solid #e3e3e3;
  background-color: #fff;
  border-radius: 20px; }
.m-user-operate a.crt, .m-user-operate a:hover {
  color: #fff;
  background: #fb6e52; }
.m-user-all {
  border-top: 1px solid #e3e3e3;
  overflow: hidden; }
.m-user-tree {
  padding-top: 10px;
  width: 175px;
  line-height: 34px;
  border-right: 1px solid #e3e3e3;
  background-coLor: #f7f7f7;
  box-shadow: inset -1px 1px 1px #fff; }
.m-user-tree h4 {
  text-indent: 24px;
  font-size: 16px;
  font-weight: 400; }
.m-user-tree h4 i.u-arrow {
  vertical-align: 1px; }
.m-user-tree li {
  text-indent: 48px; }
.m-user-tree li.crt a, .m-user-tree li a:hover {
  color: #fff;
  background: #5fafe4; }
.m-user-tree a {
  display: block; }
.m-user-list {
  margin-left: 352px;
  padding: 10px;
  background-coLor: #fff;
  overflow-x: auto; }
.m-user-tree, .m-user-list {
  margin-bottom: -9999px;
  padding-bottom: 9999px; }

/*=E 账户权限 */
.m-table {
  min-width: 100%; }
.m-table th, .m-table td {
  text-align: center;
  line-height: 22px; }
.m-table th {
  padding: 10px 15px;
  font-weight: 400;
  color: #fff;
  background-color: #5fafe4; }
.m-table td {
  padding: 20px 15px;
  text-align: center; }
.m-table tr:nth-child(even) td {
  background: #eeeeee; }
.m-table .m-table-edit {
  visibility: hidden; }
.m-table tr:hover .m-table-edit {
  visibility: visible; }
.m-table tr:hover td {
  background-color: #d0e9fa; }

/*=S NC监控 */
.storage-share {
  overflow: hidden; }
.storage-share li {
  position: relative;
  margin: 0 4% 4% 0;
  width: 30%;
  max-width: 270px; }
.storage-share li a {
  display: block;
  padding: 24px 0;
  height: 70px;
  line-height: 70px;
  text-indent: 115px;
  font-size: 16px;
  white-space: nowrap; }
.storage-share li a:hover {
  background-color: #f1f1f1; }
.storage-share li i {
  color: #ef8748; }
.storage-share li span {
  position: absolute;
  top: 24px;
  left: 28px;
  padding: 11px;
  height: 48px;
  line-height: 1;
  text-align: center;
  text-indent: 0; }
.storage-share-net span {
  background-color: #ff6c60; }
.storage-share-disk span {
  background-color: #66cdcc; }
.storage-share-cpu span {
  background-color: #73bf67; }

.m-chart {
  margin-left: -70px;
  overflow: hidden; }

/*=E NC监控 */
/*=S 登录页面 */
.log-hd, .log-bd, .log-ft {
  position: absolute; }
.log-hd, .log-ft {
  z-index: 1;
  left: 0;
  width: 100%;
  height: 80px; }
.log-hd {
  border-bottom: 1px solid #e3e3e3;
  background-color: #fff; }
.log-bd {
  top: 50%;
  left: 50%;
  margin: -180px 0 0 -226px;
  padding: 25px 65px 40px;
  width: 320px;
  border: 1px solid #e3e3e3; }
.log-bd h2 {
  margin-bottom: 10px; }
.log-bd h2 em {
  display: block;
  font: 16px 'Century Gothic';
  color: #666; }
.log-bd h2 strong {
  display: block;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  color: #449bd5; }
.log-bd li {
  overflow: hidden; }
.log-bd .log-txt {
  display: block;
  position: relative;
  padding: 10px 0; }
.log-bd .log-txt span {
  position: absolute;
  top: 21px;
  left: 10px; }
.log-bd .log-txt input {
  padding: 4px 4px 4px 44px;
  width: 270px;
  height: 36px;
  line-height: 36px;
  color: #888;
  font-size: 14px;
  border: 1px solid #e3e3e3; }
.log-bd .log-chk {
  cursor: pointer; }
.log-bd .log-chk input {
  margin: 3px 5px 0 0;
  *margin-top: 0; }
.log-bd .log-tips {
  color: #e41a2d; }
.log-bd .log-btn {
  display: block;
  margin-top: 10px;
  height: 56px;
  text-align: center;
  font-size: 20px;
  line-height: 56px;
  color: #fff;
  background: url(../images/log-btn.png) no-repeat 0 0; }
.log-ft {
  bottom: 0;
  text-align: center;
  line-height: 80px;
  color: #fff;
  background-color: #353644; }
.log-logo {
  margin-top: 28px;
  width: 157px;
  height: 24px;
  background: url(../images/log-logo.png) no-repeat 0 0; }
.log-nav {
  margin: 32px 0;
  line-height: 16px;
  overflow: hidden; }
.log-nav li {
  margin: 0 15px 0 -1px;
  padding-left: 15px;
  border-left: 1px solid #e3e3e3; }

/*=E 登录页面 */
.g-side::-webkit-scrollbar {
  width: 3px; }

.g-side::-webkit-scrollbar-thumb {
  background: #449bd5; }

.u-pipe {
  padding: 0 10px;
  font-family: sans-serif; }

.u-arrow {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  overflow: hidden; }
.u-arrow-top {
  border-top-color: #333; }
.u-arrow-right {
  border-right-color: #333; }
.u-arrow-bottom {
  border-bottom-color: #333; }
.u-arrow-left {
  border-left-color: #333; }

.u-orange-btn, .u-operate-btn {
  margin-right: 5px;
  padding: 0 24px;
  line-height: 35px;
  font-size: 14px;
  color: #fff;
  border-radius: 3px; }

.u-orange-btn {
  background-color: #fb6e52; }
.u-orange-btn:hover {
  background-color: #fab2a4; }

.u-operate-btn {
  background-color: #b6c2c9; }
.u-operate-btn:hover {
  background-color: #C3CED5; }

.u-orange-btn-s, .u-operate-btn-s {
  padding: 0 12px;
  height: 24px;
  line-height: 25px;
  font-size: 12px;
  overflow: hidden; }

.u-radius-btn {
  padding: 0 20px;
  height: 32px;
  line-height: 30px;
  font-size: 14px;
  color: #9097a1;
  border: 1px solid #e3e3e3;
  border-radius: 16px; }
.u-radius-btn:hover {
  background-color: #fb6e52; }
.u-radius-btn:hover, .u-radius-btn:hover i {
  color: #fff; }
.u-radius-btn i {
  color: #ef8748; }

.f-tool {
  margin-bottom: 20px; }

/*=S 切换 */
.f-tabs-hd, .f-tabs-bd {
  padding: 0 30px; }
.f-tabs-hd {
  height: 50px;
  border-bottom: 2px solid #449bd5;
  background-color: #eeeeee; }
.f-tabs-hd li {
  position: relative;
  margin: 0 10px -2px 0;
  padding: 1px 21px;
  line-height: 47px;
  font-size: 16px;
  color: #666;
  border: 1px solid #e3e3e3;
  border-bottom: 0;
  background-color: #e6f2fb;
  cursor: pointer; }
.f-tabs-hd .crt {
  padding: 0 20px;
  height: 50px;
  font-size: 18px;
  border-width: 2px;
  border-color: #449bd5;
  background-color: #fff; }
.f-tabs-bd {
  padding-top: 32px; }

/*=E 切换 */
/*=S 下拉 */
.f-select {
  z-index: 1;
  position: relative;
  margin-right: 10px;
  min-width: 165px;
  height: 34px; }
.f-select-hd {
  position: relative;
  cursor: pointer;
  padding: 0 24px 0 10px;
  line-height: 32px;
  font-size: 14px;
  border: 1px solid #e3e3e3; }
.f-select-hd a {
  display: block; }
.f-select-arrow {
  position: absolute;
  top: 13px;
  right: 5px; }
.f-select-bd {
  display: none;
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  border: 1px solid #e3e3e3;
  background-color: #fff;
  box-shadow: 0 0 3px #ddd; }
.f-select-bd li {
  cursor: pointer;
  padding: 0 15px;
  line-height: 24px; }
.f-select-bd li.crt, .f-select-bd li:hover {
  background-color: #e6f2fb; }

.f-search {
  position: relative;
  margin-right: 10px;
  height: 34px; }
.f-search input {
  padding: 4px 26px 4px 4px;
  width: 250px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px #f1f1f1; }
.f-search-btn {
  position: absolute;
  top: 6px;
  right: 6px; }

/*=E 下拉 */
/*=S 图表*/
.f-chart {
  margin: 0 0 20px 70px;
  width: 600px;
  height: 270px;
  overflow: hidden; }
.f-chart-hd {
  line-height: 40px;
  overflow: hidden; }
.f-chart-hd h4 {
  font-size: 16px;
  font-weight: 400; }
.f-chart-hd a {
  color: #999;
  font-size: 14px; }
.f-chart-hd a i {
  color: #ef8748; }
.f-chart-bd {
  margin-left: -40px;
  width: 700px;
  height: 250px;
  background-color: #ebf6fc; }

/*=E 图表*/
/*=*/
.f-editbox {
  position: absolute;
  border: 1px solid #e3e3e3; }
.f-editbox-bd {
  padding: 20px 25px;
  background-color: #fff; }
.f-editbox-ft {
  padding-top: 7px;
  text-align: center;
  background-color: #e6f2fb; }
.f-editbox label {
  line-height: 34px; }

/*=*/
.win {
  z-index: 99;
  position: fixed;
  _position: absolute;
  border-radius: 3px;
  overflow: hidden; }
.win-hd {
  position: relative;
  height: 48px;
  line-height: 48px;
  border-top: 3px solid #449bd5;
  background: #000; }
.win-hd h3 {
  text-indent: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #fff; }
.win-hd .win-close {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 16px;
  overflow: hidden; }
.win-bd, .win-ft {
  padding: 10px 0;
  background: #fff; }
.win-ft {
  text-align: center; }
.win-ft a {
  margin: 0 5px; }

.win-mask {
  z-index: 98;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); }

.m-users-img, .m-menu li a, .m-user-operate a, .storage-share li a, .u-orange-btn, .u-operate-btn, .u-radius-btn {
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s; }

a:hover .icon-remind {
  -webkit-animation: swing 1s ease 2;
  -moz-animation: swing 1s ease 2;
  -ms-animation: swing 1s ease 2;
  -o-animation: swing 1s ease 2;
  animation: swing 1s ease 2; }
a:hover .icon-set {
  -webkit-animation: rotate 1s ease both;
  -moz-animation: rotate 1s ease both;
  -ms-animation: rotate 1s ease both;
  -o-animation: rotate 1s ease both;
  animation: rotate 1s ease both; }

/*消息图标*/
@-webkit-keyframes swing {
  20%, 40%, 60%, 80%, 100% {
    -webkit-transform-origin: top center; }

  20% {
    -webkit-transform: rotate(15deg); }

  40% {
    -webkit-transform: rotate(-10deg); }

  60% {
    -webkit-transform: rotate(5deg); }

  80% {
    -webkit-transform: rotate(-5deg); }

  100% {
    -webkit-transform: rotate(0deg); } }
/*设置图标*/
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
