@charset "utf-8";
/*!
 *@Description: course
 *@Author:      xiaoxiehang (2014-10-24 09:50)
 *@Update:      xiaoxiehang (2014-11-02 17:50)
*/

$colorBase:#3cc;
$color0:#000;
$colorc:#e0e0e0;
$color6:#666;
$color9:#999;
$colorbd:#cbcbcb;

$pageWidth : 960px;

%fl{float:left;}
%fr{float:right;}

%widthAll{width:100%;min-width:$pageWidth;}
%txt{padding:3px;height:16px;line-height:16px;border:1px solid $colorbd;}

%iblock{display:inline-block;vertical-align:top;_display:inline;_zoom:1;}

%icon-before{content:'';display:inline-block;background-image:url(../images/icon.png);background-repeat:no-repeat;background-size:250px auto;}
%icon-mr{margin-right:5px;}

.c-blue{color:#06c;}

.u-pipe{margin:0 10px;}