@import '_base';

.m-banner{margin-bottom:20px;width:500px;height:315px;background-color:#ccc;}
.m-box{
    &-hd{font-size:20px;height:36px;line-height:36px;font-weight:400;border-bottom:2px solid #d4d4d4;
        a{@extend %fl;border-bottom:2px solid #34a150;}
    }
    &-bd{padding-top:5px;
        img{@extend %fl;margin-right:20px;}
    }
}
/*
 * 最新課程
*/
.m-newcourse{margin-bottom:20px;
    &-item{padding:15px 0;color:$color9;border-bottom:1px dotted $colorbd;overflow:hidden;}
        a{color:#34a150;}
        &-age{@extend %fl;}
        &-city{margin-left:50px;}
        &-price{@extend %fr;}
}
/*
 * 教材買賣
*/
.m-buy{
    li{padding:10px 0;line-height:60px;border-bottom:1px dashed $colorbd;overflow:hidden;}
    a{color:$color6;}
}

%menuBoxHd{height:36px;line-height:36px;text-indent:15px;font-size:14px;font-weight:400;color:#fff;background-color:#8adeba;}
%menuBoxBd{padding-bottom:20px;border-right:1px dotted $colorbd;}
@each $box in hot,room,login,fb{
    .m-#{$box}{
        &-hd{@extend %menuBoxHd;}
        &-bd{@extend %menuBoxBd;}

        @if #{$box} == hot{
            &{margin-bottom:20px;}
            &-hd{padding-bottom:3px;color:#34a150;background:#dff3ec url(../images/repeat.png) 0 32px;}
            &-bd{padding:6px 0 19px;border-bottom:1px solid #f8cc8e;background-color:#fffcea;overflow:hidden;
                li{@extend %fl;
                    a{display:block;margin:10px 0 0 17px;width:80px;line-height:40px;text-align:center;color:#f4996c;background-color:#fae8d1;-webkit-transition:all .3s;}
                    a:hover{color:#fff;background-color:#8adeba;}
                }
            }
        }
        @if #{$box} == room{
            &-bd{
                dl{padding:10px 15px 10px;height:40px;line-height:20px;}
                dt{font-weight:700;color:#333;}
                dd{padding-bottom:10px;border-bottom:1px dotted $colorbd;}
                a{margin-right:10px;color:$color6;}
            }
        }
        @if #{$box} == login{
            &-bd{padding-top:12px;background-color:#f7f7f7;
                li{padding:6px 0;overflow:hidden;}
            }
            &-tit{@extend %fl;width:40px;text-align:right;}
            &-txt{@extend %fl,%txt;width:150px;}
            &-btn{@extend %fl;width:158px;height:38px;line-height:38px;text-align:center;font-size:16px;color:#f4996c;background-color:#fae8d1;}
            &-forgetpwd{color:#4a93ca;}
        }
    }
}


/*
 * 评论区
*/
.m-discus{
    &-hd{@extend %menuBoxHd;}
    &-bd{
        li{position:relative;padding:12px 0;border-bottom:1px dotted $colorbd;}
    }
    &-num{@extend %fl;margin:5px 10px 0 0;width:30px;height:35px;background:url(../images/discus.png) no-repeat;}
    $i : 5;
    @for $i from 1 to $i+1{
        &-num#{$i}{background-position:#{(1-$i)*30}px 0;}
    }
    &-time{position:absolute;right:0;bottom:12px;color:#ccc;}
}