@import '_base';
/*=S HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block;}
audio, canvas, video {display: inline-block;*display: inline;*zoom: 1;}
audio:not([controls]) {display: none;}
[hidden] {display: none;}
/*=E HTML5 */
body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th , img, div ,input, blockquote, article, aside, footer, header, hgroup, main, nav, section, menu{margin: 0;padding: 0;}
html{overflow-x:hidden;}
body {font:12px/24px arial;color:#666;}
ul,ol,li{list-style-type:none;}
img{vertical-align:middle;border:0;}
em,i{font-style:normal;}
a{text-decoration:none;cursor:pointer;color:#333;
    &:focus,&:active{outline:none;}
}
input,textarea{font-size:100%;outline:#fff;}
table{border-spacing:0;border-collapse:collapse;}

.layout{margin-left:auto;margin-right:auto;width:$pageWidth;}
/*=S 框架 */
.g-sites{@extend %widthAll;height:50px;line-height:40px;color:$color9;background:url(../images/repeat.png) 0 -7px;
    .layout{position:relative;}
    &-tel{@extend %fl;}
    &-link{@extend %fr;
        a{color:$color9;}
        .l-login{@extend %iblock;margin-left:20px;vertical-align:middle;color:#f4996c;
            &-crt{background:rgba(0,0,0,.1);}
        }
        
    }
    &-login{display:none;position:absolute;top:40px;right:0;padding:0 24px;width:184px;height:190px;background-color:#fff;border:1px solid $colorbd;
        li{position:relative;}
        span{position:absolute;top:20px;padding-left:6px;line-height:30px;}
        &-txt{@extend %txt;margin-top:20px;padding:6px;width:170px;
            &:focus{z-index:1;position:relative;}
        }
        .u-btn{width:90px;height:30px;line-height:30px;font-size:14px;}
        &-arrow{position:absolute;width:0;height:0;top:-9px;right:30px;border:5px solid;border-color:transparent transparent #fff transparent;overflow:hidden;}
    }
    &-forgetpwd{@extend %fr;*margin-top:-40px;}
}
/*
 * 头部
*/
.g-hd{@extend .layout;margin-bottom:10px;overflow:hidden;}
    .g-tips{text-align:center;line-height:32px;color:#95a8b7;}
    .g-logo{@extend %fl;width:186px;height:59px;background:url(../images/icon.png) no-repeat;
        a{display:block;width:100%;height:100%;text-indent:-200px;}
    }
/*
 * 导航
*/
.g-nav{@extend %widthAll;margin-bottom:20px;font-size:16px;line-height:45px;background-color:#34a150;
    ul{overflow:hidden;}
    li{margin-left:-2px;@extend %fl;border-left:1px solid #278f41;}
    a{display:block;padding:0 38px;color:#fff;border-left:1px solid #35ac53;-webkit-transition:all .3s;}
    a:hover,.crt{background-color:#278f41;}
}
/*
 * 主体
*/
.g-bd{@extend .layout;padding-bottom:40px;overflow:hidden;}
    .g-title{margin-bottom:10px;text-indent:10px;line-height:36px;font-size:14px;font-weight:400;color:#34a150;background-color:#eaf5ed;}
    .g-cont{@extend %fl;width:735px;}
    .g-cont-index{margin-left:235px;width:500px;}
        .m-rumbs{margin-bottom:15px;line-height:1;}
    .g-menu{@extend %fl;margin-left:-735px;width:210px;}

    .g-side{@extend %fr;width:200px;}
        .m-side-img{
            li{margin-bottom:10px;padding:1px;border:1px solid $colorbd;}
        }

/*
 * 底部
*/
.g-ft{@extend %widthAll;clear:both;padding:15px 0;text-align:center;line-height:28px;background-color:#f3eee1;
    .u-pipe{margin:0 15px;}
}
/*=E 框架 */

.m-page{text-align:right;
    em,a{@extend %iblock;padding:0 8px;height:22px;line-height:22px;text-align:center;color:#adadad;border:1px solid $colorbd;}
    a:hover{color:#f50;border-color:#f50;}
    em{color:#fff;border-color:#f50;background-color:#f50;}
}

.u-btn{@extend %iblock;width:60px;height:24px;text-align:center;font-weight:700;color:#fff;background-color:#f50;}
.u-btn-gray{@extend .u-btn;margin-right:5px;height:22px;line-height:22px;color:$color6;border:1px solid #e5e5e5;background-color:#fafafa;}

%icon{@extend %iblock;vertical-align:middle;background:url(../images/icon.png) no-repeat;}
.i-tips{@extend %icon;margin-right:10px;width:15px;height:15px;background-position:-186px 0;}
.i-praise{@extend %icon;margin-right:5px;width:13px;height:15px;background-position:-201px 0;}

.ad-730x55{@extend %fr;width:730px;height:60px;background:#ddd;}
.ad-960x110{margin-bottom:40px;width:960px;height:110px;background:#ddd;}