@import 'base';
section,nav,article, aside, footer, header, hgroup, main{display:block;}
body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th , img, div ,input, blockquote, article, aside, footer, header, hgroup, main, nav, section, menu{margin: 0;padding: 0;}
body {font:14px "\5FAE\8F6F\96C5\9ED1", Tahoma, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial;color:#333;}
h1,h2,h3{font-weight:400;}
ul,ol,li{list-style-type:none;}
img{vertical-align:middle;border:0;}
em,i{font-style:normal;}
a{text-decoration:none;cursor:pointer;color:#333;
    &:hover,&:focus,&:active{outline:none;background-color:transparent;}
}
input,textarea{font-size:100%;outline:#fff;}
table{border-spacing:0;border-collapse:collapse;}
.clearfix{*zoom:1;
    &:after{content:'';display:block;clear:both;height:0;overflow:hidden;}
}
.show{display:block;}
.hide{display:none;}
.fl{float:left;}
.fr{float:right;}
.layout{margin-left:auto;margin-right:auto;width:1160px;}
.tc{text-align: center;}

/*=S 按钮 */
.u-base-btn{@extend .iblock;padding:0 20px;height:32px;line-height:32px;text-align:center;color:#fff;background-color:$colorBase;border-radius:3px;
    &:visited{color:#fff;}
}
/*=E 按钮 */

/*=S 框架*/
.g-hd{padding:22px 0;min-width:1160px;text-align:center;background:url(../images/nav_bg.jpg) no-repeat center 0;overflow:hidden;}
    .g-logo{@extend .iblock;margin-right:20px;width:132px;height:37px;vertical-align:top;
        a{@extend %bg;display:block;width:100%;height:100%;text-indent:-200%;overflow:hidden;}
    }
    .g-nav{@extend .iblock;vertical-align:top;
        li{@extend .fl;margin-left:60px;font-size:16px;line-height:36px;}
        a{color:#fff;}
    }
/*=E 框架*/


/*=S 首页*/
.g-index-page{margin:0 auto;max-width:1440px;min-width:1100px;overflow:hidden;}
    .g-index-hd{position:relative;margin:15px 0 -52px;text-align:center;overflow:hidden;
        .g-logo{margin-right:0;}
    }

    .g-index-cont{@extend .iblock;margin-bottom:12px;width:100%;height:650px;background:url(../images/banner.jpg) no-repeat center bottom;}
        .g-index-intro{margin:200px auto 0;width:1070px;height:310px;text-align:center;background:rgba(0,0,0,.4);
            h1,h2{@extend %bg,.iblock;height:0;overflow:hidden;}
            h1{margin:18px 0 36px;padding-top:47px;width:719px;background-position:0 -37px;}
            h2{padding-top:165px;width:1050px;background-position:0 -99px;}
            a{font-size:16px;color:#fff;}
        }
    .g-index-side{position:relative;padding-right:33px;width:100%;height:315px;
        ul{position:absolute;top:0;left:0;right:0;}
        li{@extend .fl;position:relative;width:33.3%;height:315px;
            a{display:block;margin-right:15px;border-right:1px solid #ebebeb;}
            i{position:absolute;bottom:85px;left:25px;right:50px;height:10px;box-shadow:0 30px 35px #000;}
        }
        .side-img{display:block;position:relative;margin-right:15px;height:250px;overflow:hidden;
            img{z-index:1;position:absolute;left:50%;margin-left:-230px;width:460px;height:250px;}
        }
        .side-name{display:block;margin-right:15px;height:55px;text-align:center;border-bottom:10px solid #ebebeb;text-shadow:1px 1px 2px #000;
            em{z-index:1;position:absolute;top:30%;left:0;right:31px;height:45px;font-size:28px;line-height:45px;color:#fff;}
        }
    }
.g-index-ft{padding:30px 0;text-align:center;line-height:34px;}
/*=E 首页 */


/*=S 产品与方案*/
.m-pro-nav{
    $itemSize:276px;$margin:($pageWidth - $itemSize * 3)/2;
    @extend .clearfix,.layout;margin-bottom:35px;padding-top:16px;border-bottom:1px solid $colorGray;
    a{@extend .fl;position:relative;margin-right:$margin;padding-bottom:20px;text-align:center;}
        span{display:block;position:relative;width:$itemSize;height:$itemSize;}
        em{font-size:28px;line-height:80px;}
        i{position:absolute;left:50%;bottom:-14px;margin-left:-14px;width:16px;height:16px;border:6px solid $colorGray;border-radius:50%;background-color:#fff;}
    a:last-child,.last{margin-right:0;}
    .crt{
        em{color:$colorBlue;}
        i{border-color:$colorBlue;}
    }
}

.pro-trip{@extend .clearfix;padding:70px 0;
    &-txt{letter-spacing:3px;
        h2{font:400 30px/60px 'microsoft yahei';color:#000;}
        p{line-height:36px;font-size:18px;color:$color6;}
    }
        
    &-1{$imgWidth:480px;
        .pro-trip-img{@extend .fl;width:$imgWidth;height:472px;background:url(../images/case/pro-trip-1.jpg) no-repeat 0 0;}
        .pro-trip-txt{@extend .fr;margin-top:200px;width:$pageWidth - $imgWidth - 80;}
    }
    &-2{$imgWidth:400px;
        .pro-trip-img{@extend .fr;width:$imgWidth;height:470px;background:url(../images/case/pro-trip-2.jpg) no-repeat 0 0;}
        .pro-trip-txt{@extend .fl;margin-top:110px;width:$pageWidth - $imgWidth - 100;}
    }
}

.pro-other{
    &-txt{
        h2{font:400 45px/90px 'microsoft yahei';color:#000;}
        p{line-height:36px;font-size:18px;color:$color6;}
    }
    &-1{padding:65px 0 100px;
        .pro-other-img{display:block;margin-bottom:80px;height:517px;background:url(../images/case/pro-other.jpg) no-repeat center 0;}
        .pro-other-txt{margin:0 auto;width:1000px;img{margin-right:30px;}}
    }
}

.m-tab-hd{text-align:center;margin-bottom:40px;
    $height:60px;
    ul{@extend .iblock;overflow:hidden;border-radius:$height/2;}
    li{@extend .fl;width:206px;line-height:$height;font-size:24px;background-color:#c9c9c9;}
    a{display:block;color:#fff;}
    .crt{background-color:$colorBlue;}
}

.pro-case{
    &-txt{
        h2{font:400 48px/90px 'microsoft yahei';color:#000;}
        p{line-height:36px;font-size:18px;color:#000;}
    }
    &-1{padding:80px 0 180px;
        .pro-case-img{display:block;margin-bottom:45px;height:394px;background:url(../images/case/pro-case-1.jpg) no-repeat center 0;}
        .pro-case-txt{margin:0 auto;width:910px;p{text-indent:36px;}}
    }
    &-2{@extend .clearfix,.layout;padding-bottom:180px;width:1100px;
        $imgWidth : 340px;
        .pro-case-img{@extend .fl;width:$imgWidth;height:559px;background:url(../images/case/pro-case-2.jpg) no-repeat center 0;}
        .pro-case-txt{@extend .fr;margin-top:150px;width:$pageWidth - $imgWidth - 120;}
    }
    &-3{padding-bottom:100px;
        .pro-case-img{display:block;margin-bottom:120px;height:377px;background:url(../images/case/pro-case-3.jpg) no-repeat center 0;}
        .pro-case-txt{margin:0 auto;width:910px;text-indent:36px;}
    }
}

.pro-step{
    &-cont{@extend .layout;position:relative;height:315px;}
    &-txt{position:absolute;top:50%;margin-top:-76px;width:450px;height:132px;opacity:0;-webkit-transition-duration:.8s;-moz-transition-duration:.8s;-ms-transition-duration:.8s;
        h2{font:400 30px/60px 'microsoft yahei';color:#000;}
        p{line-height:36px;font-size:18px;color:$color6;}
    }
    &-img{position:absolute;top:50%;background:url(../images/case/pro-step.png) no-repeat;opacity:0;-webkit-transition-duration:.8s;-moz-transition-duration:.8s;-ms-transition-duration:.8s;}
    $imgMargin:128px; $txtMargin:80px;
    &-1,&-3,&-5{background-color:#f1f1f1;
        .pro-step-img{left:$imgMargin - 50;}
        .pro-step-txt{right:$txtMargin - 50;}
        &.pro-step-show{
            .pro-step-img{left:$imgMargin;}
            .pro-step-txt{right:$txtMargin;}
        }
    }
    &-2,&-4{
        .pro-step-img{right:$imgMargin - 50;}
        .pro-step-txt{left:$txtMargin - 50;}
        &.pro-step-show{
            .pro-step-img{right:$imgMargin;}
            .pro-step-txt{left:$txtMargin;;}
        }
    }
    &-show{
        .pro-step-img,.pro-step-txt{opacity:1;}
    }
    &-1 .pro-step-img{$height:312px;margin-top:-$height/2;width:296px;height:$height;background-position:0 0;}
    &-2 .pro-step-img{$height:204px;margin-top:-$height/2;width:238px;height:$height;background-position:0 -312px;}
    &-3 .pro-step-img{$height:233px;margin-top:-$height/2;width:270px;height:$height;background-position:0 -516px;}
    &-4 .pro-step-img{$height:152px;margin-top:-$height/2;width:260px;height:$height;background-position:0 -749px;}
    &-5 .pro-step-img{$height:162px;margin-top:-$height/2;width:271px;height:$height;background-position:0 -901px;}
    
    &-count{position:absolute;top:120px;left:450px;font:72px arial;}
}
/*=E 产品与方案*/


.m-contact,.m-dynamic{
    &-hd{padding-top:40px;height:130px;
        h1{font-size:36px;line-height:80px;}
        h2{font-size:18px;}
    }
}

/*
 * 联系我们
*/
.m-contact{margin:0 auto;width:787px;
    &-hd{text-indent:20px;}
    &-bd{padding:80px 120px 0;width:547px;height:810px;background:url(../images/contact_bg.png);
        p,li{font-size:18px;line-height:60px;}
        li{padding-left:20px;}
    }
    &-link{padding:100px 0;
        a{@extend .iblock;padding:0 60px 0 20px;text-align:left;vertical-align:top;white-space:nowrap;}
        span{@extend .iblock;padding-top:20px;font-size:14px;line-height:24px;}
    }
}

/*
 * 公司动态
*/
.m-dynamic{
    &-bd{padding:10px 115px;line-height:40px;background-color:#eee;
        h3{font-size:24px;}
        time{@extend .fr;margin-top:-40px;}
        p{line-height:48px;}
        li{font-size:16px;line-height:48px;overflow:hidden;
            a{@extend .fl;}
            span{@extend .fr;}
        }
    }
}

/*
 * 加入我们
*/
.m-join{position:relative;margin-bottom:30px;padding-top:10px;font-size:14px;line-height:30px;
    &-hd,&-bd{padding-left:35px;border:2px dashed #999;}
    &-hd{cursor:pointer;margin-bottom:3px;line-height:52px;font-size:20px;}
    &-bd{display:none;padding:10px 35px;overflow:hidden;}
    i{@extend %icon;position:absolute;top:52px;left:300px;width:12px;height:31px;background-position:right -119px;}
    .m-join-i2{left:auto;right:300px;}
}

/*
 * 留言墙
*/
.g-message{padding-top:20px;
    .m-tab{padding-top:20px;}
}
.m-message{position:relative;margin-bottom:40px;padding:40px 55px 15px;background-color:#eee;
    &-hd{@extend .fl;text-align:center;
        img{margin-bottom:10px;width:124px;height:124px;border-radius:50%;}
        strong{display:block;font-weight:400;}
    }
    &-bd{margin-left:180px;padding-top:25px;min-height:160px;}
    &-ft{margin-left:180px;text-align:right;span{@extend .fl;}time{margin-right:20px;}}
    
    &-intro{position:relative;padding-right:700px;
        h3{font-size:48px;line-height:76px;}
        p{font-size:20px;line-height:48px;}
        &-img{position:absolute;right:0;top:50px;width:682px;height:571px;background:url(../images/message.png) -1px 0;}
    }
    
    &:after{content:'';position:absolute;z-index:-1;bottom:20px;left:25px;right:50px;height:10px;box-shadow:0 30px 35px #000;}
}

/*
 * 关于我们
*/
.m-about{
    &-hd{margin-top:-84px;h1{position:relative;margin:0 auto;width:950px;height:82px;line-height:82px;text-align:center;color:#fff;font-size:48px;border:1px solid #475466;background:rgba(0,0,0,.5);}}
    &-bd{padding:50px 200px;height:1350px;font-size:18px;line-height:36px;background:url(../images/about.png);
        h2{margin-bottom:15px;font-size:36px;}
        h3{margin:20px 0 120px;font-size:30px;}
        p{text-indent:36px;}
        li{line-height:46px;}
        .line{height:20px}
    } 
}


.icon-qq,.icon-mail{@extend %icon,.fl;width:73px;height:75px;}
.icon-mail{background-position:0 -75px;}

.icon-address{@extend %icon,%mr10;width:28px;height:27px;background-position:-75px 0;}
.icon-phone{@extend %icon,%mr10;width:28px;height:28px;background-position:-79px -167px;}
.icon-tel{@extend %icon,%mr10;width:28px;height:28px;background-position:-75px -47px;}
.icon-email{@extend %icon,%mr10;width:28px;height:19px;background-position:-75px -97px;}