/*!
 *@Description: 小篆官网
 *@Author:      xiaoxiehang (2014-08-20 08:50)
 *@Update:      xiaoxiehang (2014-08-20 17:50)
*/
.g-index-logo a, .g-index-intro h1, .g-index-intro h2, .g-index-side .side-name .side-name-trip, .g-index-side .side-name .side-name-mode, .g-index-side .side-name .side-name-other {
  background: url(../images/bg_item.png) no-repeat; }

body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th, img, div, input, blockquote, article, aside, footer, header, hgroup, main, nav, section, menu {
  margin: 0;
  padding: 0; }

body {
  font: 14px 'microsoft yahei';
  color: #333; }

ul, ol, li {
  list-style-type: none; }

img {
  vertical-align: middle;
  border: 0; }

em, i {
  font-style: normal; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #333; }
  a:focus, a:active {
    outline: none; }

input, textarea {
  font-size: 100%;
  outline: #fff; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

.fl, .g-index-nav li, .g-index-side li {
  float: left; }

.fr {
  float: right; }

.layout {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 1100px;
  overflow: hidden; }

/*=S 按钮 */
.u-base-btn {
  display: inline-block;
  padding: 0 20px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  background-color: #3cc;
  border-radius: 3px; }
  .u-base-btn:visited {
    color: #fff; }

/*=E 按钮 */
/*=S 框架 */
.g-index-hd {
  position: relative;
  margin: 15px 0 -52px;
  text-align: center;
  overflow: hidden; }

.g-index-logo {
  display: inline-block;
  width: 132px;
  height: 37px;
  vertical-align: top; }
  .g-index-logo a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -200%;
    overflow: hidden; }

.g-index-nav {
  display: inline-block;
  vertical-align: top; }
  .g-index-nav li {
    margin-left: 60px;
    font-size: 16px;
    line-height: 36px; }
  .g-index-nav a {
    color: #fff; }

.g-index-cont {
  display: inline-block;
  margin-bottom: 12px;
  width: 100%;
  height: 950px;
  background: url(../images/banner.jpg) no-repeat center top; }

.g-index-intro {
  margin: 320px auto 0;
  width: 1070px;
  height: 310px;
  text-align: center;
  background: rgba(0, 0, 0, 0.4); }
  .g-index-intro h1, .g-index-intro h2 {
    display: inline-block;
    height: 0;
    overflow: hidden; }
  .g-index-intro h1 {
    margin: 18px 0 36px;
    padding-top: 47px;
    width: 719px;
    background-position: 0 -37px; }
  .g-index-intro h2 {
    padding-top: 165px;
    width: 1050px;
    background-position: 0 -99px; }
  .g-index-intro a {
    font-size: 16px;
    color: #fff; }

.g-index-side {
  position: relative;
  padding-right: 33px;
  width: 100%;
  height: 315px; }
  .g-index-side ul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  .g-index-side li {
    width: 33.3%;
    height: 315px; }
    .g-index-side li a {
      display: block;
      margin-right: 15px;
      border-right: 1px solid #ebebeb; }
  .g-index-side .side-img {
    display: block;
    position: relative;
    margin-right: 15px;
    height: 250px;
    overflow: hidden; }
    .g-index-side .side-img img {
      position: absolute;
      left: 50%;
      margin-left: -230px;
      width: 460px;
      height: 250px; }
  .g-index-side .side-name {
    display: block;
    margin-right: 15px;
    height: 55px;
    border-bottom: 10px solid #ebebeb; }
    .g-index-side .side-name .side-name-trip, .g-index-side .side-name .side-name-mode, .g-index-side .side-name .side-name-other {
      display: inline-block;
      margin-top: 13px;
      width: 58px;
      height: 29px; }
    .g-index-side .side-name .side-name-trip {
      width: 122px;
      background-position: 0 -279px; }
    .g-index-side .side-name .side-name-mode {
      background-position: -132px -279px; }
    .g-index-side .side-name .side-name-other {
      background-position: -200px -279px; }

.g-index-ft {
  padding-bottom: 35px;
  text-align: center;
  line-height: 34px; }

/*=E 框架 */
/*# sourceMappingURL=style.css.map */