$color1 : #7a5a00;

body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th , img, div ,input{margin: 0;padding: 0;}
html{overflow:auto;}
body {font:12px 'Century Gothic',Verdana,Arial,Helvetica,sans-serif;color:#333;background:#fff;}
ul,ol,li{list-style-type:none;}
img{vertical-align:middle;}
em,i{font-style:normal;}
a{text-decoration:none;cursor:pointer;color:#333;
    &:hover{text-decoration:none;color:$color1;}
}
table{border-spacing:0;border-collapse:collapse;}

%iblock{display:inline-block;*dispaly:inline;*zoom:1;}
.clearfix{*zoom:1;
    &:after{content:'';display:block;clear:both;height:0;overflow:hidden;}
}
.fl{float:left;}
.fr{float:right;}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.tc{text-align:center;}
.u-pipe{padding:0 10px;font-family:sans-serif;color:#999;}
/*
 * 背景图片
*/
.g-header{background:url(../images/g-header-bg.jpg) repeat-x;}
.g-page{background:url(../images/g-main.jpg) repeat-x;}
%icon{@extend %iblock;background:url(../images/icon.png) repeat-x;}

/*
 * 按钮
*/
.u-submit-btn,.u-option-btn{@extend %iblock;
    padding-left:10px; height:22px; line-height:22px; color:#fff;
    span{@extend %iblock;
        padding-right:10px; height:22px;
    }
}
.u-submit-btn{
    background-position:0 0;
    span{ background-position:right -22px; }
}

/*
 * logo
*/
.m-logo{
    h1,h2{background:url(../images/logo.png) no-repeat;}
}

/*
 * 布局
*/
.layout{margin-left:auto;margin-right:auto;width:960px;}
.g-header{height:88px;}
.g-page{clear:both;padding-bottom:40px;border-bottom:8px solid #9d9488;background-position:0 400px;}
    .g-page-hd{@extend .tc;
        height:30px;line-height:30px;font-size:14px;border-top:1px solid #d0d0d0;border-bottom:1px solid #d0d0d0;background:#4a3d34;
        a{color:#fff;margin-right:20px;}
    }
    .g-page-bd{@extend .layout;}
.g-page-index{border-top:8px solid #efebe0;background-color:#4a3e32;background-position:0 -150px;}
.g-footer{padding:25px 0 40px;background-color:#f3f3f3;}

.m-logo{
    h1,h2{@extend .fl;}
    h1{$height:49px;
        margin:20px 20px 0 0;width:232px;height:$height;
        a{display:block;padding-top:$height;width:100%;height:0;overflow:hidden;}
    }
    h2{margin-top:30px;width:246px;height:41px;background-position: 0 -49px;}
}
.m-lang{@extend .fr;padding-top:22px;text-align:center;line-height:40px;color:#fff;
    a{margin-right:5px;color:#fff;}
}
.m-nav{@extend .layout;
    ul{@extend .fl;margin:0 20px 0 -20px;height:48px;}
    li{@extend .fl;margin:0 18px;font-size:14px;line-height:48px;}
    .crt{color:$color1;}
}
.m-search{@extend .fr;margin-top:9px;padding:3px;border:1px solid #ddd;
    input{@extend .fl;width:130px;height:20px;line-height:20px;border:0;outline:#fff;}
    a{margin-top:2px;}
}
.m-hot{@extend .clearfix;@extend .layout;
    margin-bottom:15px;
    $imgheight: 143px;
    dt,dd{@extend .fl;}
    dt{margin-right:20px;
        img{width:225px;height:$imgheight;}
    }
    dd img{width:143px;height:$imgheight;}
}
.m-crumbs{margin:15px 0;line-height:22px;
    &,a{color:#999;}
}
.m-banner{margin-bottom:40px;width:100%;height:300px;}
.m-main{background-color:#fff;overflow:hidden;}
.m-menu{@extend .fl;
    margin-left:-1px;padding:20px;width:200px;border-right:1px solid #e3e3e3;
    h2{margin-bottom:15px;line-height:46px;font-size:20px;}
    li{line-height:40px;a{color:$color1;}}
}
.m-content{@extend .fl;
    margin-left:-1px;padding:25px 30px;width:660px;line-height:30px;border-left:1px solid #e3e3e3;overflow:hidden;
}

.m-news{padding-bottom:20px;}
.m-news-hd{@extend .tc;line-height:40px;
    h3{font-size:18px;}
    span{display:block;margin-top:-10px;}
}
.m-news-list{
    .m-news-hd{text-align:left;
        span{@extend .fr;margin-top:-40px;}
    }
}
.m-news-bd{}

.m-pages{padding:15px 0;text-align:right;
    &,a{color:#999;}
    span{margin-right:5px;}
    a{padding:5px 10px;}
    .crt{color:$color1;background:#e5e5e5;}
}
.m-pro{@extend .clearfix;
    li{@extend .fr;
        img{width:240px;height:240px;}
    }
}
/*
 * 首页模块
*/
.m-mod{padding:30px 0;overflow:hidden;}
.m-mod-b,.m-mod-s{margin-left:-20px;
    li{@extend .fl;box-shadow:0 1px 1px #666;
        margin-left:20px;height:263px;border:1px solid #fff;
        img{width:100%;height:100%;}
    }
}
.m-mod-b{
    li{margin-bottom:20px;width:468px;}
}
.m-mod-s{
    li{width:223px;}
}

.m-media{@extend .clearfix;
    padding:32px 20px;background:#fff;
    h3{margin-bottom:10px;font-size:20px;color:$color1;}
}
.m-media-news{@extend .fl;
    margin-right:60px;width:510px;
    li{line-height:40px;overflow:hidden;
        span{margin-right:20px;}
    }
}
.m-media-fb{@extend .fl;
    width:350px;
}

.pro-small{overflow:hidden;
    ul{margin-left:-60px;}
    li{@extend .fl;margin-left:60px;width:280px;height:100px;background:rgba(255,255,255,.3);}
    img{@extend .fl;margin-right:10px;width:98px;height:98px;border:1px solid #fff;}
    strong{display:block;padding:10px 0 5px;color:#fff;font-size:16px;}
    span{color:#ccc;}
}
.m-contact{@extend .clearfix;padding:40px;
    h2{font-size:28px;}
    h3{font-size:18px;}
    .m-contact-info{@extend .fl;padding-right:50px;width:520px;line-height:40px;
        p{color:#999;}
    }
    .m-contact-write{@extend .fl;margin-top:40px;
        li{padding-bottom:10px;}
        label{
            span{display:block;font-size:16px;font-weight:700;}
            input,textarea{width:280px;padding:3px;border:1px solid #ccc;outline:#fff;}
            input{height:20px;}
            textarea{height:60px;}
        }
        .u-btn{@extend %iblock,.tc;margin-right:5px;width:60px;height:26px;line-height:26px;background:$color1;color:#fff;}
    }
}
/*
 * footer
*/
.m-footer-links{
    $width:20%;$bd-up:1px solid #ddd;$bd-down:1px solid #fff;
    @extend .clearfix;
    margin-bottom:20px;line-height:24px;
    .m-footer-mod{@extend .fl;
        width:$width * 2;border-bottom:$bd-down;
        dl,li{@extend .fl;width:50%;}
    }
    .m-footer-mod-last{width:$width;}
    .m-footer-hd{font-size:14px;color:$color1;border-bottom:$bd-up;}
    .m-footer-bd{@extend .clearfix;
        padding-top:20px;height:160px;border-top:$bd-down;border-bottom:$bd-up;
        a,span{color:#999;}
        a:hover{color:$color1;}
    }
}




/*
 * 首页轮播
*/
$index-slide : slide;
.m-#{$index-slide}{position:relative; margin-bottom:20px; width:100%; height:400px; overflow:hidden;
    li,img{width:960px; height:400px;}
    li{@extend .fl;
        img{opacity:.3;}
    }
    .crt img{opacity:1;}
}
%#{$index-slide}-arrow{
    cursor:pointer; position:absolute; top:104px; width:21px; height:50px; background:red url(arrow.png) no-repeat;
}
.m-#{$index-slide}-next{
    @extend %#{$index-slide}-arrow;
    right:0; background-position:-20px 8px;
    &:hover{background-position:-63px 8px;}
}
.m-#{$index-slide}-prev{
    @extend %#{$index-slide}-arrow;
    left:0; background-position:0 8px;
    &:hover{background-position:-42px 8px;}
}
.m-#{$index-slide}-page{
    position:absolute; bottom:0; padding:10px 0; width:100%; text-align:center;
    i{display:inline-block; cursor:pointer; margin:0 5px; padding-top:11px; width:11px; height:0; overflow:hidden; border-radius:5px;background:#fff; box-shadow:inset 1px 1px 2px rgba(0, 0, 0, .4);
        &.crt{background-color:#96863e;}
    }
}

/*
 * 图标
*/
.icon-close{@extend %icon; background-position: 0 0; width: 16px; height: 16px; } 
.icon-fb{@extend %icon; background-position: 0 -17px; width: 12px; height: 21px; } 
.icon-lang{@extend %icon; background-position: 0 -39px; width: 40px; height: 40px; } 
.icon-new{@extend %icon; background-position: 0 -80px; width: 40px; height: 39px; } 
.icon-search{@extend %icon; background-position: 0 -120px; width: 15px; height: 15px; } 
.icon-twitter{@extend %icon; background-position: 0 -136px; width: 23px; height: 20px; } 

.icon-fb,.icon-twitter{margin:12px 12px 0;text-indent:-9999px;}