@charset "UTF-8";
body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th, img, div, input {
  margin: 0;
  padding: 0;
  border: 0; }

html {
  overflow: auto; }

body {
  font: 12px 'Century Gothic',Verdana,Arial,Helvetica,sans-serif;
  color: #333;
  background: #fff; }

ul, ol, li {
  list-style-type: none; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #7a5a00; }
  a:hover {
    text-decoration: none;
    color: #7a5a00; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

.u-submit-btn, .u-option-btn, .u-submit-btn span, .u-option-btn span {
  display: inline-block;
  *dispaly: inline;
  *zoom: 1; }

.fl, .m-nav li, .m-slide li {
  float: left; }

.fr {
  float: right; }

.mt10 {
  margin-top: 10px; }

.mb10 {
  margin-bottom: 10px; }

/*
 * 背景图片
*/
.g-header {
  background: url(../images/g-header-bg.jpg) repeat-x; }

/*
 * 按钮
*/
.u-submit-btn, .u-option-btn {
  padding-left: 10px;
  height: 22px;
  line-height: 22px;
  color: #fff; }
  .u-submit-btn span, .u-option-btn span {
    padding-right: 10px;
    height: 22px; }

.u-submit-btn {
  background-position: 0 0; }
  .u-submit-btn span {
    background-position: right -22px; }

/*
 * 布局
*/
.layout {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }

.m-logo {
  height: 88px; }

.m-nav {
  height: 48px; }
  .m-nav li {
    margin: 0 18px;
    font-size: 14px;
    line-height: 48px; }

/*
 * 首页轮播
*/
.m-slide {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 400px;
  overflow: hidden; }
  .m-slide li, .m-slide img {
    width: 960px;
    height: 400px; }
  .m-slide li img {
    opacity: .3; }
  .m-slide .crt img {
    opacity: 1; }

.m-slide-next, .m-slide-prev {
  cursor: pointer;
  position: absolute;
  top: 104px;
  width: 21px;
  height: 50px;
  background: red url(arrow.png) no-repeat; }

.m-slide-next {
  right: 0;
  background-position: -20px 8px; }
  .m-slide-next:hover {
    background-position: -63px 8px; }

.m-slide-prev {
  left: 0;
  background-position: 0 8px; }
  .m-slide-prev:hover {
    background-position: -42px 8px; }

.m-slide-page {
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center; }
  .m-slide-page i {
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
    padding-top: 11px;
    width: 11px;
    height: 0;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.4); }
    .m-slide-page i.crt {
      background-color: #96863e; }
