body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th , img, div ,input, blockquote, article, aside, footer, header, hgroup, main, nav, section, menu{margin: 0;padding: 0;}
body{font:12px 'simsun';color:#333;background:#f2f2f2 url(../img/body_bg.jpg) no-repeat center 0;}
ul,ol,li{list-style-type:none;}
img{vertical-align:middle;border:0;}
em,i{font-style:normal;}
a{text-decoration:none;cursor:pointer;color:#333;
    &:focus,&:active{outline:none;}
}
input,textarea,select{font-size:100%;outline:#fff;}
table{border-spacing:0;border-collapse:collapse;}

.show{display:block;}
.hide{display:none;}
.fl{float:left;}
.fr{float:right;}
.fix{*zoom:1;&:after{content:'';display:block;clear:both;height:0;overflow:hidden;}}
.layout{margin-left:auto;margin-right:auto;width:960px;}
.iblock{display:inline-block;*display:inline;*zoom:1;}
.color1{color:#e62129;}
%icon{display:inline-block;background:url(../img/icon.png) no-repeat 0 0;}

/*
 * 头部
*/
.g-hd{min-width:960;height:96px;background:url(../img/hd_bg.png) no-repeat center bottom;}
    .m-logo{@extend %icon;margin-top:12px;padding-top:72px;width:274px;height:0;background-position:0 -695px;overflow:hidden;}
    .m-site-box{@extend .fr;margin-top:20px;width:345px;line-height:20px;}
        .m-site-search{display:block;margin-top:10px;width:190px;overflow:hidden;}
            .m-site-search input{@extend .fl;margin-left:-1px;padding:3px;width:150px;height:15px;border:1px solid #bdbdbd;}
            .btn-search{@extend .fl;@extend %icon;padding-top:23px;width:32px;height:0;background-position:0 -162px;overflow:hidden;}
        .m-gift{@extend .fr;@extend %icon;padding-top:64px;width:144px;height:0;background-position:0 -496px;overflow:hidden;}

/*
 * 导航
*/
.g-nav{margin:5px 0 30px;}
    .g-nav ul{@extend .fix;height:48px;font-size:0;text-align:center;border-bottom:1px solid #848484;}
        .g-nav li{@extend .iblock;margin:0 10px;width:94px;border-bottom:3px solid transparent;font:16px/48px 'microsoft yahei';}
            .g-nav li a{display:block;}
            .g-nav li a:hover{color:#e62129;}
        .g-nav .crt{position:relative;border-color:#e62129;}
            .g-nav .crt:after{content:'';position:absolute;left:50%;bottom:0;margin-left:-5px;;width:0;height:0;border:5px solid;border-color:transparent transparent #e62129 transparent;overflow:hidden;}
            .g-nav .crt a{line-height:47px;color:#e62129;}

//轮播
.m-slide{margin:0 auto;padding:0 3px 45px;width:950px;height:405px;overflow:hidden;background:url(../img/slide_bg.png) no-repeat center bottom;}
    .m-slide-box{position:relative;margin:0 5px;width:940px;height:405px;overflow:hidden;}
    .m-slide li{@extend .fl;position:relative;width:940px;height:405px;overflow:hidden;}
        .m-slide img{width:100%;height:100%;}
        .m-slide .m-slide-txt{z-index:10;position:absolute;bottom:0;width:235px;line-height:53px;text-align:center;border:1px solid #cdcdcd;}
        .m-slide-page{position:absolute;width:948px;bottom:45px;height:50px;background-color:#fff;border:1px solid #cdcdcd;background:rgba(255,255,255,.95);overflow:hidden;box-shadow:0 -1px 4px #bbb;}
            .m-slide-page li{cursor:pointer;margin-left:-1px;padding:0;width:236px;height:50px;font-size:14px;line-height:50px;text-align:center;border-left:1px solid #cdcdcd;box-shadow:inset -3px 0 3px #eee;overflow:hidden;}

.m-txtimg-hd,.m-login-hd,.m-ourpro-hd{margin:18px 0;height:17px;
    h3{padding-right:5px;font:400 18px/18px 'microsoft yahei';color:#ef414a;}
}

.m-box{padding:10px 0;border:solid #fff;border-width:1px 0;background:url(../img/m_box_bg.jpg) repeat;}
    .m-box-bg{box-shadow:0 0 2px #bbb;background-color:#fff;}

.m-txtimg{@extend .fl;margin:0 10px;;width:300px;color:#797979;a{color:#797979;}}
    .m-txtimg-hd{border-bottom:1px solid #dedede;}
        .m-txtimg-hd h3{@extend .fl;background-color:#fff;}
        .m-txtimg-hd a{@extend .fr;padding-left:5px;line-height:18px;background-color:#fff;}
    .m-txtimg-bd{line-height:24px;}
        .m-txtimg-bd li{height:24px;overflow:hidden;}
            .m-txtimg-bd span{@extend .fr;color:#c1c1c1;}
            .m-txtimg-bd a{display:inline-block;width:235px;height:24px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
        .m-txtimg-bd .topic{margin-bottom:15px;height:auto;line-height:18px;}
            .m-txtimg-bd .topic a{@extend .fl;margin-right:10px;width:105px;height:54px;}
            .m-txtimg-bd .topic span{display:block;float:none;}


//表单
.m-form{}
    .m-form li{@extend .fix;padding:6px 0;font-size:14px;line-height:32px;}
        .m-form li span{line-height:32px;}
        .m-form .tit{@extend .fl;width:80px;text-align:right;}
        .m-form .txt{@extend .fl;padding:3px;width:230px;height:24px;border:1px solid #cdcdcd;}
        .m-form .yzm{@extend .fl;margin:0 18px 0 0;width:120px;}
        .m-form img{@extend .fl;width:90px;height:30px;border:1px solid #999;}
    .m-form .m-forget-pass{margin-right:10px;text-align:right;line-height:1;}

//登录框
.m-login{margin:0 auto;padding:0 30px;width:250px;}
    .m-login-hd{text-align:center;}
    .m-login-bd{padding-bottom:10px;}
.m-reg{margin:-40px auto;width:360px;}
        
.m-box .m-login{@extend .fl;margin-left:9px;border-left:1px solid #cdcdcd;}
    .m-box .m-login-hd{text-align:left;}
//我们的项目
.m-ourpro{@extend .fix;margin-bottom:22px;overflow:hidden;}
    .m-ourpro-hd{text-align:center;}
    .m-ourpro-item{@extend .fl;margin:0 9px;width:300px;line-height:24px;color:#797979;border:1px solid #cdcdcd;background-color:#fff;border-radius:5px;overflow:hidden;}
        .m-ourpro-item img{width:100%;height:180px;border-bottom:1px solid #cdcdcd;}
        .m-ourpro-item h4{padding-top:3px;text-align:center;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
            .m-ourpro-item h4 a{font:400 18px/44px 'microsoft yahei';color:#144879;}
        .m-ourpro-item p{margin:15px 20px;height:48px;overflow:hidden;}

//合作伙伴
.m-partner{@extend .fix;margin:0 10px;}
    .m-partner img{@extend .fl;margin:0 20px;}


.m-tab{}
    .m-tab-hd{@extend .fix;position:relative;}
        .m-tab-hd li{@extend .fl;margin-right:-1px;width:105px;height:26px;text-align:center;font:14px/26px 'microsoft yahei';border:1px solid #cdcdcd;background-color:#f6f6f6;border-top-left-radius:3px;border-top-right-radius:3px;}
        .m-tab-hd .crt{border-bottom-color:#fff;background-color:#fff;}
    .m-tab-bd{@extend .fix;margin-top:-1px;padding:20px;border:1px solid #cdcdcd;background-color:#fff;border-radius:3px;border-top-left-radius:0;}

.g-bd{padding-bottom:20px;border-bottom:1px solid #c2c2c2;}
    .g-content{position:relative;margin:0 auto;padding-left:222px;width:718px;border-radius:5px;border:1px solid #cdcdcd;background-color:#fff;overflow:hidden;}
    .g-login{width:940px;padding:70px 0;}
        .g-side{position:absolute;top:0;bottom:0;left:0;padding:10px 10px 0;width:201px;font-family:'microsoft yahei';border-right:1px solid #cdcdcd;}
            .g-side a{color:#797979;}
        .g-cont{min-height:780px}

.g-ft{border-top:1px solid #fff;height:80px;line-height:80px;color:#fff;font-family:arial;background:url(../img/ft_bg.jpg) repeat 1px 0;}
    .g-ft .layout{width:940px;}
    .m-ft-logo{@extend .fr;@extend %icon;margin-top:14px;width:195px;height:52px;background-position:0 -642px;}

.m-side-title{padding:10px 0 10px 20px;}
    .m-side-title small{display:block;font-size:14px;line-height:14px;}
    .m-side-title strong{font-weight:400;font-size:18px;line-height:18px;color:#ef414a;}

.m-side-menu{padding-left:20px;line-height:36px;font-size:14px;}

.m-crumb{margin-bottom:24px;font-family:'microsoft yahei';color:#8d8d8d;}
    .m-crumb a{color:#8d8d8d;}
    .m-crumb i{padding:0 5px;}

//爱心计划
.m-love-plan{}
    .m-love-plan li{padding:9px 0;text-align:center;}
    .m-love-plan img{width:168px;height:110px;}

//关于我们
.m-about{padding:0 20px;}
    .m-about h3{margin:1px 0 10px -19px;padding:10px 20px;width:100%;height:40px;line-height:20px;font-family:'microsoft yahei';color:#fff;background:url(../img/m_about_hd.jpg) repeat-y;}
    .m-about strong{display:block;}
        .m-about h3 small,.m-about h3 strong{display:block;text-indent:30px;}
        .m-about h3 small{font-size:14px;}
        .m-about h3 strong{font-size:16px;}

/*
 * 爱心项目 + 捐赠的项目 + 新闻动态 + 加入我们
*/
.m-lovepro,.m-member,.m-news,.m-join{padding:15px 30px 0 20px;font-family:'microsoft yahei';color:#6e6e6e;}
    .m-lovepro-hd,.m-member-hd{text-align:center;line-height:48px;font-size:16px;color:#000;}

.m-lovepro-item,.m-member-item,.m-news-item,.m-join-item{@extend .fix;margin:0 20px;padding:25px 0;line-height:24px;border-bottom:1px solid #e5e4e4;}
    .m-lovepro-item img,.m-member-item img,.m-news-item img,.m-join-item img{@extend .fl;width:168px;height:110px;margin-right:35px;}
    .m-lovepro-tit,.m-member-tit,.m-news-tit{font-size:14px;}
    .m-lovepro-cont,.m-member-cont,.m-news-cont{height:72px;overflow:hidden;}
    
    .m-lovepro-tit em,.m-member-tit em,.m-lovepro-outer,.m-lovepro-outer a{color:#f00;}

.m-about h4,.m-lovepro-bd h4,.m-member-bd h4{font:16px/40px 'microsoft yahei';color:#ef414a;}
.m-about p,.m-lovepro-bd p,.m-member-bd p,.m-news p{margin-bottom:20px;color:#797979;line-height:30px;}

//爱心项目
.m-lovepro-top{padding:20px 24px;font-size:14px;line-height:24px;background-color:#ededed;border-radius:5px;}
.i-lovepro{margin-bottom:26px;height:187px;background:url(../img/i_lovepro.jpg) no-repeat;}
.m-lovepro-outer i{padding:0 10px;}
.m-lovepro-gift{text-align:right;}
div.m-lovepro{background:url(../img/m_lovepro.jpg) no-repeat;}

//捐赠的项目
.m-member-title{margin-bottom:20px;text-align:center;font-size:18px;color:#ef414a;}

//新闻动态
.m-news{}
    .m-news-hd{padding-bottom:10px;text-align:center;}
        .m-news-hd h1{font:400 16px/40px 'microsoft yahei';}
        .m-news-hd time{color:#b1b0b0;}
    .m-news-bd{}
        .m-news-item img{width:200px;height:105px;}
        .m-news-title{@extend .fix;border-bottom:1px solid #e9e9ea;}
            .m-news-title h3{@extend .fl;padding-top:10px;}
            .m-news-title em{margin-right:10px;font:55px arial;color:#e9e9ea;}
            .m-news-title strong{font:16px 'microsoft yahei';color:#ef414a;}
        .m-news-cont{color:#545454;}
        .m-news-date{display:block;margin-top:-10px;color:#b1b0b0;}


.m-join{}
    .m-join-hd{margin-bottom:40px;padding-left:360px;text-align:right;background:url(../img/m_join_img.jpg) no-repeat 0 0;}
        .m-join-tit{@extend %icon;margin:10px 0;padding-top:80px;width:180px;height:0;background-position:0 -561px;overflow:hidden;}
        .m-join-hd p{height:144px;text-align:left;line-height:24px;overflow:hidden;}
    .m-join h4{font:400 14px 'microsoft yahei';}
    .m-join-item{padding-bottom:0;border-bottom:0;}
        .m-join-item img{width:256px;height:138px;}
        .m-join-title{font-size:12px;color:#000;}
        .m-join-cont{height:auto;max-height:96px;color:#6e6e6e;}
        .m-join-outer{color:#ef414a;a{color:#ef414a;}i{padding:0 5px;}}


.btn-login,.btn-person-reg,.btn-group-reg,.btn-modify,.btn-submit,.btn-gift,.btn-join{@extend %icon;padding-top:24px;width:63px;height:0;overflow:hidden;}
.btn-group-reg{width:83px;background-position:0 -31px;}
.btn-person-reg{width:83px;background-position:0 -137px;}
.btn-login{background-position:0 -87px;}
.btn-modify{background-position:0 -112px;}
.btn-submit{display:block;margin:0 auto;background-position:0 -186px;}

.btn-gift,.btn-join{margin-top:10px;}
.btn-gift{margin-top:10px;padding-top:30px;width:111px;background-position:0 0;} 
.btn-join{padding-top:30px;width:111px;background-position:0 -56px;}


.i-sina,.i-wx{@extend %icon;margin-right:5px;width:20px;height:20px;vertical-align:-6px;}
.i-sina{background-position:0 -250px;}
.i-wx{margin-left:20px;background-position:0 -271px;}

.i-xlwb,.i-qqwb{@extend %icon;margin:10px 10px 0 20px;width:38px;height:38px;vertical-align:-14px;}
.i-xlwb{background-position:0 -292px;}
.i-qqwb{background-position:0 -211px;}

.i-gift-detail{@extend %icon;width:199px;height:78px;background-position:0 -417px;}

.icon-list{@extend %icon;margin-right:5px;width:10px;height:10px;vertical-align:7px;*vertical-align:0;background-position:0 -331px;}

.m-dynamic{@extend .fr;@extend %icon;margin-right:-14px;width:209px;height:74px;background-position:0-342px;}

.i-line-1,.i-line-2{@extend %icon;display:block;height:8px;overflow:hidden;}
.i-line-1{margin:0 auto;width:269px;background-position:0 -769px;}
.i-line-2{margin:10px auto;width:200px;background-position:0 -777px;}