.m-search{
    @extend %full-size; height: auto; min-height: 100%; background-color: $bgColor;

    &-hd{@extend %flexBox; position: relative; height: 46px; border-bottom: 1px solid #cdcdcd; background-color: #fff; box-shadow: 0 0 1px $grayColor;}
        &-txt{@extend %txt; @extend %flex-1; display: block; margin-top: 8px; padding: 5px; height: 30px; line-height: 30px; border: 0; background-color: #f5f5f5; border-radius: 3px;}
        &-cancel{@extend %all-center; width: 54px;}

    &-result-hd{@extend .tc; @extend %flexBox; line-height: 35px; background-color: #f2f2f2; overflow: hidden;
        a{@extend %flex-1; display: block; color: $grayColor;
            &:after{@extend %line;}
        }
        .crt{@extend .crt-color;}
    }

    &-result-bd{
        .m-book-item{@extend %m-base-mod; position: relative; padding: 10px;}
    }
    
    &-count{padding-left: 10px; line-height: 32px; color: $grayColor;}
}



.m-sortall-link{@extend .m-search-cancel; @extend .crt-color;}
.m-sortall{position: absolute; top: 47px; bottom: 0; left: 0; width: 100%; background-color: #fff;

    //收起分类
    &-flod{display: block; z-index: 1; position: relative; padding-right: 25px; text-align: right; line-height: 34px; color: $grayColor; background-color: #f2f2f2;
        &:after{@extend %fake-element; @extend %arrow; @extend %arrow-bottom; top: 10px; right: 10px; }
    }

    //一级分类
    &-hd{@extend .tc; float: left; width: 95px; height: calc(100% - 34px); box-sizing: border-box; background-color: $bgColor;
        li{line-height: 40px; border-bottom: 1px solid #ddd;}
            a{display: block;}
        .crt a{@extend .crt-color; background-color: #fff;}
    }

    //一级分类
    &-bd{position: relative; margin-left: 95px; padding: 10px; height: calc(100% - 34px); box-sizing: border-box; box-shadow: 0 0 5px #aaa;
        @extend .m-tag-list;

        a{padding: 0 15px;}
    }
}
