<!DOCTYPE HTML>
<html>
{% include header.tpl %}
<body>
<div id="wrap">
    <header id="header" class="clearall">
        <hgroup>
            <h1 id="logo"><a href="/">xiaoxiehang</a></h1>
            <h2 id="describe">写点什么好呢~~~~</h2>
        </hgroup>
        <nav id="nav" class="fr">
            <ul>
                <li><a href="/" title="首页">首页</a></li>
                {% for category in site.catalog.categories %}
                    <li class="{{ category.name }}"><a href="/category/{{ category.name }}.html">{{ category.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <div id="page">
        <div id="content">
            <section id="main">
                {{ content }}
            </section>
        </div>
        <aside id="side">
            <section>
                <iframe id="sina_widget_1349102752" style="width:250px; height:500px;" frameborder="0" scrolling="no" src="http://v.t.sina.com.cn/widget/widget_blog.php?uid=1349102752&amp;width=250&amp;height=500&amp;skin=wd_04&amp;showpic=1"></iframe>
            </section>
        </aside>
    </div>
    <footer id="footer">
        <p>e-mail : xiaoxiehang@qq.com</p>
        <p>weibo : <a href="http://weibo.com/xiaoxiehang" target="_blank">@xiaoxiehang</a></p>
        <p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=137435855&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:137435855:52" alt="也许我是隐身呢" title="也许我是隐身呢"/></a></p>
        <p><script src="http://tajs.qq.com/stats?sId=24781984" charset="UTF-8"></script></p>
    </footer>
</div>
{% include footer.tpl %}
</body>
</html>
