---
layout: default
---

<article class="post">
    <header class="post-hd">
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-meta">
            <p>{{ page.date | date_to_string }}<span class="pipe">-</span>{{ page.category }}</p>
        </div>
		<div class="bdlikebutton"></div>
    </header>
    <div class="post-bd">
        {{ content }}
    </div>
    <footer class="post-ft">
        <nav class="post-nav clearall">
            {% if page.previous %}<a class="prev" href="{{ page.previous.url }}" rel="prev"><span aria-hidden="true" class="icon-undo"></span>&nbsp;{{ page.previous.title | truncatewords:5 }}</a>{% endif %}
            {% if page.next %}<a class="next" href="{{ page.next.url }}" rel="next">{{ page.next.title | truncatewords:5 }}&nbsp;<span aria-hidden="true" class="icon-redo"></span></a>{% endif %}
        </nav>
        <div id="disqus_thread"></div>
    </footer>
</article>

<script id="bdlike_shell"></script>