
<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>xiaoxiehang</title>
<link rel="shortcut icon" href="/css/images/favicon1.ico" type="image/x-icon"/>
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" media="all" href="css/new.css" />
</head>
<body>
<div class="wrap">
    <header class="header">
        <hgroup>
            <h1 class="logo">
                <figure>
                    <a href="#"><img src="img/face.jpg" alt=""></a>
                    <figcaption><a href="#" class="color1">xiaoxiehang</a></figcaption>
                </figure>
            </h1>
            <h2 class="description color9">写点什么好呢?</h2>
        </hgroup>
        <nav class="nav"><ul>
            <li><a href="#">首页</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">Jquery</a></li>
            <li><a href="#">性能</a></li>
        </ul></nav>
        <div class="search">
            <input type="search" value="">
        </div>
    </header>
    <div class="main">
        <section class="content">
            <article class="post">
                <header class="post-hd">
                    <h1><a href="#" class="color1">图解JQUERY尺寸及位置定义</a></h1>
                    <time class="color9">2013-01-01</time>
                </header>
                <section class="post-bd">
                    1 <br>
                    1 <br>
                </section>
            </article>
            {{ content }}
        </section>
    </div>
    <footer class="footer"><a href="#">LINKS</a></footer>
</div>
</body>
</html>
