---
layout: default
---

<article class="post">
    <header class="post-hd">
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-meta">
            <p>{{ page.date | date_to_string }}<span class="pipe">-</span>{{ page.category }}</p>
        </div>
		<div class="bdlikebutton"></div>
    </header>
    <div class="post-bd">
        {{ content }}
    </div>
    <footer class="post-ft">
        <nav class="post-nav clearall">
            {% if page.previous %}<a class="prev link" href="{{ page.previous.url }}" rel="prev">&laquo;&nbsp;{{ page.previous.title | truncatewords:5 }}</a>{% endif %}
            {% if page.next %}<a class="next link" href="{{ page.next.url }}" rel="next">{{ page.next.title | truncatewords:5 }}&nbsp;&raquo;</a>{% endif %}
        </nav>

        <div id="disqus_thread"></div>
    </footer>
</article>


/**
 * DISQUS
 */
<script type="text/javascript">
    var disqus_shortname = 'xiaoxiehang'; 
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>


/**
 * 百度分享
 */
<script id="bdlike_shell"></script>
<script>
var bdShare_config = {
	"type":"small",
	"color":"blue",
	"uid":"739688",
	"share":"yes"
};
document.getElementById("bdlike_shell").src="http://bdimg.share.baidu.com/static/js/like_shell.js?t=" + Math.ceil(new Date()/3600000);
</script>