---
layout: default
---

<article class="post">
    <header class="post-hd">
        <h1><a href="{{ site.url }}{{ page.url }}" class="color1">{{ page.title }}</a></h1>
        <div class="bdlikebutton"></div>
        <div class="post-meta color9"><span>日期：{{ page.date | date: "%Y-%m-%d" }}</span><span>分类：{{ page.category }}</span></div>
    </header>
    <section class="post-bd">
        <!--post.excerpt-->
        {{ content }}
    </section>
    <footer class="post-ft">
        <nav class="post-nav">
            {% if page.previous %}<a href="{{ site.url }}{{ page.previous.url }}" rel="prev"><span aria-hidden="true" class="icon-backward"></span>&nbsp;{{ page.previous.title | truncatewords:5 }}</a>{% endif %}
            {% if page.next %}<a href="{{ site.url }}{{ page.next.url }}" rel="next">{{ page.next.title | truncatewords:5 }}&nbsp;<span aria-hidden="true" class="icon-forward-2"></span></a>{% endif %}
        </nav>
    </footer>
</article>
<div id="disqus_thread"></div>
<script id="bdlike_shell"></script>