---
layout: default
---

<article class="m-post">
    <header class="m-post-hd">
        <h1><a href="{{ site.url }}{{ page.url }}" class="color1">{{ page.title }}</a></h1>
        <div class="bdlikebutton u-praise"></div>
        <div class="m-post-meta color9"><span>日期：{{ page.date | date: "%Y-%m-%d" }}</span><span>分类：{{ page.category }}</span></div>
    </header>
    <section class="m-post-bd">
        {{ content }}
    </section>
    <footer class="m-post-ft">
        <nav class="m-post-nav">
            {% if page.previous %}<a href="{{ site.url }}{{ page.previous.url }}" rel="prev">&lt;&lt;&nbsp;{{ page.previous.title | truncatewords:5 }}</a>{% endif %}
            {% if page.next %}<a href="{{ site.url }}{{ page.next.url }}" rel="next">{{ page.next.title | truncatewords:5 }}&nbsp;&gt;&gt;</a>{% endif %}
        </nav>
    </footer>
</article>
<div id="disqus_thread"></div>
<script id="bdlike_shell"></script>