<!Doctype html>
<html>
<head>
<meta charset="gb2312" />
<title>xiaoxiehang</title>
<meta name="keywords" content= "xiaoxiehang,HTML,HTML5,CSS,CSS3,jQuery,JavaScript,F2E,前端" />
<link rel="stylesheet" href="css/common.css"/>
<link rel="stylesheet" href="css/post.css"/>
<script src="js/jquery.js"></script>
</head>
<body style="background-color:#206290;">
<div class="layout jquery-main post">
    <script type="text/javascript"></script>
    <header class="post-hd">
        <h1 class="fl"><a href="/">jQuery</a></h1>
        <p class="fr">
            <a href="http://jquery.com/" target="_blank" title="jQuery 官网">jQuery 官网</a>
            <i class="pipe">|</i>
            <a href="http://www.pcxyz.com/" target="_blank" title="jquery api">jquery api (中文)</a>
        </p>
    </header>
    <div class="post-bd">
        <ul class="post-list">
            {% for post in site.posts %}
                <article class="post">
                    <header class="post-hd">
                        <h1 class="post-title"><a href="" target="_blank"></a></h1>
                        <div class="post-meta"></div>
                    </header>
                </article>
                <li><time class="post-item-time">{{ post.date | date_to_string }}</time><a href="{{ post.url }}" title="定义jQuery插件">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<script src="js/post.js"></script>
</body>
</html>