$colorBase:#3cc;
$color0:#000;
$colorc:#ccc;
$color6:#666;
$color9:#999;
.fl{float:left;}
.fr{float:right;}
[class*="icon-"]{display:inline-block;vertical-align: middle;background-image:url(../images/icon.png);background-repeat:no-repeat;background-size:250px auto;}

.m-user,.m-gambit{margin:0 10px;padding:6px;border:1px solid $colorc;background:#fff;overflow:hidden;border-radius:3px;}
/*=S 用户信息 */
.m-user{
    &-face{@extend .fl;margin-right:28px;width:60px;height:60px;border-radius:3px;overflow:hidden;}
    &-name{display:block;margin-top:5px;line-height:24px;font-size:14px;white-space:nowrap;overflow:hidden;}
    &-info{line-height:26px;font-size:12px;color:$colorc; span{margin-right:10px;}}
}
/*=E 用户信息 */

/*=S 话题 */
.m-gambit{margin-top:10px;
    &-main,&-reply{padding-left:50px;padding-bottom:10px;line-height:20px;}
    &-hd{position:relative;height:20px;}
        &-face{position:absolute;top:0;left:-45px;width:40px;height:40px;border-radius:20px;overflow:hidden;}
        &-name{font-size:15px;color:$color0;}
        &-time{@extend .fr;color:$color9;font-size:12px;}
    &-bd{
        p{margin-bottom:15px;font-size:14px;color:$color6;}
    }
    &-ft{margin-left:-47px;}
    &-oper{text-align:right;font-size:0;overflow:hidden;
        a{display:inline-block;margin-left:4px;padding:0 4px;height:20px;line-height:20px;font-size:12px;color:$colorBase;border:1px solid $colorBase;background:#fff;border-radius:3px;
            &:first-child{margin-left:0;}
        }
    }
    &-list{border-top:1px solid $colorc;}
        &-reply{padding-top:10px;}
    &-slide{height:148px;overflow:hidden;
        li{height:120px;font-size:0;
            span{display:inline-block;width:0;height:100%;font-size:0;line-height:0;vertical-align:middle;overflow:hidden;}
        }
        img{max-width:100%;max-height:120px;width:auto !important;}
    }
    &-count{margin-top:10px;span{margin-right:30px;}}
}
.m-gambit-reply p{margin-bottom:0;}

.m-gambit-detail{margin:-10px 0 0;padding:0;border:0;background:transparent;
    .m-gambit-main{padding:10px 10px 10px 55px;}
    .m-gambit-list{padding:0 10px;}
    .m-gambit-reply{border-bottom:1px solid $colorc;&:last-child{border-bottom:0;}}
}
/*=E 话题 */

/*=S 话题发表页面 */
.m-gambit-write{margin:0 10px;
    textarea{padding:8px;width:100%;font-size:16px;line-height:22px;border:1px solid $colorc;border-radius:3px;box-sizing:border-box;}
    h2{padding-top:10px;line-height:34px;font-size:14px;}
}
.gambit-write-img{padding:10px;background:#f0f1f3;display:inline-block;border-radius:5px;
    img{@extend .fl;margin-right:7px;width:65px;height:65px;vertical-align:top;}
    a{@extend .fl;position:relative;border:1px solid $colorc;width:63px;height:63px;
        &:after{@extend [class*="icon-"];content:'';position:absolute;top:14px;left:14px;width:34px;height:34px;background-position:-75px 0px;}
    }
    input[type="file"]{display:block;z-index:1;position:absolute;width:100%;height:100%;opacity:0;}
}
/*=E 话题发表页面 */