$colorBase:#3cc;
$color0:#000;
$colorc:#ccc;
$color6:#666;
$color9:#999;
%fl{float:left;}
%fr{float:right;}

.m-orders{color:$color6;padding:10px;
    &-price{padding-right:10px;text-align:right;line-height:30px;
        em{color:#c03;&:before{content:'￥';color:#666;}}
    }
    &-outer{padding-left:20px;
        li{padding:4px 0;}
        a{color:$colorBase;}
    }
    &-calendar{position:relative;width:110px;height:22px;line-height:22px;text-align:center;color:#3cc;border:1px solid #3cc;}
}
.m-king{padding-top:10px;
    dt{margin-bottom:3px;line-height:20px;overflow:hidden;
        a{@extend %fr;width:75px;text-align: center;font-size:12px;color:#fff;background-color:$colorBase;border-radius:3px;}
    }
    h2{@extend %fl;font-size:14px;font-weight:400;}
    &-uprice{@extend %fl;padding-left:25px;line-height:36px;}
    &-price{padding:0 10px;line-height:32px;text-align:right;}
    &-num{@extend %fr;height:36px;text-align:center;line-height:30px;border:1px solid $colorc;border-radius:3px;box-sizing:border-box;
        a{@extend %fl;width:35px;height:34px;font-weight:700;font-size:24px;color:$color6;}
    }
    &-txt{@extend %fl;width:38px;height:34px;text-align:center;border:none;border-left:1px solid $colorc;border-right:1px solid $colorc;}
    &-uprice,&-price{em:before{content:'￥';}}
}

.m-userinfo{
    li:last-child{border-bottom:0;}
    label{padding-left:25px;}
    input{width:65%;height:34px;line-height:34px;border:0;}
}

.m-king dd,.m-userinfo ul{border:1px solid $colorc;background-color:#fff;overflow:hidden;border-radius:3px;
    li{padding:5px 10px;border-bottom:1px solid $colorc;overflow:hidden;}
}


    
.orders-info{z-index:2;position:absolute;left:0;top:44px;bottom:0;width:100%;background-color:rgba(0,0,0,.3);
    &-cont{position:absolute;top:65px;bottom:0;width:100%;width:100%;line-height:24px;text-align:center;background-color:#f8f8f8;}
        h3{margin-bottom:10px;line-height:38px;font-weight:400;}
        dl{margin:0 10px 10px;color:#666;border:1px solid $colorc;background-color:#fff;border-radius:5px;}
        dt{margin-bottom:5px;line-height:30px;color:#000;}
    &-btns{padding:10px 0 20px;a{margin:0 5px;}}
}
.orders-info-close,.m-explain-close{position:absolute;top:10px;right:10px;width:20px;height:20px;text-align:center;overflow:hidden;
    &:before,&:after{content:'';position:absolute;top:-4px;width:0;height:28px;border-left:1px solid #666;overflow:hidden;}
    &:before{-webkit-transform: rotate(45deg);}
    &:after{-webkit-transform:rotate(-45deg);}
}



.m-explain{background:rgba(0,0,0,.8);
    h2{width:100%;text-align:center;font-weight:400;font-size:16px;}
    &-bd{padding:15px;text-align:left;font-size:12px;box-sizing:border-box;}
}