$colorBase:#3cc;
$color0:#000;
$colorc:#ccc;
$color6:#666;
$color9:#999;
html,body{height:100%;overflow:hidden;}
//特产推荐
.m-pros{margin-bottom:-53px;

    &-name{display:block;font-size:18px;height:56px;line-height:56px;overflow:hidden;}
    &-price{font-size:15px;color:#666;
        em{font-size:18px;color:#f90;}
    }
    
    &-item{padding:10px;border-top:1px solid $colorc;
        &:first-child{padding-top:0;border-top:0;}
        img{float:left;margin:0 16px 5px 0;border:1px solid $colorc;border-radius:3px;}
        p{clear:both;}
    }
    
    &-details{margin:0 15px;}
        &-hd{padding-bottom:10px;
            .m-pros-name{height:auto;line-height:34px;font-weight:400;}
            .m-pros-price{line-height:26px;}
        }
        &-bd{
            p{line-height:22px;font-size:12px;color:$color9;}
        }
}
.m-pros+.m-seller{margin:20px 15px -53px;}
.m-seller{
    &-hd{border-bottom:2px solid $color6;overflow:hidden;}
        h2{position:relative;float:left;padding:0 15px;font-weight:400;font-size:16px;line-height:22px;color:#fff;background-color:#f90;
            &:after{content:'';position:absolute;top:-1px;right:-5px;width:7px;height:110%;background-color:#f8f8f8;overflow:hidden;-webkit-transform:rotate(-10deg);}
        }
    &-bd{}
        &-item{position:relative;padding:5px 0 5px 100px;border-bottom:1px solid $colorc;
            dt{line-height:26px;font-size:15px;}
                img{position:absolute;top:10px;left:8px;border-radius:50%;}
            dd{font-size:12px;color:$color6;}
        }
}