$colorBase:#3cc;
$color0:#000;
$colorc:#ccc;
$color6:#666;
$color9:#999;
.fl{float:left;}
.fr{float:right;}

.m-realwall{padding:5px 3px;overflow:hidden;
    ul{@extend .fl;padding:0 2px;width:33.3%;box-sizing:border-box;}
    li{position:relative;width:100%;margin-bottom:5px;border:1px solid $colorc;box-sizing:border-box;
        img{width:100%;}
    }
    &-praise,&-name{position:absolute;padding:0 5px;color:#fff;border-radius:3px;}
    &-praise{top:2px;right:2px;background:rgba(0,0,0,.3);}
    &-name{left:2px;bottom:2px;background:rgba(0,0,0,.7);}
}


.u-realimg-btn{@extend .fr;margin-top:5px;padding:4px 5px;border:1px solid #fff;border-radius:3px;}
.u-realparise-btn{@extend .fr;}