$p_1:0;
$p_2:170px;
$p_3:230px;

html,body{height:100%;}

.m-slider-ss,.ui-slider-group{position:absolute;top:0;bottom:0;width:100%;height:100%;}
.ui-slider-item{float:left;}
.m-slider-ss{-webkit-transform:translate3d(0,0,0);}


.g-ss-cont{margin:0 auto;width:320px;}

//.g-scenic-story,.g-mini-maps,.g-photos,.g-scenic-spot,.g-local{position:absolute;top:0;left:-160px;margin-left:50%;width:320px;height:100%;background-color:#333e66;overflow:hidden;}
.g-scenic-story,.g-mini-maps,.g-photos,.g-scenic-spot,.g-local{float:left;width:100%;height:100%;background-color:#333e66;overflow:hidden;}


.g-scenic-story{background-color:#333e66;}
.g-mini-maps{text-align:left;background-color:#33495f;}
.g-photos{background-color:#70bced;position:relative;z-index:7;}
.g-scenic-spot{background-color:#7dd3ec;}
.g-local{background-color:#413366;}

.m-lawn:before,.m-people,.m-tree,.m-grass,.m-sky,.m-star{position:absolute;background:url(../images/scenic_story/scenic_story.png) no-repeat;background-size:400px auto;}
.m-lawn{position:absolute;left:0;bottom:0;width:100%;height:146px;
    &:before{z-index:1;content:'';opacity:0;left:0;bottom:0;width:100%;height:100%;background-position:center 0;}
}
    .m-tree{width:60px;height:37px;background-position:-170px -166px;-webkit-transform-origin: center bottom;
        &-1{-webkit-transform:translate(159px,-35px) scale(0);}
        &-2{-webkit-transform:translate(215px,-27px) scale(0);}
    }
    .m-grass{z-index:2;width:26px;height:14px;background-position:-187px -237px;-webkit-transition:all 1s 1.5s;opacity:0;
        &-1{-webkit-transform:translate(30px,30px);}
        &-2{-webkit-transform:translate(120px,20px);}
        &-3{-webkit-transform:translate(150px,0) scale(.6);}
        &-4{-webkit-transform:translate(180px,40px) scale(1.3);}
        &-5{-webkit-transform:translate(240px,20px);}
    }
.m-star{z-index:1;width:15px;height:15px;background-position:-253px -174px;opacity:0;
    &-1{-webkit-animation:star 3.5s 4s infinite alternate;-webkit-transform:translate(0,25px) scale(.8);}
    &-2{-webkit-animation:star 3s 4s infinite alternate;-webkit-transform:translate(15px,0) scale(.5);}
    &-3{-webkit-animation:star 5s 3.5s infinite alternate;-webkit-transform:translate(40px,13px);}
    &-4{-webkit-animation:star 4s 4s infinite alternate;-webkit-transform:translate(190px,0px) scale(.5);}
    &-5{-webkit-animation:star 5s 4s infinite alternate;-webkit-transform:translate(200px,20px);}
    &-6{-webkit-animation:star 4s 5s infinite alternate;-webkit-transform:translate(300px,5px) scale(.8);}
    &-7{-webkit-animation:star 3s 5s infinite alternate;-webkit-transform:translate(290px,30px);}
}
.m-moon{opacity:0;position:absolute;top:20px;left:220px;width:65px;height:65px;background-color:#fff100;border-radius:50%;box-shadow:inset -3px 0 0 rgba(0,0,0,.2);-webkit-animation:star 3s 4s 1 forwards;
    &:before{content:'';position:absolute;top:2px;left:-12px;width:60px;height:60px;background-color:#333e66;overflow:hidden;border-radius:50%;}
}

.m-people{z-index:3;opacity:0;bottom:-10px;right:0;width:145px;height:140px;background-position:0 -150px;-webkit-transition:all 1s 2s;}

.m-txt-1,.m-txt-2,.m-txt-3,.m-txt-4{position:absolute;text-align:justify;word-break:break-all;font-size:12px;line-height:20px;color:#fff;border-radius:50%;box-sizing:border-box;-webkit-transition-duration:.5s;-webkit-transform-origin:center center;
    p{opacity:0;-webkit-transition-duration:.5s;}
}
    .m-txt-1{z-index:4;padding:28px 30px;width:220px;height:220px;-webkit-transform:translate(5px,$p_1) scale(0);}
    .m-txt-2{z-index:3;padding:20px 24px 24px;width:160px;height:160px;-webkit-transform:translate(160px,$p_2) scale(0);}
    .m-txt-3{z-index:2;padding:24px;width:170px;height:170px;-webkit-transform:translate(5px,$p_3) scale(0);}

.m-txt-line-1,.m-txt-line-2,.m-txt-line-3{position:absolute;width:1px;height:0;background-color:#fff;overflow:hidden;-webkit-transition-duration:.5s;}
    .m-txt-line-1{-webkit-transform:translate(115px,0);}
    .m-txt-line-2{-webkit-transform:translate(238px,0);}
    .m-txt-line-3{-webkit-transform:translate(90px,0);}

    .m-txt-4{padding:24px;width:60px;height:60px;-webkit-transform:translate(290px,115px);}


.show{
    .m-lawn:before{opacity:1;-webkit-transition:opacity 2s;}
        .m-tree{-webkit-transition:all 1s;
            &-1{-webkit-transition-delay:.5s;-webkit-transform:translate(159px,-35px) scale(1);}
            &-2{-webkit-transition-delay:1s;-webkit-transform:translate(215px,-27px) scale(.8);}
        }
        .m-grass{opacity:1;
            &-1{-webkit-transform: translate(30px,40px);}
            &-2{-webkit-transform: translate(120px,30px);}
            &-3{-webkit-transform: translate(150px,10px) scale(.6);}
            &-4{-webkit-transform: translate(180px,50px) scale(1.3);}
            &-5{-webkit-transform: translate(240px,30px);}
        }
    .m-people{opacity:1;bottom:0;}
    
    .m-txt-1,.m-txt-2,.m-txt-3,.m-txt-4{box-shadow:inset -4px -4px 0 rgba(0,0,0,.2);
        p{opacity:1;}
    }
    .m-txt-1{background-color:#6ec8d1;-webkit-transition-delay:3.5s;-webkit-transform:translate(5px,$p_1) scale(.9);
        p{-webkit-transition-delay:4s;}
    }
    .m-txt-2{background-color:#f7d65a;-webkit-transition-delay:4.5s;-webkit-transform:translate(160px,$p_2) scale(.9);
        p{-webkit-transition-delay:5s;}
    }
    .m-txt-3{background-color:#dd92f1;-webkit-transition-delay:5.5s;-webkit-transform:translate(5px,$p_3) scale(.9);
        p{-webkit-transition-delay:6s;}
    }
    
    .m-txt-line-1{height:$p_1+95px;-webkit-transition-delay:3s;}
    .m-txt-line-2{height:$p_2+90px;-webkit-transition-delay:4s;}
    .m-txt-line-3{height:$p_3+90px;-webkit-transition-delay:5s;}
    .m-txt-4{background-color:#6bcef6;-webkit-transition-delay:5s;box-shadow:inset 4px -2px 0 rgba(0,0,0,.2);}
}

@-webkit-keyframes star{
    0%{opacity:0;}
    100%{opacity:1;}
}



.m-sun,.m-cloud,.m-maptree span,.m-maps-1,.m-maps-2,.m-maps-line{position:absolute;background-image:url(../images/mini_maps/mini_maps.png);background-repeat:no-repeat;background-size:320px auto;}

.m-sun{opacity:0;width:50px;height:50px;background-position:0 -63px;-webkit-transform:translate(200px,60px);}

.m-cloud{height:80px;width:100%;background-position:0 -604px;background-repeat:repeat-x;-webkit-transition:all 60s linear;}

.m-maptree,.m-maps{position:absolute;left:-160px;margin-left:50%;width:320px;overflow:hidden;}

.m-maptree{bottom:334px;height:95px;
    span{width:26px;height:61px;background-position:0 -113px;}
    &-1{-webkit-transform:translate(10px,48px) scale(.7);}
    &-2{-webkit-transform:translate(50px,32px) scale(1.2);}
    &-3{-webkit-transform:translate(90px,46px) scale(.8);}
    &-4{-webkit-transform:translate(130px,30px) scale(1.4);}
    &-5{-webkit-transform:translate(170px,40px);}
    &-6{-webkit-transform:translate(210px,42px) scale(1.2);}
    &-7{-webkit-transform:translate(250px,43px) scale(.9);}
    &-8{-webkit-transform:translate(290px,49px) scale(.7);}
}

.m-maps{bottom:0;height:334px;left:0;margin:0;width:100%;
    &-1,&-2,em{opacity:0;position:relative;margin:0 auto;width:306px;height:165px;}
    &-1{background-position:0 -269px;}
    &-2{margin-top:-1px;background-position:0 -434px;-webkit-transform-origin:top;-webkit-transform:perspective(500px) rotateX(150deg);}
    
    &-line{display:none;bottom:36px;left:37px;width:245px;height:0;background-position:-68px -245px;}
}
    
.m-point{position:absolute;top:0;left:-160px;margin-left:50%;width:320px;height:100%;
    em{opacity:0;position:absolute;white-space:nowrap;font-size:12px;color:#319cde;}
    
    &-start{background:none !important;}
    &-start{-webkit-transform:translate(20px,290px);
        span{content:'';display:block;width:12px;height:12px;border:4px solid #6bcef6;background-color:#319cde;border-radius:50%;-webkit-transform:scale(0);}
        em{-webkit-transform:translate(-10px,0);}
    }
    &-1,&-2,&-3,&-4,&-5,&-6{position:absolute;
        span,i{display:block;background-image:url(../images/mini_maps/mini_maps.png);background-repeat:no-repeat;background-size:320px auto;}
        span{width:68px;height:84px;background-position:0 -178px;-webkit-transform:scale(0);}
        i{opacity:0;width:34px;height:12px;background-position:0 -38px}
    }
    
    &-1{-webkit-transform:translate(104px,185px);
        i{-webkit-transform: translate(19px,-3px);}
        em{-webkit-transform:translate(16px,0);}
    }
    &-2{-webkit-transform:translate(28px,132px);
        i{-webkit-transform: translate(18px,-12px);}
        em{-webkit-transform:translate(14px,-8px);}
    }
    &-3{-webkit-transform:translate(125px,90px);
        i{-webkit-transform: translate(18px,-12px);}
        em{-webkit-transform:translate(45px,-18px);}
    }
    &-4{-webkit-transform:translate(52px,7px);
        i{-webkit-transform:translate(17px,-15px);}
        em{-webkit-transform:translate(-13px,-19px);}
    }
    &-5{-webkit-transform:translate(140px,-25px);
        i{-webkit-transform: translate(18px,-21px);}
        em{-webkit-transform:translate(4px,-16px);}
    }
    &-6{-webkit-transform:translate(243px,-32px);
        i{-webkit-transform: translate(18px,-21px);}
        em{-webkit-transform:translate(-10px,-23px);}
    }
}


.show{
    .m-sun{opacity:1;-webkit-transform:translate(200px,10px);-webkit-transition:all 5s;}
    .m-cloud{background-position:1000px -604px;}
    
    .m-maps{
        &-1,&-2{opacity:1;}
        &-1{-webkit-transition:all 2s 1s;}
        &-2{-webkit-transition:all 1s 2s;-webkit-transform:perspective(500px) rotateX(0deg);}
        &-line{height:245px;background-position:-68px 0;-webkit-transition:all .5s 3.5s;}
    }
    
    .m-point{
        em{opacity:1;-webkit-transition-property:opacity,-webkit-transform;-webkit-transition-duration:1s;}
        .m-point-1,.m-point-2,.m-point-3,.m-point-4,.m-point-5,.m-point-6{
            span{-webkit-transition-property:-webkit-transform;-webkit-transition-duration:.5s;}
            i{opacity:1;-webkit-transition-property:opacity;-webkit-transition-duration:.4s;}
        }
        
        &-start{
            span{-webkit-transform:scale(1);-webkit-transition:all .4s 3s;}
            em{-webkit-transform:translate(-5px,0);-webkit-transition-delay:3.5s;}
        }
        &-1{
            span{-webkit-transform:scale(1);-webkit-transition-delay:4s;}
            i{-webkit-transition-delay:5s;}
            em{-webkit-transform:translate(16px,5px);-webkit-transition-delay:4.5s;}
        }
        &-2{
            span{-webkit-transform:scale(.8);-webkit-transition-delay:4.5s;}
            i{-webkit-transition-delay:5.5s;}
            em{-webkit-transform:translate(14px,-3px);-webkit-transition-delay:5s;}
        }
        &-3{
            span{-webkit-transform:scale(.8);-webkit-transition-delay:5s;}
            i{-webkit-transition-delay:6s;}
            em{-webkit-transform:translate(50px,-18px);-webkit-transition-delay:5.5s;}
        }
        &-4{
            span{-webkit-transform:scale(.7);-webkit-transition-delay:5.5s;}
            i{-webkit-transition-delay:6.5s;}
            em{-webkit-transform:translate(-18px,-19px);-webkit-transition-delay:6s;}
        }
        &-5{
            span{-webkit-transform:scale(.6);-webkit-transition-delay:6s;}
            i{-webkit-transition-delay:7s;}
            em{-webkit-transform:translate(4px,-12px);-webkit-transition-delay:6.5s;}
        }
        &-6{
            span{-webkit-transform:scale(.58);-webkit-transition-delay:6.5s;}
            i{-webkit-transition-delay:7.5s;}
            em{-webkit-transform:translate(-17px,-24px);-webkit-transition-delay:7s;}
        }
    }

}





.m-pline,.m-hill,.m-ptree span,.m-water,.m-pclip span,.m-rainbow{z-index:1;position:absolute;background-image:url(../images/photo/ptoto.png);background-repeat:no-repeat;background-size:399px auto;}

.m-pline{width:0;height:36px;background-position:center -437px;-webkit-transform:translateY(20px);-webkit-transition:width 2s;}

.m-pclip{position:absolute;
    &-1,&-2{opacity:0;width:10px;height:13px;background-position:-84px -494px;}
    &-1{-webkit-transform:translate(110px,23px) rotate(18deg);-webkit-transition:opacity .5s 2s;}
    &-2{-webkit-transform:translate(238px,48px);-webkit-transition:opacity .5s 2.5s;}
}
.m-pimg{position:absolute;}
.u-pimg{
    &-1,&-2{opacity:0;border:solid #fff;-webkit-transform-origin:top center;}
    &-1{width:145px !important;height:120px !important;border-width:3px;-webkit-animation:img1 10s infinite alternate;-webkit-transition:opacity 1s 3s;}
    &-2{width:130px !important;height:105px !important;border-width:2px;-webkit-animation:img2 10s infinite alternate;-webkit-transition:opacity 1s 3s;}
}

.m-ptree{position:absolute;left:-160px;bottom:0;margin-left:50%;width:320px;
    span{width:49px;height:78px;background-position:0 -475px;}
    &-1{left:130px;bottom:170px;}
    &-2{left:75px;bottom:150px;-webkit-transform:scale(0.8) rotate(-12deg);}
    &-3{left:20px;bottom:150px;-webkit-transform:scale(0.9) rotate(-12deg);}
    &-4{left:185px;bottom:150px;-webkit-transform:scale(0.8) rotate(8deg);}
    &-5{left:245px;bottom:150px;-webkit-transform:scale(0.9) rotate(8deg);}
}

.m-rainbow{z-index:3;bottom:100px;width:0;height:80px;background-position:0 -573px;-webkit-transition:width .5s;}
.m-water{z-index:4;width:100%;height:140px;bottom:0;background-position:0 0;background-repeat:repeat-x;-webkit-transition:all 50s;}
.m-hill{opacity:0;bottom:100px;width:100%;height:180px;background-position:center -230px;-webkit-transition:all 1s;}
.m-green{z-index:2;position:absolute;bottom:-230px;width:500px;height:500px;border-top-left-radius:500px;background-color:#5dc762;-webkit-transform:rotate(58deg);}

.show{
    .m-hill{opacity:1;bottom:140px;}
    .m-rainbow{left:-130px;margin-left:50%;width:260px;}
    .m-pline{width:100%;}
    .m-pclip{
        span{opacity:1;}
    }
    .u-pimg{
        &-1,&-2{opacity:1;}
    }
    .m-water{background-position:-1000px 0;}
}

@-webkit-keyframes img1{
    0%{-webkit-transform:translate(36px,26px) perspective(500px) rotateX(0deg) rotateZ(10deg);}
    20%{-webkit-transform:translate(36px,26px) perspective(500px) rotateX(15deg) rotateZ(10deg);}
    40%{-webkit-transform:translate(36px,26px) perspective(500px) rotateX(-10deg) rotateZ(10deg);}
    60%{-webkit-transform:translate(36px,26px) perspective(500px) rotateX(10deg) rotateZ(10deg);}
    80%{-webkit-transform:translate(36px,26px) perspective(500px) rotateX(-10deg) rotateZ(10deg);}
    100%{-webkit-transform:translate(36px,26px) perspective(500px) rotateX(15deg) rotateZ(10deg);}
}
@-webkit-keyframes img2{
    0%{-webkit-transform:translate(22px,45px) perspective(500px) rotateX(0deg) rotateZ(-3deg);}
    20%{-webkit-transform:translate(22px,45px) perspective(500px) rotateX(-10deg) rotateZ(-3deg);}
    40%{-webkit-transform:translate(22px,45px) perspective(500px) rotateX(7deg) rotateZ(-3deg);}
    60%{-webkit-transform:translate(22px,45px) perspective(500px) rotateX(15deg) rotateZ(-3deg);}
    80%{-webkit-transform:translate(22px,45px) perspective(500px) rotateX(-3deg) rotateZ(-3deg);}
    100%{-webkit-transform:translate(22px,45px) perspective(500px) rotateX(7deg) rotateZ(-3deg);}
}







.m-road,.m-sscloud span,.m-sscard span,.m-sstree span,.m-ssgrass,.m-name,.m-car,.m-ssplane{position:absolute;background-image:url(../images/scenic_spot/scenic_spot.png);background-repeat:no-repeat;background-size:560px auto;}
.m-road{z-index:5;left:0;bottom:105px;width:100%;height:222px;background-position:center -245px;
    &:after{content:'';position:absolute;top:222px;left:0;width:100%;height:200px;background-color:#e3f5bf;}
}
.m-sscloud{
    span{opacity:.5;}
    &-1{z-index:4;right:100px;bottom:200px;width:402px;height:184px;background-position:right -468px;}
    &-2{z-index:3;right:-40px;bottom:220px;width:428px;height:174px;background-position:0 -651px;}
    &-3{z-index:2;right:-120px;bottom:230px;width:457px;height:179px;background-position:0 -826px;}
}
.m-sscard{
    span{opacity:0;width:148px;height:236px;background-position:-152px 0;-webkit-transform-origin:bottom center;}
    &-1{z-index:6;left:20px;bottom:308px;-webkit-transform:scale(.65) perspective(500px) rotateZ(-12deg) rotateX(60deg);/*-webkit-transition:-webkit-transform 1s;*/
        img{position:absolute;left:-18px;width:180px !important;height:133px;}
    }
    & &-2{z-index:6;right:-5px;bottom:161px;height:207px;-webkit-transform:scale(.85) perspective(500px) rotateZ(-12deg) rotateX(60deg);/*-webkit-transition:-webkit-transform 1s .5s;*/}
    &-3{z-index:8;left:0;bottom:-15px;-webkit-transform:scale(.85) perspective(500px) rotateZ(12deg) rotateX(60deg);/*-webkit-transition:-webkit-transform 1s 1s;*/}
    em{position:absolute;left:-28px;padding:3px;width:200px;height:133px;line-height:20px;font-size:12px;color:#666;text-align:left;background-color:#fff;box-sizing:border-box;}
}
.m-sstree{
    span{z-index:8;width:63px;height:105px;background-position:-70px -119px;}
    &-1{right:-32px;bottom:95px;}
    &-2{left:-30px;bottom:205px;-webkit-transform: rotate(-20deg) scale(.7);}
}
.m-name{z-index:5;left:-69px;bottom:15px;margin-left:50%;width:0;height:23px;background-position:0 -57px;}
.m-ssgrass{left:40px;bottom:10px;width:100%;height:245px;background-position:center -1000px;}
.m-yellow{display:none;position:absolute;left:-76px;bottom:-250px;width:400px;height:700px;border-top-left-radius:600px;background-color:#e3f5bf;-webkit-transform:rotate(58deg);}
.m-car{z-index:7;opacity:0;width:74px;height:47px;-webkit-transform:translate3d(90px,165px,0) rotate(13deg);}
.m-ssplane{z-index:6;width:34px;height:20px;background-position:-8px -118px;-webkit-transform:translate(288px,186px) scale(0);}

.show{
    .m-sscloud{
        span{opacity:1;-webkit-transition:all 2s;}
        &-1{right:40px;}
        &-2{right:-10px;}
        &-3{right:-110px;}
    }
    .m-name{width:138px;-webkit-transition:all 3s;}
    .m-sscard{
        span{opacity:1;-webkit-transition-property:-webkit-transform,opacity;-webkit-transition-duration:1s;}
        &-1{-webkit-transform:scale(.65) perspective(500px) rotateZ(-12deg) rotateX(0);}
        &-2{-webkit-transform:scale(.85) perspective(500px) rotateZ(-12deg) rotateX(0);-webkit-transition-delay:.5s;}
        &-3{-webkit-transform:scale(.85) perspective(500px) rotateZ(12deg) rotateX(0);-webkit-transition-delay:1s;}
    }
    .m-car{opacity:1;-webkit-transform:translate3d(360px,135px,0) rotate(0deg);-webkit-transition:opacity 7s 1.5s, -webkit-transform 7s 1.5s;}
    .m-ssplane{-webkit-animation:plane 8s 2s forwards;}
}




.m-real,.m-booth,.m-lpeople,.m-sign,.m-lname,.m-lplane{position:absolute;background-image:url(../images/local/local.png);background-repeat:no-repeat;background-size:368px auto;}
.m-booth,.m-lpeople,.m-sign{opacity:0;}
.m-real{bottom:0;width:100%;height:406px}
.m-booth{z-index:1;bottom:48px;width:161px;height:256px;background-position:-6px -410px;-webkit-transition:all 1s;}
.m-lpeople{bottom:4px;left:150px;width:57px;height:183px;background-position:-168px -409px;-webkit-transition:all 1s;}
.m-sign{bottom:44px;right:30px;width:106px;height:225px;background-position:-225px -409px;-webkit-transition:all 1s;}
.m-lname{bottom:252px;left:128px;width:50px;height:0;background-position:0 -682px;-webkit-transition:all .5s;}
.m-lplane{width:35px;height:25px;background-position:-85px -682px;-webkit-transform:translate(288px,186px) scale(0);}
.g-local{
    .m-star{
        &-1{-webkit-animation-delay:1s;-webkit-transform:translate(30px,45px) scale(.8);-webkit-box-reflect:right 140px;}
        &-2{-webkit-animation-delay:1s;-webkit-transform:translate(15px,0) scale(.5);-webkit-box-reflect:below 210px;}
        &-3{-webkit-animation-delay:.5s;-webkit-transform:translate(40px,13px);-webkit-box-reflect:right 80px;}
        &-4{-webkit-animation-delay:1s;-webkit-transform:translate(190px,0px) scale(.5);}
        &-5{-webkit-animation-delay:1s;-webkit-transform:translate(200px,20px);-webkit-box-reflect:below 80px;}
        &-6{-webkit-animation-delay:1.5s;-webkit-transform:translate(300px,5px) scale(.8);}
        &-7{-webkit-animation-delay:1.5s;-webkit-transform:translate(290px,30px);-webkit-box-reflect:left 200px;}
    }
    .m-moon{top:35px;-webkit-animation-delay:1s;
        &:before{display:none;}
    }
}

.show{
    .m-booth,.m-lpeople,.m-sign{opacity:1;}
    
    .m-booth{bottom:24px;}
    .m-lpeople{bottom:14px;}
    .m-sign{bottom:26px;}
    .m-lname{height:183px;}
    .m-lplane{-webkit-animation:plane 5s forwards;}
}

@-webkit-keyframes plane{
    0%{-webkit-transform:translate(288px,186px) scale(0);}
    51%{-webkit-transform:translate(158px,156px) scale(1);}
    100%{-webkit-transform:translate(28px,186px) scale(0);}
}