@charset "utf-8";
/*!
 *@Description: trip
 *@Author:      xiaoxiehang (2014-06-24 09:50)
 *@Update:      xiaoxiehang (2014-06-24 09:50)
*/

$colorBase:#3cc;
$color0:#000;
$colorc:#ccc;
$color6:#666;
$color9:#999;

body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th , img, div ,input, blockquote, article, aside, footer, header, hgroup, main, nav, section, menu{margin: 0;padding: 0;}
body {font:14px/1.6 'microsoft yahei';color:#333;background:#f8f8f8;}
ul,ol,li{list-style-type:none;}
img{vertical-align:middle;border:0;}
em,i{font-style:normal;}
a{text-decoration:none;cursor:pointer;color:#333;}
input,textarea{font-size:100%;outline:#fff;}
table{border-spacing:0;border-collapse:collapse;}
.fl{float:left;}
.fr{float:right;}

/*=S 按钮 */
.u-base-btn{display:inline-block;padding:0 20px;height:32px;line-height:32px;text-align:center;color:#fff;background-color:$colorBase;border-radius:3px;
    &:visited{color:#fff;}
}
.u-write-btn{display:block;margin:0 auto;width:62.5%;letter-spacing:3px;}

.u-return-btn{@extend .fl;margin-top:8px;width:16px;height:16px;text-indent:-999px;border:solid #fff;border-width:2px 0 0 2px;overflow:hidden;
    -webkit-transform:rotate(-45deg);
       -moz-transform:rotate(-45deg);
        -ms-transform:rotate(-45deg);
         -o-transform:rotate(-45deg);
            transform:rotate(-45deg);
}
.u-menu-link{@extend .fl;position:relative;}
.u-news-link{@extend .fr;position:relative;}
/*=E 按钮 */

/*=S 框架 */
.g-hd,.g-ft{z-index:1;position:absolute;left:0;width:100%;}
.g-hd{padding:0 15px;text-align:center;height:35px;line-height:35px;background-color:$colorBase;box-sizing:border-box;overflow:hidden;
    h1{@extend .fl;margin:0 -20px;width:100%;font-size:20px;color:#fff;}
}
.g-bd{position:absolute;top:35px;bottom:0;width:100%;overflow:scroll;}
    .g-bd-isft{bottom:43px;}
    .g-bd-first{padding:10px 0;}
.g-ft{bottom:0;padding:5px 0;border-top:1px solid $colorc;background-color:#fff;}
.g-nav{z-index:2;position:fixed;top:0;left:0;bottom:0;width:62.5%;background-color:#393939;transition:all .3s ease-in-out;-webkit-transform:translate(-100%,0);
    .g-nav-user{margin-top:24px;text-align:center;
        strong{color:#fff;font-weight:400;line-height:52px;font-size:20px;}
        img{display:block;margin:0 auto;width:58px;height:58px;border-radius:50%;}
    }
    li{position:relative;float:left;width:50%;height:90px;
        a{display:block;padding-top:40px;text-align:center;font-size:14px;color:#8e9193;line-height:50px;
            &:before{@extend %icon-before;position:absolute;bottom:50px;margin-left:50%;}
        }
        i{margin-right:11px;}
    }
    &-show{-webkit-transform:translate(0,0);}
}
/*=E 框架 */

/*=S 全屏图片 */
.m-light-box{z-index:3;position:fixed;top:0;bottom:0;width:100%;height:100%;background:rgba(0,0,0,.9);
    ul{position:relative;width:100%;height:100%;}

        li{height:100%;font-size:0;
            span{display:inline-block;width:0;height:100%;font-size:0;line-height:0;vertical-align:middle;overflow:hidden;}
        }
    img{max-width:100%;max-height:100%;}
    .ui-slider-dots{position:absolute;bottom:0;width:100%;   
        i{background-color:#fff;}
        .crt{background-color:#666;}
    }
}
/*=E 全屏图片 */
/*=S 图片轮播基础样式 */
.ui-slider{height:100%;overflow:hidden;
    &-group{position:relative;text-align:center;overflow:hidden;}
    &-item{position:relative;float:left;width:100%;}
    &-dots{display:block;height:28px;line-height:28px;text-align:center;
        i{display:inline-block;margin:0 9px;width:8px;height:8px;border-radius:4px;background-color:#aaa;overflow:hidden;}
        .crt{background-color:#555;}
    }
}
/*=E 图片轮播基础样式 */

.ui-refresh-down{clear:both;height:22px;text-align:center;}

.u-reply-txt{margin:0 10px 0 15px;width:calc(100% - 68px );height:32px;padding:3px;border:1px solid $colorc;border-radius:3px;box-sizing:border-box;}
.u-reply-btn{height:30px;line-height:30px;}

/*=S icon */
//.icon-g-write,
//.icon-t-gambit,.icon-t-tourist,
//.icon-u-praise,.icon-u-praises,.icon-u-reply,.icon-u-talks{margin-right:5px;}
//
//.icon-g-menu{ background-position:-25px -50px; width: 19px; height: 15px; vertical-align:-2px;}//菜单
//.icon-g-news{ background-position:-25px -75px; width: 19px; height: 13px; vertical-align:0;} //消息
//.icon-g-write{ background-position:-25px -125px; width: 17px; height: 17px; vertical-align:-3px;} //发话题
//
//.icon-m-intro{ background-position: 0 0; width: 17px; height: 15px; vertical-align:-3px;} //景区介绍
//.icon-m-spots{ background-position: 0 -25px; width: 20px; height: 15px;  vertical-align:-1px;} //景点门票
//.icon-m-moments{ background-position: 0 -50px; width: 18px; height: 16px;  vertical-align:-3px;} //旅行瞬间
//.icon-m-point{ background-position: 0 -75px; width: 17px; height: 12px;   vertical-align:-1px;} //照片打印
//.icon-m-guides{ background-position: 0 -100px; width: 17px; height: 17px;  vertical-align:-3px;} //导游推荐
//.icon-m-tguide{ background-position: 0 -125px; width: 17px; height: 22px; } //旅行攻略
//.icon-m-zone{ background-position: 0 -150px; width: 24px; height: 20px; } //旅行社区
//.icon-m-specialty{ background-position: 0 -175px; width: 17px; height: 22px; vertical-align:-5px;} //特产介绍
//
//.icon-t-gambit{ background-position:-25px 0; width: 13px; height: 15px; vertical-align:-3px;} //话题
//.icon-t-tourist{ background-position:-25px -25px; width: 21px; height: 20px; } //访问量
//
//.icon-u-code{ background-position: -50px 0; width: 19px; height: 16px; vertical-align:-5px;} //二维码
//.icon-u-talks{ background-position: -50px -25px; width: 14px; height: 12px; vertical-align:-2px;} //讨论组
//.icon-u-praise,.icon-u-praises{ background-position: -50px -50px; width: 14px; height: 12px;  vertical-align:-2px;} //赞
//.icon-u-praises{ background-position: -50px -100px;} //已赞
//.icon-u-reply{ background-position: -50px -75px; width: 15px; height: 13px;  vertical-align:-3px;} //回复
//
//.icon-r-realback{background-position: -25px -150px; width: 20px; height: 15px;}
//.icon-r-realparise{background-position: -25px -175px; width: 21px; height: 17px;  vertical-align:-3px;}
//.icon-r-realimg{background-position: -25px -200px; width: 17px; height: 12px;  vertical-align:-1px;margin-right:5px;}
//[class*="icon-"]{display:inline-block;vertical-align: middle;background-image:url(../images/icon.png);background-repeat:no-repeat;background-size:250px auto;}
/*=E icon */


%icon-before{content:'';display:inline-block;background-image:url(../images/icon.png);background-repeat:no-repeat;background-size:250px auto;}
%icon-mr{margin-right:5px;}
//话题
.u-gambit-count{
    &:before{@extend %icon-before,%icon-mr;width:13px;height:15px;vertical-align:-3px;background-position:-25px 0;}
}
//访问量
.u-gambit-tourist{
    &:before{@extend %icon-before,%icon-mr;width:21px;height:20px;vertical-align:-5px;background-position:-25px -25px;}
}
//二维码
.u-code{width:19px;white-space:nowrap;
    &:before{@extend %icon-before;float:left;margin-top:2px;width:19px;height:16px;background-position:-50px 0;}
}
//讨论组
.u-talks{
    &:before{@extend %icon-before,%icon-mr;width:14px;height:12px;vertical-align:-2px;background-position:-50px -25px;}
}
//赞
.u-praise{
    &:before{@extend %icon-before,%icon-mr;width:14px;height:12px;vertical-align:-2px;background-position:-50px -50px;}
    &-true:before{background-position:-50px -100px;}
}
//回复
.u-reply{
    &:before{@extend %icon-before,%icon-mr;width:15px;height:13px;vertical-align:-3px;background-position:-50px -75px;}
}

//菜单
.u-menu{@extend .fl;position:relative;
    &:before{@extend %icon-before;margin-top:10px;width:19px;height:15px;background-position:-25px -50px;}
}
//消息
.u-news{@extend .fr;position:relative;
    &:before{@extend %icon-before;margin-top:11px;width:19px;height:13px;background-position:-25px -75px;}
}

//发话题
.u-write-btn{
    &:before{@extend %icon-before,%icon-mr;width:17px;height:17px;background-position:-25px -125px;vertical-align:-3px;}
}

/*=S 实景图 */
//返回
.u-realback{@extend .fl;
    &:before{@extend %icon-before;margin-top:10px;width:20px;height:15px;background-position:-25px -150px;}
}
//赞
.u-realparise{@extend .fr;
    &:before{@extend %icon-before,%icon-mr;width:21px;height:17px;background-position:-25px -175px;vertical-align:-3px;}
}
//图片打印
.u-realimg-btn:before{@extend %icon-before,%icon-mr;width:17px;height:12px;vertical-align:-1px;background-position:-25px -200px;}
/*=E 实景图 */

/*=S 导航 */
.u-nav-intro:before{left:-13px;width:27px;height:23px;background-position:-125px 0;} //景区介绍
.u-nav-spots:before{left:-15px;width:30px;height:21px;background-position:-125px -25px;} //景点门票
.u-nav-moments:before{left:-15px;width:29px;height:25px;background-position:-125px -50px; } //旅行瞬间
.u-nav-point:before{left:-12px;width:24px;height:24px;background-position:-125px -75px; } //照片打印
.u-nav-guides:before{left:-18px;width:35px;height:35px;background-position:-125px -100px;} //导游推荐
.u-nav-raiders:before{left:-11px;width:22px;height:30px;background-position:-125px -150px;} //旅行攻略
.u-nav-zone:before{left:-16px;width:31px;height:25px;background-position:-125px -200px;} //旅行社区
.u-nav-specialty:before{left:-12px;width:24px;height:31px;background-position:-125px -225px;} //特产介绍
/*=E 导航 */

//呼叫
.u-call{display:block;width:32px;height:32px;border:2px solid #3c6;overflow:hidden;border-radius:50%;
    &:before{@extend %icon-before;display:block;margin:7px;width:18px;height:18px;background-position:-50px -125px;}
}





















.ui-loading {width:40px;height:40px;text-indent:-10000px;background:url('../images/ui-loading.png') 0 0 no-repeat;-webkit-background-size:40px 40px;-webkit-animation-name:ui-loading-anim;-webkit-animation-duration:1s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:step-start;
}

.ui-refresh .ui-loading{display:inline-block;width:25px;height:25px;-webkit-background-size:25px 25px;vertical-align:middle;}
@-webkit-keyframes ui-loading-anim {
	from {
        -webkit-transform: rotate(0deg);
    }
    8.32% {
        -webkit-transform: rotate(0deg);
    }
    8.33% {
        -webkit-transform: rotate(30deg);
    }
    16.65% {
        -webkit-transform: rotate(30deg);
    }
    16.66% {
        -webkit-transform: rotate(60deg);
    }
    24.99% {
        -webkit-transform: rotate(60deg);
    }
    25% {
        -webkit-transform: rotate(90deg);
    }
    33.32% {
        -webkit-transform: rotate(90deg);
    }
    33.33% {
        -webkit-transform: rotate(120deg);
    }
    41.65% {
        -webkit-transform: rotate(120deg);
    }
    41.66% {
        -webkit-transform: rotate(150deg);
    }
    49.99% {
        -webkit-transform: rotate(150deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    58.32% {
        -webkit-transform: rotate(180deg);
    }
    58.33% {
        -webkit-transform: rotate(210deg);
    }
    66.65% {
        -webkit-transform: rotate(210deg);
    }
    66.66% {
        -webkit-transform: rotate(240deg);
    }
    74.99% {
        -webkit-transform: rotate(240deg);
    }
    75% {
        -webkit-transform: rotate(270deg);
    }
    83.32% {
        -webkit-transform: rotate(270deg);
    }
    83.33% {
        -webkit-transform: rotate(300deg);
    }
    91.65% {
        -webkit-transform: rotate(300deg);
    }
    91.66% {
        -webkit-transform: rotate(330deg);
    }
    99.99% {
        -webkit-transform: rotate(330deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
