@charset "utf-8";
/*!
 *@Description: trip
 *@Author:      xiaoxiehang (2014-06-24 09:50)
 *@Update:      xiaoxiehang (2014-06-24 09:50)
*/

$colorBase:#3cc;
$color0:#000;
$colorc:#ccc;
$color6:#666;
$color9:#999;

body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th , img, div ,input, blockquote{margin: 0;padding: 0;}
body {font:28px/1.6 'microsoft yahei';color:#333;background:#f8f8f8;}
ul,ol,li{list-style-type:none;}
img{vertical-align:middle;border:0;}
em,i{font-style:normal;}
a{text-decoration:none;cursor:pointer;color:#333; &:hover{text-decoration:none;}}
input{outline:#fff;}
table{border-spacing:0;border-collapse:collapse;}

.fl{float:left;}
.fr{float:right;}

body{-webkit-transform:scale(1);}

.g-page{margin:0 auto;width:640px;}
.g-hd{padding:0 30px;text-align:center;line-height:70px;background-color:$colorBase;
    h1{font-size:40px;color:#fff;}
}
.g-nav{display:none;z-index:1;position:absolute;top:0;left:0;width:78%;background-color:#393939;
    li{line-height:100px;border-bottom:1px solid #272727;
        a{display:block;padding-left:70px;font-size:28px;color:#efeeee;}
        i{margin-right:22px;}
    }
}
.g-bd{padding-bottom:20px;}
.g-ft{padding:9px 0;border-top:1px solid $colorc;}

.m-user{
    &-face{@extend .fl;margin-right:56px;width:120px;height:120px;border-radius:6px;overflow:hidden;}
    &-name{display:block;margin-top:10px;line-height:48px;font-size:28px;white-space:nowrap;overflow:hidden;}
    &-info{line-height:52px;font-size:24px;color:$colorc; span{margin-right:20px;}}
}

.m-user,.m-gambit{margin:20px 20px 0;padding:10px;border:1px solid $colorc;background:#fff;overflow:hidden;border-radius:6px;}

.m-gambit{padding-left:100px;
    &-hd{position:relative;height:40px;line-height:40px;}
        &-face{position:absolute;top:0;left:-90px;width:80px;height:80px;border-radius:40px;overflow:hidden;}
        &-name{font-size:30px;color:$color0;}
        &-time{@extend .fr;color:$color9;font-size:24px;}
    &-bd{
        p{margin-bottom:30px;line-height:36px;font-size:28px;color:$color6;}
    }
    &-ft{margin-bottom:20px;margin-left:-94px;padding:0 0 28px 94px;border-bottom:1px solid $colorc;overflow:hidden;
        a{@extend .fl;margin-left:15px;padding:0 8px;line-height:40px;font-size:24px;color:$colorBase;border:1px solid $colorBase;background:#fff;border-radius:6px;
            &:child-frist{margin-left:0;}
        }
    }
    
    &-reply{margin:0 4px;}
}
.u-write-btn{display:block;margin:0 auto;width:62.5%;height:62px;line-height:62px;text-align:center;color:#fff;background-color:$colorBase;}



.u-menu-link{@extend .fl;}
.u-news-link{@extend .fr;margin-top:-70px;}

/* icon */
[class*="icon-"]{display:inline-block;vertical-align: middle;background-image:url(../images/icon640.png);background-repeat:no-repeat;}


.icon-g-menu{vertical-align:-2px;}
.icon-u-talks{vertical-align:-4px;}
.icon-u-praise{vertical-align:-6px;}
.icon-u-code,
.icon-t-gambit,
.icon-g-write{vertical-align:-7px;}

.icon-g-news{vertical-align:0;}

.icon-g-news{}
.icon-g-write,
.icon-t-gambit,.icon-t-tourist,
.icon-u-praise,.icon-u-reply,.icon-u-talks{margin-right:5px;}




.icon-g-menu{ background-position: 0 0; width: 37px; height: 29px; } 
.icon-g-news{ background-position: 0 -30px; width: 38px; height: 26px; } 
.icon-g-write{ background-position: 0 -57px; width: 34px; height: 33px; } 
.icon-m-guides{ background-position: 0 -91px; width: 34px; height: 34px; } 
.icon-m-intro{ background-position: 0 -126px; width: 34px; height: 29px; } 
.icon-m-moments{ background-position: 0 -156px; width: 36px; height: 32px; } 
.icon-m-point{ background-position: 0 -189px; width: 34px; height: 24px; } 
.icon-m-specialty{ background-position: 0 -214px; width: 33px; height: 43px; } 
.icon-m-spots{ background-position: 0 -258px; width: 40px; height: 29px; } 
.icon-m-tguide{ background-position: 0 -288px; width: 34px; height: 44px; } 
.icon-m-zone{ background-position: 0 -333px; width: 47px; height: 39px; } 
.icon-t-gambit{ background-position: 0 -373px; width: 25px; height: 29px; } 
.icon-t-tourist{ background-position: 0 -403px; width: 41px; height: 39px; } 
.icon-u-code{ background-position: 0 -443px; width: 37px; height: 33px; } 
.icon-u-praise{ background-position: 0 -477px; width: 28px; height: 24px; } 
.icon-u-reply{ background-position: 0 -502px; width: 29px; height: 26px; } 
.icon-u-talks{ background-position: 0 -529px; width: 28px; height: 24px; } 