@charset "utf-8";
/*!
 *@Description: trip
 *@Author:      xiaoxiehang (2014-06-24 09:50)
 *@Update:      xiaoxiehang (2014-06-24 09:50)
*/

$colorBase:#3cc;
$color0:#000;
$colorc:#ccc;
$color6:#666;
$color9:#999;

body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th , img, div ,input, blockquote{margin: 0;padding: 0;}
body {font:14px/1.6 'microsoft yahei';color:#333;background:#f8f8f8;}
ul,ol,li{list-style-type:none;}
img{vertical-align:middle;border:0;}
em,i{font-style:normal;}
a{text-decoration:none;cursor:pointer;color:#333; &:hover{text-decoration:none;}}
input{outline:#fff;}ß
table{border-spacing:0;border-collapse:collapse;}

.fl{float:left;}
.fr{float:right;}

body{-webkit-transform:scale(1);}


.g-hd{text-align:center;line-height:35px;background-color:$colorBase;
    h1{font-size:20px;color:#fff;}
}
.g-nav{display:none;z-index:1;position:absolute;top:0;left:0;width:78%;background-color:#393939;
    li{line-height:50px;border-bottom:1px solid #272727;
        a{display:block;padding-left:35px;font-size:14px;color:#efeeee;}
        i{margin-right:11px;}
    }
}
.g-bd{padding-bottom:10px;}
.g-ft{padding:5px 0;border-top:1px solid $colorc;background-color:#fff;}

.m-user{
    &-face{@extend .fl;margin-right:28px;width:60px;height:60px;border-radius:3px;overflow:hidden;}
    &-name{display:block;margin-top:5px;line-height:24px;font-size:14px;white-space:nowrap;overflow:hidden;}
    &-info{line-height:26px;font-size:12px;color:$colorc; span{margin-right:10px;}}
}

.m-user,.m-gambit{margin:10px 10px 0;padding:5px;border:1px solid $colorc;background:#fff;overflow:hidden;border-radius:3px;}

.m-gambit{padding-left:50px;
    &-hd{position:relative;height:20px;line-height:20px;}
        &-face{position:absolute;top:0;left:-45px;width:40px;height:40px;border-radius:20px;overflow:hidden;}
        &-name{font-size:15px;color:$color0;}
        &-time{@extend .fr;color:$color9;font-size:12px;}
    &-bd{
        p{margin-bottom:15px;line-height:18px;font-size:14px;color:$color6;}
    }
    &-ft{margin-bottom:10px;margin-left:-47px;padding:0 0 14px 47px;border-bottom:1px solid $colorc;overflow:hidden;
        a{@extend .fl;margin-left:7px;padding:0 4px;line-height:20px;font-size:12px;color:$colorBase;border:1px solid $colorBase;background:#fff;border-radius:3px;
            &:child-frist{margin-left:0;}
        }
    }
    
    &-reply{margin:0 2px;}
}
.u-write-btn{display:block;margin:0 auto;width:200px;height:31px;line-height:31px;text-align:center;color:#fff;background-color:$colorBase;}