@charset "utf-8";

$c_border : #221f1f;

body, ul, ol, li, p, dl, dd, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th , img, div ,input{margin: 0;padding: 0;}
html{overflow:auto;}
body {font:12px 'Georgia',Verdana,Arial,Helvetica,sans-serif;color:#333;background:#fff;}
ul,ol,li{list-style-type:none;}
img{vertical-align:middle;border:0;}
em,i{font-style:normal;}
a{text-decoration:none;cursor:pointer;color:#333;
    &:hover{text-decoration:none;}
}
table{border-spacing:0;border-collapse:collapse;}

%iblock{display:inline-block;*dispaly:inline;*zoom:1;}
.layout{margin:0 auto;width:960px;}
.clearfix{*zoom:1;&:after{content:'';display:block;clear:both;height:0;overflow:hidden;}}
.fl{float:left;}
.fr{float:right;}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.tc{text-align:center;}
.u-pipe{padding:0 10px;font-family:sans-serif;color:#999;}
.color9{color:#999;}

%bg{background-image:url(../images/bg_item.png);background-repeat:no-repeat;}

/*
 * header
*/
.g-header{position:relative;padding:20px 0 3px;border-bottom:6px solid $c_border;}
.g-logo{@extend .tc;height:128px;border-bottom:2px solid $c_border;
    h1{@extend %bg;margin:0 auto 8px;width:232px;height:60px;overflow:hidden;
        a{display:block;width:100%;height:100%;text-indent:-500px;}
    }
    h2{@extend %bg;margin:0 auto;width:302px;height:51px;background-position:0 -62px;}
}
.g-lang{position:absolute;bottom:26px;right:0;
    a,em{display:inline-block;border:solid $c_border;border-radius:50%;}
    a{margin-left:8px;padding:2px;border-width:2px;}
    em{@extend .tc;width:32px;height:32px;line-height:32px;border-width:1px;}
}
.g-nav{margin-bottom:10px;padding:3px 0;height:30px;line-height:30px;border-bottom:1px solid #908f8f;overflow:hidden;
    ul{margin-left:-24px;}
    li{@extend .fl;margin:0 24px;font-size:14px;}
}
.g-footer{font-size:14px;p{margin-top:-30px;line-height:50px;}}
.g-page{
    &-tit,&-back{@extend .tc;margin:-10px 0 10px;line-height:42px;font-size:20px;border-bottom:1px solid #908f8f;}
    &-back{font-size:16px;border-top:1px solid #908f8f;}
    
    &-num{padding:5px 0;
        a,span{@extend %iblock;margin:0 2px;width:20px;height:20px;line-height:20px;font-size:12px;vertical-align: middle;border-radius:50%;}
        a{border:4px double $c_border;}
        .next,.prev{width:auto;border:none;}
    } 
}

.fb-link{@extend %bg,.fr;margin-right:20px;text-indent:-60px;width:12px;background-position:right 4px;overflow:hidden;}
.m-search{$height:30px;@extend .fr;width:146px;border-left:1px solid $c_border;border-right:1px solid $c_border;overflow:hidden;
    input{@extend .fl;padding:5px;width:110px;height:$height - 10;line-height:20px;border:none;outline:none;}
    a{@extend %bg,.fr;display:inline-block;margin-right:5px;width:16px;height:$height;background-position:right -26px;}
}

//轮播
.m-slide{position:relative;overflow:hidden;
    li{@extend .fl;overflow:hidden;}
    &-page{position:absolute;bottom:20px;width:100%;text-align:center;
        i{display:inline-block;cursor:pointer;margin:0 5px;padding-top:12px;width:12px;height:0;overflow:hidden;border-radius: 6px;background:#fff;box-shadow:inset 1px 1px 2px rgba(0, 0, 0, 0.4);
            &.crt{background-color: #96863e;}
        }
    }
    //首页轮播
    &-index,&-line{$width:960px;$height:400px;margin-bottom:30px;padding-bottom:10px;width:$width;height:$height;border-bottom:1px solid #666;overflow:hidden;
        li{width:$width;height:$height;}
    }
    
}

//HOT ITEMS
.m-hot{@extend .clearfix,.layout;position:relative;margin-bottom:30px;
    $imgsize: 143px;
    dt{@extend .fl;margin-right:20px;img{width:225px;height:$imgsize;}}
    dd{@extend .fl;position:relative;img{width:$imgsize;height:$imgsize;}}
    span{opacity:0;position:absolute;left:0;top:0;width:$imgsize;height:$imgsize;background:rgba(0,0,0,.3);transition:all .5s;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#aa000000,endColorstr=#aa000000)\9;}
    em{position:absolute;bottom:0;left:0;padding:10px;width:123px;color:#fff;}
    a:hover span{opacity:1;}
}

.m-index-img{$width:221px;$height:261px;margin-bottom:20px;height:1130px;border-bottom:1px solid #666;overflow:hidden;
    ul{margin-left:-20px;}
    li{@extend .fl;margin:0 0 20px 20px;padding:1px;width:$width;height:$height;border:1px solid #d1d1d1;overflow:hidden;}
    img{width:100%;height:100%;}
    .w2{width:$width * 2 + 24;}
    .h2{height:$height * 2 + 24;}
}



.m-media{@extend .clearfix;margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #666;background:#fff;
    h3{margin-bottom:10px;font:24px 'Georgia';color:#000;}
}
.m-media-news{@extend .fl;margin-right:60px;width:510px;
    li{line-height:46px;overflow:hidden;
        span{margin-right:20px;color:#999;}
    }
}
.m-media-fb{@extend .fr;width:350px;$imgsize:80px;
    .m-fb-hd{margin-bottom:10px;height:$imgsize;line-height:$imgsize/2;}
        .m-fb-img{@extend .fl;margin-right:10px;width:$imgsize;height:$imgsize;}
        .m-fb-name{display:block;padding:10px 0;font:16px/30px 'Microsoft yahei';}
    .m-fb-bd{padding:10px;height:150px;line-height:25px;overflow:hidden;
        .m-fb-name{color:#3b5e98;}
    }
}

.m-custom{
    &-item{overflow:hidden;}
    &-txt{width:470px;line-height:34px;
        h3{font-size:24px;line-height:100px;font-weight:400;}
    }
    &-img{margin-bottom:50px;width:460px;}
    &-line{clear:both;margin:0 auto 50px;width:360px;height:1px;background-color:$c_border;overflow:hidden;}
}

.m-banner{margin-bottom:50px;height:400px;overflow:hidden;}

.m-news{
    &-list{margin-bottom:10px;padding:20px 0 50px;}
    &-item{position:relative;padding:0 0 30px 200px;&:hover{color:#b58e69;}}
        &-time{position:absolute;left:0;top:0;font:22px arial;}
        &-hd{font-size:24px;}
        &-bd{margin-top:10px;
            p{margin-right:80px;white-space:nowrap;text-overflow:ellipsis;color:#999;overflow:hidden;}
            a{position:absolute;right:0;bottom:30px;}
        }
}

.m-news,.m-sy{margin-bottom:60px;
    &-side{@extend .fl;width:150px;
        a{display:block;height:60px;font:20px arial;&:hover,&.crt{color:#b58e69;}}
    }
    &-detail{margin-left:150px;p{line-height:34px;font-size:14px;}}
    &-tit{margin:45px 0 20px;font-size:24px;}
}

.m-contact{padding:50px 0 80px;
    &-side{@extend .fl;width:290px;a{display:block;height:42px;font-size:20px;&:hover,&.crt{color:#b58e69;}}}
    &-detail{margin-left:290px;
        h3{margin-bottom:25px;font-size:24px;font-weight:400;
            i{display:block;width:86px;height:1px;overflow:hidden;background-color:$c_border;}
        }
        p{font-size:14px;}
        ul{padding:20px 0 30px;}
        li{padding-bottom:6px;line-height:52px;font-size:16px;
            input,textarea{padding:4px;width:660px;height:30px;line-height:30px;border:1px solid $c_border;outline:none;}
            textarea{height:130px;vertical-align:top;resize:none;}
            .arrow{display:inline-block;margin-right:10px;width:0;height:0;border:4px solid transparent;border-top-color:$c_border;border-bottom-width:3px;overflow:hidden;}
        }
    }
    &-btn{padding-left:105px;a{display:inline-block;margin-right:-1px;width:120px;height:35px;line-height:35px;text-align:center;font-size:20px;border-left:1px solid $c_border;border-right:1px solid $c_border;}}
}

.m-pro-list{@extend .clearfix;margin-bottom:40px;
    li{@extend .fl;width:240px;height:240px;overflow:hidden;}
}

.m-footer-links{margin-bottom:30px;padding:20px 25px;overflow:hidden;background-color:#eee;}
.m-footer-box{@extend .fl;
    ul{@extend .fl;width:225px;line-height:26px;}
    .m-footer-hd{margin-bottom:20px;
        h4{font:400 18px 'Georgia';}
        i{display:block;margin-top:5px;width:76px;height:2px;background-color:$c_border;overflow:hidden;}
    }
    .m-footer-bd{overflow:hidden;}
    .phone{font:16px Arial;}
}

.u-line{display:block;margin:0 auto 30px;width:69%;height:3px;border-top:2px solid $c_border;border-bottom:6px solid $c_border;overflow:hidden;}